/*mixin */
.albumList {
  margin-top: 15px;
  width: 830px;
}
.albumList .listItem {
  width: 260px;
  height: 300px;
  float: left;
  border: 1px solid #CBCBCB;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.albumList .listItem.bigItem {
  width: 535px;
}
.albumList .listItem .picWrap {
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.albumList .listItem .coverTitle {
  position: absolute;
  width: 100%;
  height: 166px;
  background-image: url("../images/g/black2.png");
  z-index: 10;
  left: 0;
  bottom: 0;
}
.albumList .listItem .coverTitle .txtWrap {
  color: white;
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 90%;
}
.albumList .listItem .coverTitle .txtWrap .sponsor {
  margin-bottom: 10px;
  color: #cdcdcd;
}
.albumList .listItem .coverTitle .txtWrap .a_title {
  font-size: 123.1%;
}

/*# sourceMappingURL=albumList.css.map */
