/*mixin */
.tabWrap {
  margin-top: 15px;
}
.tabWrap .tabItem {
  float: left;
  height: 28px;
  background-color: #f2f2f2;
  line-height: 28px;
  padding: 0 15px;
  color: black;
  cursor: pointer;
}
.tabWrap .tabItem.active {
  color: white;
  background-color: #e4007f;
}
.tabWrap .tabItem:hover {
  color: white;
  background-color: #e4007f;
}

hr {
  border: 0;
  background-color: #e4007f;
  margin: 0;
  height: 2px;
}

.articleList {
  display: none;
  color: black;
  margin-top: 30px;
}
.articleList.active {
  display: block;
}
.articleList .moreBtn {
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 30px;
}
.articleList .moreWrap {
  display: none;
}
.articleList .articleItem {
  position: relative;
  width: 100%;
  min-height: 125px;
  margin-bottom: 20px;
}
.articleList .articleItem .listNum {
  float: left;
  font-size: 206%;
  font-weight: bold;
  color: #595959;
  height: 125px;
  line-height: 100px;
  width: 8%;
  text-align: center;
}
.articleList .articleItem .t_info {
  margin-top: 10px;
  color: #ABABAB;
}
.articleList .articleItem .rWrap {
  float: left;
  width: 90%;
}
.articleList .articleItem .rWrap .titleWrap .t_name {
  font-size: 150%;
}
.articleList .articleItem .rWrap .t_info {
  margin-top: 7px;
}
.articleList .articleItem .rWrap .content {
  font-size: 108%;
  margin-top: 10px;
  line-height: 26px;
  color: #626262;
}

.tagBtnWrap {
  padding-top: 20px;
  padding-left: 8%;
}
.tagBtnWrap span.active {
  color: #e4007f;
}

/*# sourceMappingURL=articleRank.css.map */
