/*mixin */
.articleTitle {
  font-size: 250%;
  margin-top: 20px;
}

.articleContent a {
  text-decoration: none;
  color: #1860a8;
}
.articleContent a:hover {
  text-decoration: underline;
  color: #1860a8;
}

.infoWrap {
  position: relative;
  width: 100%;
  line-height: 35px;
  margin-top: 20px;
}
.infoWrap .lBox {
  height: 63px;
  width: 63px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  margin-right: 15px;
}
.infoWrap .author {
  line-height: 18px;
}
.infoWrap .info {
  margin-top: 8px;
  line-height: 18px;
}
.infoWrap .info .txtLink {
  width: auto;
  display: inline-block;
}
.infoWrap .rBox {
  margin-top: 10px;
}
.infoWrap .orangeTxt {
  margin-left: 15px;
}
.infoWrap .dealWrap {
  position: absolute;
  right: 0;
  bottom: 0px;
  margin-top: 0;
}

.dotLine {
  margin-top: 15px;
  width: 100%;
  height: 0;
  border-bottom: 1 dotted #ABABAB;
}

.articleWrap {
  font-size: 116%;
  margin-bottom: 15px;
}
.articleWrap .forewordTxt {
  font-size: 116%;
  margin: 30px 0;
  color: #757575;
  line-height: 30px;
}
.articleWrap p {
  margin-top: 20px;
  line-height: 30px;
  color: #373737;
}
.articleWrap .video {
  margin-top: 20px;
}
.articleWrap .articleSubTitle {
  font-size: 138.5%;
  margin-top: 20px;
}
.articleWrap .videoWrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  border: 1px solid #CBCBCB;
  height: 0;
  margin-bottom: 20px;
}
.articleWrap .videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mp3Box {
  width: 100%;
  padding: 17px 15px;
  background-color: #f2f2f0;
  margin-bottom: 15px;
  border: 1px solid #CBCBCB;
  position: relative;
}
.mp3Box .box_title {
  margin-bottom: 15px;
  font-size: 116%;
}
.mp3Box .downLoadBox {
  margin-top: 30px;
  line-height: 28px;
  list-style-type: disc;
  margin-left: 25px;
}
.mp3Box .downLoadBox li {
  height: 28px;
  margin-bottom: 10px;
}
.mp3Box .downLoadBox .a_name {
  display: inline-block;
  min-width: 150px;
  margin-right: 15px;
}
.mp3Box .downLoadBox .pinkBtn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
  width: 120px;
  line-height: 28px;
  display: inline-block;
  margin-right: 15px;
}
.mp3Box .downLoadBox .txt {
  display: inline-block;
}

.pointBox {
  width: 100%;
  padding: 17px 15px;
  background-color: #fbe6f2;
  margin-bottom: 15px;
  position: relative;
}
.pointBox .box_title {
  margin-bottom: 15px;
  font-size: 116%;
}
.pointBox ul {
  margin-top: 15px;
  list-style-type: disc;
  margin-left: 25px;
  vertical-align: text-top;
}
.pointBox ul li {
  list-style-type: disc;
  font-size: 116%;
  margin-bottom: 10px;
}
.pointBox ul li a {
  display: block;
}

.tagWrap {
  margin-top: 20px;
}
.tagWrap a {
  text-decoration: none;
}
.tagWrap a:hover {
  text-decoration: underline;
}

.rankBox {
  height: 200px;
  margin-top: 38px;
  padding: 10px 0px;
}
.rankBox.noneVote {
  height: 100px;
  overflow: hidden;
}
.rankBox.noneVote .rankContainer {
  height: 40px;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
}
.rankBox.noneVote .rankContainer .rankItem {
  bottom: 0;
}
.rankBox.noneVote .rankContainer .rankItem .blockWrap {
  height: 0;
  overflow: hidden;
}
.rankBox.noneVote .rankContainer .rankItem .clickBtn:hover {
  border: none;
}
.rankBox .boxTitle {
  z-index: 2000;
  position: relative;
  font-size: 138.5%;
}
.rankBox .boxTitle .grayTxt {
  font-size: 85%;
}
.rankBox .rankContainer {
  width: 640px;
  height: 70px;
  margin: 30px auto;
  position: relative;
  border-bottom: 1px dotted #ABABAB;
}
.rankBox .rankContainer .rankItem {
  width: 55px;
  position: absolute;
  text-align: center;
  bottom: -40px;
  height: 130px;
}
.rankBox .rankContainer .rankItem .clickBtn {
  position: absolute;
  width: 90px;
  height: 135px;
  top: -6px;
  left: -19px;
  cursor: pointer;
}
.rankBox .rankContainer .rankItem .clickBtn:hover {
  border: 1px solid #CBCBCB;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.rankBox .rankContainer .rankItem .blockWrap {
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.rankBox .rankContainer .rankItem .rate {
  color: #e4007f;
}
.rankBox .rankContainer .rankItem .block {
  width: 100%;
  background-color: #e4007f;
  height: 100px;
}
.rankBox .rankContainer .rankItem .kind {
  width: 100%;
  height: 27px;
  line-height: 27px;
  position: absolute;
  bottom: 5px;
  text-align: center;
  background-color: #F4E9E5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #626262;
}
.rankBox .rankContainer .rankItem.try {
  left: 65px;
}
.rankBox .rankContainer .rankItem.useful {
  left: 160px;
}
.rankBox .rankContainer .rankItem.moving {
  left: 255px;
}
.rankBox .rankContainer .rankItem.cantDo {
  left: 350px;
}
.rankBox .rankContainer .rankItem.confused {
  left: 445px;
}
.rankBox .rankContainer .rankItem.Disagree {
  left: 540px;
}
.rankBox .rankContainer .rankItem.active .rate {
  color: #7B9807;
}
.rankBox .rankContainer .rankItem.active .block {
  background-color: #7B9807;
}
.rankBox .rankContainer .rankItem.r_10 .blockWrap {
  padding-top: 70px;
}
.rankBox .rankContainer .rankItem.r_20 .blockWrap {
  padding-top: 63px;
}
.rankBox .rankContainer .rankItem.r_30 .blockWrap {
  padding-top: 56px;
}
.rankBox .rankContainer .rankItem.r_40 .blockWrap {
  padding-top: 48px;
}
.rankBox .rankContainer .rankItem.r_50 .blockWrap {
  padding-top: 40px;
}
.rankBox .rankContainer .rankItem.r_60 .blockWrap {
  padding-top: 36px;
}
.rankBox .rankContainer .rankItem.r_70 .blockWrap {
  padding-top: 24px;
}
.rankBox .rankContainer .rankItem.r_80 .blockWrap {
  padding-top: 16px;
}
.rankBox .rankContainer .rankItem.r_90 .blockWrap {
  padding-top: 8px;
}
.rankBox .rankContainer .rankItem.r_100 .blockWrap {
  padding-top: 0;
}
.rankBox .rankContainer .rankItem.r_0 .blockWrap {
  padding-top: 74px;
}

.relatedArticleBox {
  margin-top: 30px;
}
.relatedArticleBox .lWrap {
  width: 50%;
  float: left;
  padding: 0px 15px;
}
.relatedArticleBox .rWrap {
  width: 50%;
  float: left;
  border-left: 1px dotted #ABABAB;
  padding: 0px 15px;
}
.relatedArticleBox .boxTitle {
  font-size: 138.5%;
}
.relatedArticleBox ul li {
  line-height: 23px;
  margin-top: 10px;
  color: #626262;
  list-style-type: disc;
  margin-left: 15px;
  padding-left: 5px;
}
.relatedArticleBox ul li a {
  display: inline;
  hover-text-decoration: none;
  hover-color: #e4007f;
}
.relatedArticleBox ul.lgTxt li {
  color: #939393;
}
.relatedArticleBox ul.lgTxt li a {
  color: #939393;
}
.relatedArticleBox .ad_banner.Sponsor {
  background-color: #ffe9de;
}

.ad_ArticleBox {
  margin-top: 30px;
}
.ad_ArticleBox .lWrap {
  width: 50%;
  float: left;
  padding: 20px 50px;
}
.ad_ArticleBox .rWrap {
  width: 50%;
  float: left;
  padding: 20px 50px;
}

.fb_discussBox {
  margin-top: 15px;
}
.fb_discussBox .boxTitle {
  color: #3b5998;
  font-size: 138.5%;
}
.fb_discussBox .fbWrap {
  width: 100%;
  border-top: 1px solid #ABABAB;
  margin-top: 15px;
}

.lockBox {
  border-top: 1px solid #CBCBCB;
  padding: 20px 20px;
}
.lockBox .grayTxt {
  font-size: 118%;
}
.lockBox .btnWrap {
  margin-top: 15px;
}
.lockBox .btnWrap * {
  margin-right: 10px;
}

.contentBox {
  background-color: #EBEBEB;
  width: 100%;
  height: 268px;
  position: relative;
  margin: 15px 0;
}
.contentBox .lWrap {
  position: absolute;
  right: 190px;
  left: 0;
  top: 0;
  padding: 15px;
  height: 268px;
}
.contentBox .lWrap .m_name {
  font-size: 182%;
  margin-top: 15px;
}
.contentBox .lWrap .m_content {
  margin-top: 15px;
  font-size: 116%;
  line-height: 28px;
  height: 110px;
  overflow: hidden;
  color: #373737;
}
.contentBox .lWrap .btnWrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.contentBox .lWrap .allListBtn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.contentBox .picWrap {
  width: 180px;
  height: 235px;
  top: 15px;
  right: 15px;
  position: absolute;
}

.colunmistAboutBox {
  margin: 20px 0;
  position: relative;
  padding: 20px;
  border: 1px solid #CBCBCB;
}
.colunmistAboutBox .seeAllBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}
.colunmistAboutBox .colunmistInfo .lBox {
  float: left;
}
.colunmistAboutBox .colunmistInfo .lBox .coverPic {
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.colunmistAboutBox .colunmistInfo .rBox {
  float: left;
  margin-left: 20px;
  width: 660px;
}
.colunmistAboutBox .colunmistInfo .rBox .c_info .c_area {
  color: #626262;
  font-size: 138.5%;
  margin-right: 15px;
}
.colunmistAboutBox .colunmistInfo .rBox .c_info .c_name {
  font-size: 153.9%;
}
.colunmistAboutBox .colunmistInfo .rBox .c_about {
  margin-top: 15px;
  font-size: 116%;
  line-height: 28px;
}
.colunmistAboutBox .colunmistInfo .rBox .c_about .seeMoreContentBtn {
  color: #CBCBCB;
}
.colunmistAboutBox .colunmistInfo .rBox .followBtn {
  width: 267px;
  height: 36px;
  line-height: 36px;
  margin-top: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.buyBookBox {
  padding: 25px;
  border: 1px solid #CBCBCB;
}
.buyBookBox .bPic {
  float: left;
  width: 180px;
  height: 180px;
  margin-right: 25px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.buyBookBox .txtWrap {
  border-left: 1px solid #CBCBCB;
  padding-left: 25px;
  overflow: hidden;
  min-height: 180px;
  position: relative;
  color: #373737;
}
.buyBookBox .txtWrap .buyBtn {
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
}
.buyBookBox .txtWrap .buyBtn .i_buyLine {
  vertical-align: text-top;
}

@media screen and (max-width: 1140px) {
  .infoWrap .author {
    width: 180px;
  }
  .infoWrap .info {
    width: 180px;
  }

  .rankBox .rankContainer {
    left: -46px;
  }
  .rankBox .rankContainer .rankItem.try {
    left: 65px;
  }
  .rankBox .rankContainer .rankItem.useful {
    left: 155px;
  }
  .rankBox .rankContainer .rankItem.moving {
    left: 245px;
  }
  .rankBox .rankContainer .rankItem.cantDo {
    left: 335px;
  }
  .rankBox .rankContainer .rankItem.confused {
    left: 425px;
  }
  .rankBox .rankContainer .rankItem.Disagree {
    left: 515px;
  }

  .colunmistAboutBox {
    padding-top: 50px;
  }
  .colunmistAboutBox .colunmistInfo .rBox {
    width: 400px;
  }

  .relatedArticleBox .lWrap {
    float: none;
    width: 100%;
  }
  .relatedArticleBox .rWrap {
    float: none;
    width: 100%;
    border-top: 1px dotted #000;
    border-left: none;
    margin-top: 15px;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=article.css.map */
