/*mixin */
.searchTitle {
  font-size: 123.1%;
  font-weight: bold;
  height: 40px;
  border-bottom: 1px solid #CBCBCB;
  line-height: 40px;
  padding-left: 5px;
}

.articleList {
  color: black;
  margin-top: 30px;
}
.articleList .articleItem {
  padding-left: 5px;
  width: 100%;
  min-height: 125px;
  margin-bottom: 20px;
}
.articleList .articleItem .titleWrap .t_name {
  font-size: 150%;
  display: inline-block;
  width: auto;
}
.articleList .articleItem .t_info {
  margin-top: 10px;
  color: #ABABAB;
}
.articleList .articleItem .content {
  font-size: 108%;
  margin-top: 10px;
  line-height: 26px;
  color: #626262;
}

/*# sourceMappingURL=articleSearch.css.map */
