/*mixin */
.articleTitle {
  font-size: 235%;
  margin-top: 20px;
}

.ad_800x100 img {
  width: 770px;
}

.askBox {
  margin-top: 15px;
}
.askBox .memberBox {
  float: left;
  width: 95px;
  text-align: center;
}
.askBox .memberBox .picWrap {
  width: 63px;
  height: 63px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto;
}
.askBox .memberBox .m_info {
  line-height: 1.5;
}
.askBox .memberBox .m_info .pinkBtn {
  display: inline-block;
  width: 80px;
  margin-top: 10px;
}
.askBox .memberBox .m_info .editBtn {
  margin-top: 10px;
}
.askBox .memberBox .m_info .editBtn a:hover {
  text-decoration: none;
}
.askBox .articleBox {
  overflow: hidden;
  padding-left: 10px;
}
.askBox .articleBox .atBox .articleTitle {
  float: left;
  width: 615px;
  margin-top: 0;
}
.askBox .articleBox .atBox .dealWrap {
  vertical-align: top;
  overflow: hidden;
  margin-top: 5px;
  height: auto;
}
.askBox .articleBox .atBox .dealWrap .icon_fb {
  margin-right: 10px;
}
.askBox .articleBox .a_content {
  line-height: 1.875;
}
.askBox .articleBox .a_fileBox .flDiv {
  background-color: #000;
  cursor: pointer;
  width: 320px;
}
.askBox .articleBox .a_fileBox .flDiv img {
  vertical-align: bottom;
  width: 100%;
}
.askBox .articleBox .a_fileBox .flDiv:hover {
  position: relative;
}
.askBox .articleBox .a_fileBox .flDiv:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.askBox .articleBox .a_fileBox .picBox:hover:after {
  content: "";
  position: absolute;
  background: url("../images/g/qaIcon.png") no-repeat -4px -69px;
  width: 49px;
  height: 49px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
.askBox .articleBox .a_fileBox .videoBox:hover:after {
  content: "";
  position: absolute;
  background: url("../images/g/qaIcon.png") no-repeat -73px -28px;
  width: 41px;
  height: 41px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.askBox .articleBox .a_infobox i {
  margin-right: 5px;
}
.askBox hr {
  border: none;
  height: 1px;
  background-color: #bcbcbc;
}

.answerBox {
  min-height: 200px;
  padding: 15px 10px;
}
.answerBox .articleBox .atBox .articleTitle {
  font-weight: normal;
  width: 520px;
  font-size: 138.5%;
}
.answerBox .articleBox .dealWrap .blackTxt {
  margin: 0 3px;
}
.answerBox .articleBox .dealWrap .blackTxt:hover {
  color: #000;
}
.answerBox .articleBox .mp3Box {
  border: none;
  background: none;
  margin-bottom: 0;
}
.answerBox .articleBox .pointBox {
  border: none;
  background: none;
  margin-bottom: 0;
}
.answerBox .memberBox .answerBtn {
  margin: 10px 0 0 10px;
}

.infoWrap {
  position: relative;
  width: 100%;
  line-height: 35px;
  margin-top: 20px;
}
.infoWrap .lBox {
  height: 63px;
  width: 63px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
}
.infoWrap .author {
  line-height: 18px;
}
.infoWrap .info {
  margin-top: 8px;
  line-height: 18px;
}
.infoWrap .info .txtLink {
  width: auto;
  display: inline-block;
}
.infoWrap .rBox {
  margin-left: 15px;
}
.infoWrap .orangeTxt {
  margin-left: 15px;
}
.infoWrap .dealWrap {
  position: absolute;
  right: 0;
  bottom: 0px;
  margin-top: 0;
}

.dotLine {
  margin-top: 10px;
}

.articleWrap {
  padding: 0px 25px;
  font-size: 116%;
  margin-bottom: 15px;
}
.articleWrap .forewordTxt {
  font-size: 116%;
  margin: 30px 0;
  color: #757575;
}
.articleWrap img {
  border: 1px solid #CBCBCB;
}
.articleWrap p {
  margin-top: 20px;
  line-height: 24px;
}
.articleWrap .video {
  margin-top: 20px;
}
.articleWrap .articleSubTitle {
  font-size: 138.5%;
  margin-top: 20px;
}
.articleWrap .videoWrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  border: 1px solid #CBCBCB;
  height: 0;
  margin-bottom: 20px;
}
.articleWrap .videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mp3Box {
  width: 100%;
  padding: 17px 15px;
  background-color: #f2f2f0;
  margin-bottom: 15px;
  border: 1px solid #CBCBCB;
  position: relative;
}
.mp3Box .box_title {
  margin-bottom: 15px;
  font-size: 116%;
}
.mp3Box .downLoadBox {
  margin-top: 30px;
  line-height: 28px;
  list-style-type: disc;
  margin-left: 25px;
}
.mp3Box .downLoadBox li {
  height: 28px;
  margin-bottom: 10px;
}
.mp3Box .downLoadBox .a_name {
  display: inline-block;
  min-width: 150px;
  margin-right: 15px;
}
.mp3Box .downLoadBox .pinkBtn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
  width: 120px;
  line-height: 28px;
  display: inline-block;
  margin-right: 15px;
}
.mp3Box .downLoadBox .txt {
  display: inline-block;
}

.pointBox {
  width: 100%;
  padding: 17px 15px;
  background-color: #fbe6f2;
  margin-bottom: 15px;
  border: 1px solid #CBCBCB;
  position: relative;
}
.pointBox .box_title {
  margin-bottom: 15px;
  font-size: 116%;
}
.pointBox ul {
  margin-top: 15px;
  list-style-type: disc;
  margin-left: 25px;
  vertical-align: text-top;
}
.pointBox ul li {
  list-style-type: disc;
  font-size: 116%;
  margin-bottom: 10px;
}
.pointBox ul li a {
  display: block;
}

.askList .tagBox {
  padding-bottom: 10px;
}

.rankBox {
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  height: 188px;
  margin-top: 38px;
  padding: 10px 0px;
}
.rankBox.noneVote {
  height: 100px;
  overflow: hidden;
}
.rankBox.noneVote .rankContainer {
  height: 40px;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
}
.rankBox.noneVote .rankContainer .rankItem {
  bottom: 0;
}
.rankBox.noneVote .rankContainer .rankItem .blockWrap {
  height: 0;
  overflow: hidden;
}
.rankBox.noneVote .rankContainer .rankItem .clickBtn:hover {
  border: none;
}
.rankBox .boxTitle {
  z-index: 2000;
  position: relative;
  font-size: 138.5%;
}
.rankBox .boxTitle .grayTxt {
  font-size: 85%;
}
.rankBox .rankContainer {
  width: 640px;
  height: 70px;
  margin: 30px auto;
  position: relative;
  border-bottom: 1px dotted #000;
}
.rankBox .rankContainer .rankItem {
  width: 55px;
  position: absolute;
  text-align: center;
  bottom: -40px;
  height: 130px;
}
.rankBox .rankContainer .rankItem .clickBtn {
  position: absolute;
  width: 90px;
  height: 135px;
  top: -6px;
  left: -19px;
  cursor: pointer;
}
.rankBox .rankContainer .rankItem .clickBtn:hover {
  border: 1px solid #CBCBCB;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.rankBox .rankContainer .rankItem .blockWrap {
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.rankBox .rankContainer .rankItem .rate {
  color: #e4007f;
}
.rankBox .rankContainer .rankItem .block {
  width: 100%;
  background-color: #e4007f;
  height: 100px;
}
.rankBox .rankContainer .rankItem .kind {
  width: 100%;
  height: 27px;
  line-height: 27px;
  position: absolute;
  bottom: 5px;
  text-align: center;
  background-color: #e4007f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
}
.rankBox .rankContainer .rankItem.try {
  left: 65px;
}
.rankBox .rankContainer .rankItem.useful {
  left: 160px;
}
.rankBox .rankContainer .rankItem.moving {
  left: 255px;
}
.rankBox .rankContainer .rankItem.cantDo {
  left: 350px;
}
.rankBox .rankContainer .rankItem.confused {
  left: 445px;
}
.rankBox .rankContainer .rankItem.Disagree {
  left: 540px;
}
.rankBox .rankContainer .rankItem.active .rate {
  color: #94b706;
}
.rankBox .rankContainer .rankItem.active .block {
  background-color: #94b706;
}
.rankBox .rankContainer .rankItem.r_10 .blockWrap {
  padding-top: 70px;
}
.rankBox .rankContainer .rankItem.r_20 .blockWrap {
  padding-top: 63px;
}
.rankBox .rankContainer .rankItem.r_30 .blockWrap {
  padding-top: 56px;
}
.rankBox .rankContainer .rankItem.r_40 .blockWrap {
  padding-top: 48px;
}
.rankBox .rankContainer .rankItem.r_50 .blockWrap {
  padding-top: 40px;
}
.rankBox .rankContainer .rankItem.r_60 .blockWrap {
  padding-top: 36px;
}
.rankBox .rankContainer .rankItem.r_70 .blockWrap {
  padding-top: 24px;
}
.rankBox .rankContainer .rankItem.r_80 .blockWrap {
  padding-top: 16px;
}
.rankBox .rankContainer .rankItem.r_90 .blockWrap {
  padding-top: 8px;
}
.rankBox .rankContainer .rankItem.r_100 .blockWrap {
  padding-top: 0;
}
.rankBox .rankContainer .rankItem.r_0 .blockWrap {
  padding-top: 74px;
}

.relatedArticleBox {
  padding: 20px 15px;
}
.relatedArticleBox.whiteBg {
  background-color: #FFF;
  padding: 0;
}
.relatedArticleBox .lWrap {
  width: 50%;
  float: left;
  padding: 0px 15px;
}
.relatedArticleBox .rWrap {
  width: 50%;
  float: left;
  border-left: 1px dotted #000;
  padding: 0px 15px;
}
.relatedArticleBox .r_tag {
  padding: 0 10px;
  color: #fff;
  margin-left: 5px;
  font-size: 100%;
}
.relatedArticleBox .r_tag.roundDiv {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.relatedArticleBox ul li {
  line-height: 23px;
  margin-top: 10px;
  color: #626262;
  list-style-type: disc;
  margin-left: 15px;
  padding-left: 5px;
  color: #000;
}
.relatedArticleBox ul li .txtLink {
  color: #000;
}
.relatedArticleBox ul li .txtLink:hover {
  color: #e4007f;
}
.relatedArticleBox ul li a {
  display: inline;
  color: #e4007f;
}
.relatedArticleBox ul li a:hover {
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
.relatedArticleBox .ad_banner.Sponsor {
  background-color: #ffe9de;
}

.fb_discussBox {
  margin-top: 15px;
}
.fb_discussBox .boxTitle {
  color: #3b5998;
  font-size: 138.5%;
}
.fb_discussBox .fbWrap {
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 15px;
}

.lockBox {
  border-top: 1px solid #CBCBCB;
  padding: 20px 20px;
}
.lockBox .grayTxt {
  font-size: 118%;
}
.lockBox .btnWrap {
  margin-top: 15px;
}
.lockBox .btnWrap * {
  margin-right: 10px;
}

.contentBox {
  background-color: #CBCBCB;
  width: 100%;
  height: 268px;
  position: relative;
  margin-top: 15px;
}
.contentBox .lWrap {
  position: absolute;
  right: 190px;
  left: 0;
  top: 0;
  padding: 15px;
  height: 268px;
}
.contentBox .lWrap .m_name {
  font-size: 182%;
  margin-top: 15px;
  font-weight: bold;
}
.contentBox .lWrap .m_content {
  margin-top: 15px;
  font-size: 116%;
  line-height: 26px;
  height: 110px;
  overflow: hidden;
}
.contentBox .lWrap .btnWrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.contentBox .lWrap .allListBtn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.contentBox .picWrap {
  width: 180px;
  height: 235px;
  top: 15px;
  right: 15px;
  position: absolute;
}

.colunmistAboutBox {
  margin: 20px 0;
  position: relative;
  padding: 20px;
  border: 1px solid #CBCBCB;
}
.colunmistAboutBox .seeAllBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}
.colunmistAboutBox .colunmistInfo .lBox {
  float: left;
}
.colunmistAboutBox .colunmistInfo .lBox .coverPic {
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.colunmistAboutBox .colunmistInfo .rBox {
  float: left;
  margin-left: 20px;
  width: 660px;
}
.colunmistAboutBox .colunmistInfo .rBox .c_info .c_area {
  color: #CBCBCB;
  font-size: 138.5%;
  margin-right: 15px;
}
.colunmistAboutBox .colunmistInfo .rBox .c_info .c_name {
  font-size: 153.9%;
}
.colunmistAboutBox .colunmistInfo .rBox .c_about {
  margin-top: 15px;
  font-size: 116%;
  line-height: 25px;
}
.colunmistAboutBox .colunmistInfo .rBox .c_about .seeMoreContentBtn {
  color: #CBCBCB;
}
.colunmistAboutBox .colunmistInfo .rBox .followBtn {
  width: 267px;
  height: 36px;
  line-height: 36px;
  margin-top: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.askForm .q_textarea {
  width: 100%;
  height: 150px;
  max-width: 100%;
}
.askForm .upLoadBtnWrap {
  margin-bottom: 30px;
}
.askForm .upLoadBtnWrap .grayBtn {
  width: 370px;
  border: 1px solid #CBCBCB;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  padding-left: 10px;
  cursor: pointer;
  vertical-align: top;
}
.askForm .upLoadBtnWrap .grayBtn:hover {
  background-color: #CBCBCB;
  color: #fff;
}
.askForm .upLoadBtnWrap .grayBtn:hover .i_pic {
  background-position: -50px -37px;
}
.askForm .upLoadBtnWrap .grayBtn:hover .i_video {
  background-position: 0 -40px;
}
.askForm .upLoadBtnWrap .i_pic {
  margin-right: 5px;
  margin-top: -7px;
  margin-right: 3%;
}
.askForm .upLoadBtnWrap .i_video {
  margin-right: 5px;
  margin-top: -7px;
}
.askForm .upLoadBtnWrap .pic_preview {
  display: none;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  width: 48%;
  position: relative;
}
.askForm .upLoadBtnWrap .pic_preview:hover .deleBtnWrap {
  display: block;
}
.askForm .upLoadBtnWrap .pic_preview .deleBtnWrap {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/g/black.png");
}
.askForm .upLoadBtnWrap .pic_preview .deleBtnWrap .deleBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.askForm .upLoadBtnWrap .pic_preview .deleBtnWrap .deleBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.askForm .upLoadBtnWrap .pic_preview .deleBtnWrap .deleBtn .i_delBtn {
  margin-left: 5px;
}
.askForm .upLoadBtnWrap .pic_preview img {
  vertical-align: bottom;
}
.askForm .flDiv {
  line-height: 30px;
}
.askForm .r_url {
  width: 40%;
}
.askForm .r_article {
  width: 40%;
}
.askForm .mp3Btn {
  background-color: #b6b6b6;
  padding: 12px 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 50px;
}
.askForm .mp3Btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.askForm .mp3Btn .i_music {
  position: absolute;
  top: 12px;
  left: 14px;
}

.answerPop {
  border: 1px solid #CBCBCB;
  padding: 15px;
  position: relative;
}
.answerPop .container {
  background-color: #fff;
}
.answerPop .noramlBtnWrap {
  text-align: center;
}
.answerPop .mp3FileName {
  display: none;
  border: 1px solid #CBCBCB;
  padding: 8px 15px;
  overflow: hidden;
  position: relative;
}
.answerPop .mp3FileName:hover .deleBtnWrap {
  display: block;
}
.answerPop .mp3FileName .deleBtnWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/g/black.png");
}
.answerPop .mp3FileName .deleBtnWrap .deleBtn {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.answerPop .mp3FileName .deleBtnWrap .deleBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.answerPop .mp3FileName .deleBtnWrap .deleBtn .i_delBtn {
  margin-left: 5px;
}

@media screen and (max-width: 1140px) {
  .infoWrap .author {
    width: 180px;
  }
  .infoWrap .info {
    width: 180px;
  }

  .rankBox .rankContainer {
    left: -46px;
  }
  .rankBox .rankContainer .rankItem.try {
    left: 65px;
  }
  .rankBox .rankContainer .rankItem.useful {
    left: 155px;
  }
  .rankBox .rankContainer .rankItem.moving {
    left: 245px;
  }
  .rankBox .rankContainer .rankItem.cantDo {
    left: 335px;
  }
  .rankBox .rankContainer .rankItem.confused {
    left: 425px;
  }
  .rankBox .rankContainer .rankItem.Disagree {
    left: 515px;
  }

  .colunmistAboutBox {
    padding-top: 50px;
  }
  .colunmistAboutBox .colunmistInfo .rBox {
    width: 400px;
  }

  .relatedArticleBox .lWrap {
    float: none;
    width: 100%;
  }
  .relatedArticleBox .rWrap {
    float: none;
    width: 100%;
    border-top: 1px dotted #000;
    border-left: none;
    margin-top: 15px;
    padding-top: 15px;
  }

  .askBox .articleBox .atBox .articleTitle {
    width: 100%;
    float: none;
  }
  .askBox .articleBox .a_fileBox .videoBox {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=askArticle.css.map */
