/*mixin */
.pageTitle {
  margin: 0;
}

.grayLine {
  margin: 15px 0;
}

.askTabWrap {
  margin-top: 35px;
  border-bottom: 3px solid #e4007f;
}
.askTabWrap .tabItem {
  float: left;
  height: 28px;
  background-color: #f2f2f2;
  line-height: 28px;
  padding: 0 15px;
  color: black;
  cursor: pointer;
}
.askTabWrap .tabItem.active {
  color: white;
  background-color: #e4007f;
}
.askTabWrap .tabItem:hover {
  color: white;
  background-color: #e4007f;
}

.askExpertList {
  position: relative;
}
.askExpertList .groupTitle {
  display: block;
  margin-bottom: 15px;
}
.askExpertList .a_group {
  padding-top: 35px;
}
.askExpertList .listItem {
  width: 245px;
  height: 300px;
  border: 1px solid #CBCBCB;
  margin: 0 10px 20px 10px;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 15px;
}
.askExpertList .listItem.shadow {
  -moz-box-shadow: 2px 2px 6px 2px rgba(51, 51, 102, 0.1);
  -webkit-box-shadow: 2px 2px 6px 2px rgba(51, 51, 102, 0.1);
  box-shadow: 2px 2px 6px 2px rgba(51, 51, 102, 0.1);
}
.askExpertList .listItem .a_pic {
  width: 115px;
  height: 115px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  margin: 0 auto;
}
.askExpertList .listItem .a_name {
  text-align: center;
  margin-top: 10px;
}
.askExpertList .listItem .a_title {
  text-align: center;
  margin-top: 10px;
  line-height: 25px;
}
.askExpertList .listItem .a_content {
  line-height: 25px;
}
.askExpertList .listItem .followBox {
  position: absolute;
  left: 0;
  padding: 10px 15px;
  width: 100%;
  bottom: 0;
}
.askExpertList .listItem .followBox .followBtn {
  display: inline-block;
  float: left;
  padding: 0 8px;
}
.askExpertList .listItem .followBox .moreBtn {
  float: right;
  display: inline-block;
}
.askExpertList .listItem .followBox .moreBtn:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=askExpert.css.map */
