/*mixin */
.expertBox {
  padding: 15px 0;
  border-bottom: 1px solid #CBCBCB;
  margin-top: 15px;
  position: relative;
}
.expertBox .seeMore {
  position: absolute;
  right: 0;
  top: 15px;
}
.expertBox .lBox {
  width: 305px;
}
.expertBox .lBox .picWrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid #CBCBCB;
}
.expertBox .lBox .pinkBtn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  height: 30px;
  line-height: 30px;
}
.expertBox .lBox .lbBtn {
  display: block;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border: 1px solid #a1a19f;
  margin-top: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.expertBox .lBox .lbBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  text-decoration: none;
}
.expertBox .lBox .relateBtn {
  background-color: #dddddd;
}
.expertBox .lBox .infoBtn {
  background-color: #f2f2f2;
}
.expertBox .rBox {
  padding-left: 15px;
  float: none;
  overflow: hidden;
}
.expertBox .rBox .c_title {
  font-size: 138.5%;
}
.expertBox .rBox .c_name {
  margin-top: 20px;
  font-size: 174%;
}
.expertBox .rBox .pl {
  padding-left: 10px;
}
.expertBox .rBox .c_info {
  margin-top: 15px;
  font-size: 116%;
}
.expertBox .rBox .c_info .pTxt {
  margin-top: 10px;
}
.expertBox .rBox .c_info .c_content {
  margin-top: 10px;
  font-size: 95%;
  color: #373737;
  line-height: 28px;
}
.expertBox .rBox .c_info .noteWrap {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px 10px 10px;
  margin-top: 15px;
}
.expertBox .rBox .c_info .noteWrap .pTxt {
  margin-top: 0;
}
.expertBox .rBox .c_info .noteWrap .bTxt {
  color: #000;
  margin-left: 5px;
}
.expertBox .rBox .c_info .noteWrap .c_content {
  color: #888886;
}

.mr_ss {
  margin-right: 5px;
}

.askList .qaWrap .qBox {
  float: none;
}
.askList .qaWrap .aBox {
  float: none;
  width: 100%;
  margin: 15px 0 0;
}
.askList .qaWrap .q_info {
  margin-top: 15px;
}

.askList.answered .qaWrap .qBox .lWrap {
  float: none;
  max-width: 100%;
}

@media screen and (max-width: 1140px) {
  .expertBox {
    padding-top: 40px;
  }
  .expertBox .seeMore {
    top: 10px;
  }
}

/*# sourceMappingURL=askExpertArticle.css.map */
