/*mixin */
.faqListTitle {
  margin-left: 10px;
  color: #373737;
}

.titleWrap .dib {
  display: inline-block;
  vertical-align: sub;
}

.mTxt {
  margin-top: 15px;
  margin-bottom: 15px;
}

#mainContainer.wideMainContainer {
  width: 100%;
}

.grayBg {
  background-color: #eaeaea;
}

.pageTitle {
  margin-bottom: 15px;
  margin-top: 0;
}

.inputNTxt {
  line-height: 30px;
}

.smWideBlock {
  width: 1045px;
  margin: 0 auto;
}
.smWideBlock #mainContainer {
  width: 720px;
}

.whiteWrap {
  width: 100%;
  background-color: #FFF;
  margin: 20px 0;
  padding: 20px 0;
}
.whiteWrap #mainContainer {
  padding: 0 20px;
  border-right: 1px solid #CBCBCB;
}

.mainContainerRightBar {
  float: left;
  padding: 0 20px;
  margin-left: 0;
  width: 320px;
}
.mainContainerRightBar .r_note {
  margin-top: 120px;
}

a.pTxt:hover {
  color: #e4007f;
}

.roundDiv {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#mainBanner {
  width: 100%;
}
#mainBanner .bdWrap {
  border: 1px solid #CBCBCB;
}
#mainBanner .picWrap {
  float: left;
  width: 540px;
  height: 300px;
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
}
#mainBanner .picWrap .picContainer {
  width: 9999px;
}
#mainBanner .picWrap .picContainer .picItem {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 540px;
  height: 300px;
}
#mainBanner .picWrap .picContainer .picItem .pic {
  width: 540px;
  height: 300px;
  overflow: hidden;
  -moz-background-size: "cover";
  -o-background-size: "cover";
  -webkit-background-size: "cover";
  background-size: "cover";
}
#mainBanner .picWrap .picContainer .picItem .picTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url("../images/g/black.png");
  color: white;
  line-height: 47px;
  padding-left: 10px;
  font-size: 116%;
}
#mainBanner .list {
  width: 268px;
  float: left;
  height: 300px;
  position: relative;
}
#mainBanner .list .listItem {
  height: 60px;
  width: 100%;
  border-top: 1px dotted #ABABAB;
  font-size: 123.1%;
  color: #000;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  padding-left: 20px;
}
#mainBanner .list .listItem a {
  display: inline;
}
#mainBanner .list .listItem .ad {
  font-size: 85%;
  color: #ff7430;
}
#mainBanner .list .listItem a:hover {
  text-decoration: none;
}
#mainBanner .list .listItem.m1 {
  border-top: none;
}
#mainBanner .list .listItem.m2 {
  left: 0;
  top: 50px;
}
#mainBanner .list .listItem.m3 {
  left: 0;
  top: 100px;
}
#mainBanner .list .listItem.m4 {
  left: 0;
  top: 150px;
}
#mainBanner .list .listItem.m5 {
  left: 0;
  top: 200px;
}
#mainBanner .list .listItem.m6 {
  left: 0;
  top: 250px;
}
#mainBanner .list .listItem.active {
  color: #e4007f;
}
#mainBanner .list .listItem.active:after {
  content: "";
  width: 11px;
  height: 19px;
  background: url("../images/g/navArrLeft.png");
  position: absolute;
  top: 16px;
  left: -11px;
}

.roundBtn {
  height: 30px;
  width: 80px;
  margin-left: 15px;
  line-height: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
}
.roundBtn:hover {
  text-decoration: none;
}

.pinkBtn:hover {
  color: white;
}

.searchFilterBox {
  background-color: #ebebeb;
  padding: 24px 20px;
  margin-top: 15px;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.searchFilterBox .roundBtn {
  position: absolute;
  top: 24px;
  right: 20px;
}
.searchFilterBox .searchBar {
  position: absolute;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  left: 20px;
  right: 120px;
  top: 24px;
  height: 30px;
}
.searchFilterBox .searchBar .f_input {
  width: 90%;
  height: 30px;
  padding-left: 20px;
  border: none;
  vertical-align: top;
  margin: 0;
  line-height: 100%;
}
.searchFilterBox .searchBar .searchBtn {
  background-color: #e4007f;
  border: none;
  vertical-align: top;
  height: 30px;
  width: 10%;
  position: absolute;
  right: 0;
  border-left: 1px solid #CBCBCB;
}
.searchFilterBox .pinkBtn {
  float: left;
}
.searchFilterBox .tagBtn {
  margin-top: 45px;
}
.searchFilterBox .tagBtn li {
  float: left;
  margin-right: 10px;
}
.searchFilterBox .ocBtn {
  position: absolute;
  right: 20px;
  top: inherit;
  margin-top: -10px;
}
.searchFilterBox .hideBox {
  display: none;
}

.filterBox .filterName {
  float: left;
  line-height: 30px;
}
.filterBox .filterWrap {
  margin-top: 15px;
  margin-left: 10px;
  overflow: hidden;
}
.filterBox .filterWrap input[type=radio] {
  display: none;
}
.filterBox .filterWrap input[type=radio]:checked + label {
  background-color: #e4007f;
  color: white;
}
.filterBox .filterWrap input[type=checkbox] {
  display: none;
}
.filterBox .filterWrap input[type=checkbox]:checked + label {
  background-color: #e4007f;
  color: white;
}
.filterBox .filterWrap .redBtn {
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  padding: 0 15px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 30px;
  color: #e4007f;
  position: relative;
  cursor: pointer;
}
.filterBox .filterWrap .redBtn:hover {
  background-color: #e4007f;
  color: white;
}

.askList {
  margin-top: 30px;
}
.askList .tagBox {
  border-bottom: 1px solid #CBCBCB;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.askList .tagBox .tagWrap {
  float: left;
}
.askList .tagBox .tagWrap ul li {
  display: inline-block;
}
.askList .tagBox .tagWrap ul .tagItem {
  margin: 0 15px;
  height: 30px;
}
.askList .tagBox .tagWrap ul .tagItem.active {
  color: #e4007f;
}
.askList .tagBox .tagWrap ul .tagItem:hover {
  color: #e4007f;
}
.askList .tagBox .sortWrap {
  float: right;
  line-height: 25px;
  vertical-align: top;
}
.askList .tagBox .sortWrap ul li {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.grayBorderBtn {
  padding: 0 7px;
  border: 1px solid #CBCBCB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 25px;
  display: block;
  line-height: 24px;
  text-align: center;
  background-color: #FFF;
}
.grayBorderBtn.nobd {
  border: none;
}
.grayBorderBtn:hover {
  background-color: #dfdfdf;
  text-decoration: none;
}
.grayBorderBtn.active {
  border: 1px solid #dfdfdf;
  background-color: #dfdfdf;
}

.noramlBtnWrap {
  font-size: 16px;
}
.noramlBtnWrap input[type=button] {
  padding: 0 20px;
  margin: 0 7px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}
.noramlBtnWrap input[type=submit] {
  padding: 0 20px;
  margin: 0 7px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}
.noramlBtnWrap .bigBtn {
  width: 25%;
}

.qaWrap {
  padding: 20px 0;
  border-bottom: 1px dotted #ABABAB;
}
.qaWrap.sponsor {
  background-color: #f3f3f3;
}
.qaWrap.sponsor .aBox {
  background-color: #f3f3f3;
}
.qaWrap .qBox .lWrap {
  float: left;
  max-width: 580px;
}
.qaWrap .qBox .lWrap .q_info {
  margin-top: 15px;
}
.qaWrap .qBox .lWrap .q_info .greenBorderBtn {
  float: none;
  display: inline-block;
  height: 25px;
  line-height: 24px;
  vertical-align: text-top;
  margin-top: -3px;
}
.qaWrap .qBox .lWrap .q_info a:hover {
  text-decoration: none;
}
.qaWrap .qBox .lWrap .q_info .i_gEdit {
  margin-left: 10px;
}
.qaWrap .qBox .rWrap {
  float: right;
}
.qaWrap .qBox .rWrap .grayBorderBtn {
  margin-bottom: 7px;
}
.qaWrap .qBox .rWrap .lBox {
  margin-right: 10px;
  border-right: 1px solid #CBCBCB;
  padding-right: 10px;
}
.qaWrap .aBox {
  background-color: #fffff1;
  width: 100%;
  float: right;
  padding: 15px 10px 15px 0px;
  margin: 15px 0px;
}
.qaWrap .aBox .manPicWrap {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  width: 63px;
  height: 63px;
  margin: 0 20px;
}
.qaWrap .aBox .rBox {
  float: none;
  overflow: hidden;
  min-height: 63px;
}
.qaWrap .aBox .rBox .a_txt i {
  line-height: 1.5;
}
.qaWrap .aBox .rBox .a_info {
  margin-top: 15px;
}
.qaWrap .aBox .rBox .a_info .greenTxt {
  color: #87a800;
}
.qaWrap .aBox .rBox .a_info .a_time {
  margin-left: 10px;
}
.qaWrap .aBox .rBox .a_info .a_time .i_clock {
  margin-top: 2px;
}

.askBtn {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  left: 50%;
  margin-left: 105px;
  width: 135px;
  height: 60px;
  background-image: url("../images/g/white.png");
  border: 1px solid #CBCBCB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.askBtn:hover {
  text-decoration: none;
}
.askBtn .i_bigQ {
  margin: 0 12px;
  margin-right: 8px;
  margin-top: -8px;
}
.askBtn .pinkBtn {
  padding: 5px 10px;
  margin-top: 12px;
  display: inline-block;
  height: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.gbd_input {
  width: 85%;
  height: 35px;
  padding-left: 20px;
  border: none;
  vertical-align: top;
  margin: 5px 0;
  border: 1px solid #CBCBCB;
}

.blackTxt {
  color: #000;
}

.tacDiv {
  margin-top: 15px;
  text-align: center;
}
.tacDiv button {
  display: inline-block;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.olList {
  list-style-type: decimal;
  padding-left: 20px;
  line-height: 22px;
}

@media screen and (max-width: 1140px) {
  .qaWrap .qBox .lWrap {
    max-width: 340px;
  }

  .askBtn {
    margin-left: -68px;
  }
}

/*# sourceMappingURL=askList.css.map */
