/*mixin */
.articleTitle {
  font-size: 250%;
  margin-top: 20px;
}

.infoWrap {
  position: relative;
  width: 100%;
  line-height: 35px;
  margin-top: 20px;
}
.infoWrap .lBox {
  height: 63px;
  width: 63px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
}
.infoWrap .author {
  line-height: 18px;
}
.infoWrap .info {
  margin-top: 8px;
  line-height: 18px;
}
.infoWrap .info .txtLink {
  width: auto;
  display: inline-block;
}
.infoWrap .rBox {
  margin-top: 10px;
}
.infoWrap .orangeTxt {
  margin-left: 15px;
}
.infoWrap .dealWrap {
  position: absolute;
  right: 0;
  margin-top: 0;
}

.dotLine {
  margin-top: 15px;
  width: 100%;
  height: 0;
  border-bottom: 1px dotted #ABABAB;
}

.articleWrap {
  font-size: 116%;
}
.articleWrap .forewordTxt {
  font-size: 116%;
  margin: 30px 0;
  color: #757575;
  line-height: 30px;
}
.articleWrap img {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
.articleWrap p {
  margin-top: 20px;
  line-height: 30px;
  color: #373737;
}
.articleWrap .video {
  margin-top: 20px;
}
.articleWrap .articleSubTitle {
  font-size: 138.5%;
  margin-top: 20px;
}
.articleWrap .videoWrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  border: 1px solid #CBCBCB;
  height: 0;
  margin-bottom: 20px;
}
.articleWrap .videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mp3Box {
  width: 100%;
  padding: 17px 15px;
  background-color: #e7e7e7;
  margin-bottom: 15px;
  border: 1px solid #CBCBCB;
  position: relative;
}
.mp3Box .box_title {
  margin-bottom: 15px;
}

.downLoadBox {
  width: 100%;
  padding: 17px 15px;
  background-color: #e7e7e7;
  margin-bottom: 15px;
  border: 1px solid #CBCBCB;
  position: relative;
}
.downLoadBox .pinkBtn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
  width: 120px;
  line-height: 28px;
  float: left;
  margin-right: 15px;
}
.downLoadBox .txt {
  margin-top: 7px;
  float: left;
}

.tagWrap {
  margin-top: 20px;
}
.tagWrap a {
  text-decoration: none;
}
.tagWrap a:hover {
  text-decoration: underline;
}

.rankBox {
  height: 200px;
  margin-top: 38px;
  padding: 10px 0px;
}
.rankBox .boxTitle {
  font-size: 138.5%;
}
.rankBox .boxTitle .grayTxt {
  font-size: 85%;
}
.rankBox .rankContainer {
  width: 640px;
  height: 70px;
  margin: 30px auto;
  position: relative;
  border-bottom: 1px dotted #ABABAB;
}
.rankBox .rankContainer .rankItem {
  width: 55px;
  position: absolute;
  text-align: center;
  bottom: -40px;
  height: 130px;
}
.rankBox .rankContainer .rankItem .clickBtn {
  position: absolute;
  width: 90px;
  height: 135px;
  top: -6px;
  left: -19px;
  cursor: pointer;
}
.rankBox .rankContainer .rankItem .clickBtn:hover {
  border: 1px solid #CBCBCB;
}
.rankBox .rankContainer .rankItem .blockWrap {
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.rankBox .rankContainer .rankItem .rate {
  color: #eb6da0;
}
.rankBox .rankContainer .rankItem .block {
  width: 100%;
  background-color: #eb6da0;
  height: 100px;
}
.rankBox .rankContainer .rankItem .kind {
  width: 100%;
  height: 27px;
  line-height: 27px;
  position: absolute;
  bottom: 5px;
  text-align: center;
  background-color: #f4e9e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #626262;
}
.rankBox .rankContainer .rankItem.try {
  left: 65px;
}
.rankBox .rankContainer .rankItem.useful {
  left: 160px;
}
.rankBox .rankContainer .rankItem.moving {
  left: 255px;
}
.rankBox .rankContainer .rankItem.cantDo {
  left: 350px;
}
.rankBox .rankContainer .rankItem.confused {
  left: 445px;
}
.rankBox .rankContainer .rankItem.Disagree {
  left: 540px;
}
.rankBox .rankContainer .rankItem.active .rate {
  color: #7B9807;
}
.rankBox .rankContainer .rankItem.active .block {
  background-color: #7B9807;
}
.rankBox .rankContainer .rankItem.r_10 .blockWrap {
  padding-top: 70px;
}
.rankBox .rankContainer .rankItem.r_20 .blockWrap {
  padding-top: 63px;
}
.rankBox .rankContainer .rankItem.r_30 .blockWrap {
  padding-top: 56px;
}
.rankBox .rankContainer .rankItem.r_40 .blockWrap {
  padding-top: 48px;
}
.rankBox .rankContainer .rankItem.r_50 .blockWrap {
  padding-top: 40px;
}
.rankBox .rankContainer .rankItem.r_60 .blockWrap {
  padding-top: 36px;
}
.rankBox .rankContainer .rankItem.r_70 .blockWrap {
  padding-top: 24px;
}
.rankBox .rankContainer .rankItem.r_80 .blockWrap {
  padding-top: 16px;
}
.rankBox .rankContainer .rankItem.r_90 .blockWrap {
  padding-top: 8px;
}
.rankBox .rankContainer .rankItem.r_100 .blockWrap {
  padding-top: 0;
}
.rankBox .rankContainer .rankItem.r_0 .blockWrap {
  padding-top: 74px;
}

.relatedArticleBox {
  margin-top: 30px;
  margin-bottom: 30px;
}
.relatedArticleBox .lWrap {
  width: 50%;
  float: left;
  padding: 0px 15px;
}
.relatedArticleBox .rWrap {
  width: 50%;
  float: left;
  border-left: 1px dotted #ABABAB;
  padding: 0px 15px;
}
.relatedArticleBox .boxTitle {
  font-size: 138.5%;
}
.relatedArticleBox ul li {
  line-height: 23px;
  margin-top: 10px;
  color: #626262;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 5px;
}
.relatedArticleBox ul li.Sponsor {
  background-color: #ffe9de;
}

.ad_ArticleBox {
  margin-top: 30px;
}
.ad_ArticleBox .lWrap {
  width: 50%;
  float: left;
  padding: 20px 50px;
}
.ad_ArticleBox .rWrap {
  width: 50%;
  float: left;
  padding: 20px 50px;
}

.fb_discussBox {
  margin-top: 15px;
}
.fb_discussBox .boxTitle {
  color: #3b5998;
  font-size: 138.5%;
}
.fb_discussBox .fbWrap {
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 15px;
}

.lockBox .grayTxt {
  font-size: 118%;
}
.lockBox .contentBox {
  background-color: #e7e7e7;
  width: 100%;
  height: 268px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
.lockBox .contentBox .lWrap {
  position: absolute;
  right: 190px;
  left: 0;
  top: 0;
  padding: 15px;
  height: 268px;
}
.lockBox .contentBox .lWrap .m_name {
  font-size: 182%;
  margin-top: 15px;
}
.lockBox .contentBox .lWrap .m_content {
  margin-top: 15px;
  font-size: 116%;
  line-height: 28px;
  height: 110px;
  overflow: hidden;
}
.lockBox .contentBox .lWrap .btnWrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.lockBox .contentBox .lWrap .allListBtn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.lockBox .contentBox .picWrap {
  width: 180px;
  height: 235px;
  top: 15px;
  right: 15px;
  position: absolute;
}

@media screen and (max-width: 1140px) {
  .infoWrap .author {
    width: 180px;
  }
  .infoWrap .info {
    width: 180px;
  }

  .rankBox .rankContainer {
    left: -46px;
  }
  .rankBox .rankContainer .rankItem.try {
    left: 65px;
  }
  .rankBox .rankContainer .rankItem.useful {
    left: 155px;
  }
  .rankBox .rankContainer .rankItem.moving {
    left: 245px;
  }
  .rankBox .rankContainer .rankItem.cantDo {
    left: 335px;
  }
  .rankBox .rankContainer .rankItem.confused {
    left: 425px;
  }
  .rankBox .rankContainer .rankItem.Disagree {
    left: 515px;
  }

  .relatedArticleBox .rWrap {
    border-top: 1px dotted #000;
    border-left: none;
    margin-top: 15px;
    padding-top: 15px;
  }
}

/*# sourceMappingURL=baby_article.css.map */
