/*mixin */
.pageTitle {
  font-size: 182%;
  margin: 20px 0 20px;
  font-weight: bold;
}

#hotArticle {
  margin: 20px 0 20px;
  position: relative;
}
#hotArticle .picWrap {
  width: 480px;
  height: 270px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
#hotArticle .txtWrap {
  float: left;
  padding: 0px 15px;
  width: 330px;
}
#hotArticle .txtWrap h1 {
  font-size: 150%;
  margin-top: 15px;
}
#hotArticle .txtWrap p {
  margin-top: 15px;
  font-size: 116%;
  line-height: 28px;
  color: #626262;
}
#hotArticle .seeAritle {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.pageTip {
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: url("../images/coinbar.png");
  padding: 0 0 0 46px;
  color: #fff;
}
.pageTip .pinkTxt {
  float: right;
  text-decoration: underline;
}
.pageTip .pinkTxt:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.pageTip .greenTxt {
  margin-right: 8px;
}

.articleList .listItem {
  margin-top: 25px;
  padding: 5px 0px;
  position: relative;
}
.articleList .listItem.sponsor {
  background-color: #f3f3f3;
}
.articleList .listItem .picWrap {
  width: 260px;
  height: 165px;
  overflow: hidden;
  float: left;
}
.articleList .listItem .txtWrap {
  float: left;
  width: 540px;
  height: 165px;
  padding-left: 20px;
  position: relative;
}
.articleList .listItem .txtWrap .l_titleWrap .l_Title {
  font-size: 123.1%;
  margin-left: 8px;
}
.articleList .listItem .txtWrap .l_titleWrap h1 {
  display: inline-block;
}
.articleList .listItem .txtWrap p {
  margin-top: 8px;
  line-height: 28px;
  font-size: 108%;
}
.articleList .listItem .txtWrap .l_footerWrap {
  position: absolute;
  left: 20px;
  bottom: 0;
}
.articleList .listItem .txtWrap .l_footerWrap .socailWrap {
  display: inline-block;
  vertical-align: middle;
}
.articleList .listItem .txtWrap .l_footerWrap .socailWrap * {
  margin-right: 8px;
}
.articleList .listItem .txtWrap .l_footerWrap .tagWrap a {
  text-decoration: none;
}
.articleList .listItem .txtWrap .l_footerWrap .tagWrap a:hover {
  text-decoration: underline;
}
.articleList .listItem .txtWrap .sponsorCompany {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #ff7430;
}

#r_keywordIconBox {
  position: relative;
  width: 100%;
}
#r_keywordIconBox .manList {
  border-top: 1px solid #CBCBCB;
  margin: 0 auto;
}
#r_keywordIconBox .manList .listItem {
  width: 75px;
  height: 100px;
  float: left;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 12px;
}
#r_keywordIconBox .manList .listItem .picWrap {
  width: 100%;
}
#r_keywordIconBox .manList .listItem .s_name {
  display: block;
  text-align: center;
  color: #626262;
}

@media screen and (max-width: 1140px) {
  #hotArticle .picWrap {
    width: 100%;
  }
  #hotArticle .txtWrap {
    padding: 15px 0;
    width: 100%;
  }

  .articleList .listItem .picWrap {
    display: none;
  }
  .articleList .listItem .txtWrap {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=baby_articleList.css.map */
