/*mixin */
.pr_280 {
  padding-right: 280px;
}

.pageTitle {
  margin-bottom: 15px;
  margin-top: 0;
}

.titleWrap .dib {
  display: inline-block;
  vertical-align: sub;
}

.titleWrapListTitle {
  color: #373737;
  margin-left: 10px;
}

.dicsList {
  margin-top: 5px;
}
.dicsList li {
  margin-top: 20px;
}

.va_tt {
  vertical-align: text-top;
}

.pinkBg {
  background-color: #fbe6f2;
}

.lh_s p {
  margin-top: 20px;
}

.colectionBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  cursor: pointer;
}
.colectionBtn .i_collect {
  margin: 0 auto;
}
.colectionBtn .lgTxt {
  text-align: center;
  display: none;
}
.colectionBtn:hover .lgTxt {
  display: block;
}
.colectionBtn:hover .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -88px -4px;
}
.colectionBtn.active .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -55px -4px;
}

.pageTitleWrap {
  position: relative;
}

.searchFilterBox {
  position: relative;
  background-color: #ebebeb;
  padding: 24px 20px;
  margin-top: 15px;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.searchFilterBox.withTag {
  margin-top: 50px;
  z-index: 10;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
.searchFilterBox .searchFormSwitchTag {
  position: absolute;
  top: -33px;
  left: 0;
  z-index: 1;
}
.searchFilterBox .searchFormSwitchTag .sTag {
  display: inline-block;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #CBCBCB;
  border-bottom: none;
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  margin-right: -2px;
  background-color: #f7f7f7;
  color: #626262;
  cursor: pointer;
}
.searchFilterBox .searchFormSwitchTag .sTag.active, .searchFilterBox .searchFormSwitchTag .sTag :hover {
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  color: #e4007f;
}
.searchFilterBox .inputWrap .inputTxt {
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  height: 32px;
  padding-left: 10px;
  width: 300px;
}
.searchFilterBox .inputWrap .noteTxt {
  min-height: 30px;
  padding: 5px;
}
.searchFilterBox .inputWrap .pinkBtn {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  min-width: 120px;
}
.searchFilterBox .roundBtn {
  position: absolute;
  top: 24px;
  right: 20px;
}
.searchFilterBox .searchBar {
  position: absolute;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  left: 20px;
  right: 120px;
  top: 24px;
  height: 30px;
}
.searchFilterBox .searchBar .f_input {
  width: 90%;
  height: 30px;
  padding-left: 20px;
  border: none;
  vertical-align: top;
  margin: 0;
  line-height: 100%;
}
.searchFilterBox .searchBar .searchBtn {
  background-color: #e4007f;
  border: none;
  vertical-align: top;
  height: 30px;
  width: 10%;
  position: absolute;
  right: 0;
  border-left: 1px solid #CBCBCB;
}
.searchFilterBox .tagBtn {
  margin-top: 45px;
}
.searchFilterBox .tagBtn li {
  float: left;
  margin-right: 10px;
}
.searchFilterBox .ocBtn {
  position: absolute;
  right: 20px;
  top: inherit;
  margin-top: -10px;
}
.searchFilterBox .hideBox {
  display: none;
}

.filterBox {
  margin-bottom: 5px;
}
.filterBox .filterName {
  float: left;
  line-height: 30px;
}
.filterBox .filterWrap {
  float: left;
  max-width: 630px;
}
.filterBox .filterWrap input[type=radio] {
  display: none;
}
.filterBox .filterWrap input[type=radio]:checked + label {
  background-color: #e4007f;
  color: white;
}
.filterBox .filterWrap input[type=checkbox] {
  display: none;
}
.filterBox .filterWrap input[type=checkbox]:checked + label {
  background-color: #e4007f;
  color: white;
}
.filterBox .filterWrap .redBtn {
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  padding: 0 15px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 30px;
  color: #e4007f;
  position: relative;
  cursor: pointer;
}
.filterBox .filterWrap .redBtn .memoPop {
  position: absolute;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  -moz-box-shadow: 2px 2px 6px rgba(51, 51, 102, 0.3);
  -webkit-box-shadow: 2px 2px 6px rgba(51, 51, 102, 0.3);
  box-shadow: 2px 2px 6px rgba(51, 51, 102, 0.3);
  left: 0;
  white-space: nowrap;
  z-index: 20;
  top: -40px;
  display: none;
}
.filterBox .filterWrap .redBtn .memoPop:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 1px solid transparent;
  position: absolute;
  left: 25px;
  top: 30px;
}
.filterBox .filterWrap .redBtn:hover {
  background-color: #e4007f;
  color: white;
}
.filterBox .filterWrap .redBtn:hover .memoPop {
  display: block;
}

.articleList .listItem {
  color: #626262;
  height: 340px;
}
.articleList .listItem .colectionBtn {
  top: 10px;
  width: 50px;
}
.articleList .listItem .greenBorderBtn {
  width: 226px;
  left: 15px;
  position: absolute;
  bottom: 15px;
}
.articleList .listItem.bigItem .booklist_title {
  color: #373737;
}
.articleList .listItem.bigItem .inner_bookList .bookItem {
  margin-right: 20px;
  margin-bottom: 15px;
}
.articleList .listItem .picWrap2 {
  width: 226px;
  height: 142px;
  position: absolute;
  left: 15px;
  bottom: 63px;
}
.articleList .listItem .inner_bookList .bookItem {
  float: left;
  position: relative;
  width: 108px;
  height: 108px;
  margin-right: 5px;
}
.articleList .listItem .inner_bookList .bookItem a {
  width: 100%;
  height: 100%;
  display: block;
}
.articleList .listItem .inner_bookList .bookItem .seeMoreItem {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 108px;
  text-align: center;
  color: white;
}
.articleList .listItem .inner_bookList .bookItem .seeMoreItem:hover {
  color: white;
}

.titleDiv {
  background-color: #e6efc2;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  position: relative;
}
.titleDiv .grayTxt {
  color: #373737;
}
.titleDiv .moreBtn {
  position: absolute;
  top: 0px;
  right: 15px;
}

.bookList .listItem {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 17px;
  margin-bottom: 15px;
  width: 145px;
}
.bookList .listItem:nth-child(5n) {
  margin-right: 0;
}
.bookList .listItem a {
  display: block;
}
.bookList .listItem .pic {
  width: 145px;
  height: 206px;
}
.bookList .listItem .txtWrap .grayTxt {
  margin-top: 10px;
}

.whiteMaskTxtBox {
  zoom: 1;
  position: relative;
}
.whiteMaskTxtBox:before {
  content: "";
  display: table;
}
.whiteMaskTxtBox:after {
  content: "";
  display: table;
  clear: both;
}
.whiteMaskTxtBox .r_slideBtn {
  position: relative;
  z-index: 10;
  margin-top: 15px;
  display: none;
}
.whiteMaskTxtBox .r_txt {
  margin-top: 15px;
  overflow: hidden;
  height: auto;
}
.whiteMaskTxtBox .r_mask {
  width: 100%;
  height: 31px;
  background-image: url("../images/g/whiteUp.png");
  position: absolute;
  left: 0;
  bottom: 31px;
  display: none;
}
.whiteMaskTxtBox.addMask .r_txt {
  height: 84px;
  height: 10rem;
}
.whiteMaskTxtBox.addMask .r_slideBtn {
  display: block;
}
.whiteMaskTxtBox.addMask .r_mask {
  display: block;
}
.whiteMaskTxtBox.active .r_txt {
  height: auto;
}
.whiteMaskTxtBox.active .r_mask {
  display: none;
}
.whiteMaskTxtBox.active .r_slideBtn {
  display: none;
}

.reviewWrap {
  position: relative;
  margin-top: 10px;
}
.reviewWrap .dealWrap {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0;
}
.reviewWrap .r_title {
  padding-right: 280px;
}

.roungTagList .tagClass {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
.roungTagList .tagWrap {
  overflow: hidden;
}
.roungTagList .tagWrap .gTag {
  border: 1px solid #bcbcb4;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 10px;
  color: #626262;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.roungTagList .tagWrap .gTag.active, .roungTagList .tagWrap .gTag:hover {
  background-color: #bcbcb4;
  color: white;
}

.roundPicWithTxt .roundPic {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  width: 63px;
  height: 63px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  float: left;
  margin-right: 15px;
}
.roundPicWithTxt .txtWrap {
  overflow: hidden;
  min-height: 63px;
}

.sortWrap {
  text-align: right;
  line-height: 25px;
  vertical-align: top;
}
.sortWrap ul li {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.grayBorderBtn {
  border: 1px solid #CBCBCB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 25px;
  display: block;
  line-height: 24px;
  text-align: center;
  background-color: #FFF;
  padding: 0 10px;
}
.grayBorderBtn:hover {
  background-color: #CBCBCB;
  text-decoration: none;
}
.grayBorderBtn.active {
  border: 1px solid #CBCBCB;
  background-color: #CBCBCB;
}

.bookInfoBox {
  padding: 25px 0 25px 0;
  border-bottom: 1px dotted #CBCBCB;
  margin-top: -1px;
}
.bookInfoBox.bookPage {
  border-bottom: 1px solid #CBCBCB;
}
.bookInfoBox.bookPage .txtWrap {
  overflow: inherit;
  float: left;
  width: 550px;
}
.bookInfoBox .evaluateBtn {
  padding: 0 10px;
  width: auto;
  float: none;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -3px;
}
.bookInfoBox .bPic {
  float: left;
  width: 180px;
  height: 180px;
  margin-right: 15px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bookInfoBox .txtWrap {
  overflow: hidden;
  min-height: 180px;
  position: relative;
  color: #373737;
}
.bookInfoBox .txtWrap .pr_b {
  padding-right: 60px;
}
.bookInfoBox .txtWrap .colectionBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  cursor: pointer;
}
.bookInfoBox .txtWrap .colectionBtn .i_collect {
  margin: 0 auto;
}
.bookInfoBox .txtWrap .colectionBtn .lgTxt {
  text-align: center;
  display: none;
}
.bookInfoBox .txtWrap .colectionBtn:hover .lgTxt {
  display: block;
}
.bookInfoBox .txtWrap .colectionBtn:hover .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -88px -4px;
}
.bookInfoBox .txtWrap .colectionBtn.active .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -55px -4px;
}
.bookInfoBox .txtWrap .starScore {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 3px;
}
.bookInfoBox .txtWrap .starScore li {
  background: url("../images/g/bookIcon.png") no-repeat -28px -34px;
  width: 15px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 3px;
}
.bookInfoBox .txtWrap .starScore.s1 li:nth-child(1) {
  background: url("../images/g/bookIcon.png") no-repeat -9px -34px;
}
.bookInfoBox .txtWrap .starScore.s2 li:nth-child(1), .bookInfoBox .txtWrap .starScore.s2 li:nth-child(2) {
  background: url("../images/g/bookIcon.png") no-repeat -9px -34px;
}
.bookInfoBox .txtWrap .starScore.s3 li:nth-child(1), .bookInfoBox .txtWrap .starScore.s3 li:nth-child(2), .bookInfoBox .txtWrap .starScore.s3 li:nth-child(3) {
  background: url("../images/g/bookIcon.png") no-repeat -9px -34px;
}
.bookInfoBox .txtWrap .starScore.s4 li:nth-child(1), .bookInfoBox .txtWrap .starScore.s4 li:nth-child(2), .bookInfoBox .txtWrap .starScore.s4 li:nth-child(3), .bookInfoBox .txtWrap .starScore.s4 li:nth-child(4) {
  background: url("../images/g/bookIcon.png") no-repeat -9px -34px;
}
.bookInfoBox .txtWrap .starScore.s5 li:nth-child(1), .bookInfoBox .txtWrap .starScore.s5 li:nth-child(2), .bookInfoBox .txtWrap .starScore.s5 li:nth-child(3), .bookInfoBox .txtWrap .starScore.s5 li:nth-child(4), .bookInfoBox .txtWrap .starScore.s5 li:nth-child(5) {
  background: url("../images/g/bookIcon.png") no-repeat -9px -34px;
}
.bookInfoBox .txtWrap .starScore.bigStar li {
  background: url("../images/g/bookIcon.png") no-repeat -11px -98px;
  width: 31px;
  height: 28px;
  cursor: pointer;
}
.bookInfoBox .txtWrap .starScore.bigStar.s1 li:nth-child(1) {
  background: url("../images/g/bookIcon.png") no-repeat -51px -98px;
}
.bookInfoBox .txtWrap .starScore.bigStar.s2 li:nth-child(1), .bookInfoBox .txtWrap .starScore.bigStar.s2 li:nth-child(2) {
  background: url("../images/g/bookIcon.png") no-repeat -51px -98px;
}
.bookInfoBox .txtWrap .starScore.bigStar.s3 li:nth-child(1), .bookInfoBox .txtWrap .starScore.bigStar.s3 li:nth-child(2), .bookInfoBox .txtWrap .starScore.bigStar.s3 li:nth-child(3) {
  background: url("../images/g/bookIcon.png") no-repeat -51px -98px;
}
.bookInfoBox .txtWrap .starScore.bigStar.s4 li:nth-child(1), .bookInfoBox .txtWrap .starScore.bigStar.s4 li:nth-child(2), .bookInfoBox .txtWrap .starScore.bigStar.s4 li:nth-child(3), .bookInfoBox .txtWrap .starScore.bigStar.s4 li:nth-child(4) {
  background: url("../images/g/bookIcon.png") no-repeat -51px -98px;
}
.bookInfoBox .txtWrap .starScore.bigStar.s5 li:nth-child(1), .bookInfoBox .txtWrap .starScore.bigStar.s5 li:nth-child(2), .bookInfoBox .txtWrap .starScore.bigStar.s5 li:nth-child(3), .bookInfoBox .txtWrap .starScore.bigStar.s5 li:nth-child(4), .bookInfoBox .txtWrap .starScore.bigStar.s5 li:nth-child(5) {
  background: url("../images/g/bookIcon.png") no-repeat -51px -98px;
}
.bookInfoBox .txtWrap .recommendBox .lBox {
  padding-right: 10px;
  border-right: 1px solid #94b706;
  margin-right: 10px;
}
.bookInfoBox .txtWrap .evaluateStarBox {
  background-color: #ebebeb;
  padding: 10px 15px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.bookInfoBox .txtWrap .evaluateStarBox .greenBtn {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
  padding: 0 20px;
  height: 28px;
  line-height: 28px;
}

.bk_recommendBox .recommendTxt {
  line-height: 1.75;
  padding: 15px 0;
  border-bottom: 1px dotted #ABABAB;
}
.bk_recommendBox .openBtn {
  cursor: pointer;
}

.bk_videoWrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  border: 1px solid #cbcbcb;
  height: 0;
  margin-bottom: 20px;
}
.bk_videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bk_printable .mp3Box .i_grPlay {
  margin-top: 1px;
}

.bk_reward li {
  width: 48%;
  float: left;
  padding-right: 5%;
}

.bk_event {
  padding: 20px;
}

.book_descr {
  line-height: 1.875;
}
.book_descr p {
  margin: 10px 0;
}
.book_descr .tbname {
  color: #ff6600;
  display: block;
}
.book_descr .tabcontent {
  color: #626262;
}

@media screen and (max-width: 1140px) {
  .filterBox .filterWrap {
    max-width: 390px;
  }

  #mainContainer {
    overflow: visible;
  }

  .reviewWrap .r_title {
    padding-right: 0;
  }
  .reviewWrap .dealWrap {
    position: relative;
  }

  .articleList .bookInfoBox {
    width: 540px;
  }

  .bookInfoBox .txtWrap {
    padding-top: 15px;
  }

  .bookList .listItem:nth-child(5n) {
    margin-right: 17px;
  }
}

/*# sourceMappingURL=book.css.map */
