/*mixin */
.pageTitle {
  font-size: 146.5%;
  line-height: 24px;
}

.grayLine {
  margin: 15px 0;
}

.tagWrap .txt {
  float: left;
  font-size: 138.5%;
  padding: 10px 10px;
}
.tagWrap .lBox {
  float: left;
  padding: 10px 10px;
}
.tagWrap .rBox {
  padding: 10px 10px;
  overflow: hidden;
  border-left: 1px solid #CBCBCB;
  float: none;
}
.tagWrap .tagItem {
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  padding: 0 10px;
  height: 30px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 30px;
  color: #e4007f;
  font-size: 116%;
}
.tagWrap .tagItem:hover {
  background-color: #e4007f;
  color: white;
}
.tagWrap .tagItem.active {
  background-color: #e4007f;
  color: white;
}

#columnistsList {
  position: relative;
  margin-top: 35px;
}
#columnistsList .listItem {
  width: 245px;
  height: 264px;
  border: 1px solid #CBCBCB;
  margin: 0px 10px 20px 10px;
  position: relative;
  float: left;
  overflow: hidden;
}
#columnistsList .listItem .coverTitle {
  position: absolute;
  background-image: url("../images/g/black.png");
  width: 100%;
  height: 56px;
  color: white;
  padding: 5px 20px;
  left: 0;
  bottom: 0;
  line-height: 21px;
}
#columnistsList .listItem .coverTitle .c_name {
  font-size: 138.5%;
}
#columnistsList .listItem .picWrap {
  width: 245px;
  height: 264px;
  overflow: hidden;
}
#columnistsList .listItem .followBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-image: url("../images/g/white.png");
  padding: 0 20px;
  line-height: 30px;
  display: none;
}
#columnistsList .listItem:hover .followBox {
  display: block;
}

/*# sourceMappingURL=columnists.css.map */
