/*mixin */
.eWrap {
  margin: 155px auto;
  width: 700px;
}

.errorPic {
  width: 266px;
  height: 313px;
  background: url("../images/g/errorPic.png");
  float: left;
  margin-right: 60px;
}

.txtWrap {
  float: left;
  margin-top: 15px;
}
.txtWrap .pinkBorderBtn {
  margin-top: 20px;
  width: auto;
  height: 30px;
  line-height: 27px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 0 27px;
  display: inline-block;
  float: none;
}
.txtWrap .linkListBox {
  margin-top: 35px;
}
.txtWrap .linkListBox li {
  margin-top: 10px;
}

/*# sourceMappingURL=error.css.map */
