/*mixin */
/*mixin */
.fl {
  float: left;
}

.fr {
  float: right;
}

.dotBd_b {
  border-bottom: 1px dotted #ABABAB;
}

.colectionBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  cursor: pointer;
}
.colectionBtn .i_collect {
  margin: 0 auto;
}
.colectionBtn .lgTxt {
  text-align: center;
  display: none;
}
.colectionBtn:hover .lgTxt {
  display: block;
}
.colectionBtn:hover .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -88px -4px;
}
.colectionBtn.active .i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -55px -4px;
}

.expertBox {
  padding: 15px 0;
  margin-top: 15px;
  position: relative;
}
.expertBox .seeMore {
  position: absolute;
  right: 0;
  top: 15px;
}
.expertBox .lBox {
  width: 305px;
}
.expertBox .lBox .picWrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid #CBCBCB;
}
.expertBox .lBox .pinkBtn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  height: 30px;
  line-height: 30px;
}
.expertBox .lBox .lbBtn {
  display: block;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border: 1px solid #a1a19f;
  margin-top: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.expertBox .lBox .lbBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  text-decoration: none;
}
.expertBox .lBox .relateBtn {
  background-color: #dddddd;
}
.expertBox .lBox .infoBtn {
  background-color: #f2f2f2;
}
.expertBox .rBox {
  padding-left: 15px;
  float: none;
  overflow: hidden;
}
.expertBox .rBox .c_name {
  margin-top: 20px;
}
.expertBox .rBox .pl {
  padding-left: 10px;
}
.expertBox .rBox .c_info {
  margin-top: 15px;
}
.expertBox .rBox .c_info .pTxt {
  margin-top: 10px;
}
.expertBox .rBox .c_info .c_content {
  margin-top: 10px;
  color: #373737;
  line-height: 28px;
}
.expertBox .rBox .c_info .noteWrap {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px 10px 10px;
  margin-top: 15px;
}
.expertBox .rBox .c_info .noteWrap .pTxt {
  margin-top: 0;
}
.expertBox .rBox .c_info .noteWrap .bTxt {
  color: #000;
  margin-left: 5px;
}
.expertBox .rBox .c_info .noteWrap .c_content {
  color: #888886;
}

.threeboxsList {
  width: 825px;
  margin-top: 15px;
}
.threeboxsList .listItem {
  width: 260px;
  height: 340px;
  border: 1px solid #CBCBCB;
  margin: 0px 15px 15px 0px;
  position: relative;
  float: left;
  padding: 50px 15px 15px 15px;
}
.threeboxsList .listItem .colectionBtn {
  top: 10px;
  width: 50px;
}
.threeboxsList .listItem.bigItem {
  width: 810px;
  height: auto;
  min-height: 280px;
}
.threeboxsList .listItem:hover {
  background-color: #f4f4f4;
}
.threeboxsList .listItem .fullDiv:hover {
  text-decoration: none;
}
.threeboxsList .listItem .list_title {
  width: 117px;
  height: 24px;
  background-color: #94b706;
  color: white;
  line-height: 24px;
  position: absolute;
  top: 10px;
  left: 0;
}
.threeboxsList .listItem .list_title a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}
.threeboxsList .listItem .list_title a:hover {
  color: black;
  text-decoration: none;
}
.threeboxsList .listItem h1 {
  line-height: 24px;
  width: 230px;
}
.threeboxsList .listItem h2 {
  color: #626262;
  margin-top: 3px;
}
.threeboxsList .listItem p {
  line-height: 24px;
  margin-top: 8px;
  color: #000000;
  list-style-type: disc;
}
.threeboxsList .listItem .picWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 226px;
  height: 142px;
  overflow: hidden;
}
.threeboxsList .listItem.sponsor .list_title {
  background-color: #ff7430;
}
.threeboxsList .listItem.activity p {
  margin-bottom: 12px;
  line-height: 20px;
}
.threeboxsList .listItem .subWrap {
  width: 225px;
  height: 80px;
  margin-top: 10px;
  margin-left: 5px;
}
.threeboxsList .listItem .subWrap .pic {
  width: 63px;
  height: 63px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.threeboxsList .listItem .subWrap .txt {
  float: left;
  width: 147px;
  margin-left: 12px;
}
.threeboxsList .listItem .subWrap:hover .pic {
  border: 2px solid #e4007f;
}
.threeboxsList .listItem .subWrap:hover h2 {
  color: #e4007f;
}
.threeboxsList .listItem .more {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #657e00;
}
.threeboxsList .listItem .company {
  color: #c2c2c2;
  position: absolute;
  top: 14px;
  left: 128px;
}
.threeboxsList .listItem .voteBtn {
  width: 227px;
  height: 32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #7B9807;
  text-align: center;
  line-height: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.threeboxsList .listItem .voteBtn:hover {
  background-color: #f8ffde;
}
.threeboxsList .listItem .greenBorderBtn {
  width: 226px;
  left: 15px;
  position: absolute;
  bottom: 15px;
}
.threeboxsList .listItem.bigItem .inner_bookList .bookItem {
  margin-right: 20px;
  margin-bottom: 15px;
}
.threeboxsList .listItem .picWrap2 {
  width: 226px;
  height: 142px;
  position: absolute;
  left: 15px;
  bottom: 63px;
}
.threeboxsList .listItem .inner_bookList .bookItem {
  float: left;
  position: relative;
  width: 108px;
  height: 108px;
  margin-right: 5px;
}
.threeboxsList .listItem .inner_bookList .bookItem a {
  width: 100%;
  height: 100%;
  display: block;
}
.threeboxsList .listItem .inner_bookList .bookItem .seeMoreItem {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 108px;
  text-align: center;
  color: white;
}
.threeboxsList .listItem .inner_bookList .bookItem .seeMoreItem:hover {
  color: white;
}

.manPicArticleList.withoutManPic .listItem .txtWrap {
  width: 100%;
}
.manPicArticleList.withoutManPic .listItem .txtWrap .c_info {
  margin-top: 10px;
}
.manPicArticleList.withoutManPic .listItem .txtWrap .c_info .rBox {
  width: 100%;
  margin-left: 0;
}
.manPicArticleList .listItem {
  margin-top: 25px;
  padding: 5px 0px;
  position: relative;
}
.manPicArticleList .listItem.pb_s {
  padding-bottom: 20px;
}
.manPicArticleList .listItem.sponsor {
  background-color: #f3f3f3;
}
.manPicArticleList .listItem .picWrap {
  width: 260px;
  height: 165px;
  overflow: hidden;
  float: right;
}
.manPicArticleList .listItem .txtWrap {
  float: left;
  width: 540px;
  height: 165px;
  position: relative;
}
.manPicArticleList .listItem .txtWrap .c_info {
  margin-top: 20px;
}
.manPicArticleList .listItem .txtWrap .c_info .manPicWrap {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  width: 63px;
  height: 63px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.manPicArticleList .listItem .txtWrap .c_info .rBox {
  width: 440px;
  margin-left: 15px;
  line-height: 19px;
}
.manPicArticleList .listItem .txtWrap .l_titleWrap .l_Title {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.manPicArticleList .listItem .txtWrap .l_titleWrap h1 {
  display: inline-block;
}
.manPicArticleList .listItem .txtWrap .l_titleWrap h1:hover {
  text-decoration: none;
  color: #e4007f;
}
.manPicArticleList .listItem .txtWrap p {
  margin-top: 8px;
  line-height: 28px;
  height: 50px;
  overflow: hidden;
}
.manPicArticleList .listItem .txtWrap .l_footerWrap {
  position: absolute;
  margin-top: 15px;
}
.manPicArticleList .listItem .txtWrap .l_footerWrap .socailWrap {
  display: inline-block;
  vertical-align: middle;
}
.manPicArticleList .listItem .txtWrap .l_footerWrap .socailWrap * {
  margin-right: 8px;
}
.manPicArticleList .listItem .txtWrap .l_footerWrap .tagWrap a {
  text-decoration: none;
}
.manPicArticleList .listItem .txtWrap .l_footerWrap .tagWrap a:hover {
  color: #e4007f;
}
.manPicArticleList .listItem .txtWrap .l_footerWrap .tagWrap p {
  text-decoration: none;
}
.manPicArticleList .listItem .txtWrap .sponsorCompany {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ff7430;
}
.manPicArticleList .listItem .deleteBtn {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.manPicArticleList .listItem:hover .deleteBtn {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.fiveBoxsList .listItem {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 12px;
  margin-bottom: 15px;
  width: 145px;
}
.fiveBoxsList .listItem a {
  display: block;
}
.fiveBoxsList .listItem .pic {
  width: 145px;
  height: 206px;
}
.fiveBoxsList .listItem .txtWrap {
  min-height: 50px;
}
.fiveBoxsList .listItem .deleteBtn {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.fiveBoxsList .listItem:hover .deleteBtn {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  .expertBox .seeMore {
    top: -15px;
  }
}

/*# sourceMappingURL=expert.css.map */
