/*mixin */
.orangeTag {
  padding: 0 15px;
}

#bigBanner {
  width: 100%;
  height: 260px;
  overflow: hidden;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  margin-top: 15px;
}
#bigBanner .txtWrap {
  background-image: url("../images/g/black2.png");
  width: 100%;
  height: 166px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
}
#bigBanner .txtWrap .subWrap {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
#bigBanner .txtWrap .b_title {
  font-size: 182%;
}
#bigBanner .txtWrap .b_content {
  font-size: 116%;
  margin-top: 7px;
}
#bigBanner .sponsor {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #cdcdcd;
}

.featureList {
  margin-top: 15px;
  width: 830px;
}
.featureList .listItem {
  width: 260px;
  height: 300px;
  float: left;
  border: 1px solid #CBCBCB;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.featureList .listItem:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.featureList .listItem .lBox {
  width: 260px;
  height: 300px;
  position: relative;
}
.featureList .listItem .rBox {
  width: 273px;
  height: 300px;
}
.featureList .listItem .rBox .linkList {
  padding: 0 15px;
}
.featureList .listItem .rBox .linkList li {
  border-bottom: 1px dotted #ABABAB;
  line-height: 24px;
  font-size: 108%;
  color: #373737;
}
.featureList .listItem .rBox .linkList li a {
  padding: 8px 0;
}
.featureList .listItem .rBox .linkList li.listTitle {
  color: #7B9807;
  border: none;
  font-size: 123.1%;
  margin-top: 15px;
}
.featureList .listItem .rBox .linkList li:last-child {
  border: none;
}
.featureList .listItem.bigItem {
  width: 535px;
}
.featureList .listItem .insidePic {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 227px;
  height: 140px;
}
.featureList .listItem .picWrap {
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.featureList .listItem .coverTitle {
  position: absolute;
  width: 100%;
  height: 166px;
  background-image: url("../images/g/black2.png");
  z-index: 1;
  left: 0;
  bottom: 0;
}
.featureList .listItem .coverTitle .txtWrap {
  color: white;
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 90%;
}
.featureList .listItem .coverTitle .txtWrap .sponsor {
  margin-bottom: 10px;
  color: #cdcdcd;
}
.featureList .listItem .coverTitle .txtWrap .a_title {
  font-size: 123.1%;
}
.featureList .listItem.picTxt {
  padding: 15px;
}
.featureList .listItem.picTxt .l_title a {
  display: inline;
}
.featureList .listItem.picTxt .txt {
  font-size: 108%;
}
.featureList .listItem.vote {
  padding: 50px 15px 15px 15px;
}
.featureList .listItem .greenTag {
  width: 117px;
  height: 24px;
  position: absolute;
  top: 10px;
  left: 0;
  text-align: left;
}
.featureList .listItem h1 {
  font-size: 123.1%;
  line-height: 24px;
  width: 230px;
}
.featureList .listItem p {
  font-size: 116%;
  line-height: 24px;
  margin-top: 3px;
  color: #626262;
}
.featureList .listItem .voteBtn {
  width: 227px;
  height: 32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #94b706;
  text-align: center;
  line-height: 32px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.featureList .listItem .voteBtn:hover {
  background-color: #f8ffde;
}

.compaign {
  margin: 20px 0;
}

.moreArticleWrap {
  margin-top: 30px;
}
.moreArticleWrap .m_title {
  font-size: 138.5%;
  font-weight: bold;
}
.moreArticleWrap .artileList {
  margin-top: 15px;
}
.moreArticleWrap .artileList .listItem {
  font-size: 116%;
  border-bottom: 1px dotted #000;
  list-style-type: disc;
  margin-left: 25px;
  padding: 8px 0;
}
.moreArticleWrap .artileList .listItem a {
  display: inline;
}
.moreArticleWrap .showMoreBtn {
  width: 100%;
  height: 40px;
  background-color: #e0e0e0;
  line-height: 40px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}
.moreArticleWrap .showMoreBtn:hover {
  background-color: #CBCBCB;
}

.preFeatureBox {
  position: relative;
  margin-top: 20px;
}
.preFeatureBox .more {
  position: absolute;
  right: 0px;
  top: 5px;
}

@media screen and (max-width: 1140px) {
  .featureList {
    width: 560px;
  }
}

/*# sourceMappingURL=feature.css.map */
