/*mixin */
.orangeTag {
  padding: 0 15px;
}

.featureList {
  margin-top: 15px;
  width: 830px;
}
.featureList .listItem {
  width: 260px;
  height: 300px;
  float: left;
  border: 1px solid #CBCBCB;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.featureList .listItem.bigItem {
  width: 535px;
}
.featureList .listItem:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.featureList .listItem .picWrap {
  position: absolute;
  width: 100%;
  height: 300px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.featureList .listItem .coverTitle {
  position: absolute;
  width: 100%;
  height: 166px;
  background-image: url("../images/g/black2.png");
  z-index: 1;
  left: 0;
  bottom: 0;
}
.featureList .listItem .coverTitle .txtWrap {
  color: white;
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 90%;
}
.featureList .listItem .coverTitle .txtWrap .sponsor {
  margin-bottom: 10px;
  color: #cdcdcd;
}
.featureList .listItem .coverTitle .txtWrap .a_title {
  font-size: 123.1%;
}

@media screen and (max-width: 1140px) {
  .featureList {
    width: 560px;
  }
}

/*# sourceMappingURL=featureList.css.map */
