@charset "UTF-8";
/*mixin */
/*global_css */
html {
  font-family: "Microsoft JhengHei", "STHeiti Light", "STHeiti", Arial, sans-serif;
  font-size: 0.875em;
  -webkit-text-size-adjust: 0.875em;
  -ms-text-size-adjust: 0.875em;
}

img {
  max-height: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

.ta_c {
  text-align: center;
}

.ta_l {
  text-align: left;
}

.ta_r {
  text-align: right;
}

.sr-only {
  font-size: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
  width: 0 !important;
  position: absolute !important;
}

.fullDiv {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.fullDiv:hover {
  text-decoration: none;
}
.fullDiv ul {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 100%;
}
.fullDiv ul li {
  margin-bottom: 10px;
  color: #626262;
  list-style-type: disc;
}
.fullDiv ul li a {
  color: #626262;
  text-decoration: none;
}
.fullDiv ul li a:hover {
  color: #e4007f;
}

.flDiv {
  float: left;
}

.frDiv {
  float: right;
}

.ov_h {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.roundDiv {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}

a.txtLink {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  display: inline-block;
}
a.txtLink:hover {
  text-decoration: none;
  color: #e4007f;
}

.shadow {
  -moz-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.8);
  -webkit-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.8);
  box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.8);
}

.wideBlock {
  width: 1140px;
  position: relative;
}

.box_title {
  font-size: 138.5%;
  font-weight: bold;
}

.centerBlock {
  margin: 0 auto;
}

.coverPic {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.containPic {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.gBg {
  background-color: #fffff1;
}

.lBox {
  float: left;
}

.rBox {
  float: left;
}

.dicsList {
  list-style-type: disc;
  padding-left: 25px;
}

input[type=text], input[type=password] {
  padding: 0px 5px;
}

.loadingBtn {
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.loadingBtn:after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/g/loading.gif");
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.dotLine {
  margin-top: 15px;
  width: 100%;
  height: 0;
  border-bottom: 1px dotted #ABABAB;
}

.pinkLine {
  width: 100%;
  height: 1px;
  background-color: #e4007f;
}

.grayLine {
  width: 100%;
  height: 1px;
  background-color: #CBCBCB;
}

.greenTxt {
  color: #7B9807;
}
.greenTxt:hover {
  color: #7B9807;
  text-decoration: none;
}

.pinkTxt {
  color: #e4007f;
}
.pinkTxt:hover {
  color: #e4007f;
  text-decoration: none;
}

.pinkLink {
  color: #e4007f;
  text-decoration: underline;
  cursor: pointer;
}
.pinkLink:hover {
  color: #e4007f;
}

.blackTxt {
  color: #000;
}

.grayTxt {
  color: #626262;
}

.grayTxt_37 {
  color: #373737;
}

.orangeTxt {
  color: #ff7430;
}

.pageTitle {
  font-size: 182%;
  margin: 20px 0 20px;
  font-weight: bold;
}

.picRoundWrap {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.noBorder {
  border: none !important;
}

.g_tabWrap {
  margin-top: 35px;
  border-bottom: 3px solid #e4007f;
}
.g_tabWrap .tabItem {
  float: left;
  height: 28px;
  background-color: #f2f2f2;
  line-height: 28px;
  color: black;
  cursor: pointer;
}
.g_tabWrap .tabItem a {
  padding: 0 15px;
}
.g_tabWrap .tabItem.active {
  color: white;
  background-color: #e4007f;
}
.g_tabWrap .tabItem:hover {
  color: white;
  background-color: #e4007f;
}

.grayBorder {
  border: 1px solid #cbcbcb;
}

.pBox {
  padding: 20px;
}

.tealTag {
  height: 24px;
  color: white;
  line-height: 24px;
  text-align: center;
  font-size: 116%;
  display: inline-block;
  margin-right: 5px;
  font-size: 108%;
  z-index: 10;
  position: relative;
  background-color: #00aeb2;
}
.tealTag a {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.tealTag a:hover {
  text-decoration: none;
}

.greenTag {
  height: 24px;
  color: white;
  line-height: 24px;
  text-align: center;
  font-size: 116%;
  display: inline-block;
  margin-right: 5px;
  font-size: 108%;
  z-index: 10;
  position: relative;
  background-color: #94b706;
}
.greenTag a {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.greenTag a:hover {
  text-decoration: none;
}

.grayTag {
  height: 24px;
  color: white;
  line-height: 24px;
  text-align: center;
  font-size: 116%;
  display: inline-block;
  margin-right: 5px;
  font-size: 108%;
  z-index: 10;
  position: relative;
  background-color: #ABABAB;
}
.grayTag a {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.grayTag a:hover {
  text-decoration: none;
}

.orangeTag {
  height: 24px;
  color: white;
  line-height: 24px;
  text-align: center;
  font-size: 116%;
  display: inline-block;
  margin-right: 5px;
  font-size: 108%;
  z-index: 10;
  position: relative;
  background-color: #ff7430;
}
.orangeTag a {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.orangeTag a:hover {
  text-decoration: none;
}

#blackForHeaderPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/g/black.png");
  z-index: 30;
}

#header {
  width: 100%;
  background-color: #e4007f;
  font-size: 1.1rem;
  height: 113px;
  position: relative;
  z-index: 20000;
}
#header .wideBlock {
  height: 113px;
}
#header .mainLogo {
  padding: 0;
  height: 113px;
  overflow: hidden;
}
#header .mainLogo img {
  vertical-align: bottom;
}
#header .header_rWrap {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
#header .header_rWrap .searchBar {
  border: 1px solid #b0a4ab;
  overflow: auto;
  float: left;
  margin-right: 12px;
}
#header .header_rWrap .searchBar #siteSearch {
  width: 185px;
  height: 27px;
  float: left;
  border: none;
  line-height: 27px;
}
#header .header_rWrap .searchBar .searchBtn {
  width: 29px;
  height: 27px;
  background: url("../images/g/searchIcon.png");
  float: left;
  cursor: pointer;
}
#header .header_rWrap .loginBox {
  float: left;
  color: #fff;
}
#header .header_rWrap .loginBox .unLoginWrap {
  line-height: 27px;
}
#header .header_rWrap .loginBox .unLoginWrap a {
  color: #fff;
}
#header .header_rWrap .loginBox .onLoginWrap {
  line-height: 27px;
  cursor: pointer;
}
#header .header_rWrap .loginBox .onLoginWrap .memberName {
  float: left;
  margin-right: 5px;
}
#header .header_rWrap .loginBox .onLoginWrap .coinNum {
  float: left;
  margin-right: 10px;
  color: #f0ff00;
  cursor: pointer;
}
#header .header_rWrap .loginBox .onLoginWrap .coinNum:hover {
  text-decoration: underline;
}
#header .header_rWrap .loginBox .onLoginWrap .icon_notice {
  cursor: pointer;
}
#header .headpopWrap {
  position: absolute;
  width: 352px;
  right: 0;
  top: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.8);
  -webkit-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.8);
  box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.8);
  padding: 30px 35px;
  background-color: white;
  z-index: 50;
}
#header .headpopWrap .clozBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/g/clozBtn.png");
  cursor: pointer;
}
#header .headpopWrap .clozBtn:hover {
  background-position: 0 -20px;
}
#header .coinStatus .p_title {
  font-size: 153.9%;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 15px;
}
#header .coinStatus .icon_redHeart {
  margin-right: 5px;
}
#header .coinStatus .txt {
  font-size: 118%;
  margin-bottom: 5px;
}
#header .coinStatus .txt .pinkTxt {
  font-weight: bold;
  margin-left: 3px;
}
#header .coinStatus .txt .coinNum {
  font-size: 153.9%;
}
#header .coinStatus .txt .articleNum {
  font-size: 153.9%;
}
#header .coinStatus .logoutBtn {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
#header .followStatus .p_title {
  font-size: 153.9%;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 15px;
}
#header .followStatus .h_followList .listItem {
  width: 100%;
  height: 104px;
  padding: 15px 0;
  border-bottom: 1px dotted #000;
}
#header .followStatus .h_followList .listItem .picWrap {
  width: 100px;
  height: 70px;
  border: 1px solid #CBCBCB;
  float: left;
  margin-right: 15px;
}
#header .followStatus .h_followList .listItem .txtWrap {
  overflow: hidden;
}
#header .followStatus .h_followList .listItem .txtWrap .grayTxt {
  font-size: 116%;
  margin-top: 5px;
  line-height: 20px;
}
#header .followStatus .h_moreFollow {
  float: right;
  margin-top: 10px;
}
#header .followStatus .no_followTxt {
  font-size: 116%;
  line-height: 24px;
}
#header .followStatus .no_followTxt .pinkTxt {
  font-size: 116%;
  font-weight: bold;
}
#header .followStatus .no_followTxt .pinkTxt .coinNum {
  font-size: 116%;
}
#header .followStatus .h_followNowBtn {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  font-size: 116%;
}

#pageNav {
  width: 100%;
  background-color: #94b706;
  height: 42px;
  color: white;
  position: relative;
  z-index: 10000;
}
#pageNav.fixNav {
  position: fixed;
  top: 0;
  left: 0;
  -moz-box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.3);
  -webkit-box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.3);
  box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.3);
}
#pageNav .centerBlock {
  height: 42px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -570px;
  width: 1120px;
}
#pageNav ul .navItem {
  float: left;
  position: relative;
  height: 42px;
}
#pageNav ul .navItem .liWrap {
  border-left: 1px solid #7B9807;
  height: 28px;
  margin-top: 7px;
  padding: 0px 15px;
  text-align: center;
}
#pageNav ul .navItem .liWrap a {
  padding: 0;
  font-size: 108%;
  line-height: 28px;
}
#pageNav ul .navItem .liWrap a:hover {
  text-decoration: none;
}
#pageNav ul .m1 .liWrap {
  border-left: none;
}
#pageNav ul .navItem:hover {
  background-color: white;
}
#pageNav ul .navItem:hover .liWrap {
  border-left: none;
}
#pageNav ul .navItem:hover .liWrap a {
  color: #e4007f;
  border-bottom: 1px solid #94b706;
}
#pageNav ul .navItem:hover .subMenuBox {
  display: block;
}
#pageNav .subMenuBox {
  display: none;
  position: absolute;
  background-color: white;
  top: 42px;
  left: -3px;
  width: 550px;
  border: 3px solid #94b706;
  border-top: none;
  padding: 20px 20px;
}
#pageNav .subMenuBox.goLeft {
  left: auto;
  right: -3px;
}
#pageNav .subMenuBox .lWrap {
  width: 225px;
  float: left;
}
#pageNav .subMenuBox .lWrap ul li {
  float: left;
  border-top: 1px dotted #ABABAB;
  list-style-type: disc;
  font-size: 115%;
  height: 33px;
  line-height: 42px;
  width: 100%;
  color: #626262;
  padding-left: 15px;
  padding-bottom: 40px;
  list-style-position: inside;
}
#pageNav .subMenuBox .lWrap ul li a {
  display: inline;
  padding: 0;
}
#pageNav .subMenuBox .lWrap ul li.first {
  border-top: none;
}
#pageNav .subMenuBox .rWarp {
  float: left;
  width: 226px;
  margin-left: 40px;
}
#pageNav .subMenuBox .rWarp .picWrap {
  width: 226px;
  height: 142px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
#pageNav .subMenuBox .rWarp .picWrap img {
  width: 100%;
  height: auto;
}
#pageNav .subMenuBox .rWarp .subMenuPicTxt a {
  color: #e4007f;
  width: 100%;
  text-memberBoxalign: center;
  font-size: 116%;
  display: block;
}

.pageSwitchers {
  margin: 50px auto;
  text-align: center;
}
.pageSwitchers li {
  width: 35px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ABABAB;
  color: #ABABAB;
  cursor: pointer;
  display: inline-block;
  font-size: 116%;
  margin-right: 5px;
}
.pageSwitchers li a {
  display: block;
  width: 100%;
  height: 100%;
}
.pageSwitchers li a:hover {
  text-decoration: none;
}
.pageSwitchers li.longBtn {
  width: 75px;
}
.pageSwitchers li.active {
  border: 1px solid #e4007f;
  color: #e4007f;
}
.pageSwitchers li:hover {
  border: 1px solid #e4007f;
  color: #e4007f;
}
.pageSwitchers li.b_next {
  border: 1px solid #e4007f;
  color: #e4007f;
}

#adNav {
  height: 50px;
  overflow: hidden;
}
#adNav > ul > li {
  width: 284px;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 108%;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#adNav > ul > li a {
  color: black;
}

#mainContainer {
  float: left;
  width: 810px;
}

.ad {
  margin: 30px auto;
}

.ad_800x100 {
  width: 800px;
  height: 100px;
  margin-top: 15px;
}

.ad_300x250 {
  width: 300px;
  height: 250px;
  margin-top: 15px;
}

.ad_300x100 {
  width: 300px;
  height: 100px;
  margin-top: 15px;
}

.pinkBtn {
  height: 21px;
  background-color: #e4007f;
  text-align: center;
  line-height: 21px;
  color: white;
  border: 0;
  cursor: pointer;
}
.pinkBtn:hover {
  background-color: #f11a91;
  color: white;
  text-decoration: none;
}

.pink-mBtn {
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  color: white;
  background-color: #e4007f;
  cursor: pointer;
  display: block;
}
.pink-mBtn:hover {
  color: white;
  background-color: #f11a91;
  text-decoration: none;
}

.pink-sBtn {
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  color: white;
  background-color: #e4007f;
  cursor: pointer;
  display: block;
}
.pink-sBtn:hover {
  color: white;
  background-color: #f11a91;
  text-decoration: none;
}

.grayBtn-mBtn {
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  color: white;
  background-color: #bcbcbc;
  cursor: pointer;
  display: block;
}
.grayBtn-mBtn:hover {
  color: white;
  background-color: #c8c7c7;
  text-decoration: none;
}

.grayBtn-sBtn {
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  color: white;
  background-color: #bcbcbc;
  cursor: pointer;
  display: block;
}
.grayBtn-sBtn:hover {
  color: white;
  background-color: #c8c7c7;
  text-decoration: none;
}

.greenBtn {
  height: 21px;
  background-color: #94b706;
  text-align: center;
  line-height: 21px;
  color: white;
  border: 0;
  cursor: pointer;
}
.greenBtn:hover {
  background-color: #9ec20b;
  color: white;
}

.pinkBorderBtn {
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 28px;
  color: #e4007f;
  cursor: pointer;
  display: block;
}
.pinkBorderBtn:hover {
  background-color: #e4007f;
  color: white;
  text-decoration: none;
  color: white;
}
.pinkBorderBtn.active {
  background-color: #e4007f;
  color: white;
}

.greenBorderBtn {
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #94b706;
  text-align: center;
  line-height: 28px;
  color: #94b706;
  cursor: pointer;
}
.greenBorderBtn:hover {
  background-color: #94b706;
  color: white;
  text-decoration: none;
}
.greenBorderBtn.active {
  background-color: #94b706;
  color: white;
}

.oranBorderBtn {
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ff7430;
  text-align: center;
  line-height: 28px;
  color: #ff7430;
  cursor: pointer;
}
.oranBorderBtn:hover {
  background-color: #ff7430;
  color: white;
  text-decoration: none;
}
.oranBorderBtn.active {
  background-color: #ff7430;
  color: white;
  text-decoration: none;
}

.blueBtn {
  height: 21px;
  background-color: #3b579d;
  text-align: center;
  line-height: 21px;
  color: white;
  border: 0;
  cursor: pointer;
}
.blueBtn:hover {
  background-color: #4f6cb6;
}

.greenBorderbBtn {
  float: left;
  margin-right: 10px;
  margin-bottom: 8px;
  width: 150px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #94b706;
  text-align: center;
  line-height: 28px;
  color: #94b706;
  cursor: pointer;
}
.greenBorderbBtn:hover {
  background-color: #94b706;
  color: white;
  text-decoration: none;
}
.greenBorderbBtn.active {
  background-color: #94b706;
  color: white;
}

.popPage {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
}
.popPage .container {
  position: absolute;
  width: 385px;
  padding: 40px 87px 0px;
  background-color: white;
  z-index: 9999;
}
.popPage .fbBtn {
  width: 212px;
  height: 35px;
  background: url("../images/g/fbBtn.png");
  cursor: pointer;
}
.popPage .fbBtn:hover {
  background-position: 0 -100%;
}
.popPage .titleWrap {
  text-align: center;
}
.popPage .titleWrap .logo {
  display: inline-block;
  margin-bottom: 0;
}
.popPage .titleWrap .pinkTxt {
  font-size: 167%;
}
.popPage .logo {
  width: 106px;
  height: 33px;
  background: url("../images/g/logo_106x33.png");
  margin: 0 auto 40px;
}
.popPage input[type=text], .popPage input[type=password] {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #CBCBCB;
}
.popPage input[type=checkbox] {
  margin-right: 5px;
  vertical-align: sub;
}
.popPage .clozBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/g/clozBtn.png");
  cursor: pointer;
}
.popPage .clozBtn:hover {
  background-position: 0 -20px;
}
.popPage .inputWrap {
  width: 100%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #CBCBCB;
  overflow: hidden;
}
.popPage .inputWrap input.noBorder {
  border: none;
}
.popPage .pinkBtn {
  height: 33px;
  width: 100%;
  font-size: 116%;
  line-height: 33px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.popPage .cTxt {
  text-align: center;
}
.popPage .lTxt {
  text-align: left;
}

#pop_loginBox .container .cTxt {
  margin-top: 30px;
}
#pop_loginBox .container input[name=account] {
  background: url("../images/g/loginIcon.png") 0px 0px no-repeat;
  padding-left: 37px;
}
#pop_loginBox .container input[name=password] {
  background: url("../images/g/loginIcon.png") 0px -35px no-repeat;
  padding-left: 37px;
}
#pop_loginBox .container .mBtnWrap {
  margin-top: 15px;
}
#pop_loginBox .container .inputWrap {
  margin-top: 20px;
  margin-bottom: 5px;
}

#pop_signIn_1 .logo {
  margin-bottom: 20px;
}
#pop_signIn_1 .pinkBtn {
  width: 100%;
}
#pop_signIn_1 .txt {
  margin: 15px auto 10px;
  text-align: center;
  width: 312px;
  margin-left: -50px;
  font-size: 13px;
}
#pop_signIn_1 .notice {
  margin-top: 15px;
}
#pop_signIn_1 a {
  text-decoration: underline;
}

#pop_noEmail .container .txt {
  font-size: 116%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
#pop_noEmail .container .pinkBtn {
  margin-top: 10px;
  width: 100%;
}

#pop_signIn_2 .container {
  padding: 40px 40px;
}
#pop_signIn_2 .container .logo {
  margin-bottom: 5px;
}
#pop_signIn_2 .container p {
  margin-bottom: 20px;
  font-size: 116%;
}
#pop_signIn_2 .container .pinkBtn {
  width: 200px;
  margin: 27px auto 0;
}
#pop_signIn_2 .container .cTxt {
  margin-bottom: 20px;
}

#pop_thx .container .logo {
  margin-bottom: 5px;
}
#pop_thx .container .cTxt.pinkTxt {
  font-size: 123.1%;
  margin-bottom: 20px;
}
#pop_thx .container .cTxt {
  margin-bottom: 10px;
}
#pop_thx .container .pinkBtn {
  margin-top: 30px;
}
#pop_thx .container a {
  text-align: right;
  float: right;
  margin-top: 10px;
  text-decoration: underline;
}

#pop_signIn_3 .container {
  padding: 40px 27px 0px;
}
#pop_signIn_3 .txt {
  text-align: center;
  margin: 15px 0px 20px 0px;
  font-size: 116%;
}
#pop_signIn_3 .dotLine {
  margin-bottom: 15px;
}
#pop_signIn_3 .chooseBox {
  margin-bottom: 10px;
}
#pop_signIn_3 .chooseBox .c_tilte {
  float: left;
  width: 68px;
  font-size: 116%;
}
#pop_signIn_3 .chooseBox .chooseWrap {
  float: left;
  width: 260px;
}
#pop_signIn_3 .chooseBox .chooseWrap input[type=radio] {
  display: none;
}
#pop_signIn_3 .chooseBox .chooseWrap input[type=radio] + label {
  width: 57px;
  height: 21px;
  line-height: 21px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #e4007f;
  border: 1px solid #e4007f;
  margin-right: 5px;
  text-align: center;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
}
#pop_signIn_3 .chooseBox .chooseWrap input[type=radio]:checked + label {
  border: 0;
  background-color: #e4007f;
  color: white;
}
#pop_signIn_3 .sendBtn {
  width: 120px;
  height: 35px;
  color: white;
  background-color: #e4007f;
  line-height: 35px;
  text-align: center;
  margin-left: 10px;
  font-size: 116%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  border: none;
}
#pop_signIn_3 .sendBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  text-decoration: none;
}
#pop_signIn_3 .childWrap {
  height: 154px;
  width: 100%;
  overflow-y: auto;
  display: none;
}
#pop_signIn_3 .childWrap .chooseWrap {
  width: 245px;
}
#pop_signIn_3 .btnWrap {
  position: absolute;
  bottom: 40px;
}
#pop_signIn_3 a {
  text-decoration: underline;
  margin-left: 10px;
}
#pop_signIn_3 .pinkBtn {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
}
#pop_signIn_3 .selectWrap {
  float: left;
  height: 21px;
  margin-right: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e4007f;
  position: relative;
  background: url("../images/g/dropDownIcon.png") no-repeat;
  background-position: center right;
}
#pop_signIn_3 .selectWrap.yWrap {
  width: 120px;
}
#pop_signIn_3 .selectWrap.mWrap {
  width: 73px;
}
#pop_signIn_3 .dropDown {
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  padding-left: 8px;
}
#pop_signIn_3 .dropDown.year-select {
  width: 148px;
}
#pop_signIn_3 .dropDown.month-select {
  width: 101px;
}
#pop_signIn_3 .dropDown:focus {
  border: 0;
}

#pop_verifyEmail .container {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 0;
}
#pop_verifyEmail .container .popTitle {
  width: 100%;
  height: 60px;
  background-color: #e4007f;
  color: white;
  padding: 12px 20px;
  font-size: 153.9%;
  margin-bottom: 30px;
}
#pop_verifyEmail .container .txt {
  width: 200px;
  font-size: 116%;
  text-align: left;
  margin: 0px auto 20px;
}
#pop_verifyEmail .container .pinkBtn {
  width: 200px;
  margin: 0 auto 30px;
}
#pop_verifyEmail .container .grayTxt {
  width: 350px;
  margin: 0 auto 20px;
  text-align: center;
}
#pop_verifyEmail .container .p_footer {
  background-color: #cecece;
  padding: 10px 20px;
}

#pop_shareToMail {
  font-size: 108%;
}
#pop_shareToMail .container {
  width: 300px;
  height: 400px;
  background-color: white;
  padding: 15px;
  margin: 50px;
}
#pop_shareToMail .container .title .icon_mail {
  float: left;
}
#pop_shareToMail .container .title .pinkTxt {
  font-size: 153.9%;
  font-weight: bold;
  float: left;
  margin-top: 5px;
  margin-left: 3px;
}
#pop_shareToMail .container .inputWrap {
  margin-top: 20px;
  margin-bottom: 5px;
}
#pop_shareToMail .container .shareTxt {
  padding: 10px;
}

.colorBoxPage .container {
  position: relative;
  padding: 15px;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.colorBoxPage .container .clozBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/g/clozBtn.png");
  cursor: pointer;
}
.colorBoxPage .container .clozBtn:hover {
  background-position: 0 -20px;
}
.colorBoxPage .container .cb_title {
  color: #e4007f;
  font-size: 116%;
  margin: 15px 0;
}
.colorBoxPage .container form {
  margin: 15px 0px 15px 0px;
}

form .checkboxWrap {
  position: relative;
  display: block;
  margin: 10px 0;
}
form .checkboxWrap label {
  cursor: pointer;
  min-height: 20px;
  padding-left: 20px;
  display: inline-block;
}
form .checkboxWrap label input[type='checkbox'] {
  position: absolute;
  margin-left: -20px;
}
form .radioWrap {
  position: relative;
  display: block;
  margin: 10px 0;
}
form .radioWrap label {
  cursor: pointer;
  min-height: 20px;
  padding-left: 20px;
  display: inline-block;
}
form .radioWrap label input[type='radio'] {
  position: absolute;
  margin-left: -20px;
}
form input[type='submit'] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
}

#cboxLoadedContent .hide {
  display: block;
}

#cboxClose {
  display: none;
}

#parentOnlineBookStore {
  position: relative;
  margin-top: 35px;
}
#parentOnlineBookStore .containerTitle {
  font-size: 138.5%;
}
#parentOnlineBookStore .more {
  position: absolute;
  right: 0px;
  top: 5px;
}
#parentOnlineBookStore .bookWrap {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#parentOnlineBookStore .leftRightBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#parentOnlineBookStore .leftRightBtn .btn {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 150px;
  background-image: url("../images/g/arrBtn.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  cursor: pointer;
}
#parentOnlineBookStore .leftRightBtn .btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#parentOnlineBookStore .leftRightBtn .lBtn {
  left: 0;
}
#parentOnlineBookStore .leftRightBtn .rBtn {
  right: 0;
  background-position: -49px 0;
}
#parentOnlineBookStore .cwbookList {
  width: 9999px;
  position: relative;
  left: 0;
  padding-top: 15px;
}
#parentOnlineBookStore .cwbookList .listItem {
  width: 260px;
  height: 280px;
  border: 1px solid #CBCBCB;
  margin: 0px 15px 15px 0px;
  position: relative;
  float: left;
  padding: 35px 15px 15px 15px;
}
#parentOnlineBookStore .cwbookList .listItem:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
#parentOnlineBookStore .cwbookList .listItem .containPic {
  width: 160px;
  height: 187px;
  margin: 10px auto 0px auto;
}
#parentOnlineBookStore .cwbookList .listItem .list_title {
  width: 117px;
  height: 24px;
  background-color: #e4007f;
  color: white;
  font-size: 108%;
  line-height: 24px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10;
}
#parentOnlineBookStore .cwbookList .listItem .list_title a {
  display: block;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}
#parentOnlineBookStore .cwbookList .listItem .list_title a:hover {
  text-decoration: none;
}
#parentOnlineBookStore .cwbookList .listItem .coverTitle {
  position: absolute;
  background-image: url("../images/g/black.png");
  width: 100%;
  height: 56px;
  color: white;
  font-size: 123.1%;
  padding: 0 20px;
  left: 0;
  bottom: 0;
}
#parentOnlineBookStore .cwbookList .listItem .coverTitle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#parentOnlineBookStore .cwbookList .listItem .coverTitle .txt {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
#parentOnlineBookStore .cwbookList .listItem .bgPic {
  position: absolute;
  left: 0;
  top: 0;
}

.dotSwitchers {
  margin: 20px auto;
  text-align: center;
}
.dotSwitchers li {
  width: 12px;
  height: 12px;
  background-image: url("../images/g/switchDot.png");
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  background-position: 0px -12px;
}
.dotSwitchers li.active {
  background-position: 0px 0;
}
.dotSwitchers li:hover {
  background-position: 0px 0;
}

#ParentCommentPOImg {
  position: relative;
  width: 430px;
  height: 100px;
  float: left;
  margin-left: 20px;
}
#ParentCommentPOImg .bookWrap {
  padding: 0;
  width: 75%;
  position: relative;
  overflow: hidden;
  margin: auto 55px;
  height: 100px;
}
#ParentCommentPOImg .leftRightBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#ParentCommentPOImg .leftRightBtn .btn {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 28px;
  background-image: url("../images/g/postBtn.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  cursor: pointer;
}
#ParentCommentPOImg .leftRightBtn .btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#ParentCommentPOImg .leftRightBtn .lBtn {
  left: 0;
}
#ParentCommentPOImg .leftRightBtn .rBtn {
  right: 0;
  background-position: -49px 0;
}
#ParentCommentPOImg .commentimgList {
  width: 9999px;
  position: relative;
  left: 0;
  list-style: none;
}
#ParentCommentPOImg .commentimgList .listItem {
  width: 65px;
  height: 74px;
  position: relative;
  float: left;
  list-style: none;
}
#ParentCommentPOImg .commentimgList .listItem:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
#ParentCommentPOImg .commentimgList .listItem .containPic {
  width: 160px;
  height: 187px;
  margin: 10px auto 0px auto;
}
#ParentCommentPOImg .commentimgList .listItem .list_title {
  width: 117px;
  height: 24px;
  background-color: #e4007f;
  color: white;
  font-size: 108%;
  line-height: 24px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10;
}
#ParentCommentPOImg .commentimgList .listItem .list_title a {
  display: block;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}
#ParentCommentPOImg .commentimgList .listItem .list_title a:hover {
  text-decoration: none;
}
#ParentCommentPOImg .commentimgList .listItem .coverTitle {
  position: absolute;
  background-image: url("../images/g/black.png");
  width: 100%;
  height: 56px;
  color: white;
  font-size: 123.1%;
  padding: 0 20px;
  left: 0;
  bottom: 0;
}
#ParentCommentPOImg .commentimgList .listItem .coverTitle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#ParentCommentPOImg .commentimgList .listItem .containPic {
  margin: 0px auto;
}
#ParentCommentPOImg .commentimgList .listItem .containAlt {
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  margin-left: 20px;
}

#memberBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  border-left: 1px solid #CBCBCB;
  border-right: 1px solid #CBCBCB;
  padding: 13px;
}
#memberBar .picWrap {
  width: 193px;
  height: 193px;
  border: 1px solid #CBCBCB;
  position: relative;
  cursor: pointer;
}
#memberBar .picWrap .editBtn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: none;
  width: 35px;
  height: 28px;
  background: url("../images/g/camara.png");
}
#memberBar .picWrap:hover .editBtn {
  display: block;
}
#memberBar .memberNav {
  margin-top: 10px;
}
#memberBar .memberNav .navItem {
  background: url("../images/g/icon.png") no-repeat;
  background-position: -35px -26px;
  padding-left: 23px;
  font-size: 116%;
  color: #4e4e4e;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  vertical-align: middle;
}
#memberBar .memberNav .navItem.active {
  font-weight: bold;
}

#memberContent {
  position: relative;
  top: 0;
  left: 239px;
  width: 900px;
  min-height: 660px;
  margin-left: 19px;
}
#memberContent .contentTitle {
  font-size: 153.9%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.dealWrap {
  height: 56px;
  position: relative;
  margin-top: 15px;
  line-height: 37px;
}
.dealWrap .btnWrap {
  height: 56px;
  position: relative;
}
.dealWrap .shareTxt {
  z-index: 2000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 105px;
  text-align: center;
  margin-bottom: -11px;
}
.dealWrap .iWrap {
  width: 60px;
  height: 65px;
  float: left;
  position: relative;
}
.dealWrap .iWrap .icon {
  margin: 0 auto;
  vertical-align: bottom;
}
.dealWrap .iWrap .txt {
  text-align: center;
  color: #626262;
  line-height: 27px;
}
.dealWrap .iWrap.more:hover .icon_cMore {
  background-position: -47px -121px;
}
.dealWrap .iWrap.more:hover .shareBox {
  display: block;
}
.dealWrap .hLine {
  width: 1px;
  height: 55px;
  background-color: #CBCBCB;
  float: left;
  margin: 0 15px 0 0px;
}
.dealWrap .shareBox {
  display: none;
  position: absolute;
  width: 133px;
  padding: 7px;
  background-color: white;
  border: 1px solid #CBCBCB;
  top: 65px;
  right: 5px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  z-index: 20000;
}
.dealWrap .shareBox .dotLine {
  margin: 5px 0px;
}
.dealWrap .shareBox .listItem {
  padding: 0 11px;
  height: 40px;
  cursor: pointer;
}
.dealWrap .shareBox .listItem:hover .txt {
  font-weight: bold;
}
.dealWrap .shareBox .listItem .icon {
  display: inline-block;
}
.dealWrap .shareBox .listItem .txt {
  display: inline-block;
  font-size: 116%;
  margin-left: 5px;
}

.findArticleBox {
  width: 100%;
  padding: 28px 120px 0px;
  height: 100px;
  background-color: #94b706;
}
.findArticleBox .searchBar {
  width: 100%;
}
.findArticleBox .searchBar input[type=text] {
  text-align: center;
  padding: 0 10px;
  height: 25px;
  float: left;
  width: 534px;
  border: 0;
}
.findArticleBox .searchBar .searchBtn {
  width: 31px;
  height: 26px;
  background: url("../images/g/searchIcon_pink.png");
  float: left;
  cursor: pointer;
  border: 0;
}
.findArticleBox .tagBtn {
  margin-top: 8px;
}
.findArticleBox .tagBtn li {
  float: left;
  color: white;
  margin-right: 10px;
}

.discussBox {
  position: relative;
  margin-top: 25px;
  padding: 15px;
}
.discussBox .boxTitle {
  margin-bottom: 5px;
}
.discussBox .joinTalkBox {
  border-top: 1px solid #ABABAB;
  padding-top: 30px;
}
.discussBox .joinTalkBox .picWrap {
  height: 63px;
  width: 63px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.discussBox .joinTalkBox .lWrap {
  overflow: hidden;
  padding-left: 20px;
}
.discussBox .joinTalkBox .lWrap textarea {
  width: 100%;
  height: 70px;
  line-height: 20px;
  padding: 10px 10px;
  border: 1px solid #CBCBCB;
}
.discussBox .joinTalkBox .lWrap .t_name {
  margin-bottom: 10px;
}
.discussBox .joinTalkBox .lWrap .pinkBtn {
  width: 150px;
  height: 27px;
  line-height: 27px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
}
.discussBox .talkNum {
  font-size: 123.1%;
  margin-bottom: 10px;
  color: #626262;
}
.discussBox .boxTitle {
  font-size: 138.5%;
}
.discussBox .tips {
  position: absolute;
  top: 0;
  right: 0;
}
.discussBox .talkList {
  padding-left: 10px;
  padding-top: 5px;
}
.discussBox .talkList .talkItem {
  margin-top: 15px;
}
.discussBox .talkList .talkItem .picWrap {
  height: 63px;
  width: 63px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.discussBox .talkList .talkItem .txtWrap {
  overflow: hidden;
  padding-left: 20px;
  min-height: 70px;
  padding-top: 5px;
}
.discussBox .talkList .talkItem .txtWrap .t_time {
  color: #9a9a9a;
  margin-left: 10px;
  font-size: 80%;
}
.discussBox .talkList .talkItem .txtWrap .content {
  margin-top: 5px;
}
.discussBox .talkList .talkItem .txtWrap .content img {
  width: 100px;
  height: auto;
}
.discussBox .talkBox {
  background-color: #e6efc2;
  padding: 15px 10px;
}
.discussBox .talkBox .picWrap {
  height: 63px;
  width: 63px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.discussBox .talkBox form {
  position: relative;
  margin-top: 14px;
}
.discussBox .talkBox form input[type='text'] {
  height: 35px;
  width: 580px;
  line-height: 35px;
  padding: 0 15px;
  border: 1px solid #CBCBCB;
}
.discussBox .talkBox form input[type='submit'] {
  width: 80px;
  height: 35px;
}
.discussBox .talkList .talkItem {
  position: relative;
}
.discussBox .talkList .talkItem .reportBtn {
  display: none;
  position: absolute;
  right: 0;
  top: 0px;
}
.discussBox .talkList .talkItem:hover .reportBtn {
  display: block;
}
.discussBox .talkList .talkItem .txtWrap .t_commentBox {
  margin-top: 5px;
}
.discussBox .talkList .talkItem .txtWrap .t_commentBox .gHeart {
  margin-right: 0;
  margin-left: 5px;
}
.discussBox .subTalkList .talkItem .txtWrap {
  border-left: 1px solid #CBCBCB;
  margin-left: 84px;
}
.discussBox .subTalkList .talkBox {
  padding: 0;
  background: none;
  margin-top: 15px;
  overflow: auto;
}
.discussBox .subTalkList .talkBox input[type='text'] {
  width: 500px;
}

.fwb {
  font-weight: bold;
}

.alphaBtn {
  cursor: pointer;
}
.alphaBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.blackBg {
  background-image: url("../images/g/black.png");
}

.f10 {
  font-size: 77%;
}

.f11 {
  font-size: 85%;
}

.f12 {
  font-size: 93%;
}

.f13 {
  font-size: 100%;
}

.f14 {
  font-size: 108%;
}

.f15 {
  font-size: 116%;
}

.f16 {
  font-size: 123.1%;
}

.f17 {
  font-size: 130.8%;
}

.f18 {
  font-size: 138.5%;
}

.f19 {
  font-size: 146.5%;
}

.f24 {
  font-size: 162.5%;
}

.f20 {
  font-size: 125%;
}

.f22 {
  font-size: 137.5%;
}

.f24 {
  font-size: 150%;
}

.f26 {
  font-size: 162.5%;
}

.f28 {
  font-size: 175%;
}

.f36 {
  font-size: 225%;
}

.f105p {
  font-size: 105%;
}

.pTxt {
  color: #e4007f;
}

.lgTxt {
  color: #626262;
}

.bTxt {
  color: #01aeb4;
}

.wTxt {
  color: white;
}

.mt_ss {
  margin-top: 5px;
}

.mr_ss {
  margin-right: 5px;
}

.ml_ss {
  margin-left: 5px;
}

.mb_ss {
  margin-bottom: 5px;
}

.mt_s {
  margin-top: 15px;
}

.mr_s {
  margin-right: 15px;
}

.ml_s {
  margin-left: 15px;
}

.mb_s {
  margin-bottom: 15px;
}

.mt_b {
  margin-top: 30px;
}

.mr_b {
  margin-right: 30px;
}

.ml_b {
  margin-left: 30px;
}

.mb_b {
  margin-bottom: 30px;
}

.mt_bb {
  margin-top: 50px;
}

.mb_bb {
  margin-bottom: 50px;
}

.pl_ss {
  padding-left: 5px;
}

.pr_ss {
  padding-right: 5px;
}

.pt_s {
  padding-top: 15px;
}

.pb_s {
  padding-bottom: 15px;
}

.pt_ss {
  padding-top: 5px;
}

.picWithTxtWrap .manPicWrap {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  width: 63px;
  height: 63px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.picWithTxtWrap .rBox {
  width: 440px;
  margin-left: 15px;
  line-height: 19px;
}
.picWithTxtWrap .rBox .c_name {
  font-size: 116%;
}

.roundPicTxtWrap .lBox {
  width: 90px;
  float: left;
  margin-right: 15px;
}
.roundPicTxtWrap .lBox .manPic {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  width: 63px;
  height: 63px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.roundPicTxtWrap .rBox {
  overflow: hidden;
  min-height: 63px;
  float: none;
}

.to_e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.lh_mi {
  line-height: 1.6em;
}

.lh_s {
  line-height: 1.875;
}

.seeMoreContentBtn:hover {
  text-decoration: underline;
}

.icon_line, .icon_mail, .icon_mail_c, .icon_print, .icon_fb, .icon_google, .icon_flag, .icon_cMore, .i_download, .i_mp3, .i_buy {
  background: url("../images/g/icon_socail.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: middle;
}

.icon_line {
  background-position: -5px 0px;
  width: 36px;
  height: 35px;
}

.icon_mail {
  background-position: -5px -40px;
  width: 36px;
  height: 36px;
}

.icon_mail_c {
  background-position: -5px -81px;
  width: 36px;
  height: 36px;
}

.icon_print {
  background-position: -5px -122px;
  width: 36px;
  height: 35px;
}

.icon_fb {
  background-position: -5px -162px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
}
.icon_fb.active {
  background-position: -5px -202px;
}
.icon_fb:hover {
  background-position: -5px -202px;
}

.icon_google {
  background-position: -5px -242px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
}
.icon_google.active {
  background-position: -5px -282px;
}
.icon_google:hover {
  background-position: -5px -282px;
}

.icon_flag {
  background-position: -47px 0px;
  width: 36px;
  height: 35px;
  cursor: pointer;
}
.icon_flag:hover {
  background-position: -47px -41px;
}
.icon_flag.active {
  background-position: -47px -41px;
}

.icon_cMore {
  background-position: -47px -81px;
  width: 36px;
  height: 35px;
  cursor: pointer;
}
.icon_cMore:hover {
  background-position: -47px -121px;
}
.icon_cMore.active {
  background-position: -47px -121px;
}

.i_download {
  background: url("../images/g/icon_socail.png") no-repeat -146px -4px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.i_download:hover {
  background: url("../images/g/icon_socail.png") no-repeat -145px -47px;
}
.i_download.active {
  background: url("../images/g/icon_socail.png") no-repeat -145px -47px;
}

.i_mp3 {
  background: url("../images/g/icon_socail.png") no-repeat -143px -90px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.i_mp3:hover {
  background: url("../images/g/icon_socail.png") no-repeat -143px -132px;
}
.i_mp3.active {
  background: url("../images/g/icon_socail.png") no-repeat -143px -132px;
}

.i_buy {
  background: url("../images/g/icon_socail.png") no-repeat -143px -174px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.i_buy:hover {
  background: url("../images/g/icon_socail.png") no-repeat -143px -218px;
}
.i_buy.active {
  background: url("../images/g/icon_socail.png") no-repeat -143px -218px;
}

.icon_delete, .icon_edit, .icon_link, .icon_list, .icon_tag {
  display: inline-block;
  background: url("../images/g/icon.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: middle;
}

.icon_delete {
  background-position: -5px 0px;
  width: 25px;
  height: 25px;
}

.icon_edit {
  background-position: -35px 0px;
  width: 25px;
  height: 25px;
}

.icon_link {
  background-position: -5px -30px;
  width: 25px;
  height: 25px;
}

.icon_list {
  background-position: -35px -30px;
  width: 25px;
  height: 25px;
}

.icon_tag {
  background-position: -5px -60px;
  width: 25px;
  height: 25px;
}

.icon_B_redPlay, .B_redLineHeart {
  background-image: url("../images/g/bigArticleIcon.png");
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.bk_bHeart {
  background: url("../images/g/bigArticleIcon.png") no-repeat 0 -32px;
  width: 42px;
  height: 43px;
  display: inline-block;
}

.B_redLineHeart {
  background-position: -29px 0;
}

.icon_redPlay, .whiteLineHeart, .icon_greenPlay, .icon_redHeart, .redLineHeart, .icon_greenHeart {
  background-image: url("../images/g/articleIcon.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-bottom: 5px;
}

.gHeart {
  background: url("../images/g/articleIcon.png") no-repeat -210px -2px;
  width: 21px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 3px;
  margin-right: 7px;
}

.icon_greenPlay {
  background-position: -20px 0;
}

.icon_redHeart {
  background-position: -40px 0;
}

.redLineHeart {
  background-position: -120px 0;
}

.whiteLineHeart {
  background-position: -140px 0;
}

.icon_greenHeart {
  background-position: -60px 0;
}

.icon_book {
  width: 29px;
  height: 24px;
  background: url("../images/g/icon_book.png");
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
  margin-left: 2px;
}

.i_openBook {
  background: url("../images/g/articleIcon.png") no-repeat -160px 0;
  width: 26px;
  height: 20px;
  margin: 0px 5px 0 10px;
  vertical-align: text-top;
  display: inline-block;
}

.i_lock {
  background: url("../images/g/articleIcon.png") no-repeat -190px 0;
  width: 15px;
  height: 20px;
  margin: 0px 5px 0 8px;
  vertical-align: text-top;
  display: inline-block;
}

#header .icon {
  width: 23px;
  height: 23px;
  background-image: url("../images/g/header_icon.png");
  background-repeat: no-repeat;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}

#header .icon_man {
  background-position: 0 0;
}

#header .icon_bell {
  background-position: -23px 0;
}

#header .icon_notice {
  background-position: -46px 0;
  margin-top: -5px;
  margin-left: -10px;
}

.lockIcon {
  background: url("../images/g/lockIcon.png") no-repeat 0 -86px;
  width: 144px;
  height: 39px;
  display: inline-block;
}
.lockIcon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.lineIcon {
  background: url("../images/pc-line_03.png");
  width: 181px;
  height: 34px;
  display: inline-block;
  margin-left: 25px;
}

.payReadBtn {
  background: url("../images/g/lockIcon.png") no-repeat 0 0;
  width: 173px;
  height: 39px;
  display: inline-block;
}

.payDownLoadBtn {
  background: url("../images/g/lockIcon.png") no-repeat 0 -43px;
  width: 173px;
  height: 39px;
  display: inline-block;
}

.correctIcon {
  background-image: url("../images/g/answerIcon.png");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}

.wrongIcon {
  background-image: url("../images/g/answerIcon.png");
  background-repeat: no-repeat;
  background-position: 0 -30px;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
}

.f_fb_a {
  background: url("../images/g/icon_socail.png") no-repeat -47px -162px;
  width: 41px;
  height: 41px;
}

.f_fb {
  background: url("../images/g/icon_socail.png") no-repeat -47px -209px;
  width: 41px;
  height: 40px;
}
.f_fb:hover {
  background-position: -47px -162px;
}

.f_google_a {
  background: url("../images/g/icon_socail.png") no-repeat -47px -256px;
  width: 41px;
  height: 41px;
}

.f_google {
  background: url("../images/g/icon_socail.png") no-repeat -95px -4px;
  width: 41px;
  height: 40px;
}
.f_google:hover {
  background-position: -47px -256px;
}

.f_rrs_a {
  background: url("../images/g/icon_socail.png") no-repeat -95px -49px;
  width: 41px;
  height: 41px;
}

.f_rrs {
  background: url("../images/g/icon_socail.png") no-repeat -95px -93px;
  width: 41px;
  height: 40px;
}
.f_rrs:hover {
  background-position: -95px -49px;
}

.f_n_a {
  background: url("../images/g/icon_socail.png") no-repeat -94px -138px;
  width: 42px;
  height: 42px;
}

.f_n {
  background: url("../images/g/icon_socail.png") no-repeat -94px -185px;
  width: 42px;
  height: 41px;
}
.f_n:hover {
  background-position: -94px -138px;
}

.f_line_a {
  background: url("../images/g/icon_socail.png") no-repeat -95px -231px;
  width: 41px;
  height: 41px;
}

.f_line {
  background: url("../images/g/icon_socail.png") no-repeat -95px -277px;
  width: 41px;
  height: 40px;
}
.f_line:hover {
  background-position: -95px -231px;
}

.f_uTube {
  background: url("../images/g/utube.png") no-repeat -1px 0;
  width: 43px;
  height: 43px;
}
.f_uTube:hover {
  background-position: 0 -46px;
}

.dotArr {
  background: url("../images/g/icon.png") no-repeat -45px -71px;
  width: 9px;
  height: 5px;
}

.downArr {
  background: url("../images/g/icon.png") no-repeat -68px -7px;
  width: 22px;
  height: 13px;
}

.upArr {
  background: url("../images/g/icon.png") no-repeat -71px -36px;
  width: 22px;
  height: 13px;
}

.fans_i1 {
  background: url("../images/g/fani.png") no-repeat 0 0;
}

.fans_i2 {
  background: url("../images/g/fani.png") no-repeat 0 -55px;
}

.fans_i3 {
  background: url("../images/g/fani.png") no-repeat 0 -110px;
}

.fans_i4 {
  background: url("../images/g/fani.png") no-repeat 0 -167px;
}

.fans_i5 {
  background: url("../images/g/fani.png") no-repeat 0 -225px;
}

.ai_fb {
  background: url("../images/g/bb_socail.png") no-repeat 0 0;
  width: 78px;
  height: 79px;
}
.ai_fb:hover {
  background-position: 0 -82px;
}
.ai_fb.active {
  background-position: 0 -82px;
}

.ai_google {
  background: url("../images/g/bb_socail.png") no-repeat -82px 0;
  width: 78px;
  height: 79px;
}
.ai_google:hover {
  background-position: -82px -82px;
}
.ai_google.active {
  background-position: -82px -82px;
}

.ai_rss {
  background: url("../images/g/bb_socail.png") no-repeat -163px 0;
  width: 78px;
  height: 79px;
}
.ai_rss:hover {
  background-position: -163px -84px;
}
.ai_rss.active {
  background-position: -163px -84px;
}

.ai_ss {
  background: url("../images/g/bb_socail.png") no-repeat -244px 0;
  width: 80px;
  height: 80px;
}
.ai_ss:hover {
  background-position: -244px -84px;
}
.ai_ss.active {
  background-position: -244px -84px;
}

.ai_line {
  background: url("../images/g/bb_socail.png") no-repeat -328px 0;
  width: 78px;
  height: 79px;
}
.ai_line:hover {
  background-position: -328px -84px;
}
.ai_line.active {
  background-position: -328px -84px;
}

.t_arr_r {
  background: url("../images/g/txt_arr.png") no-repeat 0 0;
  width: 9px;
  height: 7px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 8px;
  margin-right: 7px;
}

.t_arr_b {
  background: url("../images/g/txt_arr.png") no-repeat 0 -8px;
  width: 9px;
  height: 7px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 8px;
  margin-right: 7px;
}

.t_arr_g {
  background: url("../images/g/txt_arr.png") no-repeat 0 -16px;
  width: 9px;
  height: 7px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 8px;
  margin-right: 7px;
}

.i_clock {
  background: url("../images/g/qaIcon.png") no-repeat 0 -3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
}

.i_man {
  background: url("../images/g/qaIcon.png") no-repeat -25px -1px;
  width: 16px;
  height: 17px;
  display: inline-block;
  vertical-align: text-top;
}

.i_talk {
  background: url("../images/g/qaIcon.png") no-repeat -46px 0;
  width: 24px;
  height: 21px;
  display: inline-block;
  vertical-align: text-top;
}

.i_man_w {
  background: url("../images/g/qaIcon.png") no-repeat -75px -1px;
  width: 16px;
  height: 17px;
  display: inline-block;
  vertical-align: text-top;
}

.i_talk_w {
  background: url("../images/g/qaIcon.png") no-repeat -95px 0;
  width: 23px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
}

.i_bigQ {
  background: url("../images/g/qaIcon.png") no-repeat -2px -21px;
  width: 19px;
  height: 32px;
  display: inline-block;
  vertical-align: text-top;
}

.i_pic {
  background: url("../images/g/askIcon.png") no-repeat -50px 0;
  width: 38px;
  height: 30px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -3px;
}

.i_video {
  background: url("../images/g/askIcon.png") no-repeat 0 -1px;
  width: 38px;
  height: 30px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -3px;
}

.i_delBtn {
  background: url("../images/g/qaIcon.png") no-repeat -126px -4px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 3px;
}

.s_clozBtn {
  background-image: url("../images/g/clozBtn.png");
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
.s_clozBtn:hover {
  background-position: 0 -100%;
}

.i_music {
  background: url("../images/g/askIcon.png") no-repeat -94px 0;
  width: 27px;
  height: 31px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -5px;
}

.i_talkBox {
  background: url("../images/g/expertIcon.png") no-repeat 0 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5px;
}

.i_note {
  background: url("../images/g/expertIcon.png") no-repeat -22px -1px;
  width: 15px;
  height: 17px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5px;
}

.i_gEdit {
  background: url("../images/g/qaIcon.png") no-repeat -122px -27px;
  width: 15px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5px;
  margin-top: 3px;
}

.i_greenFind {
  background: url("../images/g/bookIcon.png") no-repeat 0 0;
  width: 27px;
  height: 26px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
}

.i_greenDArr {
  background: url("../images/g/bookIcon.png") no-repeat -35px -5px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 2px;
  margin-top: 1px;
}

.i_collect {
  background: url("../images/g/bookIcon.png") no-repeat -122px -4px;
  width: 25px;
  height: 30px;
}

.i_withMP3 {
  background: url("../images/g/bookIcon.png") no-repeat -4px -59px;
  width: 34px;
  height: 21px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
  margin-top: 4px;
}

.i_withVideo {
  background: url("../images/g/bookIcon.png") no-repeat -45px -60px;
  width: 29px;
  height: 21px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
  margin-top: 4px;
}

.i_grPlay {
  background: url("../images/g/bookIcon.png") no-repeat -82px -37px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
}

.i_buyLine {
  background: url("../images/g/articleIcon.png") no-repeat -236px 0;
  width: 21px;
  height: 20px;
  display: inline-block;
}

.i_top5 {
  width: 69px;
  height: 28px;
  background: url("../images/g/top5.png");
  display: inline-block;
  vertical-align: text-top;
  margin-top: -1px;
}

.icon_video_Living, .icon_video_Reading, .icon_video_Education, .icon_video_Parenting, .icon_video_Feature, .icon_video_Kids {
  display: inline-block;
  background: url("../images/g/icon_video.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: sub;
}

.icon_video_Living {
  background-position: 0px 0px;
  width: 37px;
  height: 30px;
}

.icon_video_Reading {
  background-position: -37px 0px;
  width: 37px;
  height: 30px;
}

.icon_video_Education {
  background-position: -74px 0px;
  width: 37px;
  height: 30px;
}

.icon_video_Parenting {
  background-position: -111px 0px;
  width: 37px;
  height: 30px;
}

.icon_video_Feature {
  background-position: -148px 0px;
  width: 37px;
  height: 30px;
}

.icon_video_Kids {
  background-position: -185px 0px;
  width: 37px;
  height: 30px;
}

#mainRightBar {
  float: left;
  margin-left: 30px;
  width: 300px;
}
#mainRightBar .rbox {
  width: 300px;
  border: 1px solid #CBCBCB;
  padding: 15px;
  position: relative;
  margin-top: 30px;
}

#r_memberBox .onLoginWrap {
  background: url("../images/SiderCoin.jpg") no-repeat;
  padding-top: 40px;
  margin-top: 0px;
}
#r_memberBox .onLoginWrap .picWrap {
  width: 63px;
  height: 63px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  float: left;
}
#r_memberBox .onLoginWrap .txtWrap {
  float: left;
  margin-left: 8px;
  width: 195px;
  line-height: 30px;
}
#r_memberBox .onLoginWrap .txtWrap .nickName {
  font-size: 116%;
}
#r_memberBox .onLoginWrap .txtWrap .articleNum {
  font-size: 189%;
  font-weight: bold;
}
#r_memberBox .onLoginWrap .txtWrap .changeArticle {
  font-size: 116%;
}
#r_memberBox .onLoginWrap hr {
  color: #CBCBCB;
}
#r_memberBox .onLoginWrap .taskList {
  color: #7B9807;
  margin: 15px 0px;
}
#r_memberBox .onLoginWrap .taskList .listItem .icon_check {
  background-image: url("../images/g/articleIcon.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: sub;
  margin-top: 3px;
  background-position: -100px 0;
  margin-right: 5px;
  position: relative;
  margin-top: 5px;
}
#r_memberBox .onLoginWrap .taskList .listItem.done {
  text-decoration: line-through;
  color: #626262;
}
#r_memberBox .onLoginWrap .taskList .listItem.done .icon_check {
  background-position: -80px 0;
}
#r_memberBox .unLoginWrap {
  margin-top: 0px;
}
#r_memberBox .unLoginWrap p {
  margin-bottom: 15px;
  font-size: 116%;
  line-height: 28px;
  color: #373737;
}
#r_memberBox .unLoginWrap .joinBtn {
  width: 100%;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #e4007f;
  text-align: center;
  line-height: 28px;
  color: #FFFFFF;
  cursor: pointer;
}
#r_memberBox .unLoginWrap .joinBtn:hover {
  background-color: #f11a91;
  color: white;
}

#r_subscriptionBox .pinkBtn {
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
}
#r_subscriptionBox .boxTitle {
  font-size: 153.9%;
}

#r_magazineBox .boxTitle {
  font-size: 153.9%;
}
#r_magazineBox .boxTitle .date {
  font-size: 116%;
  margin-left: 10px;
  vertical-align: bottom;
  font-size: 100%;
}
#r_magazineBox .container {
  margin-top: 15px;
}
#r_magazineBox .container .magazinPic {
  float: left;
}
#r_magazineBox .container .txtWrap {
  float: left;
  width: 155px;
  margin-left: 10px;
}
#r_magazineBox .container .txtWrap p {
  color: #626262;
  font-size: 110%;
  line-height: 24px;
  margin-bottom: 10px;
}
#r_magazineBox .btnWrap {
  height: 28px;
  margin-top: 15px;
}
#r_magazineBox .btnWrap .pinkBorderBtn {
  width: 75px;
  height: 28px;
}
#r_magazineBox .allArticleBtn {
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: #7B9807;
}

#r_pdfBox .picWrap {
  float: left;
  margin-right: 15px;
}
#r_pdfBox .txtWrap {
  overflow: hidden;
  min-height: 140px;
  padding-bottom: 40px;
  position: relative;
}
#r_pdfBox .txtWrap .btnWrap {
  position: absolute;
  left: 0;
  bottom: 0;
}

#r_viewRankBox {
  margin-top: 30px;
  position: relative;
  padding-bottom: 30px;
}
#r_viewRankBox .moreBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#r_recommendRankBox {
  position: relative;
  margin-top: 30px;
  padding-bottom: 40px;
}
#r_recommendRankBox .boxTitle {
  width: 170px;
  height: 30px;
  background-image: url("../images/g/mainRightBarTitle.png");
  background-position: 0px -30px;
}
#r_recommendRankBox .moreBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}
#r_recommendRankBox .rankContainer {
  position: relative;
}
#r_recommendRankBox .tabWrap {
  margin-top: 15px;
  border-bottom: 3px solid #e4007f;
}
#r_recommendRankBox .tabWrap .tabItem {
  float: left;
  height: 28px;
  background-color: #f2f2f2;
  line-height: 28px;
  padding: 0 15px;
  color: #373737;
  cursor: pointer;
}
#r_recommendRankBox .tabWrap .tabItem.active {
  color: white;
  background-color: #e4007f;
}
#r_recommendRankBox .tabWrap .tabItem:hover {
  color: white;
  background-color: #e4007f;
}

#r_hotQABox {
  position: relative;
  margin-top: 30px;
  padding-bottom: 40px;
}
#r_hotQABox .boxTitle {
  background: url("../images/g/mainRightBarTitle.png") no-repeat -2px -61px;
  width: 97px;
  height: 27px;
}
#r_hotQABox .moreBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}
#r_hotQABox .rankContainer {
  position: relative;
}
#r_hotQABox .tabWrap {
  margin-top: 15px;
  border-bottom: 3px solid #e4007f;
}
#r_hotQABox .tabWrap .tabItem {
  float: left;
  height: 28px;
  background-color: #f2f2f2;
  line-height: 28px;
  padding: 0 15px;
  color: black;
  cursor: pointer;
}
#r_hotQABox .tabWrap .tabItem.active {
  color: white;
  background-color: #e4007f;
}
#r_hotQABox .tabWrap .tabItem:hover {
  color: white;
  background-color: #e4007f;
}

.rBarList {
  margin-top: 5px;
  width: 100%;
}
.rBarList li {
  width: 100%;
  min-height: 44px;
  line-height: 44px;
  font-size: 108%;
  border-bottom: 1px dotted #ABABAB;
  color: #626262;
  padding: 10px 0;
}
.rBarList li .icon_num {
  width: 28px;
  height: 28px;
  display: block;
  background-color: #e4007f;
  font-weight: bold;
  color: white;
  font-size: 138.5%;
  line-height: 28px;
  text-align: center;
  float: left;
  margin-right: 8px;
}
.rBarList li .txt {
  float: left;
  width: 260px;
  line-height: 25px;
  padding-top: 2px;
}
.rBarList li .txt a {
  display: inline;
}
.rBarList li .txt ＆：hover {
  color: #e4007f;
}
.rBarList li .txt .i_lock {
  margin-top: -1px;
}
.rBarList li .exchange {
  margin-left: 5px;
  color: #94b706;
}

#r_subscriptBox .boxTitle {
  font-size: 153.9%;
  font-weight: bold;
}
#r_subscriptBox .rewardWrap {
  position: absolute;
  top: 15px;
  right: 15px;
}
#r_subscriptBox .formWrap {
  margin-top: 15px;
  font-size: 116%;
  line-height: 25px;
  color: #626262;
}
#r_subscriptBox .formWrap input[type=checkbox] {
  margin-right: 5px;
  cursor: pointer;
}
#r_subscriptBox .formWrap input[type=text] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  width: 188px;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 5px;
  margin: 0;
  margin-top: 8px;
}
#r_subscriptBox .formWrap input[type=submit] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4007f;
  width: 70px;
  text-align: center;
  height: 30px;
  margin-left: 5px;
  background-color: white;
  color: #e4007f;
  vertical-align: bottom;
}
#r_subscriptBox .formWrap input[type=submit]:hover {
  background-color: #e4007f;
  color: white;
}

#r_hotNewsBox .boxTitle {
  font-size: 153.9%;
}
#r_hotNewsBox ul {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 116%;
}
#r_hotNewsBox ul li {
  margin-bottom: 12px;
  color: #626262;
  list-style-type: disc;
}
#r_hotNewsBox ul li a {
  display: inline;
}

#r_specialColumnBox {
  position: relative;
  width: 100%;
  margin: 15px 0;
}
#r_specialColumnBox .moreBtn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#r_specialColumnBox .boxTitle {
  background-color: #e4007f;
  width: 88px;
  height: 25px;
  line-height: 25px;
  color: white;
  padding-left: 8px;
  font-size: 110%;
}
#r_specialColumnBox .manList {
  margin-top: 10px;
}
#r_specialColumnBox .manList .listItem {
  width: 100px;
  min-height: 140px;
  display: inline-block;
  vertical-align: text-top;
  cursor: pointer;
  margin-top: 5px;
  border: 1px solid white;
  margin-left: -3px;
}
#r_specialColumnBox .manList .listItem .picRoundWrap {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
#r_specialColumnBox .manList .listItem .hoverTxt {
  display: none;
  text-align: center;
  font-size: 106.3%;
}
#r_specialColumnBox .manList .listItem .s_area {
  text-align: center;
}
#r_specialColumnBox .manList .listItem .s_name {
  padding-top: 5px;
  display: block;
  text-align: center;
  color: #373737;
  font-size: 106.3%;
}
#r_specialColumnBox .manList .listItem .s_title {
  padding-top: 5px;
  display: block;
  text-align: center;
  color: #626262;
}
#r_specialColumnBox .manList .listItem:hover {
  border: 1px solid #CBCBCB;
}
#r_specialColumnBox .manList .listItem:hover .hoverTxt {
  display: block;
  margin-bottom: 5px;
}
#r_specialColumnBox .manList .listItem:hover .s_name {
  display: none;
}
#r_specialColumnBox .manList .listItem:hover .s_title {
  display: none;
}

#r_featureBox {
  position: relative;
  width: 100%;
  margin: 20px 0;
}
#r_featureBox .moreBtn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#r_featureBox .boxTitle {
  background-color: #e4007f;
  width: 116px;
  height: 25px;
  line-height: 25px;
  color: white;
  padding-left: 8px;
  font-size: 108%;
}
#r_featureBox .r_featureList {
  margin-top: 10px;
}
#r_featureBox .r_featureList .listItem {
  padding: 15px 0;
  border-bottom: 1px dotted #ABABAB;
}
#r_featureBox .r_featureList .listItem .coverPic {
  border: 1px solid #CBCBCB;
  float: left;
  width: 100px;
  height: 70px;
}
#r_featureBox .r_featureList .listItem .txt {
  float: left;
  width: 200px;
  padding: 0 15px;
  font-size: 116%;
  line-height: 25px;
}

#r_readExpert {
  position: relative;
  width: 100%;
  margin: 15px 0;
}
#r_readExpert .moreBtn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#r_readExpert .boxTitle {
  background-color: #e4007f;
  min-width: 88px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  color: white;
  padding: 0 8px;
  font-size: 110%;
}
#r_readExpert .manList {
  margin-top: 10px;
}
#r_readExpert .manList .listItem {
  width: 100px;
  min-height: 140px;
  display: inline-block;
  vertical-align: text-top;
  cursor: pointer;
  margin-top: 5px;
  border: 1px solid white;
  margin-left: -3px;
}
#r_readExpert .manList .listItem .picRoundWrap {
  width: 80px;
  height: 80px;
  margin: 5px auto;
}
#r_readExpert .manList .listItem .hoverTxt {
  display: none;
  text-align: center;
  font-size: 106.3%;
  margin-bottom: 5px;
}
#r_readExpert .manList .listItem .s_area {
  text-align: center;
}
#r_readExpert .manList .listItem .s_name {
  padding-top: 5px;
  display: block;
  text-align: center;
  color: #626262;
  font-size: 106.3%;
}
#r_readExpert .manList .listItem .s_title {
  padding-top: 5px;
  display: block;
  text-align: center;
  font-size: 106.3%;
  color: #373737;
}
#r_readExpert .manList .listItem:hover {
  border: 1px solid #CBCBCB;
}
#r_readExpert .manList .listItem:hover .hoverTxt {
  display: block;
}
#r_readExpert .manList .listItem:hover .s_name {
  display: none;
}
#r_readExpert .manList .listItem:hover .s_title {
  display: none;
}

.nextArticleBtn {
  background-color: #CBCBCB;
  border: 1px solid #ABABAB;
  bottom: 190px;
  display: none;
  padding: 17px 15px;
  position: fixed;
  right: 90px;
  width: 300px;
  z-index: 30000;
}
.nextArticleBtn .picWrap {
  float: left;
  margin-right: 15px;
  width: 100px;
  height: 70px;
  line-height: 28px;
}
.nextArticleBtn .txtWrap {
  overflow: hidden;
}
.nextArticleBtn .txtWrap .n_title {
  margin-top: 5px;
  font-size: 116%;
  line-height: 24px;
}

#footer {
  width: 100%;
  background-color: #707070;
  margin-top: 30px;
  color: white;
  overflow: auto;
}
#footer .icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
#footer .fHeader {
  width: 100%;
  height: 60px;
  position: relative;
  margin: 30px 0 20px;
  line-height: 60px;
}
#footer .fHeader .lBox {
  float: left;
}
#footer .fHeader .mBox {
  float: left;
  margin-left: 100px;
}
#footer .fHeader .mBox .txt {
  float: left;
}
#footer .fHeader .mBox form {
  float: left;
}
#footer .fHeader .mBox form input[type=text] {
  width: 190px;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  margin-left: 10px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#footer .fHeader .mBox form .mBtnWrap {
  margin-left: 15px;
}
#footer .fHeader .mBox form input[type=submit] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
  line-height: 28px;
  padding: 0px 40px;
}
#footer .fHeader .rBox {
  cursor: pointer;
  float: right;
}
#footer .fHeader .rBox:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#footer .fHeader .rBox .txt {
  float: left;
}
#footer .fContent {
  border-top: 1px dotted white;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  display: none;
}
#footer .fContent .fcBox {
  float: left;
  margin-right: 80px;
}
#footer .fContent .fcBox .fbTitle {
  position: relative;
  display: inline-block;
  font-size: 123.1%;
}
#footer .fContent .fcBox .fbTitle:after {
  content: "";
  background: url("../images/g/icon.png") no-repeat -45px -71px;
  width: 9px;
  height: 5px;
  position: absolute;
  display: block;
  right: -14px;
  top: 6px;
}
#footer .fContent .fcBox .txtList {
  margin-top: 15px;
}
#footer .fContent .fcBox .txtList li {
  min-height: 25px;
  line-height: 25px;
}
#footer .fContent .fanBox .fanList {
  margin-top: 15px;
}
#footer .fContent .fanBox .fanList .listItem {
  margin-top: 5px;
}
#footer .fContent .fanBox .fanList .listItem .coverPic {
  width: 50px;
  height: 50px;
  float: left;
}
#footer .fContent .fanBox .fanList .listItem .txt {
  float: left;
  height: 50px;
  margin-left: 15px;
  line-height: 50px;
}
#footer .fContent .magazineBox {
  float: right;
}
#footer .fContent .magazineBox .coverPic {
  width: 156px;
  height: 213px;
}
#footer .fContent .magazineBox .btnWrap {
  margin-top: 15px;
}
#footer .fContent .magazineBox .btnWrap .pinkBtn {
  float: left;
  width: 75px;
  height: 24px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 7px;
}
#footer .fContent .webNavBox .txtList {
  float: left;
  width: 110px;
}
#footer .fContent .webNavBox .txtList .subNavList {
  list-style-type: disc;
  margin-left: 23px;
}
#footer .f_copyRight {
  border-top: 1px solid #8c8c8c;
}
#footer .f_copyRight .centerBlock {
  padding: 15px 0;
  line-height: 23px;
}

@media screen and (max-width: 1140px) {
  #footer .fContent .fcBox {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1140px) {
  .breakHide {
    display: block;
  }

  .breakShow {
    display: none !important;
  }

  #mainContainer.askStep {
    width: 830px;
  }

  .mainContainerRightBar.askStep {
    width: 290px;
  }
}
@media screen and (max-width: 1140px) {
  .breakHide {
    display: none !important;
  }

  .breakShow {
    display: block;
  }

  .wideBlock {
    width: 900px;
  }

  #memberContent {
    width: 650px;
  }

  #mainContainer {
    width: 542px;
    overflow: hidden;
  }

  .findArticleBox {
    padding: 28px 50px 0px;
  }
  .findArticleBox .searchBar input[type=text] {
    width: 405px;
  }

  #pageNav {
    font-size: 13px;
  }
  #pageNav .centerBlock {
    width: 920px;
    margin-left: -475px;
  }
  #pageNav .centerBlock .navItem .liWrap {
    padding: 0 9px;
  }

  #adNav ul li {
    width: 212px;
  }

  .ad_800x100 {
    width: 540px;
    height: auto;
    margin-top: 15px;
  }

  .discussBox .talkBox form input[type='text'] {
    margin-right: 0;
    width: 380px;
  }
  .discussBox .talkBox form input[type='submit'] {
    margin-top: 10px;
  }
  .discussBox .subTalkList .talkBox input[type='text'] {
    width: 330px;
  }
}
/*pages_css */

/*# sourceMappingURL=global.css.map */
