#pageNav ul li a {
  color: white;
  padding: 0px 13px;
}
#pageNav .subMenuBox .lWrap ul li {
  margin-bottom: -7px;
}
#pageNav .subMenuBox .lWrap ul li a {
  color: #626262;
  list-style-position: inside;
  list-style-type: disc;
  display: list-item;
  line-height: 30px;
}

#adNav {
  position: relative;
}

#mainBanner .list .listItem {
  margin-top: -4px;
}

/*# sourceMappingURL=ie7.css.map */
