/*mixin */
#mainBanner {
  width: 100%;
}
#mainBanner .bdWrap {
  border: 1px solid #CBCBCB;
}
#mainBanner .picWrap {
  float: left;
  width: 540px;
  height: 300px;
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
}
#mainBanner .picWrap .picContainer {
  width: 9999px;
}
#mainBanner .picWrap .picContainer .picItem {
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 540px;
  height: 300px;
}
#mainBanner .picWrap .picContainer .picItem .pic {
  width: 540px;
  height: 300px;
  overflow: hidden;
  -moz-background-size: "cover";
  -o-background-size: "cover";
  -webkit-background-size: "cover";
  background-size: "cover";
}
#mainBanner .picWrap .picContainer .picItem .picTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url("../images/g/black.png");
  color: white;
  line-height: 47px;
  padding-left: 10px;
  font-size: 116%;
}
#mainBanner .list {
  width: 268px;
  float: left;
  height: 300px;
  position: relative;
}
#mainBanner .list .listItem {
  height: 50px;
  width: 100%;
  border-top: 1px dotted #ABABAB;
  font-size: 123.1%;
  color: #373737;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  padding-left: 20px;
}
#mainBanner .list .listItem a {
  display: inline;
}
#mainBanner .list .listItem .ad {
  padding-left: 5px;
  font-size: 85%;
  color: #ff7430;
}
#mainBanner .list .listItem a:hover {
  text-decoration: none;
}
#mainBanner .list .listItem.m1 {
  border-top: none;
}
#mainBanner .list .listItem.m2 {
  left: 0;
  top: 50px;
}
#mainBanner .list .listItem.m3 {
  left: 0;
  top: 100px;
}
#mainBanner .list .listItem.m4 {
  left: 0;
  top: 150px;
}
#mainBanner .list .listItem.m5 {
  left: 0;
  top: 200px;
}
#mainBanner .list .listItem.m6 {
  left: 0;
  top: 250px;
}
#mainBanner .list .listItem.active {
  color: #e4007f;
}
#mainBanner .list .listItem.active:after {
  content: "";
  width: 11px;
  height: 19px;
  background: url("../images/g/navArrLeft.png");
  position: absolute;
  top: 16px;
  left: -11px;
}

.articleList {
  width: 825px;
  margin-top: 15px;
}
.articleList .listItem {
  width: 260px;
  height: 280px;
  border: 1px solid #CBCBCB;
  margin: 0px 15px 15px 0px;
  position: relative;
  float: left;
  padding: 50px 15px 15px 15px;
}
.articleList .listItem.bigItem {
  width: 810px;
  height: auto;
  min-height: 280px;
}
.articleList .listItem.midItem {
  width: 560px;
  height: auto;
  min-height: 280px;
}
.articleList .listItem:hover {
  background-color: #f4f4f4;
}
.articleList .listItem .fullDiv:hover {
  text-decoration: none;
}
.articleList .listItem .list_title {
  width: 117px;
  height: 24px;
  background-color: #94b706;
  color: white;
  font-size: 108%;
  line-height: 24px;
  position: absolute;
  top: 10px;
  left: 0;
}
.articleList .listItem .list_title a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}
.articleList .listItem .list_title a:hover {
  color: black;
  text-decoration: none;
}
.articleList .listItem h1 {
  font-size: 120%;
  line-height: 24px;
  width: 230px;
}
.articleList .listItem h2 {
  font-size: 115%;
  margin-top: 3px;
}
.articleList .listItem p {
  line-height: 24px;
  color: #626262;
  list-style-type: disc;
}
.articleList .listItem .picWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 226px;
  height: 142px;
  overflow: hidden;
}
.articleList .listItem.sponsor .list_title {
  background-color: #ff7430;
}
.articleList .listItem.activity p {
  margin-bottom: 12px;
  line-height: 20px;
}
.articleList .listItem .subWrap {
  width: 225px;
  height: 80px;
  margin-top: 10px;
  margin-left: 5px;
}
.articleList .listItem .subWrap .pic {
  width: 63px;
  height: 63px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.articleList .listItem .subWrap .txt {
  float: left;
  width: 147px;
  margin-left: 12px;
}
.articleList .listItem .subWrap:hover .pic {
  border: 2px solid #e4007f;
}
.articleList .listItem .subWrap:hover h2 {
  color: #e4007f;
}
.articleList .listItem .more {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #657e00;
  font-size: 100%;
}
.articleList .listItem .company {
  color: #c2c2c2;
  position: absolute;
  top: 14px;
  left: 128px;
}
.articleList .listItem .voteBtn {
  width: 227px;
  height: 32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #7B9807;
  text-align: center;
  line-height: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.articleList .listItem .voteBtn:hover {
  background-color: #f8ffde;
}

.fbWrap {
  margin-top: 30px;
}

@media screen and (max-width: 1140px) {
  .articleList {
    width: 580px;
  }
  .articleList .listItem.bigItem {
    width: 535px;
  }
}

/*# sourceMappingURL=index.css.map */
