/*mixin */
.grayLine {
  margin: 10px 0;
}

.currentMBox {
  border-bottom: 1px solid #CBCBCB;
  padding: 0px 0px 15px 0px;
}
.currentMBox .lWrap {
  float: left;
}
.currentMBox .lWrap .picWrap {
  width: 200px;
  height: 267px;
  overflow: hidden;
}
.currentMBox .rWrap {
  overflow: hidden;
  padding-left: 20px;
}
.currentMBox .rWrap .txtWrap {
  position: relative;
  margin-top: 5px;
}
.currentMBox .rWrap .txtWrap .m_name {
  font-size: 180%;
  float: left;
  margin-top: 5px;
}
.currentMBox .rWrap .txtWrap .m_info {
  margin-top: 10px;
  float: right;
  font-size: 116%;
  vertical-align: bottom;
}
.currentMBox .rWrap .articleList {
  margin-top: 5px;
}
.currentMBox .rWrap .articleList .listItem {
  list-style-type: disc;
  border-bottom: 1px dotted #ABABAB;
  min-height: 40px;
  line-height: 35px;
  list-style-position: inside;
  padding-left: 5px;
  font-size: 116%;
  color: #626262;
}
.currentMBox .rWrap .articleList .listItem a:hover {
  color: #e4007f;
  text-decoration: none;
}
.currentMBox .rWrap .articleList .listItem .exchange {
  margin-left: 7px;
}
.currentMBox .rWrap .btnWrap {
  margin-top: 5px;
  position: relative;
}
.currentMBox .rWrap .btnWrap .goMenuBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.m_yearWrap {
  margin-top: 35px;
}
.m_yearWrap .lBox {
  font-size: 138.5%;
}
.m_yearWrap .rBox {
  float: none;
  overflow: hidden;
}
.m_yearWrap .rBox .yearTag {
  float: left;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  font-size: 116%;
  margin-bottom: 7px;
}

.m_container {
  margin-top: 20px;
}
.m_container .m_tag {
  font-size: 138.5%;
}
.m_container .m_tag .tagItem a:hover {
  text-decoration: none;
}
.m_container .m_tag .tagItem.active {
  color: #e4007f;
}
.m_container .m_tag .tagItem:hover {
  color: #e4007f;
}
.m_container .m_list {
  margin-top: 15px;
}
.m_container .m_list .listItem {
  float: left;
  width: 270px;
  height: 280px;
  margin: 10px 0;
  padding: 15px;
  position: relative;
}
.m_container .m_list .listItem:hover {
  border: 1px solid #CBCBCB;
}
.m_container .m_list .listItem .picWrap {
  width: 165px;
  height: 220px;
  overflow: hidden;
  margin: 0 auto;
}
.m_container .m_list .listItem .txtWrap {
  text-align: center;
  font-size: 108%;
  margin-top: 10px;
}
.m_container .m_list .listItem .txtWrap .date {
  margin-left: 5px;
}

@media screen and (max-width: 1140px) {
  .currentMBox .rWrap .txtWrap .m_name {
    float: none;
  }
  .currentMBox .rWrap .txtWrap .m_info {
    float: none;
    margin-top: 8px;
  }
}

/*# sourceMappingURL=magazineList.css.map */
