/*mixin */
.grayLine {
  margin: 10px 0;
}

.currentMBox {
  border-top: 1px solid #CBCBCB;
  padding: 20px 0px;
}
.currentMBox .lWrap {
  float: left;
}
.currentMBox .lWrap .picWrap {
  width: 200px;
  height: 267px;
  overflow: hidden;
}
.currentMBox .rWrap {
  height: 267px;
  overflow: hidden;
  padding-left: 20px;
  position: relative;
}
.currentMBox .rWrap .moreBtn {
  position: absolute;
  right: 0;
  top: 0;
}
.currentMBox .rWrap .period {
  font-size: 116%;
}
.currentMBox .rWrap .m_name {
  font-size: 180%;
  float: left;
  margin-top: 15px;
}
.currentMBox .rWrap .m_content {
  font-size: 116%;
  margin-top: 10px;
  line-height: 28px;
  max-height: 150px;
  overflow: hidden;
  color: #373737;
}
.currentMBox .rWrap .btnWrap {
  position: absolute;
  left: 15px;
  bottom: 0;
}

.articleList {
  margin-top: 20px;
}
.articleList .listTitle {
  width: 100%;
  height: 37px;
  position: relative;
  padding: 0 25px;
  line-height: 37px;
}
.articleList .listTitle .txt {
  float: left;
  color: white;
  font-size: 138.5%;
}
.articleList .listTitle .en {
  float: right;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  font-size: 182%;
}
.articleList .listTitle:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 25px;
  border: 8px solid transparent;
}
.articleList .listTitle.t1 {
  background-color: #e4007f;
}
.articleList .listTitle.t1:after {
  border-top-color: #e4007f;
}
.articleList .listTitle.t2 {
  background-color: #afab65;
}
.articleList .listTitle.t2:after {
  border-top-color: #afab65;
}
.articleList .listTitle.t3 {
  background-color: #48b691;
}
.articleList .listTitle.t3:after {
  border-top-color: #48b691;
}
.articleList .listTitle.t4 {
  background-color: #ff802b;
}
.articleList .listTitle.t4:after {
  border-top-color: #ff802b;
}
.articleList .listTitle.t5 {
  background-color: #a4c031;
}
.articleList .listTitle.t5:after {
  border-top-color: #a4c031;
}
.articleList ul {
  margin-top: 15px;
}
.articleList .listItem {
  list-style-type: disc;
  border-bottom: 1px dotted #ABABAB;
  min-height: 30px;
  line-height: 36px;
  margin-left: 25px;
  padding-left: 5px;
  position: relative;
}
.articleList .listItem .icon_greenHeart {
  margin: 1px 5px 0 0;
  vertical-align: text-top;
}
.articleList .listItem a {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 116%;
}
.articleList .listItem a:hover {
  color: #e4007f;
  text-decoration: none;
}
.articleList .listItem:last-child {
  border: none;
}
.articleList .listItem .exchange {
  margin-left: 7px;
}

.switcherBox {
  text-align: center;
  margin-top: 20px 0;
}
.switcherBox .picWrap {
  display: inline-block;
  width: 117px;
  height: 156px;
  overflow: hidden;
}
.switcherBox .btnWrap {
  display: inline-block;
  width: 352px;
  height: 156px;
  padding-left: 20px;
}
.switcherBox .btnWrap .backBtn {
  float: left;
  font-size: 138.5%;
  margin-top: 70px;
  margin-right: 10px;
}
.switcherBox .btnWrap .pinkBorderBtn {
  margin-top: 67px;
}

.mag-greenTag {
  height: 24px;
  color: white;
  line-height: 24px;
  text-align: center;
  font-size: 108%;
  display: inline-block;
  margin-right: 5px;
  z-index: 10;
  position: relative;
  background-color: #94b706;
  padding: 0 15px;
}

@media screen and (max-width: 1140px) {
  .switcherBox .picWrap {
    display: none;
  }

  .currentMBox .rWrap .moreBtn {
    position: relative;
    left: 0;
    top: 0;
  }
  .currentMBox .rWrap .m_content {
    max-height: 100px;
  }
}

/*# sourceMappingURL=magazine.css.map */
