/*mixin */
#memberContent .dotLine {
  margin: 15px 0;
}
#memberContent .txt {
  font-size: 116%;
}
#memberContent .txt .coinNum {
  font-size: 182%;
  margin-right: 5px;
  font-weight: bold;
}
#memberContent .chooseBox {
  margin-top: 20px;
}
#memberContent .chooseBox .c_tilte {
  float: left;
  width: 75px;
  font-size: 116%;
  line-height: 35px;
}
#memberContent .chooseBox .chooseWrap {
  float: left;
  width: 360px;
}
#memberContent .chooseBox .chooseWrap input[type=radio] {
  display: none;
}
#memberContent .chooseBox .chooseWrap input[type=radio] + label {
  width: 75px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #e4007f;
  border: 1px solid #e4007f;
  margin-right: 10px;
  text-align: center;
  float: left;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 116%;
}
#memberContent .chooseBox .chooseWrap input[type=radio]:checked + label {
  border: 0;
  background-color: #e4007f;
  color: white;
}
#memberContent .chooseBox .selectWrap {
  float: left;
  height: 21px;
  margin-right: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e4007f;
  position: relative;
  background: url("../images/g/dropDownIcon.png") no-repeat;
  background-position: center right;
}
#memberContent .chooseBox .selectWrap.yWrap {
  width: 120px;
}
#memberContent .chooseBox .selectWrap.mWrap {
  width: 73px;
}
#memberContent .chooseBox .dropDown {
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  padding-left: 8px;
}
#memberContent .chooseBox .dropDown.year-select {
  width: 148px;
}
#memberContent .chooseBox .dropDown.month-select {
  width: 101px;
}
#memberContent .chooseBox .dropDown:focus {
  border: 0;
}
#memberContent .mBtnWrap {
  margin-top: 30px;
  margin-left: 75px;
  display: inline-block;
}
#memberContent .sendBtn {
  width: 120px;
  height: 35px;
  color: white;
  background-color: #94b706;
  line-height: 35px;
  text-align: center;
  font-size: 116%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  border: none;
}
#memberContent .sendBtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  text-decoration: none;
}

/*# sourceMappingURL=member_family.css.map */
