/*mixin */
.followTabWrap {
  margin-top: 35px;
  border-bottom: 3px solid #e4007f;
}
.followTabWrap .tabItem {
  float: left;
  height: 28px;
  background-color: #f2f2f2;
  line-height: 28px;
  padding: 0 15px;
  color: black;
  cursor: pointer;
}
.followTabWrap .tabItem.active {
  color: white;
  background-color: #e4007f;
}
.followTabWrap .tabItem:hover {
  color: white;
  background-color: #e4007f;
}

.optionBox {
  line-height: 32px;
  font-size: 116%;
  margin-top: 15px;
}
.optionBox .editBtn {
  margin-left: 7px;
}
.optionBox .editBox {
  background-color: #CBCBCB;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 420px;
  height: 75px;
  padding: 15px 15px;
  position: relative;
  line-height: 24px;
  display: none;
}
.optionBox .editBox input[type=radio] {
  margin-left: 7px;
}
.optionBox .editBox .saveStage {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.authorWrap .moreBtn {
  text-align: right;
  margin-right: 20px;
}
.authorWrap .authorList {
  margin-top: 10px;
}
.authorWrap .authorList .listItem {
  float: left;
  width: 430px;
  min-height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #CBCBCB;
  padding: 12px 12px;
}
.authorWrap .authorList .listItem:hover {
  background-color: #f2f2f0;
}
.authorWrap .authorList .listItem .picWrap {
  float: left;
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.authorWrap .authorList .listItem .txtWrap {
  float: left;
  padding-left: 10px;
  width: 230px;
}
.authorWrap .authorList .listItem .txtWrap .category {
  font-size: 116%;
}
.authorWrap .authorList .listItem .txtWrap .a_name {
  margin-top: 10px;
  font-size: 138.5%;
  font-weight: bold;
}
.authorWrap .authorList .listItem .unFollowBtn {
  position: absolute;
  right: 12px;
  bottom: 12px;
  margin-right: 0;
  background-color: white;
}
.authorWrap .authorList .listItem .unFollowBtn:hover {
  background-color: #94b706;
}

/*# sourceMappingURL=member_follow.css.map */
