/*mixin */
.txt {
  margin-top: 10px;
  font-size: 116%;
  font-weight: bold;
}
.txt .bTxt {
  font-size: 182%;
}

.f_email {
  border: 1px solid #CBCBCB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 500px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 116%;
  margin-top: 15px;
}

.iTxt {
  width: 500px;
  height: 140px;
  padding: 5px;
  font-size: 116%;
  margin-top: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.greenBtn {
  height: 35px;
  width: 100px;
  line-height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
}

.noticeList {
  margin-top: 15px;
}
.noticeList .bTxt {
  font-size: 182%;
}
.noticeList ol li {
  font-size: 116%;
  margin-top: 10px;
}
.noticeList ol li .pinkNum {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  color: white;
  background-color: #e4007f;
  text-align: center;
  line-height: 21px;
  font-weight: bold;
  display: inline-block;
  margin-right: 6px;
}

/*# sourceMappingURL=member_recommen.css.map */
