/*mixin */
#memberContent .contentTitle {
  font-size: 116%;
}
#memberContent .contentTitle .userName {
  font-size: 153.9%;
  margin-right: 10px;
}
#memberContent .contentTitle .bTxt {
  font-size: 153.9%;
}
#memberContent .contentTitle .rTWrap {
  float: right;
}
#memberContent .contentTitle .rTWrap a {
  margin-top: 3px;
}
#memberContent .contentTitle .rTWrap a:hover {
  text-decoration: underline;
}
#memberContent .lwrap {
  font-size: 116%;
  width: 40%;
  float: left;
}
#memberContent .lwrap .email {
  margin-top: 10px;
}
#memberContent .lwrap .txt {
  margin-top: 5px;
}
#memberContent .lwrap .txt .c_num {
  font-size: 153.9%;
}
#memberContent .rWrap {
  font-size: 116%;
  float: left;
  width: 60%;
  margin-top: 10px;
}
#memberContent .rWrap .taskList {
  color: #94b706;
  margin: 10px 0px;
}
#memberContent .rWrap .taskList .listItem {
  float: left;
  width: 49%;
}
#memberContent .rWrap .taskList .listItem .icon_check {
  background-image: url("../images/g/articleIcon.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: sub;
  margin-top: 3px;
  background-position: -100px 0;
  margin-right: 5px;
  position: relative;
  margin-top: 5px;
}
#memberContent .rWrap .taskList .listItem.done {
  text-decoration: line-through;
  color: black;
}
#memberContent .rWrap .taskList .listItem.done .icon_check {
  background-position: -80px 0;
}
#memberContent .recordTable {
  font-size: 123.1%;
  width: 100%;
  margin-top: 20px;
}
#memberContent .recordTable tr {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#memberContent .recordTable td.date {
  width: 20%;
}
#memberContent .recordTable td.txt {
  width: 60%;
  line-height: 22px;
  padding: 8px 15px;
  text-align: left;
}
#memberContent .recordTable td.coin {
  width: 20%;
  color: #e4007f;
}
#memberContent .recordTable tr.odd {
  background-color: #f4e9e5;
}
#memberContent .recordTable th {
  background-color: #c4b9b5;
  color: white;
}

/*# sourceMappingURL=member_coin.css.map */
