/*mixin */
.pinkBtn:hover {
  color: white;
  text-decoration: none;
}

.i_q {
  background: url("../images/g/qa.png") no-repeat 0 0;
  width: 23px;
  height: 24px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 3px;
  margin-right: 7px;
}

.i_a {
  background: url("../images/g/qa.png") no-repeat -1px -26px;
  width: 21px;
  height: 19px;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 3px;
  margin-right: 7px;
}

.c_wrap {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.centerTxt {
  text-align: center;
}

.txt {
  font-size: 108%;
  line-height: 28px;
}

.wTxt {
  color: white;
}

.header {
  background-color: #e4007f;
  width: 100%;
  height: 120px;
}
.header .h_txt {
  display: inline-block;
  font-size: 225%;
  position: relative;
  top: -15px;
  left: 20px;
}
.header .logoCoin {
  width: 66px;
  height: 67px;
  background: url("../images/g/bb_coin.png");
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: -15px;
  left: 5px;
}
.header .logo {
  width: 255px;
  height: 113px;
  background: url("../images/g/mainLogo.png");
  display: inline-block;
  vertical-align: text-bottom;
}

.main_container .p_title {
  margin: 25px 0;
}
.main_container .p_title .f24 {
  margin-bottom: 10px;
}
.main_container .p_title .pinkBtn {
  padding: 2px 15px;
  margin-left: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.main_container .bBox {
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  padding: 15px 15px;
  margin: 15px 0;
}
.main_container .bList li {
  position: relative;
  width: 230px;
  min-height: 380px;
  float: left;
  margin: 0 50px 20px 0;
  border: 1px solid #CBCBCB;
  padding: 40px 0 0 0;
}
.main_container .bList li .list_title {
  width: 100px;
  height: 24px;
  background-color: #94b706;
  color: white;
  font-size: 108%;
  line-height: 24px;
  position: absolute;
  top: 10px;
  left: 0;
}
.main_container .bList li .list_title a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}
.main_container .bList li .list_title a:hover {
  color: black;
  text-decoration: none;
}
.main_container .bList li .txt {
  text-align: center;
}
.main_container .bList li .picWrap {
  margin: 10px auto 0px;
  width: 185px;
  height: 209px;
  overflow: hidden;
}
.main_container .bList li .txtLink {
  text-align: center;
  height: auto;
  width: 100%;
  min-height: 42px;
}
.main_container .bList li .coint {
  width: 100%;
  text-align: center;
}
.main_container .bList li .btnWrap {
  text-align: center;
  margin-top: 5px;
}
.main_container .bList li .btnWrap .pinkBtn {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
.main_container .tipBox {
  border-top: 1px solid #CBCBCB;
  padding: 20px 15px;
}
.main_container .tipBox ol {
  list-style-type: decimal;
  padding-left: 25px;
  margin-top: 20px;
}
.main_container .tipBox ol li {
  margin-bottom: 15px;
}

#footer {
  margin-top: 0;
}
#footer .txt {
  font-size: 100%;
  line-height: inherit;
}

/*# sourceMappingURL=p_exchange.css.map */
