/*mixin */
.c_wrap {
  width: 1030px;
  margin: 0 auto;
  position: relative;
}

.sBox {
  position: relative;
}
.sBox:before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/g/lightBlackBg.png");
  background-repeat: repeat-x;
}

.vjs-default-skin .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -57px;
  margin-top: -36px;
}

.txt {
  font-size: 116%;
  line-height: 26px;
}

.wTxt {
  color: white;
}

.centerTxt {
  text-align: center;
}

.p_title {
  margin: 60px auto 40px;
}

.p_title.t1 {
  background: url("../images/about/about_title2.png") no-repeat -2px 0;
  width: 1124px;
  height: 30px;
}

.p_title.t2 {
  background: url("../images/about/about_title2.png") no-repeat 0 -47px;
  width: 1133px;
  height: 31px;
}

.p_title.t3 {
  background: url("../images/about/about_title2.png") no-repeat 0 -104px;
  width: 1133px;
  height: 30px;
}

.p_title.t4 {
  background: url("../images/about/about_title2.png") no-repeat 0 -159px;
  width: 1133px;
  height: 30px;
}

.yTag.y2014 {
  background: url("../images/about/yTag.png") no-repeat 0 -92px;
  width: 179px;
  height: 82px;
}

.yTag.y2013 {
  background: url("../images/about/yTag.png") no-repeat 0 0;
  width: 179px;
  height: 82px;
}

.yTag.y2012 {
  background: url("../images/about/yTag.png") no-repeat 0 -185px;
  width: 179px;
  height: 82px;
}

.yTag.y2010 {
  background: url("../images/about/yTag.png") no-repeat 0 -277px;
  width: 179px;
  height: 82px;
}

.yTag.y2009 {
  background: url("../images/about/yTag.png") no-repeat 0 -369px;
  width: 179px;
  height: 82px;
}

.yTag2.y2015 {
  background: url("../images/about/yTag2.png") no-repeat 0 0;
  width: 106px;
  height: 32px;
}

.yTag2.y2014 {
  background: url("../images/about/yTag2.png") no-repeat -2px -45px;
  width: 108px;
  height: 32px;
}

.yTag2.y2013 {
  background: url("../images/about/yTag2.png") no-repeat -2px -90px;
  width: 107px;
  height: 32px;
}

.yTag2.y2012 {
  background: url("../images/about/yTag2.png") no-repeat -2px -135px;
  width: 107px;
  height: 27px;
}

.yTag2.y2011 {
  background: url("../images/about/yTag2.png") no-repeat -2px -180px;
  width: 102px;
  height: 27px;
}

.yTag2.y2010 {
  background: url("../images/about/yTag2.png") no-repeat -2px -225px;
  width: 109px;
  height: 27px;
}

.yTag2.y2008 {
  background: url("../images/about/yTag2.png") no-repeat -2px -269px;
  width: 115px;
  height: 28px;
}

.header {
  height: 56px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}
.header .h_logo {
  width: 106px;
  height: 33px;
  background: url("../images/g/logo_106x33.png");
  margin: 12px 0 0 5px;
  position: absolute;
  z-index: 100;
}
.header .h_menu {
  width: 100%;
  text-align: center;
  position: absolute;
  right: 0;
  top: 2px;
  margin-top: 12px;
}
.header .h_menu li {
  display: inline-block;
  background: url("../images/about/b_line.png") no-repeat;
  background-position: top left;
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
}
.header .h_menu li:first-child {
  background: none;
}

.p_banner {
  background-color: #e4007f;
  min-height: 560px;
}
.p_banner .p_bannerPic {
  width: 333px;
  height: 212px;
  background: url("../images/about/about_title3.png");
  position: absolute;
  left: 140px;
  top: 97px;
}
.p_banner .content {
  position: absolute;
  left: 140px;
  width: 400px;
  top: 340px;
}
.p_banner .a_video {
  width: 384px;
  height: 216px;
  position: absolute;
  top: 165px;
  left: 580px;
  background-color: #000;
}

.p_about {
  background-color: #d4d4d4;
  overflow: hidden;
}
.p_about .c_wrap {
  padding: 40px 0;
  padding-right: 20px;
}
.p_about .c_wrap .g_pic {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 297px;
  height: 290px;
  background: url("../images/about/about_pic1.png");
}
.p_about .c_wrap .g_subTitle {
  min-width: 40px;
  padding: 0 20px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 15px;
}
.p_about .c_wrap .fTxt {
  width: 620px;
}
.p_about .c_wrap .cTxt {
  margin: 30px 0;
}

.p_glory {
  background-color: #90c31f;
  overflow: hidden;
}
.p_glory .c_wrap {
  padding-bottom: 60px;
}
.p_glory .c_wrap .cupPic {
  width: 52px;
  height: 206px;
  background: url("../images/about/about_pic2.png");
  position: absolute;
  right: 30px;
  bottom: 35px;
}
.p_glory .c_wrap .yearListBox {
  padding: 30px 0;
  position: relative;
  border-top: 1px dotted #000;
}
.p_glory .c_wrap .yearListBox.nBd {
  border-top: none;
}
.p_glory .c_wrap .yearListBox li {
  padding: 10px 0;
}
.p_glory .c_wrap .yearListBox .yTag {
  position: absolute;
  top: 25px;
  left: 0;
}
.p_glory .c_wrap .yearListBox .listBox {
  padding-left: 220px;
}
.p_glory .c_wrap .yearListBox .listBox .h_listTitle {
  min-width: 120px;
  margin-right: 10px;
  float: left;
}
.p_glory .c_wrap .yearListBox .listBox .txt {
  overflow: hidden;
  display: block;
}

.p_history {
  background-color: #bcbcbc;
  overflow: hidden;
}
.p_history .c_wrap {
  padding: 40px 0px;
}
.p_history .c_wrap .pp_t {
  width: 1069px;
  height: 122px;
  background: url("../images/about/about_pTOp.jpg");
}
.p_history .c_wrap .pp_m {
  background: url("../images/about/about_pM.jpg") repeat-y;
  width: 1069px;
}
.p_history .c_wrap .pp_d {
  width: 1056px;
  height: 104px;
  background: url("../images/about/about_pD.jpg");
}
.p_history .c_wrap .yearListBox {
  margin: 0px 60px 0px 200px;
  padding-bottom: 20px;
  position: relative;
}
.p_history .c_wrap .yearListBox.nBd {
  border-top: none;
}
.p_history .c_wrap .yearListBox li {
  border-bottom: 1px dotted #000;
  padding: 7px 0;
}
.p_history .c_wrap .yearListBox .yTag2 {
  position: absolute;
  top: 10px;
  left: -120px;
}
.p_history .c_wrap .yearListBox .listBox {
  padding-left: 10px;
}
.p_history .c_wrap .yearListBox .listBox .h_listTitle {
  min-width: 45px;
  margin-right: 10px;
  float: left;
}
.p_history .c_wrap .yearListBox .listBox .txt {
  overflow: hidden;
  display: block;
}

.p_contact {
  overflow: hidden;
  background-color: #00c5c9;
}
.p_contact .c_wrap {
  padding-bottom: 60px;
  padding-top: 15px;
}
.p_contact .c_wrap .mapPic {
  width: 638px;
  height: 171px;
  background: url("../images/about/about_map.png");
  float: left;
}
.p_contact .c_wrap .contact_info {
  overflow: hidden;
  padding: 5px 20px;
  min-height: 171px;
}
.p_contact .c_wrap .contact_info li {
  line-height: 26px;
}

.footer {
  overflow: hidden;
  background-color: #808080;
}
.footer .c_wrap {
  padding: 50px 0;
}
.footer .f_btnWrap {
  text-align: center;
}
.footer .f_btnWrap .ai_icon {
  display: inline-block;
  margin-right: 15px;
}
.footer .wTxt {
  margin-top: 20px;
  text-align: center;
}

/*# sourceMappingURL=p_index.css.map */
