/*mixin */
.bigTitle {
  border: 1px solid #CBCBCB;
  height: 255px;
  width: 100%;
  position: relative;
}
.bigTitle .lBox {
  position: absolute;
  right: 330px;
  left: 0;
  height: 100%;
}
.bigTitle .rBox {
  position: absolute;
  width: 330px;
  right: 0;
  height: 100%;
  padding: 15px 20px;
}
.bigTitle .rBox:after {
  position: absolute;
  top: 40px;
  left: -11px;
  content: "";
  width: 11px;
  height: 19px;
  background: url("../images/g/navArrLeft.png");
}
.bigTitle .rBox .dealWrap {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.wideBlock > .wideBlockList {
  width: 1150px;
}

.picTxtList .listItem {
  width: 560px;
  border: 1px solid #CBCBCB;
  margin: 0px 15px 15px 0px;
  position: relative;
  float: left;
  padding: 15px;
}
.picTxtList .listItem .picBox {
  width: 260px;
  height: 165px;
  float: left;
}
.picTxtList .listItem .txtBox {
  overflow: hidden;
  padding-left: 15px;
  min-height: 165px;
  position: relative;
}
.picTxtList .listItem .txtBox .moreBtn {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.videoList .listItem {
  padding: 25px;
  border: 1px solid #CBCBCB;
  background-color: #fffff1;
  margin-bottom: 15px;
}
.videoList .listItem .videoWrap {
  width: 520px;
  height: 320px;
}
.videoList .listItem .txtWrap {
  width: 520px;
  min-height: 320px;
  padding-top: 15px;
}

.psBox {
  padding: 25px;
  background-color: #f3f3f3;
}

.buyList .listItem {
  width: 260px;
  height: 427px;
  float: left;
  margin-right: 25px;
  margin-bottom: 15px;
  border: 1px solid #CBCBCB;
  padding: 25px;
}
.buyList .listItem .picBox {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 200px;
  height: 278px;
  display: block;
}
.buyList .listItem .txtBox {
  padding: 10px 0;
  height: 70px;
  display: block;
}
.buyList .listItem .pinkBtn {
  display: block;
  height: 30px;
  line-height: 30px;
}
.buyList .listItem .pinkBtn .i_buyLine {
  margin-right: 10px;
  vertical-align: text-top;
}

@media screen and (max-width: 1140px) {
  .wideBlock > .wideBlockList {
    width: 925px;
  }

  .articleList .listItem.midItem {
    width: 443px;
  }
  .articleList .listItem.midItem .bookItem {
    width: 97px;
  }

  .picTxtList .listItem {
    width: 443px;
  }

  .videoList .listItem .txtWrap {
    width: 320px;
  }

  .buyList .listItem {
    width: 205px;
    height: 397px;
    padding: 15px;
  }
  .buyList .listItem .picBox {
    width: 172px;
    height: 245px;
  }
  .buyList .listItem .txtBox {
    height: 88px;
  }
}

/*# sourceMappingURL=reading_album.css.map */
