/*mixin */
.grayLine {
  margin: 15px 0;
}

.tagWrap .txt {
  float: left;
  font-size: 138.5%;
  padding: 10px 10px;
}
.tagWrap .lBox {
  float: left;
  padding: 10px 10px;
}
.tagWrap .rBox {
  padding: 10px 10px;
  float: none;
  overflow: hidden;
  border-left: 1px solid #CBCBCB;
}
.tagWrap .tagItem {
  float: left;
  margin-left: 10px;
  margin-bottom: 8px;
  height: 30px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #e4007f;
  text-align: center;
  line-height: 30px;
  color: #e4007f;
  font-size: 116%;
  position: relative;
}
.tagWrap .tagItem a {
  padding: 0 10px;
}
.tagWrap .tagItem:hover {
  background-color: #e4007f;
  color: white;
}
.tagWrap .tagItem.active {
  background-color: #e4007f;
  color: white;
}

.columnistBox {
  padding: 20px 0;
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  margin-top: 15px;
  position: relative;
}
.columnistBox .seeMore {
  position: absolute;
  right: 0;
  top: 15px;
}
.columnistBox .lBox .picWrap {
  width: 245px;
  height: 264px;
  overflow: hidden;
}
.columnistBox .lBox .pinkBtn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
}
.columnistBox .rBox {
  padding-left: 15px;
  float: none;
  overflow: hidden;
}
.columnistBox .rBox .c_title {
  font-size: 138.5%;
}
.columnistBox .rBox .c_name {
  margin-top: 20px;
  font-size: 174%;
}
.columnistBox .rBox p {
  margin-top: 15px;
  font-size: 116%;
  color: #626262;
  line-height: 24px;
}

.articleList .listItem {
  margin-top: 25px;
  padding: 5px 0px;
  position: relative;
}
.articleList .listItem.sponsor {
  background-color: #f3f3f3;
}
.articleList .listItem .picWrap {
  width: 260px;
  height: 165px;
  overflow: hidden;
  float: right;
}
.articleList .listItem .txtWrap {
  float: left;
  width: 100%;
  height: 165px;
  position: relative;
}
.articleList .listItem .txtWrap .c_info {
  margin-top: 20px;
}
.articleList .listItem .txtWrap .c_info .manPicWrap {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
  overflow: hidden;
  width: 63px;
  height: 63px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.articleList .listItem .txtWrap .c_info .rBox {
  width: 80%;
  margin-left: 15px;
  line-height: 19px;
}
.articleList .listItem .txtWrap .c_info .rBox .c_name {
  font-size: 116%;
}
.articleList .listItem .txtWrap .l_titleWrap .l_Title {
  font-size: 123.1%;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.articleList .listItem .txtWrap .l_titleWrap h1 {
  display: inline-block;
}
.articleList .listItem .txtWrap .l_titleWrap h1:hover {
  text-decoration: none;
  color: #e4007f;
}
.articleList .listItem .txtWrap p {
  margin-top: 8px;
  line-height: 28px;
  font-size: 108%;
  height: 50px;
  overflow: hidden;
  color: #626262;
}
.articleList .listItem .txtWrap .l_footerWrap {
  position: absolute;
  margin-top: 10px;
}
.articleList .listItem .txtWrap .l_footerWrap .socailWrap {
  display: inline-block;
  vertical-align: middle;
}
.articleList .listItem .txtWrap .l_footerWrap .socailWrap * {
  margin-right: 8px;
}
.articleList .listItem .txtWrap .l_footerWrap .tagWrap a {
  text-decoration: none;
}
.articleList .listItem .txtWrap .l_footerWrap .tagWrap a:hover {
  color: #e4007f;
}
.articleList .listItem .txtWrap .l_footerWrap .tagWrap p {
  text-decoration: none;
}
.articleList .listItem .txtWrap .sponsorCompany {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ff7430;
}

@media screen and (max-width: 1140px) {
  .articleList .listItem .picWrap {
    display: none;
  }

  .columnistBox {
    padding-top: 40px;
  }
  .columnistBox .seeMore {
    top: 10px;
  }
}

/*# sourceMappingURL=readingcolumnArticleList.css.map */
