@charset "UTF-8";
body {
  font: 14px "新細明體",Verdana,Arial,Helvetica,sans-serif; }
  body > .container {
    padding-top: 70px; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }
