/*mixin */
.orangeTag {
  padding: 0 15px;
}

.videoList ul {
  width: 830px;
}
.videoList .listItem {
  width: 260px;
  height: 320px;
  border: 1px solid #CBCBCB;
  margin: 15px 15px 0px 0px;
  position: relative;
  float: left;
  padding: 10px 15px 15px 15px;
}
.videoList .listItem .titleWrap {
  position: absolute;
  top: 10px;
}
.videoList .listItem .titleWrap .list_title {
  background-color: #94b706;
}
.videoList .listItem .titleWrap .s_txt {
  color: #CBCBCB;
  display: inline-block;
  line-height: 24px;
}
.videoList .listItem .date {
  color: #CBCBCB;
  margin-bottom: 5px;
}
.videoList .listItem h1 {
  font-size: 123.1%;
  line-height: 26px;
  height: 60px;
}
.videoList .listItem .desc_txt {
  line-height: 24px;
  margin-top: 5px;
  color: #626262;
  height: 60px;
}
.videoList .listItem .time_txt {
  width: 70px;
  line-height: 24px;
  color: #C2C2C2;
  margin-bottom: 5px;
}
.videoList .listItem .picWrap {
  width: 226px;
  height: 142px;
  overflow: hidden;
  margin-bottom: 10px;
}
.videoList .listItem .picWrap .play_icon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.videoList .listItem .greenBorderBtn {
  width: 226px;
  left: 15px;
  font-size: 116%;
}
.videoList .listItem .pinkBorderBtn {
  width: 226px;
  left: 15px;
  font-size: 116%;
}
.videoList .listItem.test .titleWrap .list_title {
  background-color: #01aeb4;
}
.videoList .listItem.bigItem {
  width: 535px;
}
.videoList .listItem.bigItem h1 {
  height: 40px;
}
.videoList .listItem.bigItem .container {
  margin-top: 15px;
}
.videoList .listItem.bigItem .container .lWrap {
  float: left;
  width: 226px;
}
.videoList .listItem.bigItem .container .rWrap {
  float: left;
  margin-left: 35px;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox {
  width: 226px;
  height: 179px;
  background-color: #cccccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  overflow: visible;
  padding-top: 40px;
  margin-bottom: 15px;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox .container {
  width: 200px;
  height: 127px;
  margin: 0px auto;
  background-color: white;
  padding: 10px;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox .container .txt {
  font-size: 116%;
  font-weight: bold;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox .container .f_big {
  font-size: 138%;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox .container .count {
  text-align: center;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox .container .count .dayCount {
  font-weight: bold;
  font-size: 568%;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox .lt {
  width: 40px;
  height: 50px;
  border: 10px solid white;
  position: absolute;
  top: -20px;
  left: 40px;
  background-color: #cccccc;
}
.videoList .listItem.bigItem .container .rWrap .datCalendarBox .rt {
  width: 40px;
  height: 50px;
  border: 10px solid white;
  position: absolute;
  top: -20px;
  right: 40px;
  background-color: #cccccc;
}

.ad_800x100 {
  display: inline-block;
}

@media screen and (max-width: 1140px) {
  .videoList ul {
    width: 550px;
  }
}

/*# sourceMappingURL=videoList.css.map */
