/*mixin */
.articleTitle {
  font-size: 250%;
  margin-top: 20px;
}

.videoWrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  border: 1px solid #CBCBCB;
  height: 0;
  margin-bottom: 20px;
}
.videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#videoCategory {
  position: relative;
  margin-top: 20px;
}
#videoCategory .containerTitle {
  font-size: 150%;
}
#videoCategory .more {
  position: absolute;
  right: 0px;
  top: 5px;
}
#videoCategory .bookWrap {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#videoCategory .leftRightBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#videoCategory .leftRightBtn .btn {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 120px;
  background-image: url("../images/g/arrBtn.png");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  cursor: pointer;
}
#videoCategory .leftRightBtn .btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#videoCategory .leftRightBtn .lBtn {
  left: 0;
}
#videoCategory .leftRightBtn .rBtn {
  right: 0;
  background-position: -49px 0;
}
#videoCategory .videoCategoryList {
  width: 9999px;
  position: relative;
  left: 0;
  padding-top: 15px;
}
#videoCategory .videoCategoryList .listItem {
  width: 260px;
  height: 245px;
  border: 1px solid #CBCBCB;
  margin: 0px 15px 30px 0px;
  position: relative;
  float: left;
  padding: 35px 15px 15px;
}
#videoCategory .videoCategoryList .listItem:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
#videoCategory .videoCategoryList .listItem .containPic {
  width: 226px;
  height: 142px;
  margin: 0px auto 0px auto;
}
#videoCategory .videoCategoryList .listItem .containPic .play_icon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
#videoCategory .videoCategoryList .listItem .list_title {
  width: 70px;
  height: 24px;
  color: #C2C2C2;
  font-size: 108%;
  line-height: 24px;
  position: absolute;
  top: 15px;
  z-index: 10;
}
#videoCategory .videoCategoryList .listItem .list_title a {
  display: block;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}
#videoCategory .videoCategoryList .listItem .list_title a:hover {
  text-decoration: none;
}
#videoCategory .videoCategoryList .listItem .coverTitle {
  position: absolute;
  background-image: url("../images/g/black.png");
  width: 100%;
  height: 56px;
  color: white;
  font-size: 123.1%;
  padding: 0 20px;
  left: 0;
  bottom: 0;
}
#videoCategory .videoCategoryList .listItem .coverTitle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#videoCategory .videoCategoryList .listItem .coverTitle .txt {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
#videoCategory .videoCategoryList .listItem .bgPic {
  position: absolute;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=video.css.map */
