/*mixin */
.articleTagWrap .greenTag {
  float: left;
}
.articleTagWrap .orangeTxt {
  float: right;
  line-height: 24px;
}

#bigBanner {
  width: 100%;
  height: 260px;
  overflow: hidden;
  -moz-background-size: "cover";
  -o-background-size: "cover";
  -webkit-background-size: "cover";
  background-size: "cover";
  position: relative;
  margin-top: 15px;
}
#bigBanner .b_title {
  background-image: url("../images/g/black2.png");
  background-position: left bottom;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 182%;
  color: white;
  padding: 114px 27px 15px 27px;
  background-repeat: repeat-x;
}

.infoWrap {
  position: relative;
  width: 100%;
  min-height: 60px;
  line-height: 35px;
  margin-top: 20px;
}
.infoWrap .author {
  line-height: 18px;
}
.infoWrap .info {
  margin-top: 8px;
  line-height: 18px;
}
.infoWrap .orangeTxt {
  margin-left: 8px;
}
.infoWrap .lBox {
  height: 63px;
  width: 63px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #CBCBCB;
}
.infoWrap .rBox {
  margin-left: 15px;
}
.infoWrap .dealWrap {
  position: absolute;
  right: 0;
  bottom: 8px;
  margin-top: 0;
}

.dotLine {
  margin-top: 10px;
}

.contentWrap {
  width: 100%;
  font-size: 116%;
  line-height: 24px;
  margin-top: 10px;
}
.contentWrap .lWrap {
  float: left;
  width: 55%;
  padding: 10px 0px 15px 0px;
}
.contentWrap .rWrap {
  float: left;
  width: 45%;
  padding: 10px 15px;
  background-color: #f2f2f0;
  color: #626262;
}
.contentWrap .rWrap .coinNum {
  font-size: 180%;
  font-weight: bold;
}
.contentWrap .rWrap .coinInfoBtn {
  margin-top: 10px;
  text-decoration: none;
}

.questionWrap {
  margin-top: 30px;
}
.questionWrap .questionBox .q_title {
  font-size: 150%;
}
.questionWrap .questionBox .q_list {
  width: 825px;
  margin-top: 15px;
}
.questionWrap .questionBox .q_list .listItem {
  float: left;
  width: 260px;
  margin: 0 15px 20px 0;
  border: 1px solid #CBCBCB;
  padding: 12px 15px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.questionWrap .questionBox .q_list .listItem .q_content {
  background-color: #fffff1;
  width: 227px;
  min-height: 95px;
  padding: 20px 20px;
  font-size: 110%;
  line-height: 24px;
  color: #373737;
}
.questionWrap .questionBox .q_list .listItem .q_pic {
  width: 227px;
  height: 167px;
  overflow: hidden;
  -moz-background-size: "cover";
  -o-background-size: "cover";
  -webkit-background-size: "cover";
  background-size: "cover";
}
.questionWrap .questionBox .q_list .listItem .q_footer {
  font-size: 116%;
  line-height: 24px;
  margin-top: 10px;
  color: #373737;
}
.questionWrap .questionBox .q_list .listItem .q_footer input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: bottom;
}
.questionWrap .questionBox .q_list .listItem:hover {
  background-color: #f2f2f0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.questionWrap .questionBox .q_list .listItem.active {
  background-color: #f2f2f0;
}
.questionWrap .resultBox .r_list {
  display: none;
  width: 100%;
  margin-top: 15px;
}
.questionWrap .resultBox .r_list .listItem {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.questionWrap .resultBox .r_list .listItem .r_title {
  width: 260px;
  font-size: 108%;
  padding: 9px 15px 0px 40px;
  color: #373737;
  line-height: 24x;
}
.questionWrap .resultBox .r_list .listItem .r_bar {
  position: absolute;
  left: 260px;
  right: 140px;
  top: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  height: 35px;
}
.questionWrap .resultBox .r_list .listItem .r_bar .bar {
  height: 100%;
  background-color: #CBCBCB;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap {
  width: 60px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  height: 35px;
  margin-left: 2%;
  position: relative;
  line-height: 35px;
  position: absolute;
  top: 0;
  right: 60px;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 10px 7px 0px;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: 11px;
  left: -9px;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap .arr {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 10px 7px 0px;
  border-color: transparent #CBCBCB transparent transparent;
  position: absolute;
  top: 11px;
  left: -11px;
}
.questionWrap .resultBox .r_list .listItem .r_rateWrap .r_rate {
  text-align: center;
  width: 60px;
  font-size: 164%;
  height: 35px;
  line-height: 35px;
  color: #373737;
}
.questionWrap .resultBox .r_list .listItem .r_count {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  font-size: 138.5%;
  text-align: center;
  line-height: 35px;
  color: #626262;
}
.questionWrap .resultBox .r_list .listItem.userChoose {
  color: #94b706;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_bar .bar {
  background-color: #94b706;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_rateWrap {
  background-color: #94b706;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_rateWrap:after {
  border-color: transparent #94b706 transparent transparent;
}
.questionWrap .resultBox .r_list .listItem.userChoose .r_rateWrap .r_rate {
  color: white;
}
.questionWrap .resultBox .r_list .listItem .correctIcon {
  float: left;
  position: absolute;
  top: 5px;
  left: 0;
}
.questionWrap .resultBox .r_list .listItem .wrongIcon {
  float: left;
  position: absolute;
  top: 5px;
  left: 0;
}

.q_sendBtn {
  width: 180px;
  height: 36px;
  line-height: 36px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 15px auto;
  font-size: 116%;
}

.r_countBox {
  display: none;
  width: 100%;
  padding: 15px;
  background-color: #EBEBEB;
  position: relative;
}
.r_countBox .scoreWrap {
  width: 150px;
  border-right: 1px dotted #ABABAB;
  float: left;
  padding: 15px;
}
.r_countBox .scoreWrap .score {
  font-size: 400%;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.r_countBox .articleListWrap {
  overflow: hidden;
  padding: 20px 15px 15px;
}
.r_countBox .articleListWrap .txt {
  font-size: 116%;
}
.r_countBox .articleListWrap .listItem {
  color: #e4007f;
  font-size: 116%;
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 10px;
}
.r_countBox .articleListWrap .listItem a {
  color: #e4007f;
}
.r_countBox .shareWrap {
  position: absolute;
  top: 15px;
  right: 15px;
}

.preVoteBox {
  border: 1px solid #CBCBCB;
  padding: 10px 15px;
  margin-top: 30px;
}
.preVoteBox .seeAllVote {
  float: right;
}
.preVoteBox .p_title {
  font-size: 138.5%;
}
.preVoteBox .p_List {
  margin-top: 15px;
}
.preVoteBox .p_List .listItem {
  margin-bottom: 10px;
}
.preVoteBox .p_List .listItem .p_name {
  font-size: 116%;
}

.relatedArticleBox {
  margin-top: 30px;
}
.relatedArticleBox .lWrap {
  width: 400px;
  float: left;
  padding: 0px 15px;
}
.relatedArticleBox .rWrap {
  width: 400px;
  float: left;
  border-left: 1px dotted #000;
  padding: 0px 15px;
}
.relatedArticleBox .boxTitle {
  font-size: 138.5%;
  font-weight: bold;
}
.relatedArticleBox ul li {
  line-height: 23px;
  margin-top: 10px;
  color: #626262;
  list-style-type: disc;
  margin-left: 15px;
  padding-left: 5px;
}
.relatedArticleBox ul li a {
  display: inline;
}
.relatedArticleBox ul li.Sponsor {
  background-color: #ffe9de;
}

.fb_discussBox {
  margin-top: 15px;
}
.fb_discussBox .boxTitle {
  color: #3b5998;
  font-size: 138.5%;
}
.fb_discussBox .fbWrap {
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 15px;
}

@media screen and (max-width: 1140px) {
  .infoWrap .author {
    width: 180px;
  }
  .infoWrap .info {
    width: 180px;
  }

  .relatedArticleBox .rWrap {
    border-top: 1px dotted #000;
    border-left: none;
    margin-top: 15px;
    padding-top: 15px;
  }

  .questionWrap .questionBox .q_list {
    width: 550px;
  }

  .r_countBox .articleListWrap {
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .r_countBox .shareWrap {
    position: absolute;
    top: 23px;
    right: 30px;
  }
}

/*# sourceMappingURL=vote.css.map */
