@charset "UTF-8"

#footer
	width: 100%
	background-color: #707070
	margin-top: 30px
	color: white
	overflow: auto
	.icon
		display: inline-block
		vertical-align: middle
		margin-left: 10px
	
	.fHeader
		width: 100%
		height: 60px
		position: relative
		margin: 30px 0 20px
		line-height: 60px


		.lBox	
			float: left
			
		.mBox
			float: left
			margin-left: 100px
			.txt
				float: left
			form
				float: left
				input[type=text]
					width: 190px
					height: 28px
					line-height: 28px 
					padding-left: 10px
					margin-left: 10px
					border: none
					+border-radius(5px)
				.mBtnWrap	
					margin-left: 15px	
				input[type=submit]
					+border-radius(5px)
					height: 28px
					line-height: 28px 
					padding: 0px 40px
					

		.rBox
			cursor: pointer
			float: right
			&:hover
				+opacity(0.5)
			.txt
				float: left

	.fContent
		border-top: 1px dotted white 
		width: 100%
		padding: 20px 0
		overflow: hidden
		display: none
		.fcBox
			float: left
			margin-right: 80px
			.fbTitle
				position: relative
				display: inline-block
				font-size: 123.1%
				&:after 
					content: ''
					background: url('../images/g/icon.png') no-repeat -45px -71px
					width: 9px
					height: 5px
					position: absolute
					display: block
					right: -14px
					top: 6px

			.txtList
				margin-top: 15px
				li 
					min-height: 25px
					line-height: 25px
		.fanBox
			.fanList
				margin-top: 15px 
				.listItem
					margin-top: 5px
					.coverPic
						width: 50px
						height: 50px
						float: left
					.txt
						float: left
						height: 50px
						margin-left: 15px
						line-height: 50px
		.magazineBox
			float: right
			.coverPic
				width: 156px
				height: 213px
			.btnWrap
				margin-top: 15px
				.pinkBtn
					float: left
					width: 75px
					height: 24px
					+border-radius(5px)
					margin-right: 7px
		.webNavBox
			.txtList
				float: left
				width: 110px
				.subNavList
					list-style-type: disc
					margin-left: 23px

	.f_copyRight
		border-top: 1px solid #8c8c8c
		.centerBlock
			padding: 15px 0
			line-height: 23px
@media screen and (max-width: $breakPoint)
	#footer
		.fContent
			.fcBox
				margin-right: 50px