@charset "UTF-8"

.icon_line,.icon_mail,.icon_mail_c,.icon_print,.icon_fb,.icon_google,.icon_flag,.icon_cMore,.i_download,.i_mp3,.i_buy
	//display: inline-block
	background: url('../images/g/icon_socail.png') no-repeat
	overflow: hidden
	text-indent: -9999px
	text-align: left
	vertical-align: middle


.icon_line 
	background-position: -5px -0px
	width: 36px
	height: 35px

.icon_mail 
	background-position: -5px -40px
	width: 36px
	height: 36px

.icon_mail_c 
	background-position: -5px -81px
	width: 36px
	height: 36px

.icon_print 
	background-position: -5px -122px
	width: 36px
	height: 35px 

.icon_fb 
	background-position: -5px -162px
	width: 35px
	height: 35px
	cursor: pointer
	display: inline-block
	&.active 
		background-position: -5px -202px
	&:hover
		background-position: -5px -202px

.icon_google 
	background-position: -5px -242px
	width: 35px
	height: 35px
	cursor: pointer
	display: inline-block
	&.active 
		background-position: -5px -282px
	&:hover
		background-position: -5px -282px


.icon_flag
	background-position: -47px -0px
	width: 36px
	height: 35px
	cursor: pointer
	&:hover
		background-position: -47px -41px

	&.active 
		background-position: -47px -41px

.icon_cMore
	background-position: -47px -81px
	width: 36px
	height: 35px
	cursor: pointer
	&:hover
		background-position: -47px -121px
	&.active 
		background-position: -47px -121px

.i_download
	background: url('../images/g/icon_socail.png') no-repeat -146px -4px
	width: 35px
	height: 35px
	cursor: pointer
	&:hover
		background: url('../images/g/icon_socail.png') no-repeat -145px -47px
	&.active 
		background: url('../images/g/icon_socail.png') no-repeat -145px -47px
.i_mp3
	background: url('../images/g/icon_socail.png') no-repeat -143px -90px
	width: 35px
	height: 35px
	cursor: pointer
	&:hover
		background: url('../images/g/icon_socail.png') no-repeat -143px -132px
	&.active 
		background: url('../images/g/icon_socail.png') no-repeat -143px -132px
.i_buy
	background: url('../images/g/icon_socail.png') no-repeat -143px -174px
	width: 35px
	height: 35px
	cursor: pointer
	&:hover
		background: url('../images/g/icon_socail.png') no-repeat -143px -218px
	&.active 
		background: url('../images/g/icon_socail.png') no-repeat -143px -218px
.icon_delete,.icon_edit,.icon_link,.icon_list,.icon_tag
	display: inline-block
	background: url('../images/g/icon.png') no-repeat
	overflow: hidden
	text-indent: -9999px
	text-align: left
	vertical-align: middle

.icon_delete 
	background-position: -5px -0px
	width: 25px
	height: 25px

.icon_edit 
	background-position: -35px -0px
	width: 25px
	height: 25px

.icon_link
	background-position: -5px -30px
	width: 25px
	height: 25px
 
.icon_list 
	background-position: -35px -30px
	width: 25px
	height: 25px

.icon_tag 
	background-position: -5px -60px
	width: 25px
	height: 25px

//--- icon---//
.icon_B_redPlay,.B_redLineHeart
	background-image: url("../images/g/bigArticleIcon.png")
	width: 29px
	height: 29px
	display: inline-block
	vertical-align: middle
	margin-right: 8px
.bk_bHeart
	background: url('../images/g/bigArticleIcon.png') no-repeat 0 -32px
	width: 42px
	height: 43px
	display: inline-block	
	
.B_redLineHeart
	background-position: -29px 0

.icon_redPlay,.whiteLineHeart,.icon_greenPlay,.icon_redHeart,.redLineHeart,.icon_greenHeart
	background-image: url("../images/g/articleIcon.png")
	width: 20px
	height: 20px
	display: inline-block
	vertical-align: middle
	margin-left: 3px
	margin-bottom: 5px
.gHeart
	background: url('../images/g/articleIcon.png') no-repeat -210px -2px
	width: 21px
	height: 16px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px
	margin-right: 7px
.icon_greenPlay
	background-position: -20px 0
	
.icon_redHeart
	background-position: -40px 0

.redLineHeart
	background-position: -120px 0

.whiteLineHeart
	background-position: -140px 0

.icon_greenHeart
	background-position: -60px 0
	

.icon_book
	+bg('g/icon_book.png')
	display: inline-block
	vertical-align: sub 
	margin-right: 5px
	margin-left: 2px
.i_openBook	
	background: url('../images/g/articleIcon.png') no-repeat -160px 0
	width: 26px
	height: 20px
	margin: 0px 5px 0 10px	
	vertical-align: text-top
	display: inline-block

.i_lock
	background: url('../images/g/articleIcon.png') no-repeat -190px 0
	width: 15px
	height: 20px
	margin: 0px 5px 0 8px	
	vertical-align: text-top
	display: inline-block
	
//--- header icon---//
#header .icon 
	width: 23px
	height: 23px
	background-image: url("../images/g/header_icon.png")
	background-repeat: no-repeat
	float: left
	margin-top: 3px
	margin-right: 5px

#header .icon_man
	background-position: 0 0
	
#header .icon_bell
	background-position: -23px 0

#header .icon_notice
	background-position: -46px 0
	margin-top: -5px
	margin-left: -10px


.lockIcon	
	background: url('../images/g/lockIcon.png') no-repeat 0 -86px
	width: 144px
	height: 39px
	display: inline-block
	&:hover 
		+opacity(0.8)

.lineIcon	
	background: url('../images/pc-line_03.png')
	width: 181px
	height: 34px
	display: inline-block
	margin-left: 25px

.payReadBtn	
	background: url('../images/g/lockIcon.png') no-repeat 0 0
	width: 173px
	height: 39px
	display: inline-block
.payDownLoadBtn
	background: url('../images/g/lockIcon.png') no-repeat 0 -43px
	width: 173px
	height: 39px
	display: inline-block

.correctIcon 
	background-image: url("../images/g/answerIcon.png")
	background-repeat: no-repeat
	width: 27px
	height: 27px
	display: inline-block
	vertical-align: middle
	
.wrongIcon 
	background-image: url("../images/g/answerIcon.png")
	background-repeat: no-repeat
	background-position: 0 -30px
	width: 27px
	height: 27px
	display: inline-block
	vertical-align: middle

.f_fb_a 
	background: url('../images/g/icon_socail.png') no-repeat -47px -162px
	width: 41px
	height: 41px


.f_fb 
	background: url('../images/g/icon_socail.png') no-repeat -47px -209px
	width: 41px
	height: 40px
	&:hover 
		background-position: -47px -162px


.f_google_a 
	background: url('../images/g/icon_socail.png') no-repeat -47px -256px
	width: 41px
	height: 41px


.f_google 
	background: url('../images/g/icon_socail.png') no-repeat -95px -4px
	width: 41px
	height: 40px
	&:hover 
		background-position: -47px -256px

.f_rrs_a 
	background: url('../images/g/icon_socail.png') no-repeat -95px -49px
	width: 41px
	height: 41px


.f_rrs 
	background: url('../images/g/icon_socail.png') no-repeat -95px -93px
	width: 41px
	height: 40px
	&:hover 
		background-position: -95px -49px

.f_n_a 
	background: url('../images/g/icon_socail.png') no-repeat -94px -138px
	width: 42px
	height: 42px



.f_n 
	background: url('../images/g/icon_socail.png') no-repeat -94px -185px
	width: 42px
	height: 41px
	&:hover 
		background-position: -94px -138px

.f_line_a 
	background: url('../images/g/icon_socail.png') no-repeat -95px -231px
	width: 41px
	height: 41px


.f_line 
	background: url('../images/g/icon_socail.png') no-repeat -95px -277px
	width: 41px
	height: 40px
	&:hover 
		background-position: -95px -231px


.f_uTube 
	background: url('../images/g/utube.png') no-repeat -1px 0
	width: 43px
	height: 43px
	&:hover 
		background-position: 0 -46px


.dotArr	
	background: url('../images/g/icon.png') no-repeat -45px -71px
	width: 9px
	height: 5px

.downArr
	background: url('../images/g/icon.png') no-repeat -68px -7px
	width: 22px
	height: 13px
.upArr
	background: url('../images/g/icon.png') no-repeat -71px -36px
	width: 22px
	height: 13px

.fans_i1
	background: url('../images/g/fani.png') no-repeat 0 0
	
.fans_i2
	background: url('../images/g/fani.png') no-repeat 0 -55px
	
.fans_i3
	background: url('../images/g/fani.png') no-repeat 0 -110px
	
.fans_i4
	background: url('../images/g/fani.png') no-repeat 0 -167px

.fans_i5
	background: url('../images/g/fani.png') no-repeat 0 -225px


.ai_fb
	background: url('../images/g/bb_socail.png') no-repeat 0 0
	width: 78px
	height: 79px
	&:hover 
		background-position: 0 -82px 
	&.active
		background-position: 0 -82px 
.ai_google
	background: url('../images/g/bb_socail.png') no-repeat -82px 0
	width: 78px
	height: 79px
	&:hover 
		background-position: -82px -82px
	&.active
		background-position: -82px -82px
.ai_rss
	background: url('../images/g/bb_socail.png') no-repeat -163px 0
	width: 78px
	height: 79px
	&:hover 
		background-position: -163px -84px 
	&.active
		background-position: -163px -84px 
.ai_ss
	background: url('../images/g/bb_socail.png') no-repeat -244px 0
	width: 80px
	height: 80px
	&:hover 
		background-position: -244px -84px
	&.active
		background-position: -244px -84px
.ai_line
	background: url('../images/g/bb_socail.png') no-repeat -328px 0
	width: 78px
	height: 79px
	&:hover
		background-position: -328px -84px  
	&.active
		background-position: -328px -84px 
.t_arr_r
	background: url('../images/g/txt_arr.png') no-repeat 0 0
	width: 9px
	height: 7px
	display: inline-block
	vertical-align: text-top
	margin-top: 8px
	margin-right: 7px
.t_arr_b
	background: url('../images/g/txt_arr.png') no-repeat 0 -8px
	width: 9px
	height: 7px
	display: inline-block
	vertical-align: text-top
	margin-top: 8px
	margin-right: 7px
.t_arr_g
	background: url('../images/g/txt_arr.png') no-repeat 0 -16px
	width: 9px
	height: 7px
	display: inline-block
	vertical-align: text-top
	margin-top: 8px
	margin-right: 7px

.i_clock
	background: url('../images/g/qaIcon.png') no-repeat 0 -3px
	width: 16px
	height: 16px
	display: inline-block
	vertical-align: text-top

.i_man
	background: url('../images/g/qaIcon.png') no-repeat -25px -1px
	width: 16px
	height: 17px
	display: inline-block
	vertical-align: text-top

.i_talk 
	background: url('../images/g/qaIcon.png') no-repeat -46px 0
	width: 24px
	height: 21px
	display: inline-block
	vertical-align: text-top

.i_man_w
	background: url('../images/g/qaIcon.png') no-repeat -75px -1px
	width: 16px
	height: 17px
	display: inline-block
	vertical-align: text-top

.i_talk_w
	background: url('../images/g/qaIcon.png') no-repeat -95px 0
	width: 23px
	height: 20px
	display: inline-block
	vertical-align: text-top

.i_bigQ
	background: url('../images/g/qaIcon.png') no-repeat -2px -21px
	width: 19px
	height: 32px
	display: inline-block
	vertical-align: text-top

.i_pic
	background: url('../images/g/askIcon.png') no-repeat  -50px 0
	width: 38px
	height: 30px
	display: inline-block
	vertical-align: text-top
	margin-top: -3px
.i_video
	background: url('../images/g/askIcon.png') no-repeat 0 -1px
	width: 38px
	height: 30px
	display: inline-block
	vertical-align: text-top
	margin-top: -3px

.i_delBtn
	background: url('../images/g/qaIcon.png') no-repeat -126px -4px
	width: 16px
	height: 16px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px

.s_clozBtn	
	background-image: url("../images/g/clozBtn.png")
	width: 20px	
	height: 20px	
	cursor: pointer	
	position: absolute	
	right: 15px	
	top: 15px	
	&:hover 
		background-position: 0 -100%

.i_music 
	background: url('../images/g/askIcon.png') no-repeat -94px 0
	width: 27px
	height: 31px
	display: inline-block
	vertical-align: text-top
	margin-top: -5px

.i_talkBox
	background: url('../images/g/expertIcon.png') no-repeat 0 0
	width: 18px
	height: 18px
	display: inline-block
	vertical-align: text-top
	margin-left: 5px

.i_note
	background: url('../images/g/expertIcon.png') no-repeat -22px -1px
	width: 15px
	height: 17px
	display: inline-block
	vertical-align: text-top
	margin-left: 5px

.i_gEdit
	background: url('../images/g/qaIcon.png') no-repeat -122px -27px
	width: 15px
	height: 14px
	display: inline-block
	vertical-align: text-top
	margin-left: 5px
	margin-top: 3px

@mixin ii 
	display: inline-block	
	vertical-align: text-top

//book
.i_greenFind 
	background: url('../images/g/bookIcon.png') no-repeat 0 0
	width: 27px
	height: 26px
	+ii
	margin-right: 5px	

.i_greenDArr 
	background: url('../images/g/bookIcon.png') no-repeat -35px -5px
	width: 16px
	height: 16px
	+ii
	margin-left: 2px
	margin-top: 1px

.i_collect 
	background: url('../images/g/bookIcon.png') no-repeat -122px -4px
	width: 25px
	height: 30px

	
.i_withMP3
	background: url('../images/g/bookIcon.png') no-repeat -4px -59px
	width: 34px
	height: 21px
	+ii
	margin-left: 10px
	margin-top: 4px
.i_withVideo
	background: url('../images/g/bookIcon.png') no-repeat -45px -60px
	width: 29px
	height: 21px
	+ii
	margin-left: 10px
	margin-top: 4px

.i_grPlay 
	background: url('../images/g/bookIcon.png') no-repeat -82px -37px
	width: 20px
	height: 20px
	+ii
	margin-right: 5px


.i_buyLine
	background: url('../images/g/articleIcon.png') no-repeat -236px 0
	width: 21px
	height: 20px
	display: inline-block

.i_top5
	+bg('g/top5.png')
	+ii
	margin-top: -1px

.icon_video_Living,.icon_video_Reading,.icon_video_Education,.icon_video_Parenting,.icon_video_Feature,.icon_video_Kids
	display: inline-block
	background: url('../images/g/icon_video.png') no-repeat
	overflow: hidden
	text-indent: -9999px
	text-align: left
	vertical-align: sub

.icon_video_Living 
	background-position: 0px 0px
	width: 37px
	height: 30px

.icon_video_Reading 
	background-position: -37px 0px
	width: 37px
	height: 30px

.icon_video_Education
	background-position: -74px 0px
	width: 37px
	height: 30px
 
.icon_video_Parenting 
	background-position: -111px 0px
	width: 37px
	height: 30px

.icon_video_Feature 
	background-position: -148px 0px
	width: 37px
	height: 30px

.icon_video_Kids 
	background-position: -185px 0px
	width: 37px
	height: 30px