/*mixin*/
@charset "UTF-8"

.fl
	float: left
.fr
	float: right

.dotBd_b
	border-bottom: 1px dotted #ABABAB

.colectionBtn
	position: absolute
	right: 0
	top: 0
	width: 60px
	cursor: pointer
	.i_collect
		margin: 0 auto
	.lgTxt
		text-align: center
		display: none

	&:hover
		.lgTxt
			display: block
		.i_collect
			background: url('../images/g/bookIcon.png') no-repeat -88px -4px
	&.active
		.i_collect
			background: url('../images/g/bookIcon.png') no-repeat -55px -4px


.expertBox
	padding: 15px 0
	margin-top: 15px
	position: relative

	.seeMore
		position: absolute
		right: 0
		top: 15px


	.lBox
		width: 305px
		.picWrap
			width: 100%
			height: 200px
			overflow: hidden
			border: 1px solid $borderGray
		.pinkBtn
			+border-radius(5px)
			margin-top: 15px
			height: 30px
			line-height: 30px
		.lbBtn
			display: block
			width: 100%
			text-align: center
			height: 30px
			line-height: 30px
			border: 1px solid #a1a19f
			margin-top: 15px
			+border-radius(5px)
			&:hover
				+opacity(0.7)
				text-decoration: none
		.relateBtn
			background-color: #dddddd
		.infoBtn
			background-color: #f2f2f2

	.rBox
		padding-left: 15px
		float: none
		overflow: hidden

		.c_title
			// font-size: 138.5%
			// font-weight: bold

		.c_name
			margin-top: 20px
			// font-size: 174%
			// font-weight: bold
		.pl
			padding-left: 10px

		.c_info
			margin-top: 15px
			// font-size: 116%
			.pTxt
				margin-top: 10px
			.c_content
				margin-top: 10px
				// font-size: 95%
				color: #373737
				line-height: 28px
			.noteWrap
				+border-radius(5px)
				background-color: #f2f2f2
				padding: 10px 10px 10px
				margin-top: 15px
				.pTxt
					margin-top: 0
				.bTxt
					color: #000
					margin-left: 5px
				.c_content
					color: #888886

.threeboxsList
	width: 825px
	margin-top: 15px

	.listItem

		width: 260px
		height: 340px
		border: 1px solid $borderGray
		margin: 0px 15px 15px 0px
		position: relative
		float: left
		padding: 50px 15px 15px 15px
		.colectionBtn
			top: 10px
			width: 50px
		&.bigItem
			width: 810px
			height: auto
			min-height: 280px

		&:hover
			background-color: #f4f4f4
		.fullDiv
			&:hover
				text-decoration: none
		.list_title
			width: 117px
			height: 24px
			background-color: $mainColor2
			color: white
			// font-size: 108%
			line-height: 24px
			position: absolute
			top: 10px
			left: 0

			a
				display: block
				width: 100%
				height: 100%
				padding-left: 15px
			a:hover
				color: black
				text-decoration: none

		h1
			// font-size: 120%
			line-height: 24px
			width: 230px

		h2
			// font-size: 115%
			color: $mainGray
			margin-top: 3px
		p
			// font-size: 16px
			line-height: 24px
			margin-top: 8px
			color: #000000
			list-style-type: disc

		.picWrap
			position: absolute
			left: 0
			bottom: 0
			width: 226px
			height: 142px
			overflow: hidden

		&.sponsor
			.list_title
				background-color: #ff7430
		&.activity
			p
				margin-bottom: 12px
				line-height: 20px
				// display: list-item
				// list-style-type: disc
				// list-style-position: inside
		.subWrap
			width: 225px
			height: 80px
			margin-top: 10px
			margin-left: 5px

			.pic
				width: 63px
				height: 63px
				overflow: hidden
				+border-radius(50%)
				float: left


			.txt
				float: left
				width: 147px
				margin-left: 12px



			&:hover
				.pic
					border: 2px solid $mainColor1

				h2
					color: $mainColor1

		.more
			position: absolute
			right: 10px
			bottom: 10px
			color: #657e00
			// font-size: 100%

		.company
			color: #c2c2c2
			position: absolute
			top: 14px
			left: 128px

		.voteBtn
			width: 227px
			height: 32px
			+border-radius(5px)
			border: 1px solid #7B9807
			text-align: center
			line-height: 32px
			position: absolute
			bottom: 0
			left: 0
			cursor: pointer
			&:hover
				background-color: #f8ffde
		.greenBorderBtn
			width: 226px
			left: 15px
			position: absolute
			bottom: 15px
		&.bigItem
			.inner_bookList
				.bookItem
					margin-right: 20px
					margin-bottom: 15px
		.picWrap2
			width: 226px
			height: 142px
			position: absolute
			left: 15px
			bottom: 63px

		.inner_bookList
			.bookItem
				float: left
				position: relative


				a
					width: 100%
					height: 100%
					display: block

				width: 108px
				height: 108px
				margin-right: 5px

				.seeMoreItem
					position: absolute
					top: 0
					left: 0
					line-height: 108px
					text-align: center
					color: white
					&:hover
						color: white

.manPicArticleList

	&.withoutManPic
		.listItem
			.txtWrap
				width: 100%
				.c_info
					margin-top: 10px
					.rBox
						width: 100%
						margin-left: 0
	.listItem
		margin-top: 25px
		padding: 5px 0px
		position: relative
		&.pb_s
			padding-bottom: 20px

		&.sponsor
			background-color: #f3f3f3

		.picWrap
			width: 260px
			height: 165px
			overflow: hidden
			float: right

		.txtWrap
			float: left
			width: 540px
			height: 165px
			position: relative

			.c_info
				margin-top: 20px

				.manPicWrap
					+border-radius(50%)
					border: 1px solid $borderGray
					overflow: hidden
					width: 63px
					height: 63px
					+coverPic

				.rBox
					width: 440px
					margin-left: 15px
					line-height: 19px

					.c_name
						// font-size: 116%
			.l_titleWrap

				.l_Title
					// font-size: 123.1%
					max-width: 500px
					+limitTxt

				h1
					display: inline-block
					&:hover
						text-decoration: none
						color: $mainColor1

			p
				margin-top: 8px
				line-height: 28px
				// font-size: 108%
				height: 50px
				overflow: hidden
				// color: $mainGray

			.l_footerWrap
				position: absolute
				margin-top: 15px

				.socailWrap
					display: inline-block
					vertical-align: middle

					*
						margin-right: 8px

				.tagWrap
					a
						text-decoration: none
					a:hover
						color: $mainColor1
					p
						text-decoration: none

			.sponsorCompany
				position: absolute
				right: 0
				bottom: 0
				color: #ff7430
		.deleteBtn
			position: absolute
			top: 50%
			margin-top: -12px
			right: 10px
			+opacity(0)
		&:hover
			.deleteBtn
				+opacity(1)

.fiveBoxsList
	.listItem
		display: inline-block
		vertical-align: text-top
		margin-right: 12px
		margin-bottom: 15px
		width: 145px
		a
			display: block
		.pic
			width: 145px
			height: 206px
		.txtWrap
			min-height: 50px
		.deleteBtn
			display: block
			margin: 0 auto
			margin-top: 15px
			+opacity(0)
		&:hover
			.deleteBtn
				+opacity(1)


@media screen and (max-width: $breakPoint)
	.expertBox .seeMore
		top: -15px
