@charset "UTF-8"

// @mixin borderBox 
// 	+box-sizing('border-box')



html
	font-size: 75%
	font-family: "Microsoft JhengHei", "STHeiti Light", "STHeiti", Arial, sans-serif

img 
	max-height: 100%

* 
	+box-sizing(border-box)

.hide 	
	display: none

.clear
	clear: both

.wideBlock
	width: 1140px
	position: relative
	

.centerBlock
	margin: 0 auto

input[type=text] 
	padding: 0px 5px

a
	text-decoration: none
	color: inherit
	&:hover 
		text-decoration: underline
		color: inherit



.dotLine
	width: 100%
	height: 0
	border-bottom: 1px dotted black

.pinkLine
	width: 100%
	height: 1px
	background-color: $mainColor1

.grayLine
	width: 100%
	height: 1px
	background-color: $borderGray

.greenTxt
	color: #657e00

.pinkTxt
	color: $mainColor1
	&:hover 
		color: $mainColor1

.grayTxt
	color: $mainGray

.orangeTxt
	color: #ff7430

.picRoundWrap
	+border-radius(50%)
	overflow: hidden

.picWrap 
	overflow: hidden
//--- icon---//
.icon_fb
	background-image: url("../images/g/socialIcon.png")
	width: 35px
	height: 35px
	background-position: -35px 0 
	display: inline-block

	&.active 
		background-position: 0 0px

.icon_google
	background-image: url("../images/g/socialIcon.png")
	width: 35px
	height: 35px
	background-position: -105px 0 
	display: inline-block

	&.active 
		background-position: -70px 0 

.icon_tag
	background-image: url("../images/g/icon_tag.png")
	width: 21px
	height: 19px
	display: inline-block
	vertical-align: sub


.icon_redPlay
	background-image: url("../images/g/articleIcon.png")
	width: 20px
	height: 20px
	display: inline-block
	vertical-align: bottom
	margin-top: 3px

.icon_greenPlay
	background-image: url("../images/g/articleIcon.png")
	width: 20px
	height: 20px
	display: inline-block
	vertical-align: bottom
	margin-top: 3px
	background-position: -20px 0

.icon_redHeart
	background-image: url("../images/g/articleIcon.png")
	width: 20px
	height: 20px
	display: inline-block
	vertical-align: sub
	margin-top: 3px
	background-position: -40px 0
	margin-left: 2px

.icon_greenHeart
	background-image: url("../images/g/articleIcon.png")
	width: 20px
	height: 20px
	display: inline-block
	vertical-align: sub
	margin-top: 3px
	background-position: -60px 0
	margin-left: 2px

.icon_link
	+bg('g/icon_linkTo.png')
	display: inline-block
	vertical-align: sub 
	margin-left: 5px

.icon_book
	+bg('g/icon_book.png')
	display: inline-block
	vertical-align: sub 
	margin-right: 5px
.icon_edit
	+bg('g/icon_edit.png')
	display: inline-block
	vertical-align: middle 
	margin-left: 2px
	
//--- header icon---//
#header .icon 
	width: 23px
	height: 23px
	background-image: url("../images/g/header_icon.png")
	background-repeat: no-repeat
	float: left
	margin-top: 3px
	margin-right: 5px

#header .icon_man
	background-position: 0 0
	
#header .icon_bell
	background-position: -23px 0

#header .icon_notice
	background-position: -46px 0
	margin-top: -5px
	margin-left: -10px


//----tag -----//
@mixin tag
	padding: 0 15px
	height: 24px
	color: white 
	line-height: 24px
	text-align: center
	font-size: 116%
	display: inline-block
	margin-right: 5px
	font-size: 116%

.greenTag
	+tag
	background-color: $mainColor2

.grayTag
	+tag
	background-color: #a8a8a8

//--- header ---//
#header 
	width: 100%
	background-color: $mainColor1
	font-size: 1.1rem
	height: 113px

	.wideBlock
		height: 113px
	.mainLogo
		padding: 24px 0px 0px 1px
	
	.header_rWrap
		position: absolute
		right: 10px
		bottom: 20px
		

		.searchBar
			border: 1px solid #b0a4ab
			overflow: auto
			float: left
			margin-right: 12px

			#siteSearch
				width: 185px
				height: 27px
				float: left
				border: none
				line-height: 27px

			.searchBtn
				+bg('g/searchIcon.png')
				float: left
				cursor: pointer
				
		.loginBox
			float: left
			color: #fff
			
			.unLoginWrap
				line-height: 27px
				a 
					color: #fff
			.onLoginWrap
				line-height: 27px
				.memberName
					float: left
					margin-right: 5px


// mainNav
#pageNav
	width: 100%
	background-color: $mainColor2
	height: 42px
	color: white 
	position: relative
	z-index: 50

	.wideBlock
		height: 42px
	
	
	ul 
		.navItem
			float: left
			position: relative
			height: 42px
			
			.liWrap
				
				border-left: 1px dotted white
				height: 28px
				margin-top: 7px
				padding: 0px 15.8px

				a 
					padding: 0
					font-size: 116%
					line-height: 28px
				a:hover 
					text-decoration: none
		.m1 
			.liWrap
				border-left: none

		.navItem:hover 
			background-color: white

			.liWrap
				border-left: none

				a 
					color: $mainColor1
					border-bottom: 1px solid $mainColor2
			.subMenuBox
				display: block

	.subMenuBox
		display: none
		position: absolute	
		background-color: white
		top: 42px
		left: -3px	
		width: 550px
		border: 3px solid $mainColor2
		border-top: none
		padding: 20px 20px

		&.goLeft
			left: auto
			right: -3px

		.lWrap
			width: 225px
			float: left
			ul 
				li
					float: left
					border-top: 1px dotted #b2b2b2
					list-style-type: disc
					font-size: 116%
					height: 33px
					line-height: 33px
					width: 100%
					color: $mainGray
					padding-left: 15px
					list-style-position: inside
					a 
						display: inline
						padding: 0

				li.first
					border-top: none
		
		.rWarp
			float: left
			width: 226px
			margin-left: 40px

			.picWrap
				width: 226px
				height: 142px
				overflow: hidden
				margin-top: 10px
				img 	
					width: 100%
					height: auto

			.subMenuPicTxt
				a
					color: $mainColor1
					width: 100%
					text-memberBoxalign: center
					font-size: 116%
					display: block

#pageNav.fixMenu
	position: fixed
	top: 0
	left: 0
	+box-shadow(4px 4px 12px -4px rgba(20%,20%,40%,0.5))


.pageSwitchers
	
	margin: 40px auto
	text-align: center


	li
		width: 35px
		height: 30px
		line-height: 30px
		//padding: 0 10px
		border: 1px solid $borderGray
		color: $borderGray
		cursor: pointer
		display: inline-block
		font-size: 116%
		margin-right: 5px
		
		a 
			//padding: 0 10px
			display: block
			width: 100%
			height: 100%
			&:hover 
				text-decoration: none
		&.longBtn
			width: 75px

		&.active
			border: 1px solid $mainColor1
			color: $mainColor1
		&:hover 
			border: 1px solid $mainColor1
			color: $mainColor1
		&.b_next
			border: 1px solid $mainColor1
			color: $mainColor1
// <!-- 03. 上方廣告條 -->
#adNav
	height: 30px
	ul 
		li 
			width: 25%
			float: left
			height: 30px
			line-height: 30px
			text-align: center
			font-size: 116%
			font-weight: bold
			a 
				color: black 

#mainContainer
	float: left
	width: 810px




//---ad----//
.ad_800x100
	width: 800px
	height: 100px
	margin-top: 15px


.ad_300x250
	width: 300px
	height: 250px
	margin-top: 15px

.ad_300x100
	width: 300px
	height: 100px
	margin-top: 15px

//--- btn----//
.pinkBtn
	height: 21px
	background-color: $mainColor1 
	text-align: center
	line-height: 21px
	color: white
	
	border: 0
	cursor: pointer
	&:hover 
		background-color: #f11a91

.greenBtn
	height: 21px
	background-color: $mainColor2
	text-align: center
	line-height: 21px
	color: white
	
	border: 0
	cursor: pointer
	&:hover 
		background-color: #9ec20b

.pinkBorderBtn 
	float: left
	margin-right: 10px
	width: 75px
	height: 28px
	+border-radius(5px)
	border: 1px solid $mainColor1
	text-align: center
	line-height: 28px
	color: $mainColor1 
	cursor: pointer

	&:hover 
		background-color: $mainColor1 
		color: white

.greenBorderBtn 
	float: left
	margin-right: 10px
	width: 75px
	height: 28px
	+border-radius(5px)
	border: 1px solid $mainColor2
	text-align: center
	line-height: 28px
	color: $mainColor2
	cursor: pointer

	&:hover 
		background-color: $mainColor2
		color: white

.blueBtn 
	height: 21px
	background-color: #3b579d
	text-align: center
	line-height: 21px
	color: white
	
	border: 0
	cursor: pointer
	&:hover 
		background-color: #4f6cb6

//--- pop----//
#popWrap
	// position: fixed
	// width: 100%
	// height: 100%
	// top: 0
	// left: 0
	// z-index: 9999
	

.popPage
	position: fixed
	background-image: url("../images/g/black.png")
	width: 100%
	height: 100%
	top: 0
	left: 0
	z-index: 9999
	overflow: auto
	.container

		position: absolute
		width: 385px
		padding: 40px 87px 0px
		+box-shadow(4px 4px 12px -2px rgba(20%,20%,40%,0.8))
		top: 50%
		left: 50%
		margin-left: -225px
		background-color: white 
		z-index: 9999
		+border-radius(10px)
	
	.fbBtn
		+btn('g/fbBtn.png')

	.titleWrap
		text-align: center

		.logo 
			display: inline-block
			margin-bottom: 0

		.pinkTxt
			font-size: 167%

	.logo
		+bg('g/logo_106x33.png')
		margin: 0 auto 40px
		
	
	input[type=text],input[type=password]
		width: 100%
		height: 30px
		line-height: 30px
		border: none
		border-bottom: 1px solid $borderGray
		
			
	input[type=checkbox]
		margin-right: 5px
		vertical-align: sub

	.clozBtn
		position: absolute
		top: 10px
		right: 10px	
		width: 20px
		height: 20px
		background-image: url("../images/g/clozBtn.png")
		cursor: pointer

		&:hover 
			background-position: 0 -20px
	
	.inputWrap
		width: 100%
		+border-radius(8px)
		border: 1px solid $borderGray
		overflow: hidden
	
		input.noBorder
			border: none

	.pinkBtn
		height: 33px
		width: 100%
		font-size: 116%
		line-height: 33px
		+border-radius(10px)

	
	.cTxt
		text-align: center
	.lTxt	
		text-align: left


#pop_loginBox
	
	.container
		height: 438px
		margin-top: -219px
		
		.cTxt
			margin-top: 30px
		input[name=account]
			background: url("../images/g/loginIcon.png") 0px 0px no-repeat
			padding-left: 37px
		input[name=password]
			background: url("../images/g/loginIcon.png") 0px -35px no-repeat
			padding-left: 37px

		.inputWrap
			margin-top: 20px
			margin-bottom: 5px
		.pinkBtn
			margin-top: 20px
			margin-bottom: 5px

#pop_signIn_1
	.container 
		margin-top: -330px
		height: 660px
	.pinkBtn
		width: 100%

	.txt
		margin: 30px auto 10px
		text-align: center
	.notice
		margin-top: 15px
	a 
		text-decoration: underline

#pop_noEmail
	.container
		height: 285px
		margin-top: -140px

		.txt
			font-size: 116%
			text-align: center
			margin-top: 30px
			margin-bottom: 15px
		
		.pinkBtn
			margin-top: 10px
			width: 100%

#pop_signIn_2
	
	.container
		padding: 40px 40px
		height: 491px
		margin-top: -248px
		.logo
			margin-bottom: 5px

		p 
			margin-bottom: 20px
			font-size: 116%
		.pinkBtn
			width: 200px
			margin: 27px auto 0
		.cTxt
			
			margin-bottom: 20px

#pop_thx
	
	.container
		height: 285px
		margin-top: -140px
		.logo
			margin-bottom: 5px
		.cTxt.pinkTxt
			font-size: 123.1%
			margin-bottom: 20px
		.cTxt
			margin-bottom: 10px
		.pinkBtn
			margin-top: 30px
		a 
			text-align: right
			float: right
			margin-top: 10px
			text-decoration: underline


#pop_signIn_3
	.container
		height: 556px
		margin-top: -256px
		padding: 40px 27px 0px

	.txt
		text-align: center
		margin: 15px 0px 20px 0px
		font-size: 116%

	.dotLine
		margin-bottom: 15px



	.chooseBox
		margin-bottom: 10px

		.c_tilte
			float: left
			width: 68px
			font-size: 116%

		.chooseWrap
			float: left
			width: 260px

			.c_item
				width: 57px
				height: 21px
				line-height: 21px
				+border-radius(10px)
				color: $mainColor1
				border: 1px solid $mainColor1
				margin-right: 5px
				text-align: center
				float: left
				margin-bottom: 10px
				cursor: pointer


				&.active 
					border: 0
					background-color: $mainColor1
					color: white

				&:hover
					border: 0
					background-color: $mainColor1
					color: white


		
	.childWrap
		height: 154px
		width: 100%
		overflow-y: auto
		.chooseWrap
			width: 245px
	.btnWrap
		position: absolute
		bottom: 40px
	a 
		text-decoration: underline
		margin-left: 10px

	.pinkBtn
		display: inline-block
		width: 200px
		margin-left: 10px

	.selectWrap
		float: left
		height: 21px
		margin-right: 5px
		+border-radius(10px)
		overflow: hidden
		border: 1px solid $mainColor1 
		position: relative         
		background: url('../images/g/dropDownIcon.png') no-repeat     
		background-position: center right 

		&.yWrap
			width: 120px
		&.mWrap 
			width: 73px

	.dropDown
		border: 0
		background: transparent
		-webkit-appearance: none
		padding-left: 8px

		&.year-select
			width: 148px

		&.month-select
			width: 101px

		&:focus 
			border: 0



#pop_verifyEmail
	.container 
		+border-radius(0px)
		padding: 0
		margin-top: -222px
		.popTitle
			width: 100%
			height: 60px
			background-color: $mainColor1 
			color: white 
			padding: 12px 20px
			font-size: 153.9%
			margin-bottom: 30px
		.txt	
			width: 200px
			font-size: 116%
			text-align: left
			margin: 0px auto 20px
		.pinkBtn
			width: 200px
			margin: 0 auto 30px
		.grayTxt
			width: 350px
			margin: 0 auto 20px
			text-align: center
		.p_footer
			background-color: #cecece
			padding: 10px 20px

//親子網路書店
#parentOnlineBookStore
	position: relative
	margin-top: 35px

	.containerTitle
		font-size: 138.5%
		font-weight: bold
		//margin-top: 15px

	.more	
		position: absolute
		right: 0px
		top: 5px
	.bookWrap
		padding: 0
		width: 100%
		position: relative
		overflow: hidden

	.leftRightBtn
		position: absolute
		top: 0
		left: 0
		width: 100%
		.btn
			position: absolute
			width: 49px
			height: 49px
			top: 150px
			background-image: url("../images/g/arrBtn.png")
			+opacity(0.8)
			cursor: pointer
			&:hover 
				+opacity(1)
		.lBtn
			left: 0
		.rBtn
			right: 0
			background-position: -49px 0
			
	.dotSwitchers
		margin: 20px auto
		text-align: center


		li
			width: 12px
			height: 12px
			background-image: url("../images/g/switchDot.png")
			cursor: pointer
			display: inline-block
			margin-right: 5px
			background-position: 0px -12px

		li.active
			background-position: 0px 0
		li:hover
			background-position: 0px 0


	.articleList
		width: 9999px
		position: relative
		left: 0

		.listItem
			
			width: 260px
			height: 280px
			border: 1px solid $borderGray
			margin: 15px 0px 0px 15px
			position: relative
			float: left
			padding: 50px 15px 15px 15px 

			.list_title
				width: 117px
				height: 24px
				background-color: $mainColor1
				
				padding-left: 15px
				color: white 
				font-size: 108% 
				line-height: 24px
				position: absolute
				top: 10px
				left: 0
				z-index: 10

			&.first 
				margin-left: 0

			.coverTitle
				position: absolute 
				background-image: url("../images/g/black.png")
				width: 100%
				height: 56px
				color: white 
				font-size: 123.1%
				
				padding: 0 20px
				left: 0
				bottom: 0

				&:before 
					content: ''
					display: inline-block
					vertical-align: middle
					width: 0
					height: 100%
				.txt

					display: inline-block
					font-size: 16px
					vertical-align: middle

			.bgPic
				position: absolute
				left: 0
				top: 0


// member right bar
#memberBar
	position: absolute
	top: 0
	left: 0
	width: 220px
	height: 100%
	border-left: 1px solid $borderGray
	border-right: 1px solid $borderGray
	padding: 13px

	.picWrap
		width: 193px
		height: 193px
		border: 1px solid $borderGray
		position: relative
		cursor: pointer

		.editBtn
			position: absolute
			left: 10px
			bottom: 10px
			display: none
			+bg('g/camara.png')

		&:hover 
			.editBtn
				display: block

		

	.memberNav
		margin-top: 10px

		.navItem
			background: url("../images/g/icon_list.png") center left no-repeat 
			padding-left: 23px
			font-size: 116%
			color: #4e4e4e
			height: 30px
			line-height: 30px
			margin-top: 10px
			
			&.active
				font-weight: bold

#memberContent
	position: relative
	top: 0
	left: 239px
	width: 900px
	min-height: 660px
	margin-left: 19px
	
	.contentTitle
		font-size: 153.9%
		height: 40px
		line-height: 40px
		font-weight: bold