@charset "UTF-8"

// @mixin borderBox
// 	+box-sizing('border-box')

html
	font-family: "Microsoft JhengHei","STHeiti Light","STHeiti",Arial,sans-serif
	font-size: 0.875em
	-webkit-text-size-adjust: 0.875em
	-ms-text-size-adjust: 0.875em
img
	max-height: 100%

*
	+box-sizing(border-box)

.hide
	display: none

.clear
	clear: both
.ta_c
	text-align: center
.ta_l
	text-align: left
.ta_r
	text-align: right
.sr-only
	font-size: 0!important
	padding: 0!important
	margin: 0!important
	height: 0!important
	width: 0!important
	position: absolute!important

.fullDiv
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: inline-block
	//display: block
	&:hover
		text-decoration: none
	ul
		margin-top: 10px
		margin-left: 20px
		font-size: 100%
		li
			margin-bottom: 10px
			color: $mainGray
			list-style-type: disc
			a
				color: $mainGray
				text-decoration: none
				&:hover
					color: $mainColor1
.flDiv
	float: left
.frDiv
	float: right
.ov_h
	overflow: hidden
.fl
	float: left
.fr
	float: right

.roundDiv
	+border-radius(5px)

a
	text-decoration: none
	color: inherit
	&:hover
		text-decoration: underline
		color: inherit

a.txtLink
	position: relative
	top: 0
	left: 0
	width: auto
	height: 100%
	display: inline-block
	&:hover
		text-decoration: none
		color: $mainColor1

.shadow
	+box-shadow(4px 4px 12px -2px rgba(20%,20%,40%,0.8))

.wideBlock
	width: 1140px
	position: relative

.box_title
	font-size: 138.5%
	font-weight: bold

.centerBlock
	margin: 0 auto

.coverPic
	+background-size(cover)
	background-position: 50% 50%
	background-repeat: no-repeat
.containPic
	+background-size(contain)
	background-position: 50% 50%
	background-repeat: no-repeat

.gBg
	background-color: #fffff1
.lBox
	float: left

.rBox
	float: left
.dicsList
	list-style-type: disc
	padding-left: 25px
input[type=text],input[type=password]
	padding: 0px 5px



.loadingBtn
	position: relative
	+opacity(0.7)
	&:after
		content: ''
		width: 16px
		height: 16px
		background-image: url("../images/g/loading.gif")
		position: absolute
		right: 10px
		top: 50%
		margin-top: -8px
		+opacity(0.7)



.dotLine
	margin-top: 15px
	width: 100%
	height: 0
	border-bottom: 1px dotted $borderGray1

.pinkLine
	width: 100%
	height: 1px
	background-color: $mainColor1

.grayLine
	width: 100%
	height: 1px
	background-color: $borderGray

.greenTxt
	color: #7B9807
	&:hover
		color: #7B9807
		text-decoration: none

.pinkTxt
	color: $mainColor1
	&:hover
		color: $mainColor1
		text-decoration: none

.pinkLink
	color: $mainColor1
	text-decoration: underline
	cursor: pointer
	&:hover
		color: $mainColor1

.blackTxt
	color: #000

//$mainGray: #626262
.grayTxt
	color: $mainGray
// $txtColor1: #373737
.grayTxt_37
	color: $txtColor1

.orangeTxt
	color: #ff7430


.pageTitle
	font-size: 182%
	margin: 20px 0 20px
	font-weight: bold

.picRoundWrap
	+border-radius(50%)
	overflow: hidden

.noBorder
	border: none !important

.g_tabWrap
	margin-top: 35px
	border-bottom: 3px solid $mainColor1
	.tabItem
		float: left
		height: 28px
		background-color: #f2f2f2
		line-height: 28px
		// padding: 0 15px
		color: black
		cursor: pointer
		a
			padding: 0 15px

	.tabItem.active
		color: white
		background-color: $mainColor1

	.tabItem:hover
		color: white
		background-color: $mainColor1
.grayBorder
	border: 1px solid #cbcbcb

.pBox
	padding: 20px

//----tag -----//
@mixin tag
	height: 24px
	color: white
	line-height: 24px
	text-align: center
	font-size: 116%
	display: inline-block
	margin-right: 5px
	font-size: 108%
	z-index: 10
	position: relative
	a
		display: block
		position: relative
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding: 0 15px

	a:hover
		text-decoration: none

.tealTag
	+tag
	background-color: #00aeb2
.greenTag
	+tag
	background-color: $mainColor2
.grayTag
	+tag
	background-color: $borderGray1
.orangeTag
	+tag
	background-color: #ff7430
//--- header ---//
#blackForHeaderPop
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-image: url("../images/g/black.png")
	z-index: 30

#header
	width: 100%
	background-color: $mainColor1
	font-size: 1.1rem
	height: 113px
	position: relative
	z-index: 20000

	.wideBlock
		height: 113px
	.mainLogo
		padding: 0
		height: 113px
		overflow: hidden
		img
			vertical-align: bottom

	.header_rWrap
		position: absolute
		right: 10px
		bottom: 20px


		.searchBar
			border: 1px solid #b0a4ab
			overflow: auto
			float: left
			margin-right: 12px

			#siteSearch
				width: 185px
				height: 27px
				float: left
				border: none
				line-height: 27px

			.searchBtn
				+bg('g/searchIcon.png')
				float: left
				cursor: pointer

		.loginBox
			float: left
			color: #fff

			.unLoginWrap
				line-height: 27px
				a
					color: #fff
			.onLoginWrap
				line-height: 27px
				cursor: pointer
				.memberName
					float: left
					margin-right: 5px

				.coinNum
					float: left
					margin-right: 10px
					color: #f0ff00
					cursor: pointer

					&:hover
						text-decoration: underline
				.icon_notice
					cursor: pointer
	.headpopWrap
		position: absolute
		width: 352px
		right: 0
		top: 100px
		+border-radius(5px)
		+box-shadow(4px 4px 12px -2px rgba(20%,20%,40%,0.8))
		padding: 30px 35px
		background-color: white
		z-index: 50

		.clozBtn
			position: absolute
			top: 10px
			right: 10px
			width: 20px
			height: 20px
			background-image: url("../images/g/clozBtn.png")
			cursor: pointer

			&:hover
				background-position: 0 -20px

	.coinStatus
		.p_title
			font-size: 153.9%
			text-decoration: underline
			font-weight: bold
			margin-bottom: 15px

		.icon_redHeart
			margin-right: 5px

		.txt
			font-size: 118%
			margin-bottom: 5px
			.pinkTxt
				font-weight: bold
				margin-left: 3px

			.coinNum
				font-size: 153.9%
			.articleNum
				font-size: 153.9%

		.logoutBtn
			position: absolute
			right: 20px
			bottom: 15px

	.followStatus
		.p_title
			font-size: 153.9%
			text-decoration: underline
			font-weight: bold
			margin-bottom: 15px

		.h_followList
			.listItem
				width: 100%
				height: 104px
				padding: 15px 0
				border-bottom: 1px dotted #000
				.picWrap
					width: 100px
					height: 70px
					border: 1px solid $borderGray
					float: left
					margin-right: 15px

				.txtWrap
					overflow: hidden

					.grayTxt
						font-size: 116%
						margin-top: 5px
						line-height: 20px

		.h_moreFollow
			float: right
			margin-top: 10px
		.no_followTxt
			font-size: 116%
			line-height: 24px
			.pinkTxt
				font-size: 116%
				font-weight: bold
				.coinNum
					font-size: 116%

		.h_followNowBtn
			display: block
			+border-radius(5px)
			margin-top: 15px
			height: 40px
			line-height: 40px
			font-size: 116%
// mainNav
#pageNav
	width: 100%
	background-color: $mainColor2
	height: 42px
	color: white
	position: relative
	z-index: 10000
	&.fixNav
		position: fixed
		top: 0
		left: 0
		+box-shadow(4px 4px 3px rgba(20%,20%,40%,0.3))
	.centerBlock
		height: 42px
		position: absolute
		top: 0
		left: 50%
		margin-left: -570px
		// width: 980px
		width: 1120px

	ul
		.navItem
			float: left
			position: relative
			height: 42px

			.liWrap
				border-left: 1px solid #7B9807
				height: 28px
				margin-top: 7px
				padding: 0px 15px
				text-align: center

				a
					padding: 0
					font-size: 108%
					line-height: 28px
				a:hover
					text-decoration: none
		.m1
			.liWrap
				border-left: none
				//width: 105px

		// .m2
		// 	.liWrap
		// 		width: 115px
		// .m3
		// 	.liWrap
		// 		width: 115px
		// .m4
		// 	.liWrap
		// 		width: 90px
		// .m5
		// 	.liWrap
		// 		width: 105px
		// .m6
		// 	.liWrap
		// 		width: 90px
		// .m7
		// 	.liWrap
		// 		width: 75px
		// .m8
		// 	.liWrap
		// 		width: 85px
		// .m9
		// 	.liWrap
		// 		width: 55px
		// .m10
		// 	.liWrap
		// 		width: 85px
		// .m11
		// 	.liWrap
		// 		width: 105px
		// .m12
		// 	.liWrap
		// 		width: 105px


		.navItem:hover
			background-color: white

			.liWrap
				border-left: none

				a
					color: $mainColor1
					border-bottom: 1px solid $mainColor2
			.subMenuBox
				display: block

	.subMenuBox
		display: none
		position: absolute
		background-color: white
		top: 42px
		left: -3px
		width: 550px
		border: 3px solid $mainColor2
		border-top: none
		padding: 20px 20px

		&.goLeft
			left: auto
			right: -3px

		.lWrap
			width: 225px
			float: left
			ul
				li
					float: left
					border-top: 1px dotted $borderGray1
					list-style-type: disc
					font-size: 115%
					height: 33px
					line-height: 42px
					width: 100%
					color: $mainGray
					padding-left: 15px
					padding-bottom: 40px
					list-style-position: inside
					a
						display: inline
						padding: 0

				li.first
					border-top: none

		.rWarp
			float: left
			width: 226px
			margin-left: 40px

			.picWrap
				width: 226px
				height: 142px
				overflow: hidden
				margin-top: 10px
				margin-bottom: 10px
				img
					width: 100%
					height: auto

			.subMenuPicTxt
				a
					color: $mainColor1
					width: 100%
					text-memberBoxalign: center
					font-size: 116%
					display: block

.pageSwitchers

	margin: 50px auto
	text-align: center


	li
		width: 35px
		height: 30px
		line-height: 30px
		border: 1px solid $borderGray1
		color: $borderGray1
		cursor: pointer
		display: inline-block
		font-size: 116%
		margin-right: 5px

		a
			//padding: 0 10px
			display: block
			width: 100%
			height: 100%
			&:hover
				text-decoration: none
		&.longBtn
			width: 75px

		&.active
			border: 1px solid $mainColor1
			color: $mainColor1
		&:hover
			border: 1px solid $mainColor1
			color: $mainColor1
		&.b_next
			border: 1px solid $mainColor1
			color: $mainColor1
// <!-- 03. 上方廣告條 -->
#adNav
	height: 50px
	overflow: hidden
	>ul
		>li
			width: 284px
			float: left
			height: 50px
			line-height: 50px
			text-align: center
			font-size: 108%
			padding: 0 8px
			// font-weight: bold
			white-space: nowrap
			overflow: hidden
			-ms-text-overflow: ellipsis
			-o-text-overflow: ellipsis
			text-overflow: ellipsis
			a
				color: black

#mainContainer
	float: left
	width: 810px

//---ad----//
.ad
	margin: 30px auto

.ad_800x100
	width: 800px
	height: 100px
	margin-top: 15px


.ad_300x250
	width: 300px
	height: 250px
	margin-top: 15px

.ad_300x100
	width: 300px
	height: 100px
	margin-top: 15px

//--- btn----//
=colorBtn($c,$c2)
	height: 21px
	background-color: $c
	text-align: center
	line-height: 21px
	color: white
	border: 0
	cursor: pointer
	&:hover
		background-color: $c2
		color: white
		text-decoration: none
=colorBtn_m($c,$c2)
	float: left
	margin-right: 10px
	width: 75px
	height: 28px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border-radius: 5px
	text-align: center
	line-height: 28px
	color: white
	background-color: $c
	cursor: pointer
	display: block
	&:hover
		color: white
		background-color: $c2
		text-decoration: none

=colorBtn_s($c,$c2)
	float: left
	margin-right: 10px
	width: 60px
	height: 28px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border-radius: 5px
	text-align: center
	line-height: 28px
	color: white
	background-color: $c
	cursor: pointer
	display: block
	&:hover
		color: white
		background-color: $c2
		text-decoration: none

.pinkBtn
	+colorBtn($mainColor1,#f11a91)

.pink-mBtn
	+colorBtn_m($mainColor1,#f11a91)

.pink-sBtn
	+colorBtn_s($mainColor1,#f11a91)	
.grayBtn-mBtn
	+colorBtn_m(#bcbcbc,#c8c7c7)	
.grayBtn-sBtn
	+colorBtn_s(#bcbcbc,#c8c7c7)
.greenBtn
	height: 21px
	background-color: $mainColor2
	text-align: center
	line-height: 21px
	color: white

	border: 0
	cursor: pointer
	&:hover
		background-color: #9ec20b
		color: white
.pinkBorderBtn
	float: left
	margin-right: 10px
	width: 75px
	height: 28px
	+border-radius(5px)
	border: 1px solid $mainColor1
	text-align: center
	line-height: 28px
	color: $mainColor1
	cursor: pointer
	display: block

	&:hover
		background-color: $mainColor1
		color: white
		text-decoration: none
		color: white
	&.active
		background-color: $mainColor1
		color: white
.greenBorderBtn
	float: left
	margin-right: 10px
	width: 75px
	height: 28px
	+border-radius(5px)
	border: 1px solid $mainColor2
	text-align: center
	line-height: 28px
	color: $mainColor2
	cursor: pointer

	&:hover
		background-color: $mainColor2
		color: white
		text-decoration: none
	&.active
		background-color: $mainColor2
		color: white

.oranBorderBtn
	float: left
	margin-right: 10px
	width: 75px
	height: 28px
	+border-radius(5px)
	border: 1px solid #ff7430
	text-align: center
	line-height: 28px
	color: #ff7430
	cursor: pointer

	&:hover
		background-color: #ff7430
		color: white
		text-decoration: none
	&.active
		background-color: #ff7430
		color: white
		text-decoration: none
.blueBtn
	height: 21px
	background-color: #3b579d
	text-align: center
	line-height: 21px
	color: white

	border: 0
	cursor: pointer
	&:hover
		background-color: #4f6cb6
.greenBorderbBtn
	float: left
	margin-right: 10px
	margin-bottom: 8px
	width: 150px
	height: 28px
	+border-radius(5px)
	border: 1px solid $mainColor2
	text-align: center
	line-height: 28px
	color: $mainColor2
	cursor: pointer

	&:hover
		background-color: $mainColor2
		color: white
		text-decoration: none
	&.active
		background-color: $mainColor2
		color: white

//--- pop----//



.popPage
	// position: fixed
	// background-image: url("../images/g/black.png")
	width: 100%
	height: 100%
	top: 0
	left: 0
	z-index: 9999
	overflow: auto
	.container
		position: absolute
		width: 385px
		padding: 40px 87px 0px
		// +box-shadow(4px 4px 12px -2px rgba(20%,20%,40%,0.8))
		// top: 50%
		// left: 50%
		// margin-left: -225px
		background-color: white
		z-index: 9999
		// +border-radius(10px)

	.fbBtn
		+btn('g/fbBtn.png')

	.titleWrap
		text-align: center

		.logo
			display: inline-block
			margin-bottom: 0

		.pinkTxt
			font-size: 167%

	.logo
		+bg('g/logo_106x33.png')
		margin: 0 auto 40px


	input[type=text],input[type=password]
		width: 100%
		height: 30px
		line-height: 30px
		border: none
		border-bottom: 1px solid $borderGray


	input[type=checkbox]
		margin-right: 5px
		vertical-align: sub

	.clozBtn
		position: absolute
		top: 10px
		right: 10px
		width: 20px
		height: 20px
		background-image: url("../images/g/clozBtn.png")
		cursor: pointer

		&:hover
			background-position: 0 -20px

	.inputWrap
		width: 100%
		+border-radius(8px)
		border: 1px solid $borderGray
		overflow: hidden

		input.noBorder
			border: none

	.pinkBtn
		height: 33px
		width: 100%
		font-size: 116%
		line-height: 33px
		+border-radius(10px)


	.cTxt
		text-align: center
	.lTxt
		text-align: left


#pop_loginBox

	.container
		// height: 438px
		// margin-top: -219px

		.cTxt
			margin-top: 30px
		input[name=account]
			background: url("../images/g/loginIcon.png") 0px 0px no-repeat
			padding-left: 37px
		input[name=password]
			background: url("../images/g/loginIcon.png") 0px -35px no-repeat
			padding-left: 37px
		.mBtnWrap
			margin-top: 15px
		.inputWrap
			margin-top: 20px
			margin-bottom: 5px
		.pinkBtn
			// margin-top: 20px
			// margin-bottom: 5px

#pop_signIn_1
	.logo
		margin-bottom: 20px

	.pinkBtn
		width: 100%

	.txt
		margin: 15px auto 10px
		text-align: center
		width: 312px
		margin-left: -50px
		font-size: 13px
	.notice
		margin-top: 15px
	a
		text-decoration: underline

#pop_noEmail
	.container
		// height: 285px
		// margin-top: -140px

		.txt
			font-size: 116%
			text-align: center
			margin-top: 30px
			margin-bottom: 15px

		.pinkBtn
			margin-top: 10px
			width: 100%

#pop_signIn_2

	.container
		padding: 40px 40px
		// height: 491px
		// margin-top: -248px
		.logo
			margin-bottom: 5px

		p
			margin-bottom: 20px
			font-size: 116%
		.pinkBtn
			width: 200px
			margin: 27px auto 0
		.cTxt

			margin-bottom: 20px

#pop_thx

	.container
		// height: 285px
		// margin-top: -140px
		.logo
			margin-bottom: 5px
		.cTxt.pinkTxt
			font-size: 123.1%
			margin-bottom: 20px
		.cTxt
			margin-bottom: 10px
		.pinkBtn
			margin-top: 30px
		a
			text-align: right
			float: right
			margin-top: 10px
			text-decoration: underline

#pop_signIn_3
	.container
		// height: 556px
		// margin-top: -256px
		padding: 40px 27px 0px

	.txt
		text-align: center
		margin: 15px 0px 20px 0px
		font-size: 116%

	.dotLine
		margin-bottom: 15px



	.chooseBox
		margin-bottom: 10px

		.c_tilte
			float: left
			width: 68px
			font-size: 116%

		.chooseWrap
			float: left
			width: 260px

			input[type=radio]
				display: none

			input[type=radio]+label
				width: 57px
				height: 21px
				line-height: 21px
				+border-radius(10px)
				color: $mainColor1
				border: 1px solid $mainColor1
				margin-right: 5px
				text-align: center
				float: left
				margin-bottom: 10px
				cursor: pointer

			input[type=radio]:checked + label
				border: 0
				background-color: $mainColor1
				color: white

	.sendBtn
		width: 120px
		height: 35px
		color: white
		background-color: $mainColor1
		line-height: 35px
		text-align: center
		margin-left: 10px
		font-size: 116%
		+border-radius(5px)
		margin-top: 30px
		display: inline-block
		cursor: pointer
		border: none

		&:hover
			+opacity(0.8)
			text-decoration: none

	.childWrap
		height: 154px
		width: 100%
		overflow-y: auto
		display: none
		.chooseWrap
			width: 245px
	.btnWrap
		position: absolute
		bottom: 40px
	a
		text-decoration: underline
		margin-left: 10px

	.pinkBtn
		display: inline-block
		width: 200px
		margin-left: 10px

	.selectWrap
		float: left
		height: 21px
		margin-right: 5px
		+border-radius(10px)
		overflow: hidden
		border: 1px solid $mainColor1
		position: relative
		background: url('../images/g/dropDownIcon.png') no-repeat
		background-position: center right

		&.yWrap
			width: 120px
		&.mWrap
			width: 73px

	.dropDown
		border: 0
		background: transparent
		-webkit-appearance: none
		padding-left: 8px

		&.year-select
			width: 148px

		&.month-select
			width: 101px

		&:focus
			border: 0

#pop_verifyEmail
	.container
		+border-radius(0px)
		padding: 0
		// margin-top: -222px
		.popTitle
			width: 100%
			height: 60px
			background-color: $mainColor1
			color: white
			padding: 12px 20px
			font-size: 153.9%
			margin-bottom: 30px
		.txt
			width: 200px
			font-size: 116%
			text-align: left
			margin: 0px auto 20px
		.pinkBtn
			width: 200px
			margin: 0 auto 30px
		.grayTxt
			width: 350px
			margin: 0 auto 20px
			text-align: center
		.p_footer
			background-color: #cecece
			padding: 10px 20px

#pop_shareToMail
	font-size: 108%
	.container
		width: 300px
		height: 400px
		background-color: white
		padding: 15px
		margin: 50px

		.title
			.icon_mail
				float: left
			.pinkTxt
				font-size: 153.9%
				font-weight: bold
				float: left
				margin-top: 5px
				margin-left: 3px

		.inputWrap
			margin-top: 20px
			margin-bottom: 5px
		.shareTxt
			padding: 10px


.colorBoxPage
	.container
		position: relative
		padding: 15px
		background-color: #fff
		+border-radius(4px)
		.clozBtn
			position: absolute
			top: 10px
			right: 10px
			width: 20px
			height: 20px
			background-image: url("../images/g/clozBtn.png")
			cursor: pointer

			&:hover
				background-position: 0 -20px

		.cb_title
			color: $mainColor1
			font-size: 116%
			margin: 15px 0

		form
			margin: 15px 0px 15px 0px

form
	.checkboxWrap
		position: relative
		display: block
		margin: 10px 0
		label
			cursor: pointer
			min-height: 20px
			padding-left: 20px
			display: inline-block

			input[type='checkbox']
				position: absolute
				margin-left: -20px

	.radioWrap
		position: relative
		display: block
		margin: 10px 0
		label
			cursor: pointer
			min-height: 20px
			padding-left: 20px
			display: inline-block

			input[type='radio']
				position: absolute
				margin-left: -20px

	input[type='submit']

		+border-radius(5px)
		padding: 0 15px
		height: 30px
		line-height: 30px


#cboxLoadedContent
	.hide
		display: block
#cboxClose
	display: none
//親子網路書店
#parentOnlineBookStore
	position: relative
	margin-top: 35px

	.containerTitle
		font-size: 138.5%

	.more
		position: absolute
		right: 0px
		top: 5px
	.bookWrap
		padding: 0
		width: 100%
		position: relative
		overflow: hidden

	.leftRightBtn
		position: absolute
		top: 0
		left: 0
		width: 100%
		.btn
			position: absolute
			width: 49px
			height: 49px
			top: 150px
			background-image: url("../images/g/arrBtn.png")
			+opacity(0.8)
			cursor: pointer
			&:hover
				+opacity(1)
		.lBtn
			left: 0
		.rBtn
			right: 0
			background-position: -49px 0

	.cwbookList
		width: 9999px
		position: relative
		left: 0
		padding-top: 15px


		.listItem
			width: 260px
			height: 280px
			border: 1px solid $borderGray
			margin: 0px 15px 15px 0px
			position: relative
			float: left
			padding: 35px 15px 15px 15px
			&:hover
				+opacity(0.9)

			.containPic
				width: 160px
				height: 187px
				margin: 10px auto 0px auto

			.list_title
				width: 117px
				height: 24px
				background-color: $mainColor1
				color: white
				font-size: 108%
				line-height: 24px
				position: absolute
				top: 10px
				left: 0
				z-index: 10

				a
					display: block
					padding-left: 15px
					width: 100%
					height: 100%
					&:hover
						text-decoration: none

			.coverTitle
				position: absolute
				background-image: url("../images/g/black.png")
				width: 100%
				height: 56px
				color: white
				font-size: 123.1%

				padding: 0 20px
				left: 0
				bottom: 0

				&:before
					content: ''
					display: inline-block
					vertical-align: middle
					width: 0
					height: 100%
				.txt

					display: inline-block
					font-size: 16px
					vertical-align: middle

			.bgPic
				position: absolute
				left: 0
				top: 0

.dotSwitchers
	margin: 20px auto
	text-align: center


	li
		width: 12px
		height: 12px
		background-image: url("../images/g/switchDot.png")
		cursor: pointer
		display: inline-block
		margin-right: 5px
		background-position: 0px -12px

	li.active
		background-position: 0px 0
	li:hover
		background-position: 0px 0

//留言貼圖
#ParentCommentPOImg
	position: relative
	width: 430px
	height: 100px
	float: left
	margin-left: 20px

	.bookWrap
		padding: 0
		width: 75%
		position: relative
		overflow: hidden
		margin: auto 55px
		height: 100px

	.leftRightBtn
		position: absolute
		top: 0
		left: 0
		width: 100%
		.btn
			position: absolute
			width: 49px
			height: 49px
			top: 28px
			background-image: url("../images/g/postBtn.png")
			+opacity(0.8)
			cursor: pointer
			&:hover
				+opacity(1)
		.lBtn
			left: 0
		.rBtn
			right: 0
			background-position: -49px 0

	.commentimgList
		width: 9999px
		position: relative
		left: 0
		list-style: none


		.listItem
			width: 65px
			height: 74px
			position: relative
			float: left
			list-style: none

			&:hover
				+opacity(0.9)

			.containPic
				width: 160px
				height: 187px
				margin: 10px auto 0px auto

			.list_title
				width: 117px
				height: 24px
				background-color: $mainColor1
				color: white
				font-size: 108%
				line-height: 24px
				position: absolute
				top: 10px
				left: 0
				z-index: 10

				a
					display: block
					padding-left: 15px
					width: 100%
					height: 100%
					&:hover
						text-decoration: none

			.coverTitle
				position: absolute
				background-image: url("../images/g/black.png")
				width: 100%
				height: 56px
				color: white
				font-size: 123.1%

				padding: 0 20px
				left: 0
				bottom: 0

				&:before
					content: ''
					display: inline-block
					vertical-align: middle
					width: 0
					height: 100%
				.txt
					// filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60)
					// +opacity(0.6)
					// &:hover
					// 	+opacity(1)
					// 	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false)


			.containPic
				margin: 0px auto

			.containAlt
				vertical-align: middle
				display: inline-block
				font-size: 12px
				margin-left: 20px

// member right bar
#memberBar
	position: absolute
	top: 0
	left: 0
	width: 220px
	height: 100%
	border-left: 1px solid $borderGray
	border-right: 1px solid $borderGray
	padding: 13px

	.picWrap
		width: 193px
		height: 193px
		border: 1px solid $borderGray
		position: relative
		cursor: pointer

		.editBtn
			position: absolute
			left: 10px
			bottom: 10px
			display: none
			+bg('g/camara.png')

		&:hover
			.editBtn
				display: block



	.memberNav
		margin-top: 10px

		.navItem
			background: url("../images/g/icon.png") no-repeat
			background-position: -35px -26px
			padding-left: 23px
			font-size: 116%
			color: #4e4e4e
			height: 30px
			line-height: 30px
			margin-top: 10px
			vertical-align: middle

			&.active
				font-weight: bold

#memberContent
	position: relative
	top: 0
	left: 239px
	width: 900px
	min-height: 660px
	margin-left: 19px

	.contentTitle
		font-size: 153.9%
		height: 40px
		line-height: 40px
		font-weight: bold

.dealWrap
	//width: 262px
	height: 56px
	position: relative
	margin-top: 15px
	line-height: 37px

	.btnWrap
		//width: 262px
		height: 56px
		position: relative
	.shareTxt
		z-index: 2000
		position: absolute
		bottom: 0
		left: 0
		width: 105px
		text-align: center
		margin-bottom: -11px

	.iWrap
		width: 60px
		height: 65px
		float: left
		position: relative
		.icon
			margin: 0 auto
			vertical-align: bottom
		.txt
			text-align: center
			color: $mainGray
			line-height: 27px
		&.more
			&:hover
				.icon_cMore
					background-position: -47px -121px
				.shareBox
					display: block
	.hLine
		width: 1px
		height: 55px
		background-color: $borderGray
		float: left
		margin: 0 15px 0 0px

	.shareBox
		display: none
		position: absolute
		width: 133px
		padding: 7px
		background-color: white
		border: 1px solid $borderGray
		top: 65px
		right: 5px
		+border-radius(8px)
		z-index: 20000
		.dotLine
			margin: 5px 0px
		.listItem
			padding: 0 11px
			height: 40px
			cursor: pointer
			&:hover
				.txt
					font-weight: bold

			.icon
				display: inline-block
			.txt
				display: inline-block
				font-size: 116%
				margin-left: 5px





.findArticleBox
	width: 100%
	padding: 28px 120px 0px
	height: 100px
	background-color: $mainColor2
	.searchBar
		width: 100%
		input[type=text]
			text-align: center
			padding: 0 10px
			height: 25px
			float: left
			width: 534px
			border: 0


		.searchBtn
			+bg('g/searchIcon_pink.png')
			float: left
			cursor: pointer
			border: 0

	.tagBtn
		margin-top: 8px
		li
			float: left
			color: white
			margin-right: 10px


.discussBox
	position: relative
	margin-top: 25px
	padding: 15px
	.boxTitle
		margin-bottom: 5px

	.joinTalkBox
		border-top: 1px solid $borderGray1
		padding-top: 30px
		.picWrap
			height: 63px
			width: 63px
			+border-radius(50%)
			overflow: hidden
			float: left
		.lWrap
			//margin-left: 20px
			//float: left
			overflow: hidden
			padding-left: 20px
			textarea
				width: 100%
				height: 70px
				line-height: 20px
				padding: 10px 10px
				border: 1px solid $borderGray
			.t_name
				//margin-left: 20px
				margin-bottom: 10px
			.pinkBtn
				width: 150px
				height: 27px
				line-height: 27px
				+border-radius(5px)
				margin: 10px auto
	.talkNum
		font-size: 123.1%
		margin-bottom: 10px
		color: #626262

	.boxTitle
		font-size: 138.5%
	.tips
		position: absolute
		top: 0
		right: 0

	.talkList
		//height: 182px
		padding-left: 10px
		padding-top: 5px
		//overflow-x: auto
		.talkItem
			margin-top: 15px
			.picWrap
				height: 63px
				width: 63px
				+border-radius(50%)
				overflow: hidden
				float: left




			.txtWrap
				//float: left
				//margin-left: 20px
				//width: 690px
				overflow: hidden
				padding-left: 20px
				min-height: 70px
				padding-top: 5px
				.t_time
					color: #9a9a9a
					margin-left: 10px
					font-size: 80%
				.content
					margin-top: 5px
					img
						width: 100px
						height: auto



	.talkBox
		background-color: #e6efc2
		padding: 15px 10px
		.picWrap
			height: 63px
			width: 63px
			+border-radius(50%)
			overflow: hidden
		form
			position: relative
			margin-top: 14px
			input[type='text']
				height: 35px
				width: 580px
				line-height: 35px
				padding: 0 15px
				border: 1px solid $borderGray
			input[type='submit']
				width: 80px
				height: 35px
	.talkList
		.talkItem
			position: relative
			.reportBtn
				display: none
				position: absolute
				right: 0
				top: 0px
			&:hover
				.reportBtn
					display: block
			.txtWrap
				.t_commentBox
					margin-top: 5px
					.gHeart
						margin-right: 0
						margin-left: 5px
	.subTalkList
		.talkItem
			.txtWrap
				border-left: 1px solid $borderGray
				margin-left: 84px
		.talkBox
			padding: 0
			background: none
			margin-top: 15px
			overflow: auto
			input[type='text']
				width: 500px


.fwb
	font-weight: bold
.alphaBtn
	cursor: pointer
	&:hover
		+opacity(0.7)
.blackBg
	background-image: url("../images/g/black.png")
.f10
	font-size: 77%
.f11
	font-size: 85%
.f12
	font-size: 93%
.f13
	font-size: 100%
.f14
	font-size: 108%
.f15
	font-size: 116%
.f16
	font-size: 123.1%
.f17
	font-size: 130.8%
.f18
	font-size: 138.5%
.f19
	font-size: 146.5%
.f24
	font-size: 162.5%
.f20
	font-size: 125%
.f22	
	font-size: 137.5%

.f24	
	font-size: 150%
.f26
	font-size: 162.5%

.f28
	font-size: 175%
	
.f36
	font-size: 225%

.f105p
	font-size: 105%


// .gTxt
// 	color: $mainColor2
.pTxt
	color: $mainColor1
// .grayTxt
// 	color: $mainGray
.lgTxt
	color: #626262
// .bTxt
// 	color: #01aeb4
// .lgTxtcolor: #939393

.bTxt
	color: #01aeb4
// .oTxt
// 	color: #ff7430
.wTxt
	color: white

.mt_ss
	margin-top: 5px
.mr_ss
	margin-right: 5px
.ml_ss
	margin-left: 5px
.mb_ss
	margin-bottom: 5px
.mt_s
	margin-top: 15px
.mr_s
	margin-right: 15px
.ml_s
	margin-left: 15px
.mb_s
	margin-bottom: 15px
.mt_b
	margin-top: 30px
.mr_b
	margin-right: 30px
.ml_b
	margin-left: 30px
.mb_b
	margin-bottom: 30px
.mt_bb
	margin-top: 50px
.mb_bb
	margin-bottom: 50px
.pl_ss
	padding-left: 5px
.pr_ss
	padding-right: 5px
.pt_s
	padding-top: 15px
.pb_s
	padding-bottom: 15px
.pt_ss
	padding-top: 5px
.picWithTxtWrap
	.manPicWrap
		+border-radius(50%)
		border: 1px solid $borderGray
		overflow: hidden
		width: 63px
		height: 63px
		+coverPic

	.rBox
		width: 440px
		margin-left: 15px
		line-height: 19px

		.c_name
			font-size: 116%

//20151129
.roundPicTxtWrap


	.lBox
		width: 90px
		float: left
		margin-right: 15px
		.manPic
			+border-radius(50%)
			border: 1px solid $borderGray
			width: 63px
			height: 63px
			overflow: hidden
			margin: 0 auto
			display: block
			+coverPic

	.rBox
		overflow: hidden
		min-height: 63px
		float: none

.to_e
	overflow : hidden
	text-overflow : ellipsis
	white-space : nowrap
	margin-bottom: 5px

.lh_mi
	line-height: 1.6em
.lh_s
	line-height: 1.875

.seeMoreContentBtn
	&:hover
		text-decoration: underline
