@charset "UTF-8"


@media screen and (min-width: $breakPoint)
	.breakHide
		display: block
	.breakShow
		display: none!important
	#mainContainer.askStep
		width: 830px
	.mainContainerRightBar.askStep
		width: 290px
@media screen and (max-width: $breakPoint)
	.breakHide
		display: none!important
	.breakShow
		display: block

	.wideBlock
		width: 900px

	#memberContent
		width: 650px

	#mainContainer
		width: 542px
		overflow: hidden
	.findArticleBox
		padding: 28px 50px 0px
		.searchBar
			input[type=text]
				width: 405px

	#pageNav
		font-size: 13px
		.centerBlock
			width: 920px
			margin-left: -475px
			.navItem .liWrap
				padding: 0 9px

	#adNav
		ul
			li
				width: 212px
	//---ad----//
	.ad_800x100
		width: 540px
		height: auto
		margin-top: 15px
	.discussBox
		.talkBox
			form
				input[type='text']
					margin-right: 0
					width: 380px
				input[type='submit']
					margin-top: 10px


		.subTalkList
			.talkBox
				input[type='text']
					width: 330px
