@charset "UTF-8"

// @mixin borderBox 
// 	+box-sizing('border-box')



$mainColor1: #e4007f
$mainColor2: #94b706
$mainGray: #626262
$lgColor: #939393


$borderGray: #CBCBCB
$bdg: #CBCBCB

$borderGray1: #ABABAB
$bgGray: #CBCBCB
$bgPink: #e4007f
$hoverColor: #f2f2f0
$txtColor1: #373737

$breakPoint: 1140px

$dotColor: #ABABAB 

@mixin limitTxt
	white-space: nowrap
	overflow: hidden
	-ms-text-overflow: ellipsis
	-o-text-overflow: ellipsis 
	text-overflow: ellipsis