/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


.searchTitle
	font-size: 123.1%
	font-weight: bold
	height: 40px
	border-bottom: 1px solid $borderGray
	line-height: 40px
	padding-left: 5px
.articleList
	color: black
	margin-top: 30px

	.articleItem
		padding-left: 5px
		width: 100%
		min-height: 125px
		margin-bottom: 20px
		
		.titleWrap
			.t_name
				font-size: 150%
				display: inline-block
				width: auto
		.t_info
			margin-top: 10px
			color: $borderGray1

		.content
			font-size: 108%
			margin-top: 10px
			line-height: 26px
			color: $mainGray


// .findArticleBox
// 	width: 100%
// 	padding: 28px 120px 0px
// 	height: 100px
// 	background-color: $mainColor2
// 	.searchBar
// 		width: 100%
// 		input[type=text]
// 			text-align: center
// 			padding: 0 10px 
// 			height: 25px
// 			float: left
// 			width: 534px
// 			border: 0


// 		.searchBtn
// 			+bg('g/searchIcon_pink.png')
// 			float: left
// 			cursor: pointer
// 	.tagBtn
// 		margin-top: 8px
// 		li 
// 			float: left
// 			color: white 
// 			margin-right: 10px



		
