/*mixin*/
@import compass/css3
@import mixin/layout
@import variable





.tabWrap
	margin-top: 15px

	.tabItem
		float: left
		height: 28px
		background-color: #f2f2f2
		line-height: 28px
		padding: 0 15px
		color: black 
		cursor: pointer

	.tabItem.active
		color: white 
		background-color: $mainColor1
		
	.tabItem:hover 
		color: white 
		background-color: $mainColor1
hr
	border: 0
	background-color: $mainColor1
	margin: 0
	height: 2px

.articleList
	display: none
	color: black
	margin-top: 30px

	&.active 
		display: block
	.moreBtn
		margin-bottom: 15px
		padding-top: 8px
		padding-bottom: 30px
	.moreWrap
		display: none

	.articleItem
		position: relative
		width: 100%
		min-height: 125px
		margin-bottom: 20px
		.listNum
			float: left
			font-size: 206%
			font-weight: bold
			color: #595959
			height: 125px
			line-height: 100px
			width: 8%
			text-align: center
		.t_info
			margin-top: 10px
			color: $borderGray1

		.rWrap
			float: left
			width: 90%
			.titleWrap
				.t_name
					font-size: 150%
				.greenTag
					//z-index: 10
			.t_info
				margin-top: 7px

			.content
				font-size: 108%
				margin-top: 10px
				line-height: 26px
				color: $mainGray


.tagBtnWrap
	padding-top: 20px
	padding-left: 8%

	span.active 
		color: $mainColor1 

		
