/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.articleTitle
	font-size: 235%
	margin-top: 20px
	// font-weight: bold
.ad_800x100
	img
		width: 770px
.askBox
	margin-top: 15px
	.memberBox
		float: left
		width: 95px
		text-align: center

		.picWrap
			width: 63px
			height: 63px
			+border-radius(50%)
			overflow: hidden
			margin: 10px auto
		.m_info
			line-height: 1.5
			.pinkBtn
				display: inline-block
				width: 80px
				margin-top: 10px
			.editBtn
				margin-top: 10px
				a 
					&:hover 
						text-decoration: none
	.articleBox
		overflow: hidden
		padding-left: 10px
		.atBox
			.articleTitle
				float: left
				width: 615px
				margin-top: 0
			.dealWrap
				vertical-align: top
				overflow: hidden
				margin-top: 5px
				height: auto
				.icon_fb
					margin-right: 10px
		.a_content
			line-height: 1.875
		.a_fileBox

			.flDiv
				background-color: #000
				cursor: pointer
				width: 320px		
				img 
					vertical-align: bottom
					width: 100%
				&:hover
					position: relative
					img 	
						+opacity(0.7)
			.picBox

				&:hover
					&:after
						content: ''
						position: absolute
						background: url('../images/g/qaIcon.png') no-repeat -4px -69px
						width: 49px
						height: 49px
						top: 50%
						left: 50%
						margin-top: -25px
						margin-left: -25px
			.videoBox
				&:hover
					&:after
						content: ''
						position: absolute
						background: url('../images/g/qaIcon.png') no-repeat -73px -28px
						width: 41px
						height: 41px
						top: 50%
						left: 50%
						margin-top: -20px
						margin-left: -20px
		.a_infobox

			i 
				margin-right: 5px

	hr
		border: none
		height: 1px
		background-color: #bcbcbc
.answerBox
	min-height: 200px
	padding: 15px 10px
	.articleBox
		.atBox
			.articleTitle
				font-weight: normal
				width: 520px
				font-size: 138.5%
		.dealWrap
			.blackTxt
				margin: 0 3px
				&:hover 
					color: #000
		.mp3Box
			border: none
			background: none
			margin-bottom: 0

		.pointBox
			border: none
			background: none
			margin-bottom: 0
	.memberBox
		.answerBtn
			margin: 10px 0 0 10px
.infoWrap
	position: relative
	width: 100%
	//height: 35px
	line-height: 35px
	margin-top: 20px
	
	.lBox
		height: 63px
		width: 63px
		overflow: hidden
		+border-radius(50%)
		border: 1px solid $borderGray
	.author
		line-height: 18px
	.info
		margin-top: 8px
		line-height: 18px
		.txtLink
			width: auto
			display: inline-block
	.rBox 
		margin-left: 15px
	
	.orangeTxt
		margin-left: 15px
	.dealWrap
		position: absolute
		right: 0
		bottom: 0px
		margin-top: 0
.dotLine
	margin-top: 10px

.articleWrap
	padding: 0px 25px
	font-size: 116%
	margin-bottom: 15px
	.forewordTxt
		font-size: 116%
		margin: 30px 0
		color: #757575
	img 
		border: 1px solid $borderGray
	p 
		margin-top: 20px
		line-height: 24px

	.video
		//border: 1px solid $borderGray
		margin-top: 20px

	.articleSubTitle
		font-size: 138.5%
		margin-top: 20px

	.videoWrap	
		position: relative
		padding-bottom: 56.25%
		padding-top: 25px
		border: 1px solid $borderGray
		height: 0
		margin-bottom: 20px


		iframe 
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

.mp3Box	
	width: 100%
	padding: 17px 15px
	background-color: #f2f2f0
	margin-bottom: 15px
	border: 1px solid $borderGray
	position: relative
	

	.box_title
		margin-bottom: 15px
		font-size: 116%

	.downLoadBox
		
		margin-top: 30px
		line-height: 28px
		list-style-type: disc
		margin-left: 25px

		li 
			height: 28px
			margin-bottom: 10px
		.a_name
			display: inline-block
			min-width: 150px
			margin-right: 15px
		.pinkBtn
			+border-radius(5px)
			height: 28px
			width: 120px
			line-height: 28px
			display: inline-block
			margin-right: 15px
			
		.txt
			display: inline-block

.pointBox
	width: 100%
	padding: 17px 15px
	background-color: #fbe6f2
	margin-bottom: 15px
	border: 1px solid $borderGray
	position: relative

	.box_title
		margin-bottom: 15px
		font-size: 116%
	ul 
		margin-top: 15px
		list-style-type: disc
		margin-left: 25px
		vertical-align: text-top

		li 
			list-style-type: disc
			font-size: 116%
			margin-bottom: 10px
			a 
				display: block

.askList .tagBox
	padding-bottom: 10px

.rankBox
	border-top: 1px solid $borderGray 
	border-bottom: 1px solid $borderGray 
	height: 188px
	margin-top: 38px
	padding: 10px 0px
	&.noneVote
		height: 100px
		overflow: hidden
		.rankContainer
			height: 40px
			border: none
			margin: 0 auto
			margin-top: 10px
			.rankItem
				bottom: 0
				.blockWrap
					height: 0
					overflow: hidden

				.clickBtn
				
					&:hover 
						border: none

	.boxTitle
		z-index: 2000
		position: relative 
		font-size: 138.5%
		.grayTxt
			font-size: 85%

	.rankContainer
		width: 640px
		height: 70px
		margin: 30px auto
		position: relative
		border-bottom: 1px dotted #000

		.rankItem
			width: 55px
			position: absolute
			text-align: center
			bottom: -40px
			height: 130px

			.clickBtn
				position: absolute
				width: 90px
				height: 135px
				top: -6px
				left: -19px
				cursor: pointer
				&:hover 
					border: 1px solid $borderGray
					+opacity(0.7)
			.blockWrap
				width: 100%
				height: 90px
				overflow: hidden

			.rate
				color: $mainColor1
				

			.block
				width: 100%
				background-color: $mainColor1
				height: 100px

			.kind
				width: 100%
				height: 27px
				line-height: 27px
				position: absolute
				bottom: 5px
				text-align: center
				background-color: $mainColor1
				+border-radius(5px)
				color: white

			&.try
				left: 65px
			&.useful
				left: 160px
			&.moving
				left: 255px
			&.cantDo
				left: 350px
			&.confused
				left: 445px
			&.Disagree
				left: 540px
			&.active
				.rate
					color: $mainColor2
				.block
					background-color: $mainColor2

			&.r_10
				.blockWrap
					padding-top: 70px
			&.r_20
				.blockWrap
					padding-top: 63px
			&.r_30
				.blockWrap
					padding-top: 56px
			&.r_40
				.blockWrap
					padding-top: 48px
			&.r_50
				.blockWrap
					padding-top: 40px
			&.r_60
				.blockWrap
					padding-top: 36px
			&.r_70
				.blockWrap
					padding-top: 24px
			&.r_80
				.blockWrap
					padding-top: 16px
			&.r_90
				.blockWrap
					padding-top: 8px
			&.r_100
				.blockWrap
					padding-top: 0	
			&.r_0
				.blockWrap
					padding-top: 74px	
			
.relatedArticleBox
	// margin-top: 30px
	// background-color: #fffff1
	padding: 20px 15px
	&.whiteBg 
		background-color: #FFF
		padding: 0

	.lWrap
		width: 50%
		float: left
		padding: 0px 15px
	.rWrap	
		width: 50%
		float: left
		border-left: 1px dotted #000
		padding: 0px 15px

	.r_tag
		padding: 0 10px
		color: #fff
		margin-left: 5px
		font-size: 100%
		&.roundDiv
			+border-radius(5px)

	ul 

		li
			//height: 23px
			line-height: 23px
			margin-top: 10px
			color: $mainGray 
			list-style-type: disc
			margin-left: 15px
			padding-left: 5px
			color: #000
			.txtLink
				color: #000
				&:hover 
					color: $mainColor1
			a 
				display: inline
				color: #e4007f
				&:hover
					text-decoration: none
					+opacity(0.85)

	.ad_banner.Sponsor
		background-color: #ffe9de



.fb_discussBox
	margin-top: 15px

	.boxTitle
		color: #3b5998
		font-size: 138.5%

	.fbWrap
		width: 100%
		border-top: 1px solid #000	
		margin-top: 15px



.lockBox
	border-top: 1px solid $borderGray
	padding: 20px 20px
	.grayTxt
		font-size: 118%
	.btnWrap
		margin-top: 15px
		* 
			margin-right: 10px

.contentBox
	background-color: $bgGray
	width: 100%
	height: 268px
	position: relative
	margin-top: 15px
	

	

	.lWrap
		position: absolute
		right: 190px
		left: 0
		top: 0
		padding: 15px
		height: 268px

		.m_name
			font-size: 182%
			margin-top: 15px
			font-weight: bold
		.m_content
			margin-top: 15px
			font-size: 116%
			line-height: 26px
			height: 110px
			overflow: hidden

		.btnWrap
			position: absolute
			width: 100%
			bottom: 0
			left: 0
			padding: 15px

		.allListBtn
			position: absolute
			right: 20px
			bottom: 10px

	.picWrap
		width: 180px
		height: 235px
		top: 15px
		right: 15px
		position: absolute
		
.colunmistAboutBox
	margin: 20px 0
	position: relative
	padding: 20px
	border: 1px solid $borderGray

	.seeAllBtn
		position: absolute
		right: 20px
		top: 20px
	.colunmistInfo
		.lBox
			float: left
			.coverPic
				width: 80px
				height: 80px
				+border-radius(50%)
				overflow: hidden

		.rBox
			float: left
			margin-left: 20px
			width: 660px

			.c_info
				.c_area
					color: $borderGray 
					font-size: 138.5%
					margin-right: 15px

				.c_name
					font-size: 153.90%

			.c_about
				margin-top: 15px
				font-size: 116%
				line-height: 25px

				.seeMoreContentBtn
					color: $borderGray 

			.followBtn
				width: 267px
				height: 36px
				line-height: 36px
				margin-top: 15px
				+border-radius(5px)


.askForm
	.q_textarea
		width: 100%
		height: 150px
		max-width: 100%
	.upLoadBtnWrap
		margin-bottom: 30px
		.grayBtn
			width: 370px
			border: 1px solid $borderGray
			height: 45px
			line-height: 45px
			display: inline-block
			padding-left: 10px
			cursor: pointer
			vertical-align: top
			&:hover 
				background-color: $borderGray
				color: #fff
				.i_pic
					background-position: -50px -37px
				.i_video
					background-position: 0 -40px
		.i_pic
			margin-right: 5px
			margin-top: -7px
			margin-right: 3%

		.i_video
			margin-right: 5px
			margin-top: -7px
		.pic_preview
			display: none
			border: 1px solid $borderGray
			overflow: hidden
			width: 48%
			position: relative
			&:hover 
				.deleBtnWrap
					display: block
			.deleBtnWrap
				display: none
				position: absolute
				width: 100%
				height: 100%
				background-image: url("../images/g/black.png")
				.deleBtn
					position: absolute
					right: 10px
					top: 10px
					cursor: pointer
					&:hover 
						+opacity(0.7)
					.i_delBtn
						margin-left: 5px


			img 
				vertical-align: bottom
	.flDiv
		line-height: 30px
	.r_url
		width: 40%
	.r_article
		width: 40%
	.mp3Btn
		background-color: #b6b6b6
		padding: 12px 15px
		cursor: pointer
		display: inline-block
		position: relative
		padding-left: 50px
		&:hover 
			+opacity(0.8)
		.i_music
			position: absolute
			top: 12px
			left: 14px


.answerPop
	border: 1px solid $borderGray
	padding: 15px
	// z-index: 1200	
	// width: 100%
	// height: 100%
	// top: 0
	// left: 0	
	position: relative
	
	.container
		// padding: 20px 20px
		// position: absolute
		// width: 700px
		// min-height: 300px	
		background-color: #fff
		// left: 50%
		// margin-left: -350px
		// top: 15%
	.noramlBtnWrap
		text-align: center
	.mp3FileName
		display: none
		border: 1px solid $borderGray
		padding: 8px 15px
		overflow: hidden
		position: relative
		
		&:hover 
			.deleBtnWrap
				display: block
		.deleBtnWrap
			display: none
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-image: url("../images/g/black.png")
			.deleBtn
				position: absolute
				right: 8px
				top: 8px
				cursor: pointer
				&:hover 
					+opacity(0.7)
				.i_delBtn
					margin-left: 5px

@media screen and (max-width: $breakPoint)
	.infoWrap
		.author
			width: 180px
		.info
			width: 180px
	.rankBox
		.rankContainer
			left: -46px
			.rankItem
				&.try
					left: 65px
				&.useful
					left: 155px
				&.moving
					left: 245px
				&.cantDo
					left: 335px
				&.confused
					left: 425px
				&.Disagree
					left: 515px
	.colunmistAboutBox 
		padding-top: 50px
		.colunmistInfo 
			.rBox
				width: 400px
	.relatedArticleBox
		.lWrap	
			float: none
			width: 100%	
		.rWrap	
			float: none
			width: 100%	
			border-top: 1px dotted #000
			border-left: none
			margin-top: 15px
			padding-top: 15px
	.askBox 
		.articleBox 
			.atBox 
				.articleTitle
					width: 100%
					float: none
			.a_fileBox 
				.videoBox
					margin-top: 10px
	