/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.expertBox
	padding: 15px 0
	// border-top: 1px solid $borderGray
	border-bottom: 1px solid $borderGray
	margin-top: 15px
	position: relative

	.seeMore
		position: absolute
		right: 0
		top: 15px


	.lBox
		width: 305px
		.picWrap
			width: 100%
			height: 200px
			overflow: hidden
			border: 1px solid $borderGray
		.pinkBtn
			+border-radius(5px)
			margin-top: 15px
			height: 30px
			line-height: 30px
		.lbBtn
			display: block
			width: 100%
			text-align: center
			height: 30px
			line-height: 30px
			border: 1px solid #a1a19f
			margin-top: 15px
			+border-radius(5px)
			&:hover 
				+opacity(0.7)
				text-decoration: none
		.relateBtn
			background-color: #dddddd
		.infoBtn
			background-color: #f2f2f2
			
	.rBox
		padding-left: 15px
		float: none
		overflow: hidden
		
		.c_title	
			font-size: 138.5%
			// font-weight: bold

		.c_name
			margin-top: 20px
			font-size: 174%
			// font-weight: bold
		.pl
			padding-left: 10px

		.c_info
			margin-top: 15px
			font-size: 116%
			.pTxt
				margin-top: 10px
			.c_content
				margin-top: 10px
				font-size: 95%
				color: #373737
				line-height: 28px
			.noteWrap
				+border-radius(5px)
				background-color: #f2f2f2
				padding: 10px 10px 10px
				margin-top: 15px
				.pTxt
					margin-top: 0
				.bTxt
					color: #000
					margin-left: 5px
				.c_content
					color: #888886
.mr_ss
	margin-right: 5px
.askList
	.qaWrap
		.qBox
			float: none
		.aBox
			float: none
			width: 100%
			margin: 15px 0 0
		.q_info
			margin-top: 15px
.askList.answered
	.qaWrap
		.qBox 
			.lWrap 
				float: none
				max-width: 100%

@media screen and (max-width: $breakPoint)
	.expertBox
		padding-top: 40px
		.seeMore 
			top: 10px