/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.pageTitle
	// font-size: 162.5%
	// font-weight: bold
	// line-height: 24px
	margin: 0

.grayLine
	margin: 15px 0

.askTabWrap
	margin-top: 35px
	border-bottom: 3px solid $mainColor1
	.tabItem
		float: left
		height: 28px
		background-color: #f2f2f2
		line-height: 28px
		padding: 0 15px
		color: black
		cursor: pointer
	.tabItem.active
		color: white
		background-color: $mainColor1

	.tabItem:hover
		color: white
		background-color: $mainColor1


.askExpertList
	position: relative
	.groupTitle
		display: block
		margin-bottom: 15px
	.a_group
		padding-top: 35px
	.listItem
		width: 245px
		height: 300px
		border: 1px solid $borderGray
		margin: 0 10px 20px 10px
		position: relative
		float: left
		overflow: hidden
		padding: 15px
		&.shadow
			+box-shadow(2px 2px 6px 2px rgba(20%,20%,40%,0.1))
		&:hover
			// background-color: #eee
		a:hover
			// text-decoration: none
		.a_pic
			width: 115px
			height: 115px
			+border-radius(50%)
			border: 1px solid $borderGray
			overflow: hidden
			margin: 0 auto
		.a_name
			text-align: center
			margin-top: 10px
		.a_title
			text-align: center
			margin-top: 10px
			line-height: 25px
		.a_content
			line-height: 25px
		.followBox
			position: absolute
			left: 0
			padding: 10px 15px
			width: 100%
			bottom: 0
			.followBtn
				display: inline-block
				float: left
				padding: 0 8px

			.moreBtn
				float: right
				display: inline-block
				&:hover
					text-decoration: underline
					// color: inherit
