/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.faqListTitle
	margin-left: 10px
	color: #373737


.titleWrap
	.dib
		display: inline-block
		vertical-align: sub

.mTxt
	margin-top: 15px
	margin-bottom: 15px
#mainContainer.wideMainContainer
	width: 100%
.grayBg
	background-color: #eaeaea
.pageTitle
	margin-bottom: 15px
	margin-top: 0
.inputNTxt
	line-height: 30px
.smWideBlock
	width: 1045px
	margin: 0 auto
	#mainContainer
		width: 720px

.whiteWrap
	width: 100%
	background-color: #FFF
	margin: 20px 0
	padding: 20px 0
	#mainContainer
		padding: 0 20px
		// height: 50px
		border-right: 1px solid $bdg
.mainContainerRightBar
	float: left
	padding: 0 20px
	margin-left: 0
	width: 320px
	.r_note
		margin-top: 120px
		// height: 50px
a.pTxt
	&:hover
		color: $mainColor1
.roundDiv
	+border-radius(5px)
#mainBanner
	width: 100%
	.bdWrap
		border: 1px solid $bdg

	.picWrap
		float: left
		width: 540px
		height: 300px
		overflow: hidden
		position: relative
		left: 0
		right: 0

		.picContainer
			width: 9999px

			.picItem
				float: left
				position: relative
				overflow: hidden
				cursor: pointer
				width: 540px
				height: 300px


				.pic
					width: 540px
					height: 300px
					overflow: hidden
					+background-size('cover')


				.picTitle
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					height: 47px
					background-image: url("../images/g/black.png")
					color: white
					line-height: 47px
					padding-left: 10px
					font-size: 116%


	.list
		width: 268px
		float: left
		height: 300px
		position: relative

		.listItem
			height: 60px
			width: 100%
			border-top: 1px dotted $dotColor
			font-size: 123.1%
			color: #000
			line-height: 50px
			cursor: pointer
			position: absolute
			padding-left: 20px
			a
				display: inline

			.ad
				font-size: 85%
				color: #ff7430

			a:hover
				text-decoration: none
		.listItem.m1
			border-top: none
		.listItem.m2
			left: 0
			top: 50px
		.listItem.m3
			left: 0
			top: 100px
		.listItem.m4
			left: 0
			top: 150px
		.listItem.m5
			left: 0
			top: 200px
		.listItem.m6
			left: 0
			top: 250px
		.listItem.active
			color: $mainColor1

			&:after
				content: ''
				+bg('g/navArrLeft.png')
				position: absolute
				top: 16px
				left: -11px

.roundBtn
	height: 30px
	width: 80px
	margin-left: 15px
	line-height: 30px
	+border-radius(5px)
	display: block
	&:hover
		text-decoration: none


.pinkBtn:hover
	color: white

.searchFilterBox
	background-color: #ebebeb
	padding: 24px 20px
	margin-top: 15px
	position: relative
	width: 100%
	margin-bottom: 15px

	.roundBtn
		position: absolute
		top: 24px
		right: 20px
	.searchBar
		position: absolute
		+border-radius(5px)
		border: 1px solid $bdg
		overflow: hidden
		left: 20px
		right: 120px
		top: 24px
		height: 30px
		// float: left


		.f_input
			width: 90%
			height: 30px
			padding-left: 20px
			border: none
			vertical-align: top
			margin: 0
			line-height: 100%

		.searchBtn
			background-color: $mainColor1
			border: none
			vertical-align: top
			height: 30px
			width: 10%
			position: absolute
			right: 0
			border-left: 1px solid $bdg
	.pinkBtn
		float: left

	.tagBtn
		margin-top: 45px
		// margin-left: 10px
		li
			float: left
			margin-right: 10px
	.ocBtn
		position: absolute
		right: 20px
		top: inherit
		margin-top: -10px
	.hideBox
		display: none
.filterBox

	.filterName
		float: left
		line-height: 30px

	.filterWrap
		margin-top: 15px
		margin-left: 10px
		overflow: hidden
		input[type=radio]
			display: none
		input[type=radio]:checked + label
			background-color: $mainColor1
			color: white
		input[type=checkbox]
			display: none
		input[type=checkbox]:checked + label
			background-color: $mainColor1
			color: white
		.redBtn
			float: left
			margin-left: 10px
			margin-bottom: 8px
			padding: 0 15px
			height: 30px
			+border-radius(15px)
			border: 1px solid $mainColor1
			text-align: center
			line-height: 30px
			color: $mainColor1
			position: relative
			cursor: pointer
			
			&:hover
				background-color: $mainColor1
				color: white


.askList
	margin-top: 30px

	.tagBox
		border-bottom: 1px solid #CBCBCB
		margin-bottom: 15px
		padding-bottom: 5px
		.tagWrap
			float: left

			ul
				li
					display: inline-block
				.tagItem
					margin: 0 15px
					height: 30px
					&.active
						color: $mainColor1
					&:hover
						color: $mainColor1

		.sortWrap
			float: right
			line-height: 25px
			vertical-align: top
			ul
				li
					display: inline-block
					margin-left: 5px
					vertical-align: top

.grayBorderBtn
	padding: 0 7px
	border: 1px solid $bdg
	+border-radius(5px)
	height: 25px
	display: block
	line-height: 24px
	text-align: center
	background-color: #FFF
	&.nobd
		border: none

	&:hover
		background-color: #dfdfdf
		text-decoration: none
	&.active
		border: 1px solid #dfdfdf
		background-color: #dfdfdf

.noramlBtnWrap
	font-size: 16px
	input[type=button]
		padding: 0 20px
		margin: 0 7px
		height: 30px
		line-height: 30px
		text-align: center
		display: inline-block
	input[type=submit]
		padding: 0 20px
		margin: 0 7px
		height: 30px
		line-height: 30px
		text-align: center
		display: inline-block
	.bigBtn
		width: 25%
.qaWrap
	padding: 20px 0
	border-bottom: 1px dotted $dotColor
	&.sponsor
		background-color: #f3f3f3
		.aBox
			background-color: #f3f3f3
	.qBox

		.lWrap
			float: left
			max-width: 580px
			.q_info
				margin-top: 15px
				.greenBorderBtn
					float: none
					display: inline-block
					height: 25px
					line-height: 24px
					vertical-align: text-top
					margin-top: -3px
				a
					&:hover
						text-decoration: none
				.i_gEdit
					margin-left: 10px


		.rWrap

			float: right
			.grayBorderBtn
				margin-bottom: 7px
			.lBox
				margin-right: 10px
				border-right: 1px solid $bdg
				padding-right: 10px

	.aBox
		background-color: #fffff1
		width: 100%
		float: right
		padding: 15px 10px 15px 0px
		margin: 15px 0px

		.manPicWrap
			+border-radius(50%)
			overflow: hidden
			float: left
			// margin-right: 15px
			width: 63px
			height: 63px
			margin: 0 20px
		.rBox
			float: none
			overflow: hidden
			min-height: 63px
			.a_txt
				i
					line-height: 1.5
			.a_info
				margin-top: 15px
				.greenTxt
					color: #87a800
				.a_time
					margin-left: 10px
					.i_clock
						margin-top: 2px

.askBtn
	position: fixed
	z-index: 1000
	bottom: 50px
	left: 50%
	margin-left: 105px
	width: 135px
	height: 60px
	background-image: url("../images/g/white.png")
	border: 1px solid $bdg
	+border-radius(5px)
	&:hover
		text-decoration: none
	.i_bigQ
		margin: 0 12px
		margin-right: 8px
		margin-top: -8px


	.pinkBtn
		padding: 5px 10px
		margin-top: 12px
		display: inline-block
		height: auto
		+border-radius(5px)

.gbd_input
	width: 85%
	height: 35px
	padding-left: 20px
	border: none
	vertical-align: top
	margin: 5px 0
	// line-height: 100%
	border: 1px solid $borderGray
.blackTxt
	color: #000
.tacDiv
	margin-top: 15px
	text-align: center
	button
		display: inline-block
.mt15
	margin-top: 15px
.mt20
	margin-top: 20px
.olList
	list-style-type: decimal
	padding-left: 20px
	line-height: 22px

@media screen and (max-width: $breakPoint)
	.qaWrap .qBox .lWrap
		max-width: 340px
	.askBtn
		margin-left: -68px
