/*mixin*/
@charset "UTF-8"
@import compass/css3
@import mixin/layout
@import variable



// .hide
	// display: none!important
// html
// 	font-size: 62.5%

// body
// 	font-size: 15px
// 	font-size: 1.5rem

.pr_280
	padding-right: 280px

@for $i from 1 through 55
	.f#{$i}
		// font-size: #{$i}px!important
		// font-size: $i*0.07145+rem!important

#mainContainer
	// @extend .f15
@mixin dtime($d:0.3s)
	+transition($d)

#mainBanner .list .listItem
	// @extend .f16

.pageTitle
	margin-bottom: 15px
	margin-top: 0

.titleWrap
	.dib
		display: inline-block
		vertical-align: sub

.titleWrapListTitle
	color: #373737
	margin-left: 10px

.dicsList
	margin-top: 5px
	li
		margin-top: 20px
.va_tt
	vertical-align: text-top
.pinkBg
	background-color: #fbe6f2
.lh_s
	p
		margin-top: 20px

.colectionBtn
	position: absolute
	right: 0
	top: 0
	width: 60px
	cursor: pointer
	.i_collect
		margin: 0 auto
	.lgTxt
		text-align: center
		display: none

	&:hover
		.lgTxt
			display: block
		.i_collect
			background: url('../images/g/bookIcon.png') no-repeat -88px -4px
	&.active
		.i_collect
			background: url('../images/g/bookIcon.png') no-repeat -55px -4px
.pageTitleWrap
	position: relative

.searchFilterBox
	position: relative
	&.withTag
		margin-top: 50px
		z-index: 10
		+border-top-left-radius(0px)
	.searchFormSwitchTag
		position: absolute
		top: -33px
		left: 0
		z-index: 1
		.sTag
			display: inline-block
			+border-top-left-radius(5px)
			+border-top-right-radius(5px)
			border: 1px solid $borderGray
			border-bottom: none
			height: 33px
			line-height: 33px
			padding: 0 15px
			margin-right: -2px
			background-color: #f7f7f7
			color: #626262
			cursor: pointer
			&.active,:hover
				background-color: #ebebeb
				border: 1px solid #ebebeb
				color: $mainColor1

	background-color: #ebebeb
	padding: 24px 20px
	margin-top: 15px
	position: relative
	width: 100%
	margin-bottom: 15px
	.inputWrap
		.inputTxt
			float: left
			+border-radius(5px)
			border: 1px solid $bdg
			height: 32px
			// padding-top: 5px
			padding-left: 10px
			width: 300px
		.noteTxt
			min-height: 30px
			padding: 5px
		.pinkBtn
			margin: 0 auto
			display: block
			margin-top: 15px
			min-width: 120px
	.roundBtn
		position: absolute
		top: 24px
		right: 20px
	.searchBar
		position: absolute
		+border-radius(5px)
		border: 1px solid $bdg
		overflow: hidden
		left: 20px
		right: 120px
		top: 24px
		height: 30px
		// float: left


		.f_input
			width: 90%
			height: 30px
			padding-left: 20px
			border: none
			vertical-align: top
			margin: 0
			line-height: 100%

		.searchBtn
			background-color: $mainColor1
			border: none
			vertical-align: top
			height: 30px
			width: 10%
			position: absolute
			right: 0
			border-left: 1px solid $bdg


	.tagBtn
		margin-top: 45px
		// margin-left: 10px
		li
			float: left
			margin-right: 10px
	.ocBtn
		position: absolute
		right: 20px
		top: inherit
		margin-top: -10px
	.hideBox
		display: none

.filterBox
	margin-bottom: 5px
	.filterName
		float: left
		line-height: 30px

	.filterWrap
		// margin-top: 15px
		// margin-left: 10px
		// overflow: overlay
		float: left
		max-width: 630px
		input[type=radio]
			display: none
		input[type=radio]:checked + label
			background-color: $mainColor1
			color: white
		input[type=checkbox]
			display: none
		input[type=checkbox]:checked + label
			background-color: $mainColor1
			color: white
		.redBtn
			float: left
			margin-left: 10px
			margin-bottom: 8px
			padding: 0 15px
			height: 30px
			+border-radius(15px)
			border: 1px solid $mainColor1
			text-align: center
			line-height: 30px
			color: $mainColor1
			position: relative
			cursor: pointer
			.memoPop
				position: absolute
				+border-radius(15px)
				padding: 0 15px
				height: 30px
				line-height: 30px
				background-color: white
				+box-shadow(2px 2px 6px rgba(20%,20%,40%,0.3))
				left: 0
				white-space: nowrap
				z-index: 20
				top: -40px
				display: none
				&:after
					content: ''
					width: 0
					height: 0
					border-top: 6px solid white
					border-left: 6px solid transparent
					border-right: 6px solid transparent
					border-bottom: 1px solid transparent
					position: absolute
					left: 25px
					top: 30px


			&:hover
				background-color: $mainColor1
				color: white
				.memoPop
					display: block

.articleList
	.listItem
		color: #626262
		height: 340px
		.colectionBtn
			top: 10px
			width: 50px
		.greenBorderBtn
			width: 226px
			left: 15px
			position: absolute
			bottom: 15px
		&.bigItem
			.booklist_title
				color: #373737
			.inner_bookList
				.bookItem
					margin-right: 20px
					margin-bottom: 15px
		.picWrap2
			width: 226px
			height: 142px
			position: absolute
			left: 15px
			bottom: 63px

		.inner_bookList
			.bookItem
				float: left
				position: relative


				a
					width: 100%
					height: 100%
					display: block

				width: 108px
				height: 108px
				margin-right: 5px

				.seeMoreItem
					position: absolute
					top: 0
					left: 0
					line-height: 108px
					text-align: center
					color: white
					&:hover
						color: white


.titleDiv
	background-color: #e6efc2
	width: 100%
	height: 30px
	line-height: 30px
	padding-left: 15px
	position: relative
	.grayTxt
		color: $txtColor1
	.moreBtn
		position: absolute
		top: 0px
		right: 15px

.bookList
	.listItem
		display: inline-block
		vertical-align: text-top
		margin-right: 17px
		margin-bottom: 15px
		width: 145px
		&:nth-child(5n)
			margin-right: 0
		a
			display: block
		.pic
			width: 145px
			height: 206px
		.txtWrap
			.grayTxt
				margin-top: 10px

.whiteMaskTxtBox
	+clearfix
	position: relative
	.r_slideBtn
		position: relative
		z-index: 10
		margin-top: 15px
		display: none
	.r_txt
		margin-top: 15px
		overflow: hidden
		height: auto
		

	.r_mask
		width: 100%
		height: 31px
		background-image: url("../images/g/whiteUp.png")
		position: absolute
		left: 0
		bottom: 31px
		display: none

	
	&.addMask
		.r_txt
			height: 84px
			height: 10rem
		.r_slideBtn
			display: block
		.r_mask
			display: block
	&.active
		.r_txt
			height: auto
		.r_mask
			display: none
		.r_slideBtn
			display: none
.reviewWrap
	position: relative
	margin-top: 10px
	.dealWrap
		position: absolute
		right: 0
		top: 0
		margin-top: 0
	.r_title
		padding-right: 280px

.roungTagList
	.tagClass
		float: left
		margin-right: 5px
		margin-top: 3px

	.tagWrap
		overflow: hidden
		.gTag
			border: 1px solid #bcbcb4
			padding: 0 12px
			height: 30px
			line-height: 30px
			float: left
			margin-right: 10px
			color: #626262
			+border-radius(15px)
			cursor: pointer
			&.active,&:hover
				background-color: #bcbcb4
				color: white

.roundPicWithTxt
	.roundPic
		+border-radius(50%)
		border: 1px solid $borderGray
		overflow: hidden
		width: 63px
		height: 63px
		+coverPic
		float: left
		margin-right: 15px

	.txtWrap
		overflow: hidden
		min-height: 63px
.sortWrap
	text-align: right
	line-height: 25px
	vertical-align: top
	ul
		li
			display: inline-block
			margin-left: 5px
			vertical-align: top
.grayBorderBtn
	border: 1px solid $bdg
	+border-radius(5px)
	height: 25px
	display: block
	line-height: 24px
	text-align: center
	background-color: #FFF
	padding: 0 10px

	&:hover
		background-color: $bdg
		text-decoration: none
	&.active
		border: 1px solid $bdg
		background-color: $bdg




.bookInfoBox
	padding: 25px 0 25px 0
	border-bottom: 1px dotted $bdg
	margin-top: -1px
	&.bookPage
		border-bottom: 1px solid $bdg
		.txtWrap
			overflow: inherit
			float: left
			width: 550px


	.evaluateBtn
		padding: 0 10px
		width: auto
		float: none
		display: inline-block
		vertical-align: text-top
		margin-top: -3px
	.bPic
		float: left
		width: 180px
		height: 180px
		margin-right: 15px
		// +box-sizing(contain)
		+containPic


	.txtWrap
		overflow: hidden
		min-height: 180px
		position: relative
		color: $txtColor1
		.pr_b
			padding-right: 60px
		.colectionBtn
			position: absolute
			right: 0
			top: 0
			width: 60px
			cursor: pointer
			.i_collect
				margin: 0 auto
			.lgTxt
				text-align: center
				display: none

			&:hover
				.lgTxt
					display: block
				.i_collect
					background: url('../images/g/bookIcon.png') no-repeat -88px -4px
			&.active
				.i_collect
					background: url('../images/g/bookIcon.png') no-repeat -55px -4px
		.starScore
			display: inline-block
			vertical-align: text-top
			margin-top: 3px
			li
				background: url('../images/g/bookIcon.png') no-repeat -28px -34px
				width: 15px
				height: 14px
				display: inline-block
				vertical-align: text-top
				margin-right: 3px
			&.s1
				li:nth-child(1)
					background: url('../images/g/bookIcon.png') no-repeat -9px -34px
			&.s2
				li:nth-child(1),li:nth-child(2)
					background: url('../images/g/bookIcon.png') no-repeat -9px -34px
			&.s3
				li:nth-child(1),li:nth-child(2),li:nth-child(3)
					background: url('../images/g/bookIcon.png') no-repeat -9px -34px
			&.s4
				li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4)
					background: url('../images/g/bookIcon.png') no-repeat -9px -34px
			&.s5
				li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),
					background: url('../images/g/bookIcon.png') no-repeat -9px -34px
			&.bigStar
				li
					background: url('../images/g/bookIcon.png') no-repeat -11px -98px
					width: 31px
					height: 28px
					cursor: pointer
				&.s1
					li:nth-child(1)
						background: url('../images/g/bookIcon.png') no-repeat -51px -98px
				&.s2
					li:nth-child(1),li:nth-child(2)
						background: url('../images/g/bookIcon.png') no-repeat -51px -98px
				&.s3
					li:nth-child(1),li:nth-child(2),li:nth-child(3)
						background: url('../images/g/bookIcon.png') no-repeat -51px -98px
				&.s4
					li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4)
						background: url('../images/g/bookIcon.png') no-repeat -51px -98px
				&.s5
					li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5),
						background: url('../images/g/bookIcon.png') no-repeat -51px -98px
		.recommendBox
			.lBox
				padding-right: 10px
				border-right: 1px solid $mainColor2
				margin-right: 10px
		.evaluateStarBox
			background-color: #ebebeb
			padding: 10px 15px 15px
			+border-radius(5px)
			display: inline-block
			.greenBtn
				display: inline-block
				vertical-align: text-top
				margin-top: 5px
				padding: 0 20px
				height: 28px
				line-height: 28px
.bk_recommendBox
	.recommendTxt
		line-height: 1.75
		padding: 15px 0
		border-bottom: 1px dotted $dotColor
	.openBtn
		cursor: pointer
.bk_videoWrap
	position: relative
	padding-bottom: 56.25%
	padding-top: 25px
	border: 1px solid #cbcbcb
	height: 0
	margin-bottom: 20px
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.bk_printable
	.mp3Box
		.i_grPlay
			margin-top: 1px
.bk_reward
	li
		width: 48%
		float: left
		// margin-bottom: 5px
		padding-right: 5%

.bk_event
	// +border-radius(5px)
	padding: 20px

.book_descr
	line-height: 1.875
	p
		margin: 10px 0
	.tbname
		color: #ff6600
		display: block
	.tabcontent
		color: #626262

@media screen and (max-width: $breakPoint)
	.filterBox
		.filterWrap
			max-width: 390px
	#mainContainer
		overflow: visible
	.reviewWrap
		.r_title
			padding-right: 0
		.dealWrap
			position: relative
	.articleList
		.bookInfoBox
			width: 540px
	.bookInfoBox
		.txtWrap
			padding-top: 15px
	.bookList
		.listItem
			&:nth-child(5n)
				margin-right: 17px