/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.eWrap
	margin: 155px auto
	width: 700px
	
.errorPic
	+bg('g/errorPic.png')
	float: left
	margin-right: 60px
.txtWrap
	float: left
	margin-top: 15px
	.pinkBorderBtn
		margin-top: 20px
		width: auto
		height: 30px
		line-height: 27px
		+border-radius(15px)
		padding: 0 27px
		display: inline-block
		float: none
	.linkListBox
		margin-top: 35px
		li 
			margin-top: 10px