/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.orangeTag
	padding: 0 15px

#bigBanner
	width: 100%
	height: 260px
	overflow: hidden
	+background-size(cover)
	position: relative
	margin-top: 15px
	
	
	.txtWrap
		background-image: url("../images/g/black2.png")
		width: 100%
		height: 166px
		position: absolute
		left: 0
		bottom: 0
		color: white 

		.subWrap
			position: absolute
			bottom: 0
			padding: 20px

		.b_title
			font-size: 182%
			//font-weight: bold

		.b_content
			font-size: 116%
			margin-top: 7px

	.sponsor
		position: absolute
		top: 15px
		left: 15px
		color: #cdcdcd



.featureList
	margin-top: 15px
	width: 830px

	.listItem
		width: 260px
		height: 300px 
		float: left
		border: 1px solid $borderGray
		margin-right: 15px
		margin-bottom: 15px
		position: relative
		overflow: hidden
		//cursor: pointer
		&:hover 
			+opacity(0.9)
		.lBox
			width: 260px
			height: 300px
			position: relative
			
		.rBox
			width: 273px
			height: 300px

			.linkList
				padding: 0 15px
				

				li 
					border-bottom: 1px dotted $borderGray1
					line-height: 24px
					font-size: 108%
					color: $txtColor1
					a
						padding: 8px 0

				li.listTitle
					color: #7B9807
					border: none
					font-size: 123.1%
					margin-top: 15px


				li:last-child
					border: none


		&.bigItem
			width: 535px
		
		.insidePic
			position: absolute
			left: 15px
			bottom: 15px
			width: 227px
			height: 140px



		.picWrap
			position: absolute
			width: 100%
			height: 300px
			overflow: hidden
			top: 0
			left: 0

		.coverTitle
			position: absolute
			width: 100%
			height: 166px
			background-image: url("../images/g/black2.png")
			z-index: 1
			left: 0
			bottom: 0


			.txtWrap
				color: white 
				position: absolute
				left: 15px
				bottom: 15px
				width: 90%

				.sponsor
					margin-bottom: 10px
					color: #cdcdcd

				.a_title
					font-size: 123.1%
		&.picTxt
			padding: 15px
			.l_title
				//+limitTxt
				a 
					display: inline
			.txt 
				font-size: 108%
		&.vote 
			padding: 50px 15px 15px 15px 
		
		.greenTag
			//margin-top: 10px
			width: 117px
			height: 24px
			position: absolute
			top: 10px
			left: 0
			text-align: left
		h1
			font-size: 123.1%
			line-height: 24px
			width: 230px
		p 
			font-size: 116%
			line-height: 24px
			margin-top: 3px
			color: $mainGray

		.voteBtn
			width: 227px
			height: 32px
			+border-radius(5px)
			border: 1px solid $mainColor2
			text-align: center
			line-height: 32px
			position: absolute
			bottom: 15px
			left: 15px
			

			&:hover 
				background-color: #f8ffde
.compaign
	margin: 20px 0


.moreArticleWrap
	margin-top: 30px

	.m_title
		font-size: 138.5%
		font-weight: bold
	
	.artileList
		margin-top: 15px
		

		.listItem
			font-size: 116%
			border-bottom: 1px dotted #000
			list-style-type: disc
			//list-style-position: inside
			margin-left: 25px
			padding: 8px 0
			a 
				//padding: 7px 15px
				display: inline
			
	.showMoreBtn
		width: 100%
		height: 40px
		background-color: #e0e0e0
		line-height: 40px
		text-align: center
		margin-top: 30px
		cursor: pointer

		&:hover 
			background-color: $borderGray


.preFeatureBox
	position: relative
	margin-top: 20px

	.more	
		position: absolute
		right: 0px
		top: 5px 

@media screen and (max-width: $breakPoint)
	.featureList
		width: 560px