// mainNav
$mainColor1: #e4007f
$mainColor2: #94b706
$mainGray: #626262

#pageNav
	ul 
		li 
			
			a
				color: white 
				padding: 0px 13px
				
	.subMenuBox
		.lWrap
			ul 
				li 
					margin-bottom: -7px
					a 
						color: $mainGray
						list-style-position: inside
						list-style-type: disc
						display: list-item
						line-height: 30px

				
				
#adNav
	position: relative

#mainBanner
	.list
		.listItem
			margin-top: -4px