/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



.grayLine
	margin: 10px 0

.currentMBox
	border-top: 1px solid $borderGray
	padding: 20px 0px

	.lWrap
		float: left
		.picWrap
			width: 200px
			height: 267px
			overflow: hidden

	.rWrap
		height: 267px
		//float: left
		//width: 593px
		overflow: hidden
		padding-left: 20px
		position: relative
		.moreBtn
			position: absolute
			right: 0
			top: 0


		.period
			font-size: 116%

		
		.m_name
			font-size: 180%
			float: left
			margin-top: 15px

		.m_content
			font-size: 116%
			margin-top: 10px
			line-height: 28px
			max-height: 150px
			overflow: hidden
			color: $txtColor1
				
		.btnWrap
			position: absolute
			left: 15px
			bottom: 0

.articleList
	margin-top: 20px

	.listTitle
		width: 100%
		height: 37px
		position: relative
		padding: 0 25px
		line-height: 37px

		.txt
			float: left
			color: white
			font-size: 138.5% 

		.en
			float: right
			color: white 
			+opacity(0.5)
			font-size: 182%

		&:after 
			content: ''
			width: 0
			height: 0
			position: absolute
			bottom: -16px
			left: 25px
			border: 8px solid transparent

		&.t1 
			background-color: $mainColor1
			&:after 
				border-top-color: $mainColor1
		&.t2 
			background-color: #afab65
			&:after 
				border-top-color: #afab65
		&.t3 
			background-color: #48b691
			&:after 
				border-top-color: #48b691
		&.t4 
			background-color: #ff802b
			&:after 
				border-top-color: #ff802b
		&.t5 
			background-color: #a4c031
			&:after 
				border-top-color: #a4c031

	ul 
		margin-top: 15px

	.listItem
		list-style-type: disc
		border-bottom: 1px dotted $borderGray1
		min-height: 30px
		line-height: 36px
		margin-left: 25px
		padding-left: 5px
		position: relative
		.icon_greenHeart
			margin: 1px 5px 0 0
			vertical-align: text-top
		a 
			position: relative
			top: 0
			left: 0
			width: 100%
			height: 100%
			font-size: 116%
			
		a:hover 
			color: $mainColor1
			text-decoration: none
			
			

		&:last-child 
			border: none
		.exchange
			margin-left: 7px

.switcherBox
	text-align: center
	margin-top: 20px 0

	.picWrap
		display: inline-block
		width: 117px
		height: 156px
		overflow: hidden

	.btnWrap
		display: inline-block
		width: 352px
		height: 156px
		padding-left: 20px

		.backBtn
			float: left
			font-size: 138.5%
			margin-top: 70px
			margin-right: 10px
		.pinkBorderBtn
			margin-top: 67px

.mag-greenTag
	height: 24px
	color: white
	line-height: 24px
	text-align: center
	font-size: 108%
	display: inline-block
	margin-right: 5px
	z-index: 10
	position: relative
	background-color: $mainColor2
	padding: 0 15px

@media screen and (max-width: $breakPoint)
	.switcherBox
		.picWrap
			display: none

	.currentMBox
		.rWrap
			.moreBtn
				position: relative
				left: 0
				top: 0
			.m_content
				max-height: 100px