/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



.grayLine
	margin: 10px 0

.currentMBox
	border-bottom: 1px solid $borderGray
	padding: 0px 0px 15px 0px
	.lWrap
		float: left
		.picWrap
			width: 200px
			height: 267px
			overflow: hidden

	.rWrap
		overflow: hidden
		padding-left: 20px

		.txtWrap
			position: relative
			margin-top: 5px

			.m_name
				font-size: 180%
				float: left
				//font-weight: bold
				margin-top: 5px

			.m_info
				margin-top: 10px
				float: right
				font-size: 116%
				vertical-align: bottom

		.articleList
			margin-top: 5px
			.listItem
				list-style-type: disc
				border-bottom: 1px dotted $borderGray1
				min-height: 40px
				line-height: 35px
				list-style-position: inside
				padding-left: 5px
				font-size: 116%
				color: $mainGray
				a:hover 
					color: $mainColor1
					text-decoration: none
				.exchange
					margin-left: 7px
				
		.btnWrap
			margin-top: 5px
			position: relative

			.goMenuBtn
				position: absolute
				right: 0
				bottom: 0


.m_yearWrap
	margin-top: 35px

	.lBox
		font-size: 138.5%

	.rBox
		float: none
		overflow: hidden
		
		.yearTag
			float: left
			+border-radius(14px)
			font-size: 116%
			margin-bottom: 7px
			


.m_container
	margin-top: 20px
	
	.m_tag
		font-size: 138.5%
		.tagItem
			a:hover  
				text-decoration: none


			&.active 
				color: $mainColor1
			&:hover  
				color: $mainColor1

	
	.m_list
		margin-top: 15px

		.listItem
			float: left
			width: 270px
			height: 280px
			margin: 10px 0
			padding: 15px
			position: relative

			&:hover 
				border: 1px solid $borderGray

			.picWrap
				width: 165px
				height: 220px
				overflow: hidden
				margin: 0 auto

			.txtWrap
				text-align: center
				font-size: 108%
				margin-top: 10px

				.date
					margin-left: 5px

@media screen and (max-width: $breakPoint)
	.currentMBox
		.rWrap
			.txtWrap
				.m_name 
					float: none
				.m_info
					float: none
					margin-top: 8px