/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


#memberContent
	
	.dotLine
		margin: 15px 0

	.txt
		font-size: 116%

		.coinNum
			font-size: 182%	
			margin-right: 5px
			font-weight: bold

	.chooseBox
		margin-top: 20px

		.c_tilte
			float: left
			width: 75px
			font-size: 116%
			line-height: 35px

		.chooseWrap
			float: left
			width: 360px
			
			input[type=radio]
				display: none

			input[type=radio]+label
				width: 75px
				height: 30px
				line-height: 30px
				+border-radius(15px)
				color: $mainColor1
				border: 1px solid $mainColor1
				margin-right: 10px
				text-align: center
				float: left
				margin-bottom: 10px
				cursor: pointer
				font-size: 116%
				
			input[type=radio]:checked + label
				border: 0
				background-color: $mainColor1
				color: white

			

		.selectWrap
			float: left
			height: 21px
			margin-right: 5px
			+border-radius(10px)
			overflow: hidden
			border: 1px solid $mainColor1 
			position: relative         
			background: url('../images/g/dropDownIcon.png') no-repeat     
			background-position: center right 

			&.yWrap
				width: 120px
			&.mWrap 
				width: 73px

		.dropDown
			border: 0
			background: transparent
			-webkit-appearance: none
			padding-left: 8px

			&.year-select
				width: 148px

			&.month-select
				width: 101px

			&:focus 
				border: 0

	.mBtnWrap
		margin-top: 30px
		margin-left: 75px
		display: inline-block
	.sendBtn
		width: 120px
		height: 35px
		color: white 
		background-color: $mainColor2
		line-height: 35px
		text-align: center
		// margin-left: 75px
		font-size: 116%
		+border-radius(5px)
		// margin-top: 30px
		display: block
		cursor: pointer
		border: none

		&:hover 
			+opacity(0.8)
			text-decoration: none


