/*mixin*/
@import compass/css3
@import mixin/layout
@import variable
@import listsStyle

.articleList
	.listItem
		margin-top: 25px
		padding: 5px 0px
		position: relative
		height: 175px


		&.sponsor
			background-color: #f3f3f3

		&:hover
			.deleteBtn
				display: block
		.deleteBtn
			//+bg('g/icon_delete.png')
			position: absolute
			right: 20px
			top: 40%
			cursor: pointer
			display: none

			&:hover
				+opacity(0.7)

		.picWrap
			width: 260px
			height: 165px
			overflow: hidden
			float: left

		.txtWrap
			float: left
			width: 540px
			height: 165px
			padding-left: 20px
			position: relative


			.l_titleWrap
				.greenTag
					position: relative
					z-index: 2
				.greenTxt
					position: relative
					z-index: 2
				.l_Title
					font-size: 123.1%
					margin-left: 8px
					font-weight: bold

				h1
					display: inline-block


			p
				margin-top: 8px
				line-height: 24px
				font-size: 108%


			.l_footerWrap
				position: absolute
				left: 20px
				bottom: 0


				.socailWrap
					display: inline-block
					vertical-align: middle

					*
						margin-right: 8px

				.tagWrap
					a
						text-decoration: underline
						&:hover
							+opacity(0.5)
			.sponsorCompany
				position: absolute
				right: 0
				bottom: 0
				color: #ff7430



@media screen and (max-width: $breakPoint)
	.articleList
		.listItem
			.picWrap
				display: none
