/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


.followTabWrap
	margin-top: 35px
	border-bottom: 3px solid $mainColor1
	.tabItem  
		float: left
		height: 28px
		background-color: #f2f2f2
		line-height: 28px
		padding: 0 15px
		color: black 
		cursor: pointer
	.tabItem.active
		color: white 
		background-color: $mainColor1
		
	.tabItem:hover 
		color: white 
		background-color: $mainColor1
		
.optionBox
	line-height: 32px
	font-size: 116%
	margin-top: 15px
	
	.editBtn
		margin-left: 7px

	.editBox
		background-color: $bgGray
		+border-radius(10px)
		width: 420px
		height: 75px
		padding: 15px 15px	
		position: relative
		line-height: 24px
		display: none
		//font-size: 116%

		input[type=radio]
			margin-left: 7px

		.saveStage
			position: absolute
			right: 15px
			bottom: 15px

.authorWrap
	.moreBtn
		text-align: right
		margin-right: 20px

	.authorList
		margin-top: 10px
		.listItem
			float: left
			width: 430px
			min-height: 100px
			margin-right: 20px
			margin-bottom: 20px
			position: relative
			border: 1px solid $borderGray
			padding: 12px 12px
			&:hover 
				background-color: $hoverColor

			.picWrap
				float: left
				width: 80px
				height: 80px
				+border-radius(50%)
				overflow: hidden

			.txtWrap
				float: left
				padding-left: 10px
				width: 230px
				.category
					font-size: 116%
				.a_name
					margin-top: 10px
					font-size: 138.5%
					font-weight: bold
			.unFollowBtn
				position: absolute
				right: 12px
				bottom: 12px
				margin-right: 0
				background-color: white
				&:hover 
					background-color: $mainColor2