/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



@mixin shadow 
	+box-shadow( 5px 3px 13px -2px rgba(0,0,0,0.36))
.f30
	font-size: 187.5%
.c_wrap
	width: 1030px
	margin: 0 auto
	position: relative
.sBox
	position: relative
	&:before 
		content: ''
		width: 100%
		height: 100px
		position: absolute
		left: 0
		top: 0
		background-image: url("../images/g/lightBlackBg.png")
		background-repeat: repeat-x
.txt  
	font-size: 116%
	line-height: 26px

.wTxt	 
	color: white
.yTxt 
	color: #f9ea1a
.centerTxt
	text-align: center


.header
	height: 56px
	width: 100%
	background-color: white
	overflow: hidden

	.h_logo
		+bg('g/logo_106x33.png')
		margin: 12px 0 0 5px
	.h_menu
		width: 100%
		text-align: center
		position: absolute
		right: 0
		top: 2px
		li 
			display: inline-block
			background: url("../images/about/b_line.png") no-repeat
			background-position: top left
			padding: 0 16px
			height: 36px
			line-height: 36px
		li:first-child
			background: none


.c_banner 
	width: 100%
	background-color: #e4007f
	padding: 60px 0
	.bigPic
		+bg('about/about_title.png')
		position: relative
		left: 50%
		margin-left: -210px
	.txtBox
		margin: 40px auto 10px
		position: relative
		max-width: 480px
		text-align: center
		.arr
			background-image: url("../images/about/ad_spot.png")
			width: 90px
			height: 62px
			position: absolute
			top: -13px	
			left: -80px
.c_info	
	overflow: hidden
	background-color: #efefef
	.p_title
		margin: 60px auto 40px
		+bg('about/ad_title.png')
		position: relative
		left: 50%
		margin-left: -565px

	.btnWrap	
		text-align: center
		.f30
			display: inline-block
		.wBtn
			display: inline-block
			height: 40px
			line-height: 40px
			+border-radius(20px)
			border: 1px solid #e9e9e9
			padding: 0 15px
			+background-image(linear-gradient(#fefefe, #e9e9e9))
			+shadow
			margin-left: 10px
			.b_arr
				background: url('../images/g/ad_arr.png') no-repeat 0 -16px
				width: 14px
				height: 14px
				display: inline-block
				vertical-align: text-top
				margin-top: 2px
				margin-right: 7px


			&:hover 
				color: $mainColor1
				.b_arr
					background-position:  0 0 
	.bigPic
		+bg('about/ad_pic.png')
		position: relative
		left: 50%
		margin-left: -380px
		margin-top: 80px
		margin-bottom: 80px
	.contactbox
		text-align: center
		margin-bottom: 30px



.footer
	overflow: hidden
	background-color: #808080
	.c_wrap
		padding: 50px 0
	.f_btnWrap
		text-align: center

		.ai_icon
			display: inline-block
			margin-right: 15px
		

	.wTxt
		margin-top: 20px
		text-align: center