/*mixin*/
@charset "UTF-8"
@import compass/css3
@import mixin/layout
@import variable

.bigTitle
	border: 1px solid $bdg
	height: 255px
	width: 100%
	position: relative
	.lBox
		position: absolute	
		right: 330px
		left: 0
		height: 100%
	.rBox
		position: absolute
		width: 330px
		right: 0
		height: 100%
		padding: 15px 20px
		&:after 
			position: absolute
			top: 40px
			left: -11px
			content: ''
			+bg('g/navArrLeft.png')
		.dealWrap
			position: absolute
			bottom: 0px
			right: 10px

.wideBlock
	>.wideBlockList
		width: 1150px

.picTxtList
	// width: 1150px
	.listItem
		width: 560px
		// height: 165px
		border: 1px solid $borderGray
		margin: 0px 15px 15px 0px
		position: relative
		float: left
		padding: 15px 
		.picBox
			width: 260px
			height: 165px
			float: left
		.txtBox
			overflow: hidden
			padding-left: 15px
			min-height: 165px
			position: relative
			.moreBtn
				position: absolute
				right: 0px
				bottom: 0px

.videoList
	.listItem
		padding: 25px
		border: 1px solid $bdg
		background-color: #fffff1
		margin-bottom: 15px
		.videoWrap
			width: 520px
			height: 320px
		
		.txtWrap
			width: 520px
			min-height: 320px
			padding-top: 15px
.psBox
	padding: 25px
	// border: 1px solid $bdg
	background-color: #f3f3f3
.buyList 
	.listItem
		width: 260px
		height: 427px
		float: left 
		margin-right: 25px
		margin-bottom: 15px
		border: 1px solid $bdg
		padding: 25px

		.picBox
			+coverPic 
			width: 200px
			height: 278px
			display: block
		.txtBox
			padding: 10px 0
			height: 70px
			display: block
		.pinkBtn
			display: block
			height: 30px
			line-height: 30px
			.i_buyLine
				// margin-top: 5px
				margin-right: 10px
				vertical-align: text-top

@media screen and (max-width: $breakPoint)
	.wideBlock
		>.wideBlockList
			width: 925px
	.articleList .listItem.midItem
		width: 443px
		.bookItem
			width: 97px
	.picTxtList .listItem
		width: 443px
	.videoList .listItem .txtWrap
		width: 320px
	.buyList .listItem
		width: 205px
		height: 397px
		padding: 15px
		.picBox
			width: 172px
			height: 245px
		.txtBox 
			height: 88px