/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.articleTitle
	font-size: 250%
	margin-top: 20px

.videoWrap
	position: relative
	padding-bottom: 56.25%
	padding-top: 25px
	border: 1px solid #CBCBCB
	height: 0
	margin-bottom: 20px
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

#videoCategory
	position: relative
	margin-top: 20px
	
	.containerTitle
		font-size: 150%

	.more	
		position: absolute
		right: 0px
		top: 5px
	.bookWrap
		padding: 0
		width: 100%
		position: relative
		overflow: hidden

	.leftRightBtn
		position: absolute
		top: 0
		left: 0
		width: 100%
		.btn
			position: absolute
			width: 49px
			height: 49px
			top: 120px
			background-image: url("../images/g/arrBtn.png")
			+opacity(0.8)
			cursor: pointer
			&:hover 
				+opacity(1)
		.lBtn
			left: 0
		.rBtn
			right: 0
			background-position: -49px 0
		
	.videoCategoryList
		width: 9999px
		position: relative
		left: 0
		padding-top: 15px


		.listItem
			width: 260px
			height: 245px
			border: 1px solid $borderGray
			margin: 0px 15px 30px 0px
			position: relative
			float: left 
			padding: 35px 15px 15px
			&:hover 
				+opacity(0.9)
			
			.containPic
				width: 226px
				height: 142px
				margin: 0px auto 0px auto

				.play_icon
					position: absolute
					margin: auto
					top: 0
					left: 0
					right: 0
					bottom: 0
					width: 50px
					height: 50px
					+opacity(0.6)

			.list_title
				width: 70px
				height: 24px
				color: #C2C2C2 
				font-size: 108% 
				line-height: 24px
				position: absolute
				top: 15px
				z-index: 10

				a 
					display: block
					padding-left: 15px
					width: 100%
					height: 100%
					&:hover 
						text-decoration: none

			.coverTitle
				position: absolute 
				background-image: url("../images/g/black.png")
				width: 100%
				height: 56px
				color: white 
				font-size: 123.1%
				
				padding: 0 20px
				left: 0
				bottom: 0

				&:before 
					content: ''
					display: inline-block
					vertical-align: middle
					width: 0
					height: 100%
				.txt

					display: inline-block
					font-size: 16px
					vertical-align: middle

			.bgPic
				position: absolute
				left: 0
				top: 0
	