/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



.articleTagWrap
	.greenTag
		float: left
	.orangeTxt
		float: right
		line-height: 24px


#bigBanner
	width: 100%
	height: 260px
	overflow: hidden
	+background-size('cover')
	position: relative
	margin-top: 15px

	.b_title
		background-image: url("../images/g/black2.png")
		background-position: left bottom
		width: 100%
		//height: 166px
		position: absolute
		left: 0
		bottom: 0
		font-size: 182%
		color: white 
		padding: 114px 27px 15px 27px
		background-repeat: repeat-x

.infoWrap
	position: relative
	width: 100%
	min-height: 60px
	//height: 35px
	line-height: 35px
	margin-top: 20px
	.author
		line-height: 18px
	.info
		margin-top: 8px
		line-height: 18px
	.orangeTxt
		margin-left: 8px
	.lBox
		height: 63px
		width: 63px
		overflow: hidden
		+border-radius(50%)
		border: 1px solid $borderGray
	
	.rBox 
		margin-left: 15px
		

	.dealWrap
		position: absolute
		right: 0
		bottom: 8px
		margin-top: 0





.dotLine
	margin-top: 10px


.contentWrap
	width: 100%
	font-size: 116%
	line-height: 24px
	margin-top: 10px


	.lWrap	
		float: left
		width: 55%
		padding: 10px 0px 15px 0px

	.rWrap
		float: left
		width: 45%
		padding: 10px 15px
		background-color: #f2f2f0
		color: $mainGray

		.coinNum
			font-size: 180%
			font-weight: bold

		.coinInfoBtn
			margin-top: 10px
			text-decoration: none



.questionWrap
	margin-top: 30px

	.questionBox
		.q_title
			font-size: 150%

		.q_list
			width: 825px
			margin-top: 15px

			.listItem
				float: left
				width: 260px
				margin: 0 15px 20px 0
				border: 1px solid $borderGray
				padding: 12px 15px
				cursor: pointer
				+border-radius(5px)

				.q_content
					background-color: #fffff1
					width: 227px
					min-height: 95px
					padding: 20px 20px
					font-size: 110%
					line-height: 24px
					color: $txtColor1

				
				.q_pic
					width: 227px
					height: 167px
					overflow: hidden
					+background-size('cover')
					

				.q_footer
					font-size: 116%
					line-height: 24px
					margin-top: 10px
					color: $txtColor1

					input[type='checkbox']
						width: 20px
						height: 20px
						margin-right: 10px
						vertical-align: bottom

				&:hover 
					background-color: #f2f2f0
					+opacity(1)
				&.active
					background-color: #f2f2f0
	


	.resultBox

		.r_list
			display: none
			width: 100%
			margin-top: 15px
			
			.listItem
				width: 100%
				margin-bottom: 20px
				position: relative

				.r_title
					width: 260px
					font-size: 108%
					padding: 9px 15px 0px 40px
					color: $txtColor1
					line-height: 24x

				.r_bar
					position: absolute
					left: 260px
					right: 140px
					top: 0
					+border-radius(5px)
					border: 1px solid $borderGray
					height: 35px

					.bar
						height: 100%
						background-color: $bgGray


				.r_rateWrap
					width: 60px
					+border-radius(5px)
					border: 1px solid $borderGray
					height: 35px
					margin-left: 2%
					position: relative
					line-height: 35px
					position: absolute
					top: 0
					right: 60px


					&:after 
						content: ''
						width: 0
						height: 0
						border-style: solid
						border-width: 7px 10px 7px 0px
						border-color: transparent white transparent transparent
						position: absolute
						top: 11px
						left: -9px

					.arr
						content: ''
						width: 0
						height: 0
						border-style: solid
						border-width: 7px 10px 7px 0px
						border-color: transparent $borderGray transparent transparent
						position: absolute
						top: 11px
						left: -11px

					.r_rate
						text-align: center
						width: 60px
						font-size: 164%
						height: 35px
						line-height: 35px
						color: $txtColor1

				.r_count
					width: 60px
					position: absolute
					top: 0
					right: 0
					padding-left: 10px
					font-size: 138.5%
					text-align: center
					line-height: 35px
					color: $mainGray

				&.userChoose
					color: $mainColor2

					.r_bar
						.bar 
							background-color: $mainColor2

					.r_rateWrap
						background-color: $mainColor2

						&:after 
							border-color: transparent  $mainColor2 transparent transparent
						

						.r_rate
							color: white
				
				.correctIcon
					float: left
					position: absolute
					top: 5px
					left: 0
				.wrongIcon
					float: left
					position: absolute
					top: 5px
					left: 0
			
.q_sendBtn
	width: 180px
	height: 36px
	line-height: 36px
	+border-radius(10px)
	margin: 15px auto
	font-size: 116%
.r_countBox
	display: none
	width: 100%
	padding: 15px
	background-color: #EBEBEB 
	position: relative

	.scoreWrap
		width: 150px
		border-right: 1px dotted $borderGray1
		float: left
		padding: 15px

		.score
			font-size: 400%
			text-align: center
			font-weight: bold
			margin: 20px 0

	.articleListWrap
		overflow: hidden
		padding: 20px 15px 15px		

		.txt
			font-size: 116%

		.listItem
			color: #e4007f
			font-size: 116%
			list-style-type: disc
			list-style-position: inside
			margin-top: 10px
			a
				color: #e4007f

	.shareWrap
		position: absolute
		top: 15px
		right: 15px


.preVoteBox
	border: 1px solid $borderGray
	padding: 10px 15px
	margin-top: 30px
	.seeAllVote	
		float: right

	.p_title
		font-size: 138.5%
		
	.p_List
		margin-top: 15px

		.listItem
			margin-bottom: 10px
			.p_name
				font-size: 116%

.relatedArticleBox
	margin-top: 30px
	.lWrap
		width: 400px
		float: left
		padding: 0px 15px
	.rWrap	
		width: 400px
		float: left
		border-left: 1px dotted #000
		padding: 0px 15px

	.boxTitle
		font-size: 138.5%
		font-weight: bold

	ul 
		li
			//height: 23px
			line-height: 23px
			margin-top: 10px
			color: $mainGray 
			list-style-type: disc
			margin-left: 15px
			padding-left: 5px
			a 
				display: inline

		li.Sponsor
			background-color: #ffe9de
	


// .discussBox
// 	position: relative
// 	margin-top: 25px
	
// 	.joinTalkBox
// 		border-top: 1px solid #000
// 		padding-top: 30px
// 		.picWrap
// 			height: 63px
// 			width: 63px
// 			+border-radius(50%)
// 			overflow: hidden
// 			float: left
// 		.lWrap
// 			//margin-left: 20px
// 			//float: left
// 			overflow: hidden
// 			padding-left: 20px
// 			textarea
// 				width: 100%
// 				height: 70px
// 				line-height: 20px
// 				padding: 10px 10px
// 				border: 1px solid $borderGray
// 			.t_name
// 				//margin-left: 20px
// 				margin-bottom: 10px
// 			.pinkBtn
// 				width: 150px
// 				height: 27px
// 				line-height: 27px
// 				+border-radius(5px)
// 				margin: 10px auto
// 	.talkNum
// 		font-size: 138.5%
// 		margin-bottom: 10px

// 	.boxTitle
// 		font-size: 138.5%
// 	.tips
// 		position: absolute
// 		top: 0
// 		right: 0

// 	.talkList
// 		//height: 182px
// 		padding-left: 10px
// 		padding-top: 5px
// 		//overflow-x: auto
// 		.talkItem
// 			margin-top: 15px
// 			.picWrap
// 				height: 63px
// 				width: 63px
// 				+border-radius(50%)
// 				overflow: hidden
// 				float: left

			
				

// 			.txtWrap
// 				//float: left
// 				//margin-left: 20px
// 				//width: 690px
// 				overflow: hidden
// 				padding-left: 20px
// 				min-height: 70px
// 				padding-top: 5px
// 				.t_time 
// 					color: #9a9a9a
// 					margin-left: 10px
// 					font-size: 80%
// 				.content
// 					margin-top: 5px

.fb_discussBox
	margin-top: 15px

	.boxTitle
		color: #3b5998
		font-size: 138.5%

	.fbWrap
		width: 100%
		border-top: 1px solid #000	
		margin-top: 15px

// .findArticleBox
// 	width: 100%
// 	padding: 28px 120px 0px
// 	height: 100px
// 	background-color: $mainColor2
// 	.searchBar
// 		width: 100%
// 		input[type=text]
// 			text-align: center
// 			padding: 0 10px 
// 			height: 25px
// 			float: left
// 			width: 534px
// 			border: 0


// 		.searchBtn
// 			+bg('g/searchIcon_pink.png')
// 			float: left
// 			cursor: pointer
// 	.tagBtn
// 		margin-top: 8px
// 		li 
// 			float: left
// 			color: white 
// 			margin-right: 10px

@media screen and (max-width: $breakPoint)
	.infoWrap
		.author	
			width: 180px
		.info
			width: 180px
	.relatedArticleBox
		.rWrap	
			border-top: 1px dotted #000
			border-left: none
			margin-top: 15px
			padding-top: 15px
	.questionWrap
		.questionBox
			.q_list
				width: 550px
	.r_countBox
		.articleListWrap
			overflow: hidden
			width: 100%
			padding-top: 20px
			padding-right: 15px
			padding-bottom: 15px
			padding-left: 15px
		.shareWrap
			position: absolute
			top: 23px
			right: 30px
				