<div class="centerBlock wideBlock">
    <div class="fHeader">
        <div class="lBox">
            <i class="txt">追蹤親子</i>
            <i class="icon f_fb"><a href="#" class="fullDiv"></a></i>
            <i class="icon f_google"><a href="#" class="fullDiv"></a></i>
            <i class="icon f_rrs"><a href="#" class="fullDiv"></a></i>
            <i class="icon f_n"><a href="#" class="fullDiv"></a></i>
            <i class="icon f_line"><a href="#" class="fullDiv"></a></i>
             <i class="icon f_uTube"><a href="#" class="fullDiv"></a></i>
        </div>
        <div class="mBox">
            <i class="txt">訂閱親子電子報</i>
            <form class="formWrap">
                 <!-- 有loading  就加上 loadingBtn class 沒有拿掉 mBtnWrap 用來排版的別管她-->
                <div class="mBtnWrap loadingBtn">
                     <input type="submit" class='pinkBtn' value="立即訂閱">
                </div>
                <!-- <input type="text" placeHolder='請輸入Email'> -->
               
            </form>
            <div class="clear"></div>
        </div>
        <div class="rBox" id='footerSHBtn'>
            <div class="btn hide">
                <div class="txt">+ 收合</div>
                <i class="upArr icon"></i>
                <div class="clear"></div>
            </div>
            <div class="btn ">
                <div class="txt ">+ 展開全部</div>
                <i class="downArr icon"></i>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="fContent">
        <div class="fanBox fcBox">
            <div class="fbTitle">更多粉絲團</div>
            <ul class="fanList">
                <li class="listItem">
                    <a href="#">
                        <div class="coverPic fans_i1"></div>
                        <div class="txt">親子天下・Baby</div>
                        <div class="clear"></div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="#">
                        <div class="coverPic fans_i2"></div>
                        <div class="txt">翻轉教育</div>
                        <div class="clear"></div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="#">
                        <div class="coverPic fans_i3"></div>
                        <div class="txt">親子天下嚴選</div>
                        <div class="clear"></div>
                    </a>
                </li>
                <li class="listItem">
                    <a href="#">
                        <div class="coverPic fans_i4"></div>
                        <div class="txt">親子天下・悅讀</div>
                        <div class="clear"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="webNavBox fcBox">
            <div class="fbTitle">網站導覽</div>
            <div class="listWrap">
                <ul class="txtList">
                    <li class="nav"><a href="#">學前兒</a></li>
                    <li class="nav"><a href="#">小學生</a></li>
                    <li class="nav"><a href="#">國中生</a></li>
                    <li class="nav"><a href="#">教育現場</a></li>
                    <li class="nav"><a href="#">家庭與生活</a></li>
                    <li class="nav"><a href="#">網路投票</a></li>
                </ul>
                <ul class="txtList">
                    <li class="nav">
                        <a href="#">人物·專輯</a>
                        <ul class="subNavList">
                            <li class="subNav"><a href="#">人物故事</a></li>
                            <li class="subNav"><a href="#">專欄</a></li>
                            <li class="subNav"><a href="#">閲讀人物</a></li>
                            <li class="subNav"><a href="#">數位專輯</a></li>
                        </ul>
                    </li>
                    <li class="nav"><a href="#">部落格</a></li>
                    <li class="nav"><a href="#">網路書店</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="aboutBox fcBox">
            <div class="fbTitle">關於親子天下</div>
            <ul class="txtList">
                <li class="nav"><a href="#">關於我們</a></li>
                <li class="nav"><a href="#">人才招募</a></li>
                <li class="nav"><a href="#">新聞中心</a></li>
                <li class="nav"><a href="#">得獎紀錄</a></li>
                <li class="nav"><a href="#">聯絡我們</a></li>
                <li class="nav"><a href="#">服務條款</a></li>
                <li class="nav"><a href="#">隱私權聲明</a></li>
            </ul>
        </div>
        <div class="cooperationBox fcBox">
            <div class="fbTitle">合作與回應</div>
            <ul class="txtList">
                <li class="nav"><a href="#">廣告合作</a></li>
                <li class="nav"><a href="#">文章授權</a></li>
                <li class="nav"><a href="#">意見回饋</a></li>
            </ul>
        </div>
        <div class="magazineBox">
            <div class="coverPic" style='background-image: url(images/demoPic/img_156x213.png);'></div>
            <div class="btnWrap">
                <div class="pinkBtn	 subscriptBtn"><a href="#" class="fullDiv">雜誌訂閱</a></div>
                <div class="pinkBtn	 buyLastestBtn"><a href="#" class="fullDiv">購買本期</a></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="f_copyRight">
    <div class="centerBlock wideBlock">
        <div class="txt">讀者服務專線：886-2-2662-0332　傳真電話：886-2-2662-6048　 服務時間：週一～週五：9:00~17:30</div>
        <div class="txt">Copyright © 2015 親子雜誌. All rights reserved. 版權所有，禁止擅自轉貼節錄</div>
    </div>
</div>
<script>
$(document).ready(function() {
    var ft = $('#footer');
    var ftb = $('#footerSHBtn');
    var fc = ft.find('.fContent');
    ftb.on('click', function() {
        fc.slideToggle();
        ftb.find('.btn').toggleClass('hide');
        $('html, body').animate({
            scrollTop: $(document).height()
        }, 'slow');
    });
});
</script>
