<div id="blackForHeaderPop" class='hide'></div>
<div id="header">
    <div class="wideBlock centerBlock">
        <!-- a. logo -->
        <div class="mainLogo">
            <a href="javascript:void(0)"><img src="images/g/mainLogo.png" alt=""></a>
            <!-- note: 換圖直接換src，目前尺寸233x71(寬560以內，高建議71px) -->       
        </div>
        <!-- b. 右上狀態列 -->
        <div class="header_rWrap">
            <!-- 搜尋條 -->
            <div class="searchBar">
                <input type="text" id="siteSearch" placeHolder="站內快速搜尋">
                <div class="searchBtn"></div>
            </div>
            <!-- 登入狀態 -->
            <div class="loginBox">
                <!-- 未登入狀態 用hide切換-->
                <div class="unLoginWrap hide">
                    <div class="icon_man icon"></div>
                    <a href="#" class="loginBtn">登入</a>｜
                    <a href="#" class="signInBtn">註冊</a>
                </div>
                <!-- 已登入狀態 用hide切換-->
                <div class="onLoginWrap ">
                    <div class="icon_man icon"></div>
                    <div class="memberName">會員名稱</div>
                    <div class="coinNum">(100)</div>
                    <div class="icon_bell icon"></div>
                    <div class="icon_notice icon"></div>
                </div>
            </div>

        </div>

        <!-- 親子幣狀態 -->
        <div class="headpopWrap coinStatus hide">
            <div class="clozBtn"></div>

            <div class="p_title pinkTxt"><i class="icon_B_redPlay"></i><a href="#">我的親子幣</a></div>

            <div class="txt">您目前共有<i class="coinNum pinkTxt">100</i><i class="pinkTxt">親子幣</i></div>
            <div class="txt">可以換讀<i class="articleNum pinkTxt">10</i>   篇雜誌文章</div>

            <a href="#" class="logoutBtn pinkTxt">登出</a>
        </div>

        <!-- 追蹤通知 -->
        <div class="headpopWrap followStatus hide">
            <div class="clozBtn"></div>

            <div class="p_title pinkTxt"><i class="icon_B_redPlay"></i><a href="#">我的追蹤</a></div>

            <ul class="h_followList">
                <li class="listItem">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_100x70.png);'></div>
                    </a>
                    <div class="txtWrap">
                        <div class="a_title">
                            <i class="author"><a href="#" class="txtLink">李坤珊</a></i>發表了一篇新文章
                        </div>
                        <div class="a_name grayTxt">
                            <a href="#" class="txtLink">你是孩子最重要的財富你是孩子最重要的財富</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="listItem">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_100x70.png);'></div>
                    </a>
                    <div class="txtWrap">
                        <div class="a_title">
                            <i class="author"><a href="#" class="txtLink">李坤珊</a></i>發表了一篇新文章
                        </div>
                        <div class="a_name grayTxt">
                            <a href="#" class="txtLink">你是孩子最重要的財富你是孩子最重要的財富</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="listItem">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_100x70.png);'></div>
                    </a>
                    <div class="txtWrap">
                        <div class="a_title">
                            <i class="author"><a href="#" class="txtLink">李坤珊</a></i>發表了一篇新文章
                        </div>
                        <div class="a_name grayTxt">
                            <a href="#" class="txtLink">你是孩子最重要的財富你是孩子最重要的財富</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>

            </ul>

            <div class="h_moreFollow pinkTxt">
                <a href="#">
                    + 更多追蹤<i class="icon_redPlay"></i>
                </a>
            </div>
            <div class="clear"></div>
            
        </div>

        <!-- 沒追蹤通知 -->
        <div class="headpopWrap followStatus hide">
            <div class="clozBtn"></div>
            <div class="no_followTxt">
            您尚未追蹤任何專欄文章！<br>
            現在追蹤一個專欄，<br>
            便可以獲得<span class="pinkTxt"><i class="coinNum">10</i>親子幣<i class="icon_redHeart"></i></span>
            </div>
            <div class="h_followNowBtn pinkBtn"><a href="#" class="fullDiv">立即追蹤</a></div>
        </div>
    </div>
</div>
<!-- 02. 主要菜單 -->
<div id="pageNav" class=''>
    <ul class="centerBlock">
        <li class="m1 navItem hover">
            <div class="liWrap">
                <a href="#">學前兒</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m2 navItem">
            <div class="liWrap">
                <a href="#">小學生</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m3 navItem">
            <div class="liWrap">
                <a href="#">國中生</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m4 navItem">
            <div class="liWrap">
                <a href="#">教育現場</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m5 navItem">
            <div class="liWrap">
                <a href="#">家庭與生活</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m6 navItem">
            <div class="liWrap">
                <a href="#">人物‧專輯</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox goLeft">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m7 navItem">
            <div class="liWrap">
                <a href="#">部落格</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox goLeft">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m8 navItem">
            <div class="liWrap">
                <a href="#">請問專家</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox goLeft">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m9 navItem">
            <div class="liWrap">
                <a href="#">活動</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox goLeft">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m10 navItem">
            <div class="liWrap">
                <a href="#">網路書店</a>
            </div>
            <!-- 子選單 -->
            <div class="subMenuBox goLeft">
                <div class="lWrap">
                    <ul>
                        <li class='first'><a href="#" class='txtLink'>愛的管教</a></li>
                        <li><a href="#" class='txtLink'>玩中學</a></li>
                        <li><a href="#" class='txtLink'>健康與營養</a></li>
                        <li><a href="#" class='txtLink'>托嬰托育</a></li>
                        <li><a href="#" class='txtLink'>閲讀</a></li>
                    </ul>
                </div>
                <div class="rWarp">
                    <a href="#">
                        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_226x142.png);'>
                        </div>
                    </a>
                    <div class="subMenuPicTxt"><a href="#">十分鐘，打造專屬聖誕風</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        <li class="m11 navItem">
            <div class="liWrap">
                <a href="#">廣告廣告廣</a>
            </div>
        </li>
        <li class="m12 navItem">
            <div class="liWrap">
                <a href="#">廣告廣告廣</a>
            </div>
        </li>
        <div class="clear"></div>
        <!-- note: 最後可塞兩個五個字的廣告，或一個12字的廣告 -->
        <!-- note: 分類名稱不可修改 -->
    </ul>
</div>
<!-- 03. 上方廣告條 -->
<div id="adNav" class='wideBlock centerBlock'>
    <ul>
        <li><a href="#">大人該懂的過動世代</a></li>
        <li><a href="#">12年國教完全指南</a></li>
        <li><a href="#">我喜歡當媽媽的N個理由</a></li>
        <li><a href="#">我喜歡當媽媽的N個理由</a></li>
        <div class="clear"></div>
    </ul>
</div>
<script>
$(document).ready(function(){
    var h=$('#header');
    var b=$('#blackForHeaderPop');
    var babyTitle=$('.babyHeader .mainLogo');

    //點會員數字展開我的親子幣
    h.find('.onLoginWrap .coinNum').on('click',function(){
        h.find('.coinStatus').fadeIn();
        b.show();
    });

    //點通知展開我的追蹤
    h.find('.onLoginWrap .icon_notice').on('click',function(){
        h.find('.followStatus').fadeIn();
        b.show();
    });

    //關掉popUP
    h.find('.headpopWrap .clozBtn').on('click',function(){
        h.find('.headpopWrap').fadeOut();
        b.fadeOut();
    });


    //點背景關掉popUP
    b.on('click',function(){
        h.find('.headpopWrap').fadeOut();
        b.fadeOut();
    });

    babyTitle.find('a img').attr('src','images/g/baby_mainLogo.png');

});
</script>
