<!-- a. 會員資訊 -->
<div id="r_memberBox">
    <!-- 已登入 -->
    <div class="onLoginWrap rbox">
        <div>
            <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_63x63.png);'></div>
            <div class="txtWrap">
                <p>
                    <div class="nickName">暱稱暱稱</div>
                    <div class="pinkTxt">目前共有<span class="coinNum">100</span>親子幣<span class="icon_redHeart"></span></div>
                </p>
                <!-- <p class="changeArticle">
                    您可以換讀<span class="articleNum pinkTxt">10</span>篇雜誌文章
                </p> -->
            </div>
            <div class="clear"></div>
        </div>
        <hr>
        <ul class="taskList">
            <li class="listItem done"><span class="icon_check"></span>完成個人資料登入</li>
            <li class="listItem done"><span class="icon_check"></span>訂閱N份電子 報</li>
            <li class="listItem"><span class="icon_check"></span>參與N篇文章留言</li>
            <li class="listItem"><span class="icon_check"></span>向專家提問N個問題</li>
        </ul>
    </div>
    <!-- 未登入 -->
    <div class="unLoginWrap rbox hide">
        <p>現在起，你可以用親子幣，免費閱讀雜誌文章喔。<span class="pinkTxt"><a href="#">什麼是親子幣?</a></span></p>
        <p>立即加入親子天下會員，享有300親子幣，您可以換讀 30 篇雜誌文章。</p>
        <div class="joinBtn">立即加入會員</div>
    </div>
</div>
<!-- b. 300x250 廣告 -->
<div class="ad_300x250">
    <img src="images/demoPic/img_300x250.png" width='300' height='250' alt="">
</div>
<!-- c. 當期雜誌 for baby-->
<div id="r_magazineBox" class='rbox'>
    <div class="boxTitle">當期雜誌<span class="pinkTxt date">2014/12/1出刊</span></div>
    <div class="container">
        <img src="images/demoPic/img_103x137.png" width='103' height='137' alt="" class="magazinPic">
        <div class="txtWrap">
            <p><a href="#" class='txtLink'>善用過動特質，中輟生變哈佛博士</a></p>
            <p><a href="#" class='txtLink'>金鐘影后 鍾欣凌：<br>接納自己，最需要勇氣</a></p>
            <p><a href="#" class='txtLink'>眼盲教師 徐薇雅<br>攜手走過黑暗中的每一天</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="btnWrap">
        <div class="pinkBorderBtn subscriptBtn">雜誌訂閱</div>
        <div class="pinkBorderBtn buyLastestBtn">購買本期</div>
    </div>
    <div class="allArticleBtn"><a href="#">本期所有文章<span class="icon_greenPlay"></span></a></div>
</div>
<!-- 訂閱雜誌 -->
<div id="r_subscriptionBox" class='rbox'>
    <div class="boxTitle">訂閱親子電子報<i class="pinkTxt date"><i class="icon_redHeart"></i>+5</i>
    </div>
    <!-- 有loading  就加上 loadingBtn class 沒有拿掉 mBtnWrap 用來排版的別管她-->
    <div class="mBtnWrap loadingBtn">
        <div class="pinkBtn"><a href="#" class="fullDiv">立即訂閱</a></div>
    </div>
</div>
<!-- 熱門書單 -->
<div id="r_hotBookList" class='mt_b'>
    <div class="boxTitle f20">
        <i class="pTxt">閱讀</i>
        <i class="i_top5"></i> 熱門書單
    </div>
    <ul class='rBarList'>
        <li class="l1">
            <span class="icon_num">1</span>
            <div class="txt">
                <a href="#" class='txtLink'>兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l2">
            <span class="icon_num">2</span>
            <div class="txt">
                <a href="#" class='txtLink'>停，是腸絞絞痛絞痛絞痛痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l3">
            <span class="icon_num">3</span>
            <div class="txt">
                <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l4">
            <span class="icon_num">4</span>
            <div class="txt">
                <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l5">
            <span class="icon_num">5</span>
            <div class="txt">
                <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
<!-- 熱門達人文章 -->
<div id="r_hotBookList" class='mt_b'>
    <div class="boxTitle f20">
        <i class="pTxt">閱讀</i>
        <i class="i_top5"></i> 熱門達人文章
    </div>
    <ul class='rBarList'>
        <li class="l1">
            <span class="icon_num">1</span>
            <div class="txt">
                <a href="#" class='txtLink'>兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l2">
            <span class="icon_num">2</span>
            <div class="txt">
                <a href="#" class='txtLink'>停，是腸絞絞痛絞痛絞痛痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l3">
            <span class="icon_num">3</span>
            <div class="txt">
                <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l4">
            <span class="icon_num">4</span>
            <div class="txt">
                <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l5">
            <span class="icon_num">5</span>
            <div class="txt">
                <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
<!-- d. 最多人瀏覽 -->
<div id="r_viewRankBox" class=''>
    <div class="boxTitle f20">
        <i class="i_top5"></i> 最多人瀏覽
    </div>
    <ul class='rBarList'>
        <li class="l1">
            <span class="icon_num">1</span>
            <div class="txt">
                <a href="#" class='txtLink'>兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l2">
            <span class="icon_num">2</span>
            <div class="txt">
                <a href="#" class='txtLink'>停，是腸絞絞痛絞痛絞痛痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l3">
            <span class="icon_num">3</span>
            <div class="txt">
                <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l4">
            <span class="icon_num">4</span>
            <div class="txt">
                <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
        <li class="l5">
            <span class="icon_num">5</span>
            <div class="txt">
                <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                <i class="i_lock"></i>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
    <div class="moreBtn greenTxt"><a href="#">+ 更多<span class="icon_greenPlay"></span></a></div>
</div>
<!-- e. 300x100 廣告 -->
<div class="ad_300x100">
    <img src="images/demoPic/img_300x100.png" width='300' height='250' alt="">
</div>
<!-- f. 網友推薦 -->
<div id="r_recommendRankBox">
    <div class="boxTitle"></div>
    <div class="rankContainer">
        <ul class="tabWrap">
            <li class=" tabItem try active">
                想嘗試
            </li>
            <li class="tabItem use ">
                最感動
            </li>
            <li class="tabItem move">
                最實用
            </li>
            <li class="tabItem cantDo">
                做不到
            </li>
            <div class="clear"></div>
        </ul>
        <div class="rRB_articleWrap">
            <ul class='rBarList try'>
                <li class="l1">
                    <span class="icon_num">1</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l2">
                    <span class="icon_num">2</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l3">
                    <span class="icon_num">3</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l4">
                    <span class="icon_num">4</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l5">
                    <span class="icon_num">5</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class='rBarList use hide'>
                <li class="l1">
                    <span class="icon_num">1</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>兒哭個不停，是腸絞痛絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l2">
                    <span class="icon_num">2</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l3">
                    <span class="icon_num">3</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l4">
                    <span class="icon_num">4</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l5">
                    <span class="icon_num">5</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class='rBarList move hide'>
                <li class="l1">
                    <span class="icon_num">1</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l2">
                    <span class="icon_num">2</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>停，是腸絞絞痛絞痛絞痛痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l3">
                    <span class="icon_num">3</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l4">
                    <span class="icon_num">4</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l5">
                    <span class="icon_num">5</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class='rBarList cantDo hide'>
                <li class="l1">
                    <span class="icon_num">1</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l2">
                    <span class="icon_num">2</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l3">
                    <span class="icon_num">3</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l4">
                    <span class="icon_num">4</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l5">
                    <span class="icon_num">5</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                        <i class="i_lock"></i>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="moreBtn greenTxt"><a href="#">+ 更多<span class="icon_greenPlay"></span></a></div>
</div>
<!-- 熱門問答 -->
<div id="r_hotQABox">
    <div class="boxTitle"></div>
    <div class="rankContainer">
        <ul class="tabWrap">
            <li class=" tabItem active hot">
                人氣話題
            </li>
            <li class="tabItem new ">
                最新解答
            </li>
            <li class="clear"></li>
        </ul>
        <div class="rRB_articleWrap">
            <ul class='rBarList hot'>
                <li class="l1">
                    <span class="icon_num">1</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>兒哭個不停，是腸絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l2">
                    <span class="icon_num">2</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>停，是腸絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l3">
                    <span class="icon_num">3</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l4">
                    <span class="icon_num">4</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l5">
                    <span class="icon_num">5</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul class='rBarList new hide'>
                <li class="l1">
                    <span class="icon_num">1</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>兒哭個不停，是腸絞痛絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l2">
                    <span class="icon_num">2</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>停，是腸絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l3">
                    <span class="icon_num">3</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l4">
                    <span class="icon_num">4</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>嬰兒哭個不停，是腸絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="l5">
                    <span class="icon_num">5</span>
                    <div class="txt">
                        <a href="#" class='txtLink'>黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</a>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="moreBtn greenTxt"><a href="#">+ 更多<span class="icon_greenPlay"></span></a></div>
</div>
<!-- g. 300x250 廣告 -->
<div class="ad_300x250">
    <img src="images/demoPic/img_300x250.png" width='300' height='250' alt="">
</div>
<!-- h. 訂閱電子報 -->
<div id="r_subscriptBox" class="rbox">
    <div class="boxTitle">訂閱電子報</div>
    <div class="rewardWrap pinkTxt">
        會員訂閱<span class="icon_redHeart"></span>+5
    </div>
    <form class="formWrap">
        <input type="checkbox" name="i1" value="親子天下電子報">親子天下電子報
        <br>
        <input type="checkbox" name="i2" value="親子天下Baby電子報">親子天下Baby電子報
        <br>
        <input type="checkbox" name="i3" value="親子天下翻轉教育電子報">親子天下翻轉教育電子報
        <br>
        <input type="text" placeHolder='請輸入Email'>
        <input type="submit" class='' value="訂閱">
    </form>
</div>
<!-- i. 熱門消息-->
<div id="r_hotNewsBox" class="rbox">
    <div class="boxTitle">熱門消息(AD)</div>
    <ul>
        <li><a href="#" class='txtLink'>TOYOTA 全球夢想車創意繪畫大賽 立即報名立即報名立即報名 </a></li>
        <li><a href="#" class='txtLink'>幸福家庭理財指南下載中獎名單公佈</a></li>
        <li><a href="#" class='txtLink'>理財力UP的弋果理財魔法學校</a></li>
        <li><a href="#" class='txtLink'>TOYOTA 全球夢想車創意繪畫大賽 立即報名立即報名立即報名  </a></li>
        <li><a href="#" class='txtLink'>理財力UP的弋果理財魔法學校</a></li>
    </ul>
</div>
<!-- j. 300x100 廣告 -->
<div class="ad_300x100">
    <img src="images/demoPic/img_300x100.png" width='300' height='250' alt="">
</div>
<!-- k. 專欄 -->
<div id="r_specialColumnBox">
    <a class="moreBtn pinkTxt">+ 更多<i class="icon_redPlay"></i></a>
    <div class="boxTitle">專欄</div>
    <div class="pinkLine"></div>
    <ul class="manList">
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<!-- 專欄 -->
<div id="r_readExpert">
    <a class="moreBtn pinkTxt">+ 更多<i class="icon_redPlay"></i></a>
    <div class="boxTitle">閱讀專家達人</div>
    <div class="pinkLine"></div>
    <ul class="manList">
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
        <li class="listItem">
            <a href="#">
                <div class="picRoundWrap coverPic" style='background-image: url(images/demoPic/img_80x80.png);'></div>
                <div class="hoverTxt grayTxt">+ 追蹤</div>
                <div class="s_area lgTxt">過敏氣喘科</div>
                <div class="s_name">李偉文</div>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<!--專輯企劃 -->
<div id="r_featureBox">
    <a class="moreBtn pinkTxt">+ 更多<i class="icon_redPlay"></i></a>
    <div class="boxTitle">專輯企劃</div>
    <div class="pinkLine"></div>
    <ul class="r_featureList">
        <li class="listItem">
            <a href="#" class="fullDiv">
                <div class="coverPic" style="background-image: url(images/demoPic/img_100x70.png);"></div>
                <div class="txt">黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</div>
                <div class="clear"></div>
            </a>
        </li>
        <li class="listItem">
            <a href="#" class="fullDiv">
                <div class="coverPic" style="background-image: url(images/demoPic/img_100x70.png);"></div>
                <div class="txt">黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</div>
                <div class="clear"></div>
            </a>
        </li>
        <li class="listItem">
            <a href="#" class="fullDiv">
                <div class="coverPic" style="background-image: url(images/demoPic/img_100x70.png);"></div>
                <div class="txt">黃瑽寧：嬰兒哭個不停，是腸絞痛嗎？</div>
                <div class="clear"></div>
            </a>
        </li>
    </ul>
</div>
<!-- 文章內頁用: 下一篇文章按鈕 -->
<div class="nextArticleBtn">
    <a href="#">
        <div class="picWrap coverPic" style='background-image: url(images/demoPic/img_100x70.png);'></div>
    </a>
    <div class="txtWrap">
        <div class="txt">下一篇：</div>
        <div class="n_title grayTxt"><a href="#" class="pinkTxt">孩子是亞斯柏格，該怎麼辦呢?</a></div>
    </div>
    <div class="clear"></div>
</div>
<!-- pdf -->
<div id="r_pdfBox" class='rbox'>
    <a href="#" class='picWrap'>
        <img src="images/demoPic/img_103x137.png" width="103" height="137" alt="" class="magazinPic">
    </a>
    <div class="txtWrap">
        <div class="f18">親子天下</div>
        <div class="f18">2015出版目錄</div>
        <div class="btnWrap clearfix">
            <a href="#" class="pink-sBtn">PDF</a>
            <a href="#" class="grayBtn-sBtn">Excel</a>
        </div>
       
    </div>
</div>
<script>
initMainRightBar();
</script>
