<!-- 會員左側baar -->
<div class="picWrap coverPic" style='background-image: url(images/demoPic/img_193x193.png);'>
    <div class="editBtn"></div>
</div>
<ul class="memberNav">
    <li class="navItem active"><a href="#">我的親子幣&nbsp;<i class="num pinkTxt">(100)</i></a></li>
    <li class="navItem"><a href="#">我的書籤&nbsp;<i class="num pinkTxt">(20)</i></a></li>
    <li class="navItem"><a href="#">我的問答&nbsp;<i class="num pinkTxt">(3)</i></a></li>
    <li class="navItem"><a href="#">我的追蹤&nbsp;<i class="num pinkTxt">(500)</i></a></li>
    <li class="navItem"><a href="#">我的閱讀存摺&nbsp;</a></li>
    <li class="navItem"><a href="#">個人資料維護&nbsp;<i class="icon_link"></i></a></li>
    <li class="navItem"><a href="#">修改密碼&nbsp;<i class="icon_link"></i></a></li>
    <li class="navItem"><a href="#">查詢訂戶資料&nbsp;<i class="icon_link"></i></a></li>
    <li class="navItem"><a href="#">客服留言&nbsp;<i class="icon_link"></i></a></li>
    <li class="navItem"><a href="#">訂閱電子報管理&nbsp;<i class="icon_link"></i></a></li>
</ul>
<script>
    $('.coverPic').css( "background-size", "cover" );
</script>