
<div class="containerTitle">
    <div class='icon_book'></div>
    親子網路書店
</div>
<div class="more pinkTxt"><a href="#">+ 更多<span class="icon_redPlay"></span></a></div>
<div class="bookWrap">
    <ul class="cwbookList">
        <li class="listItem preschool">
            <div class="list_title"><a href="#">學前兒(0-6)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超每個人都能上手的超每個人都能上手的超每個人都能上手的超每個人都能上手的超每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem primary">
            <div class="list_title"><a href="#">小學生(7-12)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem junior ">
            <div class="list_title"><a href="#">國中生(13-15)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem preschool ">
            <div class="list_title"><a href="#">學前兒(0-6)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem primary">
            <div class="list_title"><a href="#">小學生(7-12)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem junior ">
            <div class="list_title"><a href="#">國中生(13-15)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem preschool ">
            <div class="list_title"><a href="#">學前兒(0-6)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem primary">
            <div class="list_title"><a href="#">小學生(7-12)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem junior ">
            <div class="list_title"><a href="#">國中生(13-15)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem preschool ">
            <div class="list_title"><a href="#">學前兒(0-6)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem primary">
            <div class="list_title"><a href="#">小學生(7-12)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
        <li class="listItem junior ">
            <div class="list_title"><a href="#">國中生(13-15)</a></div>
            <a href="#">
                <div class="containPic" style="background-image: url(images/demoPic/img_120x160.jpg)"></div>
                <div class="coverTitle"><div class="txt">每個人都能上手的超創紙做一本書－每個人都意小書</div></div>
            </a>
        </li>
    </ul>
</div>
<div class="leftRightBtn">
    <div class="lBtn btn"></div>
    <div class="rBtn btn"></div>
</div>
<div class="dotSwitchers">
    <ul>
        <li class='active'></li>
        <li></li>
        <li></li>
        <li></li>
        <li class="breakShow"></li>
        <li class="breakShow"></li>
    </ul>
</div>

<script>
var ParentOnlineBookStoreCount=3;

$(window).resize(function(){
     ParentOnlineBookStoreCount=($(window).width()<=1140)?2:3;
}).resize();

function initParentOnlineBookStore(){
    var box=$('#parentOnlineBookStore');
    var dot=box.find('.dotSwitchers li');
    var list=box.find('.cwbookList');
    var count=list.find('.listItem').length;
    
    box.attr('data-channel','0')
    if(box.length){

        box.find('.dotSwitchers li').on('click',function(){

            switchPage($(this).index());
        });

        box.find('.rBtn').on('click',function(){

            var channel=parseInt(box.attr('data-channel'));
            switchPage(channel+1);
        });

        box.find('.lBtn').on('click',function(){

            var channel=parseInt(box.attr('data-channel'));
            switchPage(channel-1);
        });

        autoPlay();
    }

    function autoPlay(){
        var during=5;
        var channel=parseInt(box.attr('data-channel'));

        TweenMax.delayedCall(during,switchPage,[channel+1]);
    }

    function switchPage(channel){
        var r=ParentOnlineBookStoreCount*275;

        if(channel<0){
            channel=count/ParentOnlineBookStoreCount-1;
        }

        if(channel>=count/ParentOnlineBookStoreCount){
            channel=0;
        }



        TweenMax.killDelayedCallsTo(switchPage);
        TweenMax.to(list,1,{left:-r*channel,ease:Power3.easeInOut});
        dot.eq(channel).addClass('active').siblings().removeClass('active');
        box.attr('data-channel',channel);
        autoPlay();
    }


    initLimitTxt();

    function initLimitTxt() {

        var $elem = list.find('.txt'); // The element or elements with the text to hide
        list.find('.txt').each(function() {
            var $limit = 24 // The number of characters to show
            var t=$(this);
            var $str = t.html(); // Getting the text
            if($str.length>$limit){
                var $strtemp = $str.substr(0, $limit); // Get the visible part of the string
                $str = $strtemp + ' ...'; // Recompose the string with the span tag wrapped around the hidden part of it
                t.html($str); // Write the string to the DOM 
            }
        });
    }
}

$(document).ready(function() {
    initParentOnlineBookStore();
    $('.containPic').css("background-size", "contain");
});

</script>