@import "admin/_navbar";
@import "admin/_table";

body{
	
	#container {
		padding-top: 70px;
		margin-bottom: 90px;
	}
}

#container {
	// margin-bottom: 90px;
	.form-group {
		.article_data {
			.article_photo {
				img {
					width: 100%;
				}
			}
		}
	}
}

/* #list-data table */
#list-data p.actions {
    margin: 0 20px;
}

