.navbar-custom {
    background-color: #E10078;
    border-radius: 0;
    .navbar-nav > {
        .active > a:hover {
            background-color: #C20067;
        }
        li > a {
            &:hover, &:focus {
                background-color: #C20067;
            }
        }
        .active > a {
            background-color: #C20067;
        }
        .open > a {
            background-color: #C20067;
            &:hover, &:focus {
                background-color: #C20067;
            }
        }
    }
}

.dropdown-menu {
    background-color: #FFFFFF;
    > li > a {
        &:hover, &:focus {
            background-color: #C20067;
        }
    }
}

.navbar-custom {
    background-image: none;
}

.dropdown-menu > li > a {
    &:hover, &:focus {
        background-image: none;
    }
}

.navbar-custom {
    border-color: #e10078;
    .navbar-brand {
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
    }
    .navbar-nav > {
        li > a {
            color: #FFFFFF;
            &:hover, &:focus {
                color: #FFFFFF;
            }
        }
        .active > a {
            color: #FFFFFF;
        }
        .open > a {
            color: #FFFFFF;
            &:hover, &:focus {
                color: #FFFFFF;
            }
        }
        .active > a {
            &:hover, &:focus {
                color: #FFFFFF;
            }
        }
    }
}

.dropdown-menu > li > a {
    color: #000000;
    &:hover, &:focus {
        color: #FFFFFF;
    }
}

.navbar-custom .navbar-nav > .dropdown > a {
    .caret {
        border-top-color: #C20067;
    }
    &:hover .caret {
        border-top-color: #FFFFFF;
    }
    .caret {
        border-bottom-color: #C20067;
    }
    &:hover .caret {
        border-bottom-color: #FFFFFF;
    }
}