
table.data {
    // margin: 10px 20px;
    // border-collapse: collapse;
    // width:720px;
}

table.data thead th {
    color: #333;
    // padding: 5px;
    // border-top: 1px solid #999;
    // border-bottom: 2px solid #999;
    white-space: nowrap;
}

table.data thead th.sortable {
    background: transparent url(../images/sortable.png) right 10px no-repeat;
}

table.data thead th.sortable-ASC {
    background-position: right -40px;
}

table.data thead th.sortable-DESC {
    background-position: right -90px;
}

table.data thead th.sortable:hover {
    color: #000;
    background-color: #EEE;
    cursor: pointer;
}

table.data tbody td {
    color: #666;
    // padding: 5px;
    // border-bottom: 1px solid #CCC;
    line-height: 16px;
}

table.data tbody tr.even td {
    background-color: #EEE;
}

table.data tbody tr:hover td {
    color: #222;
    background-color: #FFD;
}

table.data tbody td.numeric {
    text-align: right;
}

table.data tbody td.state-pending {
    color: #999;
}

table.data tbody td.state-active {
    color: darkgreen;
}

table.data tbody a.state-active {
    color: darkgreen;
}

table.data tbody td.state-disabled {
    color: darkred;
}
table.data tbody a.state-disabled {
    color: darkred;
}

table.data tbody td.ellipsis p {
    color: #666;
    width: 150px;
    white-space: nowrap;
    line-height: 9pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.data .ico {
    padding-right: 0;
}