@charset "UTF-8"


#mainRightBar
	float: left
	margin-left: 30px 
	width: 300px
	
	.rbox
		width: 300px
		border: 1px solid $borderGray 
		padding: 15px
		// +borderBox
		position: relative
		margin-top: 30px

	
	// .moreBtn 
	//  color: #657e00


#r_memberBox
	.onLoginWrap
		background: url('../images/SiderCoin.jpg') no-repeat
		padding-top: 40px
		margin-top: 0px
		.picWrap
			width: 63px
			height: 63px
			+border-radius(50%)
			border: 1px solid $borderGray 
			overflow: hidden
			float: left

		.txtWrap
			float: left
			margin-left: 8px
			width: 195px
			line-height: 30px
			.nickName
				font-size: 116%

			.articleNum
				font-size: 189%
				font-weight: bold

			.changeArticle
				font-size: 116%
		hr 
			color: $borderGray
	
		.taskList
			color: #7B9807 
			margin: 15px 0px

			.listItem


				.icon_check
					background-image: url("../images/g/articleIcon.png")
					width: 20px
					height: 20px
					display: inline-block
					vertical-align: sub
					margin-top: 3px
					background-position: -100px 0
					margin-right: 5px
					position: relative
					margin-top: 5px

				&.done 
					text-decoration: line-through
					color: $mainGray
					.icon_check
						background-position: -80px 0
				

	.unLoginWrap
		margin-top: 0px
		p 
			margin-bottom: 15px
			font-size: 116%
			line-height: 28px
			color: $txtColor1

		.joinBtn
			width: 100%
			height: 28px
			+border-radius(5px)
			background: $mainColor1
			text-align: center
			line-height: 28px
			color: #FFFFFF
			cursor: pointer

			&:hover 
				background-color: #f11a91
				color: white
#r_subscriptionBox
	.pinkBtn
		margin-top: 10px
		+border-radius(5px)
		height: 32px
		line-height: 32px

	.boxTitle
		font-size: 153.9%
#r_magazineBox 
	
	.boxTitle
		font-size: 153.9%
		
		.date
			font-size: 116%
			margin-left: 10px
			vertical-align: bottom
			font-size: 100%

	.container
		margin-top: 15px
		.magazinPic
			float: left
		.txtWrap
			float: left
			width: 155px
			margin-left: 10px
			p 
				color: $mainGray
				font-size: 110%
				line-height: 24px
				margin-bottom: 10px

	.btnWrap
		height: 28px
		margin-top: 15px

		.pinkBorderBtn 
			width: 75px
			height: 28px
			
	
	.allArticleBtn
		position: absolute
		right: 10px
		bottom: 15px
		color: #7B9807

#r_pdfBox
	.picWrap
		float: left	
		margin-right: 15px
	.txtWrap
		overflow: hidden
		min-height: 140px
		padding-bottom: 40px	
		position: relative	
		.btnWrap
			position: absolute	
			left: 0
			bottom: 0

#r_viewRankBox
	margin-top: 30px
	position: relative
	padding-bottom: 30px

	// .boxTitle
	// 	width: 170px
	// 	height: 30px
	// 	background-image: url("../images/g/mainRightBarTitle.png")
		
	.moreBtn
		position: absolute 
		bottom: 0
		right: 0


#r_recommendRankBox
	position: relative
	margin-top: 30px
	padding-bottom: 40px
	//height: 400px
	
	.boxTitle
		width: 170px
		height: 30px
		background-image: url("../images/g/mainRightBarTitle.png")
		background-position: 0px -30px

	.moreBtn
		position: absolute 
		bottom: 0
		right: 0

	.rankContainer
		position: relative

	.tabWrap
		margin-top: 15px
		border-bottom: 3px solid $mainColor1
		.tabItem  
			float: left
			height: 28px
			background-color: #f2f2f2
			line-height: 28px
			padding: 0 15px
			color: $txtColor1
			cursor: pointer
		.tabItem.active
			color: white 
			background-color: $mainColor1
			
		.tabItem:hover 
			color: white 
			background-color: $mainColor1

#r_hotQABox
	position: relative
	margin-top: 30px
	padding-bottom: 40px
	//height: 400px
	
	.boxTitle
		background: url('../images/g/mainRightBarTitle.png') no-repeat -2px -61px
		width: 97px
		height: 27px

	.moreBtn
		position: absolute 
		bottom: 0
		right: 0

	.rankContainer
		position: relative

	.tabWrap
		margin-top: 15px
		border-bottom: 3px solid $mainColor1
		.tabItem  
			float: left
			height: 28px
			background-color: #f2f2f2
			line-height: 28px
			padding: 0 15px
			color: black 
			cursor: pointer
		.tabItem.active
			color: white 
			background-color: $mainColor1
			
		.tabItem:hover 
			color: white 
			background-color: $mainColor1


.rBarList
	margin-top: 5px
	width: 100%

	li
		width: 100%
		min-height: 44px
		line-height: 44px
		font-size: 108%
		border-bottom: 1px dotted $borderGray1
		color: $mainGray
		padding: 10px 0
		.txtLink
			//width: 250px
			//display: block
			//float: left

		.icon_num
			width: 28px
			height: 28px
			display: block
			background-color: $mainColor1
			font-weight: bold
			color: white 
			font-size: 138.5%
			line-height: 28px
			text-align: center
			float: left
			margin-right: 8px
		
		.txt
			float: left
			width: 260px
			line-height: 25px
			padding-top: 2px
			a 
				display: inline
			＆：hover
				color: $mainColor1
			.i_lock
				margin-top: -1px
		.exchange
			margin-left: 5px
			color: $mainColor2

	

#r_subscriptBox

	.boxTitle
		font-size: 153.9% 
		font-weight: bold

	.rewardWrap
		position: absolute
		top: 15px
		right: 15px

	.formWrap
		margin-top: 15px
		font-size: 116%
		line-height: 25px
		color: $mainGray
		
		input[type=checkbox]
			margin-right: 5px
			cursor: pointer

		input[type=text]
			+border-radius(5px)
			border: 1px solid $borderGray
			width: 188px
			height: 30px
			line-height: 30px
			// +borderBox
			padding: 0 0 0 5px
			margin: 0
			margin-top: 8px

		input[type=submit]
			+border-radius(5px)
			border: 1px solid $mainColor1
			width: 70px
			text-align: center
			height: 30px
			//line-height: 30px
			margin-left: 5px
			background-color: white 
			color: $mainColor1
			// +borderBox
			vertical-align: bottom

			&:hover 
				background-color: $mainColor1 
				color: white
			


#r_hotNewsBox

	.boxTitle
		font-size: 153.9% 
	ul
		margin-top: 15px
		margin-left: 20px
		font-size: 116%
		li 
			margin-bottom: 12px
			color: $mainGray
			list-style-type: disc
			a 
				display: inline

#r_specialColumnBox
	position: relative
	width: 100%
	margin: 15px 0

	.moreBtn 
		position: absolute
		top: 0
		right: 0
		cursor: pointer


	.boxTitle
		background-color: $mainColor1
		width: 88px
		height: 25px
		line-height: 25px
		color: white 
		// +borderBox
		padding-left: 8px
		font-size: 110%

	.manList
		margin-top: 10px

		.listItem
			width: 100px
			min-height: 140px
			// +borderBox
			display: inline-block
			vertical-align: text-top
			cursor: pointer
			margin-top: 5px
			border: 1px solid white
			margin-left: -3px
			.picRoundWrap
				width: 80px
				height: 80px
				margin: 0 auto


			.hoverTxt
				display: none
				text-align: center
				font-size: 106.3%
			.s_area
				text-align: center
			.s_name
				padding-top: 5px
				display: block
				text-align: center
				color: $txtColor1
				font-size: 106.3%
			.s_title
				padding-top: 5px
				display: block
				text-align: center
				color: $mainGray

			&:hover 
				border: 1px solid $borderGray
				// +borderBox

				.hoverTxt
					display: block
					margin-bottom: 5px
				.s_name
					display: none
				.s_title
					display: none


#r_featureBox
	position: relative
	width: 100%
	margin: 20px 0

	.moreBtn 
		position: absolute
		top: 0
		right: 0
		cursor: pointer


	.boxTitle
		background-color: $mainColor1
		width: 116px
		height: 25px
		line-height: 25px
		color: white 
		padding-left: 8px
		font-size: 108%

	.r_featureList
		margin-top: 10px

		.listItem
			padding: 15px 0
			border-bottom: 1px dotted $borderGray1
			
			.coverPic
				border: 1px solid $borderGray
				float: left
				width: 100px
				height: 70px
			.txt
				float: left
				width: 200px
				padding: 0 15px
				font-size: 116%
				line-height: 25px

#r_readExpert
	position: relative
	width: 100%
	margin: 15px 0

	.moreBtn 
		position: absolute
		top: 0
		right: 0
		cursor: pointer


	.boxTitle
		background-color: $mainColor1
		min-width: 88px
		display: inline-block
		height: 25px
		line-height: 25px
		color: white 
		// +borderBox
		padding: 0 8px
		font-size: 110%

	.manList
		margin-top: 10px

		.listItem
			width: 100px
			min-height: 140px
			// +borderBox
			display: inline-block
			vertical-align: text-top
			cursor: pointer
			margin-top: 5px
			border: 1px solid white 
			margin-left: -3px
			.picRoundWrap
				width: 80px
				height: 80px
				margin: 5px auto


			.hoverTxt
				display: none
				text-align: center
				font-size: 106.3%
				margin-bottom: 5px
			.s_area
				text-align: center
			.s_name
				padding-top: 5px
				display: block
				text-align: center
				color: $mainGray
				font-size: 106.3%
			.s_title
				padding-top: 5px
				display: block
				text-align: center
				font-size: 106.3%
				color: $txtColor1

			&:hover 
				border: 1px solid $borderGray
				// +borderBox

				.hoverTxt
					display: block
				.s_name
					display: none
				.s_title
					display: none


//文章頁用
.nextArticleBtn
	background-color: $bgGray
	border: 1px solid $borderGray1
	bottom: 190px
	display: none
	padding: 17px 15px
	position: fixed
	right: 90px
	width: 300px
	z-index: 30000

	.picWrap
		float: left
		margin-right: 15px
		width: 100px
		height: 70px
		line-height: 28px

	.txtWrap
		overflow: hidden

		.n_title
			margin-top: 5px
			font-size: 116%
			line-height: 24px