/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.articleTitle
	font-size: 250%
	margin-top: 20px
.articleContent 
	a
		text-decoration: none
		color: #1860a8
		&:hover
			text-decoration: underline
			color: #1860a8
.infoWrap
	position: relative
	width: 100%
	line-height: 35px
	margin-top: 20px
	
	.lBox
		height: 63px
		width: 63px
		overflow: hidden
		+border-radius(50%)
		border: 1px solid $borderGray
		margin-right: 15px
	.author
		line-height: 18px
	.info
		margin-top: 8px
		line-height: 18px
		.txtLink
			width: auto
			display: inline-block
	.rBox 
		margin-top: 10px
	
	.orangeTxt
		margin-left: 15px
	.dealWrap
		position: absolute
		right: 0
		bottom: 0px
		margin-top: 0





.dotLine
	margin-top: 15px
	width: 100%
	height: 0 
	border-bottom: 1 dotted $borderGray1

.articleWrap
	font-size: 116%
	margin-bottom: 15px
	.forewordTxt
		font-size: 116%
		margin: 30px 0
		color: #757575
		line-height: 30px
	p 
		margin-top: 20px
		line-height: 30px
		color: $txtColor1

	.video
		//border: 1px solid $borderGray
		margin-top: 20px

	.articleSubTitle
		font-size: 138.5%
		margin-top: 20px

	.videoWrap  
		position: relative
		padding-bottom: 56.25%
		padding-top: 25px
		border: 1px solid $borderGray
		height: 0
		margin-bottom: 20px


		iframe 
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

.mp3Box 
	width: 100%
	padding: 17px 15px
	background-color: #f2f2f0
	margin-bottom: 15px
	border: 1px solid $borderGray
	position: relative
	

	.box_title
		margin-bottom: 15px
		font-size: 116%

	.downLoadBox
		
		margin-top: 30px
		line-height: 28px
		list-style-type: disc
		margin-left: 25px

		li 
			height: 28px
			margin-bottom: 10px
		.a_name
			display: inline-block
			min-width: 150px
			margin-right: 15px
		.pinkBtn
			+border-radius(5px)
			height: 28px
			width: 120px
			line-height: 28px
			display: inline-block
			margin-right: 15px
			
		.txt
			display: inline-block

.pointBox
	width: 100%
	padding: 17px 15px
	background-color: #fbe6f2
	margin-bottom: 15px
	position: relative

	.box_title
		margin-bottom: 15px
		font-size: 116%
	ul 
		margin-top: 15px
		list-style-type: disc
		margin-left: 25px
		vertical-align: text-top

		li 
			list-style-type: disc
			font-size: 116%
			margin-bottom: 10px
			a 
				display: block

.tagWrap
	margin-top: 20px
	a
		text-decoration: none

	a:hover 
		text-decoration: underline

.rankBox
	height: 200px
	margin-top: 38px
	padding: 10px 0px
	&.noneVote
		height: 100px
		overflow: hidden
		.rankContainer
			height: 40px
			border: none
			margin: 0 auto
			margin-top: 10px
			.rankItem
				bottom: 0
				.blockWrap
					height: 0
					overflow: hidden

				.clickBtn
				
					&:hover 
						border: none

	.boxTitle
		z-index: 2000
		position: relative 
		font-size: 138.5%
		.grayTxt
			font-size: 85%

	.rankContainer
		width: 640px
		height: 70px
		margin: 30px auto
		position: relative
		border-bottom: 1px dotted $borderGray1

		.rankItem
			width: 55px
			position: absolute
			text-align: center
			bottom: -40px
			height: 130px

			.clickBtn
				position: absolute
				width: 90px
				height: 135px
				top: -6px
				left: -19px
				cursor: pointer
				&:hover 
					border: 1px solid $borderGray
					+opacity(0.7)
			.blockWrap
				width: 100%
				height: 90px
				overflow: hidden

			.rate
				color: $mainColor1
				
			.block
				width: 100%
				background-color: $mainColor1
				height: 100px

			.kind
				width: 100%
				height: 27px
				line-height: 27px
				position: absolute
				bottom: 5px
				text-align: center
				background-color: #F4E9E5
				+border-radius(5px)
				color: $mainGray

			&.try
				left: 65px
			&.useful
				left: 160px
			&.moving
				left: 255px
			&.cantDo
				left: 350px
			&.confused
				left: 445px
			&.Disagree
				left: 540px
			&.active
				.rate
					color: #7B9807
				.block
					background-color: #7B9807

			&.r_10
				.blockWrap
					padding-top: 70px
			&.r_20
				.blockWrap
					padding-top: 63px
			&.r_30
				.blockWrap
					padding-top: 56px
			&.r_40
				.blockWrap
					padding-top: 48px
			&.r_50
				.blockWrap
					padding-top: 40px
			&.r_60
				.blockWrap
					padding-top: 36px
			&.r_70
				.blockWrap
					padding-top: 24px
			&.r_80
				.blockWrap
					padding-top: 16px
			&.r_90
				.blockWrap
					padding-top: 8px
			&.r_100
				.blockWrap
					padding-top: 0  
			&.r_0
				.blockWrap
					padding-top: 74px   
			
.relatedArticleBox
	margin-top: 30px
	.lWrap
		width: 50%
		float: left
		padding: 0px 15px
	.rWrap  
		width: 50%
		float: left
		border-left: 1px dotted $borderGray1
		padding: 0px 15px

	.boxTitle
		font-size: 138.5%

	ul 
		li
			line-height: 23px
			margin-top: 10px
			color: $mainGray 
			list-style-type: disc
			margin-left: 15px
			padding-left: 5px
			a 
				display: inline
				:hover
					text-decoration: none
					color: #e4007f
		&.lgTxt
			li
				color: $lgColor
				a 
					color: $lgColor


	.ad_banner.Sponsor
		background-color: #ffe9de
// .discussBox
//  position: relative
//  margin-top: 25px
	
//  .joinTalkBox
//      border-top: 1px solid #000
//      padding-top: 30px
//      .picWrap
//          height: 63px
//          width: 63px
//          +border-radius(50%)
//          overflow: hidden
//          float: left
//      .lWrap
//          //margin-left: 20px
//          //float: left
//          overflow: hidden
//          padding-left: 20px
//          textarea
//              width: 100%
//              height: 70px
//              line-height: 20px
//              padding: 10px 10px
//              border: 1px solid $borderGray
//          .t_name
//              //margin-left: 20px
//              margin-bottom: 10px
//          .pinkBtn
//              width: 150px
//              height: 27px
//              line-height: 27px
//              +border-radius(5px)
//              margin: 10px auto
//  .talkNum
//      font-size: 138.5%
//      margin-bottom: 10px

//  .boxTitle
//      font-size: 138.5%
//      margin-bottom: 5px
//  .tips
//      position: absolute
//      top: 0
//      right: 0

//  .talkList
//      height: 182px
//      padding-left: 10px
//      padding-top: 5px
//      overflow-x: auto
//      .talkItem
//          margin-top: 15px
//          .picWrap
//              height: 63px
//              width: 63px
//              +border-radius(50%)
//              overflow: hidden
//              float: left

			
				

//          .txtWrap
//              //float: left
//              //margin-left: 20px
//              //width: 690px
//              overflow: hidden
//              padding-left: 20px
//              height: 70px
//              padding-top: 5px
//              .t_time 
//                  color: #9a9a9a
//                  margin-left: 10px
//                  font-size: 80%
//              .content
//                  margin-top: 5px

.fb_discussBox
	margin-top: 15px

	.boxTitle
		color: #3b5998
		font-size: 138.5%

	.fbWrap
		width: 100%
		border-top: 1px solid $borderGray1
		margin-top: 15px



.lockBox
	border-top: 1px solid $borderGray
	padding: 20px 20px
	.grayTxt
		font-size: 118%
	.btnWrap
		margin-top: 15px
		* 
			margin-right: 10px

.contentBox
	background-color: #EBEBEB
	width: 100%
	height: 268px
	position: relative
	margin: 15px 0
	
	.lWrap
		position: absolute
		right: 190px
		left: 0
		top: 0
		padding: 15px
		height: 268px

		.m_name
			font-size: 182%
			margin-top: 15px
		.m_content
			margin-top: 15px
			font-size: 116%
			line-height: 28px
			height: 110px
			overflow: hidden
			color: $txtColor1

		.btnWrap
			position: absolute
			width: 100%
			bottom: 0
			left: 0
			padding: 15px

		.allListBtn
			position: absolute
			right: 20px
			bottom: 10px

	.picWrap
		width: 180px
		height: 235px
		top: 15px
		right: 15px
		position: absolute
		
.colunmistAboutBox
	margin: 20px 0
	position: relative
	padding: 20px
	border: 1px solid $borderGray

	.seeAllBtn
		position: absolute
		right: 20px
		top: 20px
	.colunmistInfo
		.lBox
			float: left
			.coverPic
				width: 80px
				height: 80px
				+border-radius(50%)
				overflow: hidden

		.rBox
			float: left
			margin-left: 20px
			width: 660px

			.c_info
				.c_area
					color: $mainGray 
					font-size: 138.5%
					margin-right: 15px

				.c_name
					font-size: 153.90%

			.c_about
				margin-top: 15px
				font-size: 116%
				line-height: 28px

				.seeMoreContentBtn
					color: $borderGray 

			.followBtn
				width: 267px
				height: 36px
				line-height: 36px
				margin-top: 15px
				+border-radius(5px)


.buyBookBox
	padding: 25px
	border: 1px solid $bdg
	
	.bPic 
		float: left
		width: 180px
		height: 180px
		margin-right: 25px
		+containPic

	.txtWrap
		border-left: 1px solid $bdg
		padding-left: 25px
		overflow: hidden
		min-height: 180px
		position: relative
		color: $txtColor1
		.buyBtn
			display: inline-block
			padding: 0 15px
			height: 30px
			line-height: 30px
			.i_buyLine
				vertical-align: text-top
				
@media screen and (max-width: $breakPoint)
	.infoWrap
		.author
			width: 180px
		.info
			width: 180px
	.rankBox
		.rankContainer
			left: -46px
			.rankItem
				&.try
					left: 65px
				&.useful
					left: 155px
				&.moving
					left: 245px
				&.cantDo
					left: 335px
				&.confused
					left: 425px
				&.Disagree
					left: 515px
	.colunmistAboutBox 
		padding-top: 50px
		.colunmistInfo 
			.rBox
				width: 400px
	.relatedArticleBox
		.lWrap  
			float: none
			width: 100% 
		.rWrap  
			float: none
			width: 100% 
			border-top: 1px dotted #000
			border-left: none
			margin-top: 15px
			padding-top: 15px
	