/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.articleTitle
	font-size: 235%
	margin-top: 20px
	font-weight: bold
.mt_s	
	margin-top: 15px
.mr_s	
	margin-right: 15px

.gBg 
	background-color: #fffff1
.askBox
	margin-top: 15px
	.memberBox
		float: left
		width: 95px
		text-align: center

		.picWrap
			width: 63px
			height: 63px
			+border-radius(50%)
			overflow: hidden
			margin: 10px auto
		.m_info
			line-height: 1.5
			.pinkBtn
				display: inline-block
				width: 80px
				margin-top: 10px

	.articleBox
		overflow: hidden
		padding-left: 10px
		.atBox
			.articleTitle
				float: left
				width: 615px
				margin-top: 0
			.dealWrap
				vertical-align: top
				overflow: hidden
				margin-top: 5px
				height: auto
				.icon_fb
					margin-right: 10px
		.a_content
			line-height: 1.875
		.a_fileBox
			.flDiv
				background-color: #000
				cursor: pointer
				img 
					vertical-align: bottom
					width: 100%
				&:hover
					position: relative
					img 	
						+opacity(0.7)
			.picBox
				&:hover
					&:after
						content: ''
						position: absolute
						background: url('../images/g/qaIcon.png') no-repeat -26px -27px
						width: 41px
						height: 41px
						top: 50%
						left: 50%
						margin-top: -20px
						margin-left: -20px
			.videoBox
				&:hover
					&:after
						content: ''
						position: absolute
						background: url('../images/g/qaIcon.png') no-repeat -73px -28px
						width: 41px
						height: 41px
						top: 50%
						left: 50%
						margin-top: -20px
						margin-left: -20px
		.a_infobox

			i 
				margin-right: 5px

	hr
		border: none
		height: 1px
		background-color: #bcbcbc
.answerBox
	padding: 15px 10px
	.articleBox
		.atBox
			.articleTitle
				font-weight: normal
				width: 520px
				font-size: 138.5%
		.dealWrap
			.blackTxt
				margin: 0 3px
				&:hover 
					color: #000
		.mp3Box
			border: none
			background: none
			margin-bottom: 0

		.pointBox
			border: none
			background: none
			margin-bottom: 0
.infoWrap
	position: relative
	width: 100%
	//height: 35px
	line-height: 35px
	margin-top: 20px
	
	.lBox
		height: 63px
		width: 63px
		overflow: hidden
		+border-radius(50%)
		border: 1px solid $borderGray
	.author
		line-height: 18px
	.info
		margin-top: 8px
		line-height: 18px
		.txtLink
			width: auto
			display: inline-block
	.rBox 
		margin-left: 15px
	
	.orangeTxt
		margin-left: 15px
	.dealWrap
		position: absolute
		right: 0
		bottom: 0px
		margin-top: 0





.dotLine
	margin-top: 10px

.articleWrap
	padding: 0px 25px
	font-size: 116%
	margin-bottom: 15px
	.forewordTxt
		font-size: 116%
		margin: 30px 0
		color: #757575
	img 
		border: 1px solid $borderGray
	p 
		margin-top: 20px
		line-height: 24px

	.video
		//border: 1px solid $borderGray
		margin-top: 20px

	.articleSubTitle
		font-size: 138.5%
		margin-top: 20px

	.videoWrap	
		position: relative
		padding-bottom: 56.25%
		padding-top: 25px
		border: 1px solid $borderGray
		height: 0
		margin-bottom: 20px


		iframe 
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

.mp3Box	
	width: 100%
	padding: 17px 15px
	background-color: #f2f2f0
	margin-bottom: 15px
	border: 1px solid $borderGray
	position: relative
	

	.box_title
		margin-bottom: 15px
		font-size: 116%

	.downLoadBox
		
		margin-top: 30px
		line-height: 28px
		list-style-type: disc
		margin-left: 25px

		li 
			height: 28px
			margin-bottom: 10px
		.a_name
			display: inline-block
			min-width: 150px
			margin-right: 15px
		.pinkBtn
			+border-radius(5px)
			height: 28px
			width: 120px
			line-height: 28px
			display: inline-block
			margin-right: 15px
			
		.txt
			display: inline-block

.pointBox
	width: 100%
	padding: 17px 15px
	background-color: #fbe6f2
	margin-bottom: 15px
	border: 1px solid $borderGray
	position: relative

	.box_title
		margin-bottom: 15px
		font-size: 116%
	ul 
		margin-top: 15px
		list-style-type: disc
		margin-left: 25px
		vertical-align: text-top

		li 
			list-style-type: disc
			font-size: 116%
			margin-bottom: 10px
			a 
				display: block

.askList .tagBox
	padding-bottom: 10px

.rankBox
	border-top: 1px solid $borderGray 
	border-bottom: 1px solid $borderGray 
	height: 188px
	margin-top: 38px
	padding: 10px 0px
	&.noneVote
		height: 100px
		overflow: hidden
		.rankContainer
			height: 40px
			border: none
			margin: 0 auto
			margin-top: 10px
			.rankItem
				bottom: 0
				.blockWrap
					height: 0
					overflow: hidden

				.clickBtn
				
					&:hover 
						border: none

	.boxTitle
		z-index: 2000
		position: relative 
		font-size: 138.5%
		.grayTxt
			font-size: 85%

	.rankContainer
		width: 640px
		height: 70px
		margin: 30px auto
		position: relative
		border-bottom: 1px dotted $dotColor

		.rankItem
			width: 55px
			position: absolute
			text-align: center
			bottom: -40px
			height: 130px

			.clickBtn
				position: absolute
				width: 90px
				height: 135px
				top: -6px
				left: -19px
				cursor: pointer
				&:hover 
					border: 1px solid $borderGray
					+opacity(0.7)
			.blockWrap
				width: 100%
				height: 90px
				overflow: hidden

			.rate
				color: $mainColor1
				

			.block
				width: 100%
				background-color: $mainColor1
				height: 100px

			.kind
				width: 100%
				height: 27px
				line-height: 27px
				position: absolute
				bottom: 5px
				text-align: center
				background-color: $mainColor1
				+border-radius(5px)
				color: white

			&.try
				left: 65px
			&.useful
				left: 160px
			&.moving
				left: 255px
			&.cantDo
				left: 350px
			&.confused
				left: 445px
			&.Disagree
				left: 540px
			&.active
				.rate
					color: $mainColor2
				.block
					background-color: $mainColor2

			&.r_10
				.blockWrap
					padding-top: 70px
			&.r_20
				.blockWrap
					padding-top: 63px
			&.r_30
				.blockWrap
					padding-top: 56px
			&.r_40
				.blockWrap
					padding-top: 48px
			&.r_50
				.blockWrap
					padding-top: 40px
			&.r_60
				.blockWrap
					padding-top: 36px
			&.r_70
				.blockWrap
					padding-top: 24px
			&.r_80
				.blockWrap
					padding-top: 16px
			&.r_90
				.blockWrap
					padding-top: 8px
			&.r_100
				.blockWrap
					padding-top: 0	
			&.r_0
				.blockWrap
					padding-top: 74px	
			
.relatedArticleBox
	margin-top: 30px
	background-color: #fffff1
	padding: 20px 15px
	.lWrap
		width: 50%
		float: left
		padding: 0px 15px
	.rWrap	
		width: 50%
		float: left
		border-left: 1px dotted $dotColor
		padding: 0px 15px

	.r_tag
		padding: 0 10px
		color: #fff
		margin-left: 5px
		font-size: 100%
		&.roundDiv
			+border-radius(5px)

	ul 

		li
			//height: 23px
			line-height: 23px
			margin-top: 10px
			color: $mainGray 
			list-style-type: disc
			margin-left: 15px
			padding-left: 5px
			color: #000
			.txtLink
				color: #000
			a 
				display: inline
				color: #e4007f
				:hover
					text-decoration: underline

	.ad_banner.Sponsor
		background-color: #ffe9de

.discussBox
	padding: 15px
	.talkBox
		background-color: #e6efc2
		padding: 15px 20px
		.picWrap
			height: 63px
			width: 63px
			+border-radius(50%)
			overflow: hidden
		form
			position: relative
			margin-top: 14px
			input[type='text']
				height: 35px
				width: 550px
				line-height: 35px
				padding: 0 15px
				border: 1px solid $borderGray
			input[type='submit']
				width: 80px
				height: 35px
	.talkList
		.talkItem
			position: relative
			.reportBtn
				display: none
				position: absolute
				right: 0
				top: 0px
			&:hover 
				.reportBtn
					display: block
			.txtWrap
				.t_commentBox
					margin-top: 5px
					.gHeart	
						margin-right: 0
						margin-left: 5px
	.subTalkList
		.talkItem
			.txtWrap
				border-left: 1px solid $borderGray
				margin-left: 84px
		.talkBox
			padding: 0
			background: none
			margin-top: 15px
			overflow: auto
			input[type='text']
				width: 500px
// .discussBox
// 	position: relative
// 	margin-top: 25px
	
// 	.joinTalkBox
// 		border-top: 1px solid #000
// 		padding-top: 30px
// 		.picWrap
// 			height: 63px
// 			width: 63px
// 			+border-radius(50%)
// 			overflow: hidden
// 			float: left
// 		.lWrap
// 			//margin-left: 20px
// 			//float: left
// 			overflow: hidden
// 			padding-left: 20px
// 			textarea
// 				width: 100%
// 				height: 70px
// 				line-height: 20px
// 				padding: 10px 10px
// 				border: 1px solid $borderGray
// 			.t_name
// 				//margin-left: 20px
// 				margin-bottom: 10px
// 			.pinkBtn
// 				width: 150px
// 				height: 27px
// 				line-height: 27px
// 				+border-radius(5px)
// 				margin: 10px auto
// 	.talkNum
// 		font-size: 138.5%
// 		margin-bottom: 10px

// 	.boxTitle
// 		font-size: 138.5%
// 		margin-bottom: 5px
// 	.tips
// 		position: absolute
// 		top: 0
// 		right: 0

// 	.talkList
// 		height: 182px
// 		padding-left: 10px
// 		padding-top: 5px
// 		overflow-x: auto
// 		.talkItem
// 			margin-top: 15px
// 			.picWrap
// 				height: 63px
// 				width: 63px
// 				+border-radius(50%)
// 				overflow: hidden
// 				float: left

			
				

// 			.txtWrap
// 				//float: left
// 				//margin-left: 20px
// 				//width: 690px
// 				overflow: hidden
// 				padding-left: 20px
// 				height: 70px
// 				padding-top: 5px
// 				.t_time 
// 					color: #9a9a9a
// 					margin-left: 10px
// 					font-size: 80%
// 				.content
// 					margin-top: 5px

.fb_discussBox
	margin-top: 15px

	.boxTitle
		color: #3b5998
		font-size: 138.5%

	.fbWrap
		width: 100%
		border-top: 1px solid #000	
		margin-top: 15px



.lockBox
	border-top: 1px solid $borderGray
	padding: 20px 20px
	.grayTxt
		font-size: 118%
	.btnWrap
		margin-top: 15px
		* 
			margin-right: 10px

.contentBox
	background-color: $bgGray
	width: 100%
	height: 268px
	position: relative
	margin-top: 15px
	

	

	.lWrap
		position: absolute
		right: 190px
		left: 0
		top: 0
		padding: 15px
		height: 268px

		.m_name
			font-size: 182%
			margin-top: 15px
			font-weight: bold
		.m_content
			margin-top: 15px
			font-size: 116%
			line-height: 26px
			height: 110px
			overflow: hidden

		.btnWrap
			position: absolute
			width: 100%
			bottom: 0
			left: 0
			padding: 15px

		.allListBtn
			position: absolute
			right: 20px
			bottom: 10px

	.picWrap
		width: 180px
		height: 235px
		top: 15px
		right: 15px
		position: absolute
		
.colunmistAboutBox
	margin: 20px 0
	position: relative
	padding: 20px
	border: 1px solid $borderGray

	.seeAllBtn
		position: absolute
		right: 20px
		top: 20px
	.colunmistInfo
		.lBox
			float: left
			.coverPic
				width: 80px
				height: 80px
				+border-radius(50%)
				overflow: hidden

		.rBox
			float: left
			margin-left: 20px
			width: 660px

			.c_info
				.c_area
					color: $borderGray 
					font-size: 138.5%
					margin-right: 15px

				.c_name
					font-size: 153.90%

			.c_about
				margin-top: 15px
				font-size: 116%
				line-height: 25px

				.seeMoreContentBtn
					color: $borderGray 

			.followBtn
				width: 267px
				height: 36px
				line-height: 36px
				margin-top: 15px
				+border-radius(5px)

@media screen and (max-width: $breakPoint)
	.infoWrap
		.author
			width: 180px
		.info
			width: 180px
	.rankBox
		.rankContainer
			left: -46px
			.rankItem
				&.try
					left: 65px
				&.useful
					left: 155px
				&.moving
					left: 245px
				&.cantDo
					left: 335px
				&.confused
					left: 425px
				&.Disagree
					left: 515px
	.colunmistAboutBox 
		padding-top: 50px
		.colunmistInfo 
			.rBox
				width: 400px
	.relatedArticleBox
		.lWrap	
			float: none
			width: 100%	
		.rWrap	
			float: none
			width: 100%	
			border-top: 1px dotted $dotColor
			border-left: none
			margin-top: 15px
			padding-top: 15px
	.askBox 
		.articleBox 
			.atBox 
				.articleTitle
					width: 100%
					float: none
			.a_fileBox 
				.videoBox
					margin-top: 10px
	.discussBox 
		.talkBox 
			form 
				input[type='text']
					margin-right: 0
					width: 380px
				input[type='submit']
					margin-top: 10px


		.subTalkList 
			.talkBox 
				input[type='text']
					width: 330px