/*mixin*/
@import compass/css3
@import mixin/layout
@import baby_variable



.pageTitle
	font-size: 182%
	margin: 20px 0 20px
	font-weight: bold
	


#hotArticle
	margin: 20px 0 20px
	position: relative


	.picWrap
		width: 480px
		height: 270px
		overflow: hidden
		+box-sizing(border-box)
		float: left

	.txtWrap
		float: left
		padding: 0px 15px
		width: 330px

		h1 
			font-size: 150% 
			margin-top: 15px
		p 
			margin-top: 15px
			font-size: 116%
			line-height: 28px
			color: $mainGray
	.seeAritle
		position: absolute
		bottom: 0
		right: 0
		cursor: pointer

.pageTip
	width: 100%
	height: 46px
	line-height: 46px 
	// border: 1px solid $borderGray
	background: url('../images/coinbar.png')
	padding: 0 0 0 46px
	color: #fff

	.pinkTxt
		float: right
		text-decoration: underline
		&:hover 
			+opacity(0.5)
	.greenTxt
		margin-right: 8px
		

.articleList
	

	.listItem
		margin-top: 25px
		padding: 5px 0px
		position: relative

		&.sponsor 
			background-color: #f3f3f3

		.picWrap
			width: 260px
			height: 165px
			overflow: hidden
			float: left

		.txtWrap 
			float: left
			width: 540px
			height: 165px
			padding-left: 20px
			position: relative

			
			.l_titleWrap

				.l_Title
					font-size: 123.1%
					margin-left: 8px

				h1 
					display: inline-block


			p 
				margin-top: 8px
				line-height: 28px
				font-size: 108%


			.l_footerWrap
				position: absolute
				left: 20px 
				bottom: 0
	
				.socailWrap
					display: inline-block
					vertical-align: middle
					
					* 
						margin-right: 8px
				
				.tagWrap
					a
						text-decoration: none
					a:hover 
						text-decoration: underline

			.sponsorCompany
				position: absolute
				right: 5px
				bottom: 5px
				color: #ff7430

#r_keywordIconBox
	position: relative
	width: 100%
	//margin: 5px 0 0 15px

	.manList
		border-top: 1px solid $borderGray
		margin: 0 auto

		.listItem
			width: 75px
			height: 100px
			float: left
			cursor: pointer
			margin-top: 15px
			margin-left: 14px
			margin-right: 12px

			.picWrap
				width: 100%
			
			.s_name
				display: block
				text-align: center
				color: $mainGray


@media screen and (max-width: $breakPoint)
	#hotArticle
		.picWrap
			width: 100%
		.txtWrap
			padding: 15px 0
			width: 100%

	.articleList
		.listItem
			.picWrap
				display: none
			.txtWrap 
				padding: 0 20px