/*mixin*/
@import compass/css3
@import mixin/layout
@import baby_variable

.articleTitle
	font-size: 250%
	margin-top: 20px

.infoWrap
	position: relative
	width: 100%
	//height: 35px
	line-height: 35px
	margin-top: 20px
	
	.lBox
		height: 63px
		width: 63px
		overflow: hidden
		+border-radius(50%)
		border: 1px solid $borderGray
	.author
		line-height: 18px
	.info
		margin-top: 8px
		line-height: 18px
		.txtLink
			width: auto
			display: inline-block
	.rBox 
		margin-top: 10px
	
	.orangeTxt
		margin-left: 15px
	.dealWrap
		position: absolute
		right: 0
		//bottom: 8px
		margin-top: 0





.dotLine
	margin-top: 15px
	width: 100%
	height: 0
	border-bottom: 1px dotted $borderGray1

.articleWrap
	//padding: 20px 25px
	font-size: 116%

	.forewordTxt
		font-size: 116%
		margin: 30px 0
		color: #757575
		line-height: 30px

	img 
		border-top-style: none
		border-right-style: none
		border-bottom-style: none
		border-left-style: none
	p 
		margin-top: 20px
		line-height: 30px
		color: $txtColor1

	.video
		//border: 1px solid $borderGray
		margin-top: 20px

	.articleSubTitle
		font-size: 138.5%
		margin-top: 20px

	.videoWrap	
		position: relative
		padding-bottom: 56.25%
		padding-top: 25px
		border: 1px solid $borderGray
		height: 0
		margin-bottom: 20px


		iframe 
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

.mp3Box	
	width: 100%
	padding: 17px 15px
	background-color: $bgGray
	margin-bottom: 15px
	border: 1px solid $borderGray
	position: relative


	.box_title
		margin-bottom: 15px

.downLoadBox
	width: 100%
	padding: 17px 15px
	background-color: $bgGray
	margin-bottom: 15px
	border: 1px solid $borderGray
	position: relative

	.pinkBtn
		+border-radius(5px)
		height: 28px
		width: 120px
		line-height: 28px
		float: left
		margin-right: 15px
		
	.txt
		margin-top: 7px
		float: left


.tagWrap
	margin-top: 20px

	a
		text-decoration: none

	a:hover 
		text-decoration: underline

.rankBox
	//border-top: 1px solid $borderGray 
	//border-bottom: 1px solid $borderGray 
	height: 200px
	margin-top: 38px
	padding: 10px 0px

	.boxTitle 
		font-size: 138.5%
		.grayTxt
			font-size: 85%

	.rankContainer
		width: 640px
		height: 70px
		margin: 30px auto
		position: relative
		border-bottom: 1px dotted $borderGray1

		.rankItem
			width: 55px
			position: absolute
			text-align: center
			bottom: -40px
			height: 130px

			.clickBtn
				position: absolute
				width: 90px
				height: 135px
				top: -6px
				left: -19px
				cursor: pointer
				&:hover 
					border: 1px solid $borderGray
			.blockWrap
				width: 100%
				height: 90px
				overflow: hidden

			.rate
				color: $mainColor1
				

			.block
				width: 100%
				background-color: $mainColor1
				height: 100px

			.kind
				width: 100%
				height: 27px
				line-height: 27px
				position: absolute
				bottom: 5px
				text-align: center
				background-color: #f4e9e5
				+border-radius(5px)
				color: $mainGray

			&.try
				left: 65px
			&.useful
				left: 160px
			&.moving
				left: 255px
			&.cantDo
				left: 350px
			&.confused
				left: 445px
			&.Disagree
				left: 540px
			&.active
				.rate
					color: #7B9807
				.block
					background-color: #7B9807

			&.r_10
				.blockWrap
					padding-top: 70px
			&.r_20
				.blockWrap
					padding-top: 63px
			&.r_30
				.blockWrap
					padding-top: 56px
			&.r_40
				.blockWrap
					padding-top: 48px
			&.r_50
				.blockWrap
					padding-top: 40px
			&.r_60
				.blockWrap
					padding-top: 36px
			&.r_70
				.blockWrap
					padding-top: 24px
			&.r_80
				.blockWrap
					padding-top: 16px
			&.r_90
				.blockWrap
					padding-top: 8px
			&.r_100
				.blockWrap
					padding-top: 0	
			&.r_0
				.blockWrap
					padding-top: 74px	
			
.relatedArticleBox
	margin-top: 30px
	margin-bottom: 30px
	.lWrap
		width: 50%
		float: left
		padding: 0px 15px
	.rWrap	
		width: 50%
		float: left
		border-left: 1px dotted $borderGray1
		padding: 0px 15px

	.boxTitle
		font-size: 138.5%
		//font-weight: bold

	ul 
		li
			//height: 23px
			line-height: 23px
			margin-top: 10px
			color: $mainGray 
			list-style-type: disc
			list-style-position: inside
			padding-left: 5px

		li.Sponsor
			background-color: #ffe9de
	


// .discussBox
// 	position: relative
// 	margin-top: 25px
	
// 	.joinTalkBox
// 		border-top: 1px solid #000
// 		padding-top: 30px
// 		.picWrap
// 			height: 63px
// 			width: 63px
// 			+border-radius(50%)
// 			overflow: hidden
// 			float: left
// 		.lWrap
// 			//margin-left: 20px
// 			//float: left
// 			overflow: hidden
// 			padding-left: 20px
// 			textarea
// 				width: 100%
// 				height: 70px
// 				line-height: 20px
// 				padding: 10px 10px
// 				border: 1px solid $borderGray
// 			.t_name
// 				//margin-left: 20px
// 				margin-bottom: 10px
// 			.pinkBtn
// 				width: 150px
// 				height: 27px
// 				line-height: 27px
// 				+border-radius(5px)
// 				margin: 10px auto
// 	.talkNum
// 		font-size: 138.5%
// 		margin-bottom: 10px

// 	.boxTitle
// 		font-size: 138.5%
// 		margin-bottom: 5px
// 	.tips
// 		position: absolute
// 		top: 0
// 		right: 0

// 	.talkList
// 		height: 182px
// 		padding-left: 10px
// 		padding-top: 5px
// 		overflow-x: auto
// 		.talkItem
// 			margin-top: 15px
// 			.picWrap
// 				height: 63px
// 				width: 63px
// 				+border-radius(50%)
// 				overflow: hidden
// 				float: left

			
				

// 			.txtWrap
// 				//float: left
// 				//margin-left: 20px
// 				//width: 690px
// 				overflow: hidden
// 				padding-left: 20px
// 				height: 70px
// 				padding-top: 5px
// 				.t_time 
// 					color: #9a9a9a
// 					margin-left: 10px
// 					font-size: 80%
// 				.content
// 					margin-top: 5px

.fb_discussBox
	margin-top: 15px

	.boxTitle
		color: #3b5998
		font-size: 138.5%

	.fbWrap
		width: 100%
		border-top: 1px solid #000	
		margin-top: 15px



.lockBox
	.grayTxt
		font-size: 118%

	.contentBox
		background-color: $bgGray
		width: 100%
		height: 268px
		position: relative
		margin-top: 15px
		margin-bottom: 15px

		

		.lWrap
			position: absolute
			right: 190px
			left: 0
			top: 0
			padding: 15px
			height: 268px

			.m_name
				font-size: 182%
				margin-top: 15px
				//font-weight: bold
			.m_content
				margin-top: 15px
				font-size: 116%
				line-height: 28px
				height: 110px
				overflow: hidden

			.btnWrap
				position: absolute
				width: 100%
				bottom: 0
				left: 0
				padding: 15px

			.allListBtn
				position: absolute
				right: 20px
				bottom: 10px

		.picWrap
			width: 180px
			height: 235px
			top: 15px
			right: 15px
			position: absolute
			


			
@media screen and (max-width: $breakPoint)
	.infoWrap
		.author
			width: 180px
		.info
			width: 180px
	.rankBox
		.rankContainer
			left: -46px
			.rankItem
				&.try
					left: 65px
				&.useful
					left: 155px
				&.moving
					left: 245px
				&.cantDo
					left: 335px
				&.confused
					left: 425px
				&.Disagree
					left: 515px

	.relatedArticleBox
		.rWrap	
			border-top: 1px dotted #000
			border-left: none
			margin-top: 15px
			padding-top: 15px
	