/*mixin*/
@import compass/css3
@import mixin/layout
@import variable




.pageTitle
	font-size: 146.5%
	line-height: 24px

.grayLine
	margin: 15px 0

.tagWrap
	.txt
		float: left
		//width: 14%
		font-size: 138.5%
		padding: 10px 10px

	.lBox
		float: left
		//width: 12%
		padding: 10px 10px

	.rBox
		padding: 10px 10px
		//float: left
		//width: 73%
		overflow: hidden
		border-left: 1px solid $borderGray 
		float: none

	.tagItem
		float: left
		margin-left: 10px
		margin-bottom: 8px
		padding: 0 10px
		height: 30px
		+border-radius(14px)
		border: 1px solid $mainColor1
		text-align: center
		line-height: 30px
		color: $mainColor1
		font-size: 116%

		&:hover 
			background-color: $mainColor1 
			color: white
		&.active
			background-color: $mainColor1 
			color: white


#columnistsList
	position: relative
	margin-top: 35px

	.listItem
		width: 245px
		height: 264px
		border: 1px solid $borderGray
		margin: 0px 10px 20px 10px
		position: relative
		float: left
		overflow: hidden
		

		.coverTitle
			position: absolute 
			background-image: url("../images/g/black.png")
			width: 100%
			height: 56px
			color: white 
			padding: 5px 20px
			left: 0
			bottom: 0
			line-height: 21px

			.c_name
				font-size: 138.5%

		.picWrap
			width: 245px
			height: 264px
			overflow: hidden

		.followBox
			position: absolute
			top: 0
			left: 0
			height: 30px
			width: 100%
			background-image: url("../images/g/white.png")
			padding: 0 20px
			line-height: 30px
			display: none
			

		&:hover 
			.followBox
				display: block


