/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.orangeTag
	padding: 0 15px

.featureList
	margin-top: 15px
	width: 830px

	.listItem
		width: 260px
		height: 300px
		float: left
		border: 1px solid $borderGray
		margin-right: 15px
		margin-bottom: 15px
		position: relative
		overflow: hidden

		&.bigItem
			width: 535px

		&:hover 
			+opacity(0.9)
			

		.picWrap
			position: absolute
			width: 100%
			height: 300px
			overflow: hidden
			top: 0
			left: 0

		.coverTitle
			position: absolute
			width: 100%
			height: 166px
			background-image: url("../images/g/black2.png")
			z-index: 1
			left: 0
			bottom: 0


			.txtWrap
				color: white 
				position: absolute
				left: 15px
				bottom: 15px
				width: 90%

				.sponsor
					margin-bottom: 10px
					color: #cdcdcd

				.a_title
					font-size: 123.1%


@media screen and (max-width: $breakPoint)
	.featureList
		width: 560px