/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



#mainBanner
	width: 100%
	.bdWrap
		border: 1px solid $borderGray

	.picWrap
		float: left
		width: 540px
		height: 300px
		overflow: hidden
		position: relative
		left: 0 
		right: 0

		.picContainer
			width: 9999px

			.picItem
				float: left
				position: relative
				overflow: hidden
				cursor: pointer
				width: 540px
				height: 300px

				
				.pic 
					width: 540px
					height: 300px
					overflow: hidden
					+background-size('cover')

					
				.picTitle
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					height: 47px
					background-image: url("../images/g/black.png")
					color: white
					line-height: 47px
					padding-left: 10px
					font-size: 116%
					
	
	.list
		width: 268px
		float: left
		height: 300px
		position: relative
		
		.listItem
			
			height: 50px
			width: 100%
			border-top: 1px dotted $borderGray1
			font-size: 123.1%
			color: $txtColor1
			line-height: 50px
			cursor: pointer
			position: absolute
			padding-left: 20px
			a
				display: inline 

			.ad
				padding-left: 5px
				font-size: 85%
				color: #ff7430
		
			a:hover 
				text-decoration: none
		.listItem.m1
			border-top: none
		.listItem.m2
			left: 0
			top: 50px
		.listItem.m3
			left: 0
			top: 100px
		.listItem.m4
			left: 0
			top: 150px
		.listItem.m5
			left: 0
			top: 200px
		.listItem.m6
			left: 0
			top: 250px
		.listItem.active
			color: $mainColor1

			&:after 
				content: ''
				+bg('g/navArrLeft.png')
				position: absolute
				top: 16px
				left: -11px

.articleList
	width: 825px
	margin-top: 15px


	.listItem
		
		width: 260px
		height: 280px
		border: 1px solid $borderGray
		margin: 0px 15px 15px 0px
		position: relative
		float: left
		padding: 50px 15px 15px 15px 
		&.bigItem
			width: 810px
			height: auto
			min-height: 280px
		
		&:hover 
			background-color: #f4f4f4
		.fullDiv
			&:hover 
				text-decoration: none
		.list_title
			width: 117px
			height: 24px
			background-color: $mainColor2
			color: white 
			font-size: 108% 
			line-height: 24px
			position: absolute
			top: 10px
			left: 0
			
			a 
				display: block
				width: 100%
				height: 100%
				padding-left: 15px
			a:hover 
				color: black 
				text-decoration: none

		h1
			font-size: 120%
			line-height: 24px
			width: 230px

		h2 
			font-size: 115%
			margin-top: 3px
		p 
			line-height: 24px
			color: $mainGray
			list-style-type: disc

		.picWrap
			position: absolute
			left: 0
			bottom: 0
			width: 226px
			height: 142px
			overflow: hidden

		&.sponsor 
			.list_title
				background-color: #ff7430
		&.activity 
			p 
				margin-bottom: 12px
				line-height: 20px
				// display: list-item
				// list-style-type: disc
				// list-style-position: inside
		.subWrap
			width: 225px
			height: 80px
			margin-top: 10px
			margin-left: 5px

			.pic
				width: 63px
				height: 63px
				overflow: hidden
				+border-radius(50%)
				float: left
				

			.txt
				float: left
				width: 147px
				margin-left: 12px

				
			
			&:hover
				.pic
					border: 2px solid $mainColor1

				h2 
					color: $mainColor1

		.more
			position: absolute
			right: 10px
			bottom: 10px
			color: #657e00
			font-size: 100%

		.company
			color: #c2c2c2
			position: absolute
			top: 14px
			left: 128px

		.voteBtn
			width: 227px
			height: 32px
			+border-radius(5px)
			border: 1px solid #7B9807
			text-align: center
			line-height: 32px
			position: absolute
			bottom: 0
			left: 0
			cursor: pointer
			&:hover 
				background-color: #f8ffde

.fbWrap
	margin-top: 30px
	

@media screen and (max-width: $breakPoint)
	.articleList
		width: 580px
		.listItem
			&.bigItem
				width: 535px