/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


html,body 
	width: 100%
	height: 100%

.mainContainer
	width: 100%
	height: 100%
	position: relative
	

#pop_loginBox
	
	.container
		+border-radius(10px)
		padding-bottom: 60px
		top: 50%
		left: 50%
		margin-left: -190px
		margin-top: -220px
		input[type="checkbox"]
			vertical-align: text-top
			margin-top: 3px
@media screen and (max-width: $breakPoint)
	.articleList
		width: 580px