/*mixin*/
@import compass/css3
@import mixin/layout
@import variable


#memberContent
	
	.contentTitle
		font-size: 116%
		// overflow: hidden
		.userName
			font-size: 153.9%
			margin-right: 10px

		.bTxt
			font-size: 153.9%
		.rTWrap
			float: right
			a 
				margin-top: 3px
			a:hover 
				text-decoration: underline
				


	.lwrap
		font-size: 116%
		width: 40%
		float: left
		.email
			margin-top: 10px
		.txt
			margin-top: 5px

			.c_num
				font-size: 153.9%

	.rWrap
		font-size: 116%
		float: left
		width: 60%
		margin-top: 10px
		.taskList
			color: $mainColor2 
			margin: 10px 0px

			.listItem
				float: left
				width: 49%
				.icon_check
					background-image: url("../images/g/articleIcon.png")
					width: 20px
					height: 20px
					display: inline-block
					vertical-align: sub
					margin-top: 3px
					background-position: -100px 0
					margin-right: 5px
					position: relative
					margin-top: 5px

				&.done 
					text-decoration: line-through
					color: black 
					.icon_check
						background-position: -80px 0
			
				


	.recordTable
		font-size: 123.1%
		width: 100%
		margin-top: 20px


		tr
			height: 40px
			line-height: 40px
			text-align: center
		td.date
			width: 20%
			
		td.txt
			width: 60%
			line-height: 22px
			padding: 8px 15px
			text-align: left
			
		td.coin
			width: 20%
			color: $mainColor1
		tr.odd
			background-color: #f4e9e5
		th 
			background-color: #c4b9b5
			color: white
			