/*mixin*/
@import compass/css3
@import mixin/layout
@import variable
.i_q
	background: url('../images/g/qa.png') no-repeat 0 0
	width: 23px
	height: 24px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px
	margin-right: 7px

.i_a
	background: url('../images/g/qa.png') no-repeat -1px -26px
	width: 21px
	height: 19px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px
	margin-right: 7px
.f24
	font-size: 162.5%

.c_wrap
	width: 1140px
	margin: 0 auto
	position: relative
.centerTxt
	text-align: center
.txt  
	font-size: 108%
	line-height: 28px
	a
		font-size: 130%

.wTxt
	color: white
.header
	background-color: $mainColor1
	width: 100%
	height: 120px
	.h_txt
		display: inline-block
		font-size: 225%
		position: relative
		top: -15px
		left: 10px

	.logo
		+bg('g/mainLogo.png')
		display: inline-block
		vertical-align: text-bottom


.main_container
	background-color: #eaeaea
	padding: 20px 0
	.linkBox
		float: left
		width: 245px
		.bbCoin
			+bg('g/bbb_coin.png')
			margin: 15px auto

		ul 
			padding: 0 25px
			margin-top: 15px

			li 
				padding: 10px 0px 10px 20px
				border-bottom: 1px solid $borderGray
				&:hover 
					.t_arr_b
						background-position: 0 0

	.containBox
		float: left
		width: 895px
		padding: 40px 20px

		.f24
			margin-bottom: 15px

		.wWrap
			+border-radius(5px)
			background-color: white
			margin-top: 20px
			padding: 20px 15px

			.infoBox
				overflow: hidden
				border-bottom: 1px dotted #000
				padding: 35px 20px
				position: relative
				.i_title
					font-size: 125%
					margin-bottom: 10px
					.icon_greenHeart
						margin-right: 5px

				.listWrap	
					.listBox
						width: 380px
						margin-right: 10px
						float: left
						position: relative
						.b_title
							+border-radius(5px)
							background-color: $mainColor2
							+background-image(linear-gradient(#72b229, #9ec835))
							height: 35px
							line-height: 35px
							position: relative
							margin: 8px 0
						ul 
							li 
								position: relative
								padding-top: 6px
								padding-bottom: 6px
			
								border-bottom: 1px solid $mainColor2
								&:last-child
									border-bottom: 2px solid $mainColor2
								.rWrap
									top: 6px
						.lWrap
							padding-left: 15px
							width: 250px
						.rWrap
							position: absolute
							width: 100px
							right: 0
							top: 0


				
			.howMainC		
				.memberDemoPic
					+bg('g/demoMember.png')
					position: absolute
					top: 20px
					right: 5px
				.txt
					width: 600px
					min-height: 80px
					
			.tipC
				.iconWrap
					margin-top: 15px
					float: left
					margin-right: 30px
					.icon
						display: inline-block
						margin-right: 10px
				.txt
					overflow: hidden
					min-height: 100px
					padding: 20px 0
			.QAC
				.qaList
					margin-top: 20px
					li 
						position: relative
						padding-left: 35px
						margin-bottom: 20px
					.icoin
						position: absolute
						top: -1px
						left: 5px
			.otherC
				ol 
					list-style-type: decimal
					padding-left: 30px
					li 
						margin-bottom: 10px
#footer 
	margin-top: 0
	.txt 
		font-size: 100%
		line-height: inherit