/*mixin*/
@import compass/css3
@import mixin/layout
@import variable
.pinkBtn
	&:hover 
		color: white
		text-decoration: none
.i_q
	background: url('../images/g/qa.png') no-repeat 0 0
	width: 23px
	height: 24px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px
	margin-right: 7px

.i_a
	background: url('../images/g/qa.png') no-repeat -1px -26px
	width: 21px
	height: 19px
	display: inline-block
	vertical-align: text-top
	margin-top: 3px
	margin-right: 7px


.c_wrap
	width: 1140px
	margin: 0 auto
	position: relative
.centerTxt
	text-align: center
.txt  
	font-size: 108%
	line-height: 28px

.wTxt
	color: white
.header
	background-color: $mainColor1
	width: 100%
	height: 120px
	.h_txt
		display: inline-block
		font-size: 225%
		position: relative
		top: -15px
		left: 20px
	.logoCoin
		+bg('g/bb_coin.png')
		display: inline-block
		vertical-align: text-bottom
		position: relative
		top: -15px
		left: 5px

	.logo
		+bg('g/mainLogo.png')
		display: inline-block
		vertical-align: text-bottom


.main_container

	.p_title

		margin: 25px 0
		.f24
			margin-bottom: 10px
		.pinkBtn
			padding: 2px 15px
			margin-left: 5px
			+border-radius(5px)
	.bBox
		border-top: 1px solid $borderGray
		border-bottom: 1px solid $borderGray
		padding: 15px 15px
		margin: 15px 0
	.bList
		
		li 
			position: relative
			width: 230px
			min-height: 380px
			float: left
			margin: 0 50px 20px 0
			border: 1px solid $borderGray
			padding: 40px 0 0 0
			.list_title
				width: 100px
				height: 24px
				background-color: $mainColor2
				color: white 
				font-size: 108% 
				line-height: 24px
				position: absolute
				top: 10px
				left: 0
				
				a 
					display: block
					width: 100%
					height: 100%
					padding-left: 15px
				a:hover 
					color: black 
					text-decoration: none

			.txt
				text-align: center
			.picWrap
				margin: 10px auto 0px
				width: 185px
				height: 209px
				overflow: hidden
			.txtLink
				text-align: center
				height: auto 
				width: 100%
				min-height: 42px
			.coint
				width: 100%
				text-align: center
			.btnWrap
				text-align: center
				margin-top: 5px
				.pinkBtn
					height: 24px
					line-height: 24px
					padding: 0 10px
					+border-radius(5px)
					display: inline-block
	.tipBox
		border-top: 1px solid $borderGray
		padding: 20px 15px
		ol 
			list-style-type: decimal
			padding-left: 25px
			margin-top: 20px
			li 
				margin-bottom: 15px
#footer 	
	margin-top: 0
	.txt 
		font-size: 100%
		line-height: inherit