/*mixin*/
@import compass/css3
@import mixin/layout
@import variable



.grayLine
	margin: 15px 0

.tagWrap
	.txt
		float: left
		font-size: 138.5%
		padding: 10px 10px

	.lBox
		float: left
		padding: 10px 10px

	.rBox
		padding: 10px 10px
		float: none
		overflow: hidden
		border-left: 1px solid $borderGray 

	.tagItem
		float: left
		margin-left: 10px
		margin-bottom: 8px
		height: 30px
		+border-radius(14px)
		border: 1px solid $mainColor1
		text-align: center
		line-height: 30px
		color: $mainColor1 
		font-size: 116%
		position: relative
		a 
			padding: 0 10px

		&:hover 
			background-color: $mainColor1 
			color: white
		&.active
			background-color: $mainColor1 
			color: white

.columnistBox
	padding: 20px 0
	border-top: 1px solid $borderGray
	border-bottom: 1px solid $borderGray
	margin-top: 15px
	position: relative

	.seeMore
		position: absolute
		right: 0
		top: 15px

	.lBox
		.picWrap
			width: 245px
			height: 264px
			overflow: hidden
		.pinkBtn
			+border-radius(5px)
			margin-top: 10px
			height: 30px
			line-height: 30px

	.rBox
		padding-left: 15px
		float: none
		overflow: hidden
		
		.c_title	
			font-size: 138.5%

		.c_name
			margin-top: 20px
			font-size: 174%

		p 
			margin-top: 15px
			font-size: 116%
			color: $mainGray
			line-height: 24px

.articleList
	.listItem
		margin-top: 25px
		padding: 5px 0px
		position: relative
		&.sponsor 
			background-color: #f3f3f3

		.picWrap
			width: 260px
			height: 165px
			overflow: hidden
			float: right

		.txtWrap 
			float: left
			width: 100%
			height: 165px
			position: relative

			.c_info
				margin-top: 20px

				.manPicWrap
					+border-radius(50%)
					border: 1px solid $borderGray
					overflow: hidden
					width: 63px
					height: 63px
					+coverPic

				.rBox 
					width: 80%
					margin-left: 15px
					line-height: 19px

					.c_name
						font-size: 116%
			.l_titleWrap

				.l_Title
					font-size: 123.1%
					max-width: 500px
					+limitTxt

				h1 
					display: inline-block
					&:hover
						text-decoration: none
						color: $mainColor1

			p 
				margin-top: 8px
				line-height: 28px
				font-size: 108%
				height: 50px
				overflow: hidden
				color: $mainGray

			.l_footerWrap
				position: absolute
				margin-top: 10px

				.socailWrap
					display: inline-block
					vertical-align: middle
					
					* 
						margin-right: 8px
				
				.tagWrap
					a
						text-decoration: none
					a:hover 
						color: $mainColor1
					p
						text-decoration: none
						
			.sponsorCompany
				position: absolute
				right: 0
				bottom: 0
				color: #ff7430


@media screen and (max-width: $breakPoint)
	.articleList
		.listItem
			.picWrap
				display: none
	.columnistBox
		padding-top: 40px
		.seeMore 
			top: 10px