/*mixin*/
@import compass/css3
@import mixin/layout
@import variable

.orangeTag
	padding: 0 15px

.videoList
	ul 
		width: 830px
	.listItem
		width: 260px
		height: 320px
		border: 1px solid $borderGray
		margin: 15px 15px 0px 0px
		position: relative
		float: left
		padding: 10px 15px 15px 15px 

		.titleWrap
			position: absolute
			top: 10px
			
			.list_title
				background-color: $mainColor2
			
			.s_txt
				color: $borderGray
				display: inline-block
				line-height: 24px
		.date
			color: $borderGray
			margin-bottom: 5px

		h1
			font-size: 123.1%
			line-height: 26px
			height: 60px
		.desc_txt 
			line-height: 24px
			margin-top: 5px
			color: $mainGray
			height: 60px
		.time_txt
			width: 70px
			line-height: 24px
			color: #C2C2C2
			margin-bottom: 5px

		.picWrap
			width: 226px
			height: 142px
			overflow: hidden
			margin-bottom: 10px

			.play_icon
				position: absolute
				margin: auto
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 50px
				height: 50px
				+opacity(0.6)
		
		.greenBorderBtn
			width: 226px
			left: 15px
			font-size: 116%

		.pinkBorderBtn
			width: 226px
			left: 15px
			font-size: 116%

		&.test 
			.titleWrap
				.list_title
					background-color: #01aeb4
		

		&.bigItem 
			width: 535px
			
			h1 
				height: 40px
			.container
				margin-top: 15px
				
				.lWrap	
					float: left
					width: 226px

				.rWrap
					float: left
					margin-left: 35px
					
					.datCalendarBox
						width: 226px
						height: 179px
						background-color: #cccccc
						+border-radius(10px)
						margin-top: 20px
						position: relative
						overflow: visible
						padding-top: 40px
						margin-bottom: 15px

						.container
							width: 200px
							height: 127px
							margin: 0px auto 
							background-color: white
							padding: 10px

							.txt	 
								font-size: 116%
								font-weight: bold

							.f_big
								font-size: 138%
							.count
								text-align: center

								.dayCount
									font-weight: bold
									font-size: 568%

						.lt
							width: 40px
							height: 50px
							border: 10px solid white
							position: absolute
							top: -20px
							left: 40px
							background-color: #cccccc
						.rt
							width: 40px
							height: 50px
							border: 10px solid white
							position: absolute
							top: -20px
							right: 40px
							background-color: #cccccc
.ad_800x100
	display: inline-block
	
@media screen and (max-width: $breakPoint)
	.videoList
		ul 
			width: 550px