.navbar-custom {
  background-color: #E10078;
  border-radius: 0;
}
.navbar-custom .navbar-nav > .active > a:hover {
  background-color: #C20067;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  background-color: #C20067;
}
.navbar-custom .navbar-nav > .active > a {
  background-color: #C20067;
}
.navbar-custom .navbar-nav > .open > a {
  background-color: #C20067;
}
.navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  background-color: #C20067;
}

.dropdown-menu {
  background-color: #FFFFFF;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #C20067;
}

.navbar-custom {
  background-image: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image: none;
}

.navbar-custom {
  border-color: #e10078;
}
.navbar-custom .navbar-brand {
  color: #FFFFFF;
}
.navbar-custom .navbar-brand:hover {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav > .active > a {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav > .open > a {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #FFFFFF;
}
.navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #FFFFFF;
}

.dropdown-menu > li > a {
  color: #000000;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #FFFFFF;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #C20067;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #FFFFFF;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #C20067;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret {
  border-bottom-color: #FFFFFF;
}

table.data thead th {
  color: #333;
  white-space: nowrap;
}

table.data thead th.sortable {
  background: transparent url(../../images/sortable.png) right 10px no-repeat;
}

table.data thead th.sortable-ASC {
  background-position: right -40px;
}

table.data thead th.sortable-DESC {
  background-position: right -90px;
}

table.data thead th.sortable:hover {
  color: #000;
  background-color: #EEE;
  cursor: pointer;
}

table.data tbody td {
  color: #666;
  line-height: 16px;
}

table.data tbody tr.even td {
  background-color: #EEE;
}

table.data tbody tr:hover td {
  color: #222;
  background-color: #FFD;
}

table.data tbody td.numeric {
  text-align: right;
}

table.data tbody td.state-pending {
  color: #999;
}

table.data tbody td.state-active {
  color: darkgreen;
}

table.data tbody a.state-active {
  color: darkgreen;
}

table.data tbody td.state-disabled {
  color: darkred;
}

table.data tbody a.state-disabled {
  color: darkred;
}

table.data tbody td.ellipsis p {
  color: #666;
  width: 150px;
  white-space: nowrap;
  line-height: 9pt;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.data .ico {
  padding-right: 0;
}

body {
  font-size: 14px;
  line-height: 1.428;
}
body #container {
  margin-bottom: 90px;
}

#container .form-group .article_data .article_photo img {
  width: 100%;
}

/* #list-data table */
#list-data p.actions {
  margin: 0 20px;
}

ul.sortable li:hover {
  background-color: #E10078;
  color: #ffffff;
}

/*# sourceMappingURL=admin.css.map */
