@import "admin/_navbar";
@import "admin/_table";

body{
	font-size: 14px;
    line-height: 1.428;
    // padding-bottom: 30px;
    // padding-top: 70px;
	#container {
		// padding-top: 70px;
		margin-bottom: 90px;
	}
}

#container {
	// margin-bottom: 90px;
	.form-group {
		.article_data {
			.article_photo {
				img {
					width: 100%;
				}
			}
		}
	}
}

/* #list-data table */
#list-data p.actions {
    margin: 0 20px;
}

ul.sortable {
	li {
		&:hover {
			background-color: #E10078;
			color: #ffffff;
		}
	}
}
